<!-- assList.html -->

<!-- pagewrap  -->	
<div>
	<!-- <p>{$authAss.edit}</p> -->
	<p id="pSearchResultNum">
		<strong>列表记录总数：</strong>
		<span class="badge">{$searchResultNum}</span>&nbsp;|
		<strong>数量总计：</strong>
		{eq name="quantity" value="0"}
		<span class="label label-default">0</span>
		{else/}
			{eq name="assType" value="normal"}
			<span class="label label-info">{$quantity}</span>
			{else/}
			<span class="label label-warning">{$quantity}</span>
			{/eq}
		{/eq}
	</p>
	<!-- // 表格排序信息汇总组件 -->
	<div id="divTblSortData" data-ass-type="{$assType}" data-sort-name="{$sortData.sortName}" data-sort-order="{$sortData.sortOrder}" data-list-rows="{$sortData.listRows}" data-page-num="{$sortData.pageNum}" data-show-ass-id="{$sortData.showAssId}" class="sr-only"></div>
	<div class="table-responsive" > 
		<table  class="table table-bordered table-hover table-condensed" >
			<caption class="text-center" style="border-bottom:1px solid #eee;"><h4>固定资产概况列表</h4></caption>
			<thead>
				<tr>
					<th class="text-center">序号</th>
					<th><a data-sort-name="brand_model">名称</a></th>
					<th><a data-sort-name="assnum">编号</a></th>
					<th><a data-sort-name="code">卡号</a></th>
					<th><a data-sort-name="bar_code">条形码号</a></th>
					<th><a data-sort-name="quantity">数量</a></th>
					<th><a data-sort-name="place_now">现放置地点</a></th>
					<th><a data-sort-name="dept_now">现使用部门</a></th>
					<th><a data-sort-name="keeper_now">现保管人</a></th>
					<th><a data-sort-name="status_now">状态</a></th>
					<th><a data-sort-name="status_now_desc">状态说明</a></th>
					<th><a data-sort-name="status_now_user_name">登记人</a></th>
					<th><a data-sort-name="create_time">登记时间</a></th>
					<th><a data-sort-name="update_time">更新时间</a></th>
					<th>操作</th>
				</tr>
			
			</thead>
			<tbody><!-- 此处显示数据库查询后的数据集 -->
				{volist name="assSet" id="vo" empty="暂时没有数据"}
				<tr>
					<td class="text-center">{$i+($sortData.pageNum-1)*$sortData.listRows}</td>
					<td class="text-center"><a class="aTblAssSingle" href="#assInfo" data-ass-id="{$vo.id}">{$vo.brand_model}</a></td>
					<td class="text-right">{$vo.assnum}</td>
					<td>{$vo.code}</td>
					<td class="text-right">{$vo.bar_code}</td>
					<td class="text-right">{$vo.quantity}</td>
					<td class="text-right">{$vo.place_now}</td>
					<td class="text-right">{$vo.dept_now}</td>
					<td class="text-right">{$vo.keeper_now}</td>
					<td class="text-right">{$vo.status_now}</td>
					<td class="text-right">{$vo.status_now_desc}</td>
					<td class="text-right">{$vo.status_now_user_name}</td>
					<td class="text-right">{$vo.create_time}</td>
					<td class="text-right">{$vo.update_time}</td>
					<td class="btnAssOprt" data-ass-status="{$vo.status_now}" data-ass-id="{$vo.id}" data-ass-topic="{$vo.brand_model}" >
						
					</td>
				
				</tr>
				{/volist}
			
			</tbody>
			
		</table>
	
	</div>
	
	
	<div id="divListRows" class="col-sm-12 text-right">
		<!-- // 分页变量 -->
		<div class="col-sm-10 text-right">{$assList}</div>
		
		<div class="form-group form-group-sm col-sm-2">
			<span class="">每页显示记录数：</span>
			<select class="form-control" id="listRows">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
			</select>
						
		</div>
	
	</div>
	
</div>

<!-- /pagewrap  -->

<script>
//定义常量，asset状态与操作对应关系conAssStatusOprtArr
const conAssStatusOprtArr={$conAssStatusOprtArr};
<!-- console.log('conAssStatusOprtArr:'); -->
<!-- console.log(conAssStatusOprtArr); -->

//定义常量，asset权限与操作的对应关系
const conAssAuthOprtArr={$conAssAuthOprtArr};
<!-- console.log('conAssAuthOprtArr:'); -->
<!-- console.log(conAssAuthOprtArr); -->

//定义常量，asset权限数组
const conAssAuthArr=fnJsonToArr({$authAssObj});
<!-- console.log('conAssAuthArr:'); -->
<!-- console.log(conAssAuthArr); -->

//定义常量，
const conOprtComAttr=[{name:'新增',val:'_CREATE',gly:'modal-window',color:'info',title:'新增固定资产记录'},
			{name:'提交',val:'_SUBMIT',gly:'send',color:'info',title:'提交记录'},
			{name:'审核',val:'_AUDIT',gly:'check',color:'warning',title:'审核记录'},
			{name:'审批',val:'_APPROVE',gly:'ok',color:'danger',title:'审批记录'},
			{name:'维护',val:'_MAINTAIN',gly:'list-alt',color:'primary',title:'维护记录'},
			{name:'更新',val:'_UPDATE',gly:'save-file',color:'primary',title:'更新记录'},
			{name:'查询',val:'_READ',gly:'search',color:'primary',title:'查询记录'},
			{name:'删除',val:'_DELETE',gly:'remove',color:'danger',title:'删除记录'},
			{name:'回收',val:'_TRASH',gly:'trash',color:'danger',title:'记录放入回收站'},
			{name:'还原',val:'_RESTORE',gly:'retweet',color:'success',title:'记录还原'}
			];


var urlPrefix='{$home}/dashboard/asset/';


//2个数组合并后去掉重复值
var arrMerge=(arr1,arr2)=>{ 
	var result = []; 
	var arr = []; 
	//将arr1和arr2合并入新数组arr.
	arr = arr2.reduce(function(prev, curr){ 
				prev.push(curr); 
				return prev; 
			}
			,arr1
		); 
	//arr是否为2个数组的简单连接？？	
	//console.log(arr);
	//将arr数组中的值挨个推入result数组，推入前检查result中是否已经存在，不存在才推入result数组。从而达到对arr数组去掉重复值的目的。
	for (var i = 0; i < arr.length; i++) { 
		var index = arr[i]; 
		if (result.indexOf(index) === -1) { 
			result.push(index); 
		} 
	} 
		
	return result; 
};

//输入JSON对象：{$ authAssObj}={edit:1,audit:1,approve:0,maintain:0}
//转成键值对数组形式输出authAssArr=[{name:'edit',val:'1'},{name:'audit',val:'1'},{name:'approve',val:'0'},{name:'maintain',val:'0'}]
//便于应用数组的.forEach等函数进行自定义处理
function fnJsonToArr(jsonObj){
	var nameArr=Object.keys(jsonObj);
	var valArr=Object.values(jsonObj);
	var arr=[]
	for(var i=0;i<nameArr.length;i++){
		arr[i]={name:nameArr[i],val:valArr[i]};
	}
	return arr;
};

//某个值是否在数组内
function fnInArr(item, arr){
	for (var i = 0; i < arr.length; i++) {
		if (arr[i] == item) {
			return true
		}
	}
	return false
};

//根据登录用户的权限(auth)，权限与操作的对应关系(conAuthOprtArr)，固定资产的状态(assStatus)，得到固定资产的操作组件的html字符串
//1.要产生多少个组件？
//2.决定产生组件的条件？auth,status,??
//status决定产生的操作组件数量，auth结合authVSoprt来决定显示给登录用户的操作组件数量。
function getOprtHtmlStr(status){
 	
	var aHtml='';
	var authOprtArr=[];
	var statusOprtArr=[];
	var oprtArr=[];
	
	//由auth决定authOprtArr中选用的val值，组成authOprtArr
	for(var i=0;i<conAssAuthArr.length;i++){
		if(conAssAuthArr[i].val){
			var name=conAssAuthArr[i].name;
			for(var n=0;n<conAssAuthOprtArr.length;n++){
					if(name==conAssAuthOprtArr[n].auth){
						authOprtArr=arrMerge(authOprtArr,conAssAuthOprtArr[n].oprt)
						break;
					}
			}
		}
	}
		
	//由status决定statusOprtArr中的oprt值，组成statusOprtArr
	for(var i=0;i<conAssStatusOprtArr.length;i++){
		if(conAssStatusOprtArr[i].statusChi==status){
			statusOprtArr=conAssStatusOprtArr[i].oprt;
			
		}
	}
	
	//authOprtArr与statusOprtArr取交集得到oprtArr
	authOprtArr.forEach(function(e){
		for(var i=0;i<statusOprtArr.length;i++){
			if(e==statusOprtArr[i]){
				oprtArr.push(e);
			}
		}
	});
	
	<!-- console.log('statusOprtArr:'+statusOprtArr); -->
	<!-- console.log('authOprtArr:'+authOprtArr); -->
	<!-- console.log('oprtArr:'+oprtArr); -->
	
	if(oprtArr.length){
		oprtArr.forEach(function(el){		
			conOprtComAttr.forEach(function(e){
				if(el==e.val){
					aHtml+='<a class="aAssOprt text-'+e.color+'" href="#assInfo" data-ass-oprt="'+e.val+'" data-toggle="tooltip" data-title="'+e.title+'"><span class="glyphicon glyphicon-'+e.gly+'"></span>'+e.name+'&nbsp;</a>';
				}
			
			});
		});
	}else{
		aHtml='无';
	}
		
	return aHtml;
};

//利用自调用匿名函数立即执行的特点，设定固定资产的操作组件的html字符串;$('thead a') 添加属性
(function($){
	
	//每个.btnAssOprt根据该行记录的data-ass-status="{$ vo.status_now}"添加相应的a标签
	$('.btnAssOprt').each(function(){
		var ahtml=getOprtHtmlStr($(this).data('assStatus'));
		$(this).append(ahtml);
	});
	
	// 设置$('.btnAssOprt')的tooltip
	$('.btnAssOprt [data-toggle="tooltip"]').tooltip({triger:'focus',placement: 'auto bottom'});	
	 
	//每个$('thead a')添加属性
	$('thead a').each(function(){
		$(this).attr({'href':'#assInfo','data-title':'点击排序','data-toggle':'tooltip'}).closest('th').addClass('text-center');
	});
	
	//每个$('.aTblAssSingle')添加tooltip
	$('.aTblAssSingle').tooltip({title: "查看详情", placement: "bottom"}); 

})(jQuery);


$(document).ready(function(){
		
	<!-- //表格每页显示记录行数 -->
	$('#listRows').val('{$sortData.listRows}'); 
	
	$('#listRows').change(function(){
		var listRows=$(this).val();
		//排序有关的值向$('#divTblSortData')汇集
		if(listRows){
			$('#divTblSortData').data('listRows',listRows);
		}
		//调用index.html中的loadAssList()
		loadAssList();
	});	
	
	$('thead a').click(function(){
		var sortName=$(this).data('sortName');
		var sortOrder=$(this).data('sortOrder');
		//排序有关的值向$('#divTblSortData')汇集
		if(sortName){
			$('#divTblSortData').data('sortName',sortName);
		}
		if(sortOrder){
			$('#divTblSortData').data('sortOrder',sortOrder);
		}
		//调用index.html中的loadAssList()
		loadAssList();
		
	});	
	
	$('.aTblAssSingle').click(function(){
		//去掉所有行的底色
		$('tr').removeClass('bg-warning');
		//给本行上底色
		$(this).closest('tr').addClass('bg-warning');
		
		$('#divLoadAssSingle').load(urlPrefix+'tblAssSingle',{'id':$(this).data('assId')});
		
		$('#modalAssSingle').find('.title').html('固定资产详情');
		$('#modalAssSingle').modal();
	});
	
	<!-- // 点击分页中的a，表格中的内容根据a中的属性值进行排序 -->
	$('#divListRows a').click(function(evt){
		// a所在分页页数
		var pageStr=$(this).text();
		var pageNum;
		//(li.active)所代表的页数
		var pageNumActive=$('#divListRows li.active').children('span').text();
		var sortName=$('thead').find('.label').data('sortName');

		evt.preventDefault();
		
		switch(pageStr){
			case'»':
				//用"*"确保得到的是加法运算结果，而不是字符串
				pageNum=(pageNumActive*1+1);
			break;
			
			case'«':
				pageNum=(pageNumActive*1-1);
			break;
			
			default:
				pageNum=pageStr*1;
			break;
		
		}
		
		//排序有关的值向$('#divTblSortData')汇集
		if(pageNum){
			$('#divTblSortData').data('pageNum',pageNum);
		}
		//调用index.html中的loadAssList()
		loadAssList();
		
	});
	
	$('.aAssOprt').click(function(){
		var dataFromObj=$(this).closest('td');
		var oprt=$(this).data('assOprt');
		//去掉所有行的底色
		$('tr').removeClass('bg-warning');
		//给本行上底色
		$(this).closest('tr').addClass('bg-warning');
		//排序有关的值向$('#divTblSortData')汇集。发送本行的assId，便于刷新时本行继续加底色
		$('#divTblSortData').data('showAssId',dataFromObj.data('assId'));
		var data={'oprt':oprt,'id':dataFromObj.data('assId')}
		$('#divLoadAssSingle').load(urlPrefix+'fmAssSingle',data);
		
		//$('#modalAssSingle')标题上的span组件生成函数
		var spanStr=(oprt)=>{
			var strHtml='';
			conOprtComAttr.forEach(function(e){
				if(oprt==e.val){
					strHtml='<span class="text-'+e.color+'"><span class="glyphicon glyphicon-'+e.gly+'"></span>'+e.name+'</span>';
				}
			});
			//console.log(strHtml);
			return strHtml;
		};
		
		$('#modalAssSingle').find('.title').html('【'+spanStr(oprt)+'】固定资产记录');
		$('#modalAssSingle').modal();
		
	});
	
});
</script>

