<!-- // view/index.html 对应AssetController.php的index操作 -->

<div class="content-header">
	<h4><span class="label label-info"><span class="glyphicon glyphicon-oil"></span></span>&nbsp;固定资产</h4>
	
	<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #eee;">
		<li class="" >
			<a class="aPill" href="#assInfo" data-ass-type="normal"><span class="glyphicon glyphicon-blackboard"></span>正常
			<span class="label label-info">{$quantityNormal}</span>
			</a>
		</li>
		
		<li class="" >
			<a class="aPill text-danger" href="#assTrashInfo" data-ass-type="trash"><span class="glyphicon glyphicon-trash "></span>回收站
			{eq name="quantityTrash" value="0"}
			<span class="label label-default">0</span>
			{else/}
			<span class="label label-warning">{$quantityTrash}</span>
			{/eq}
			</a>
		</li>
	
	</ul>
</div>

<div class="content-body">
	<div id="divTopBtn" style="margin:10px 0px;">
		
		<div class="row myRow">
		<button id="btnSearchInfo" type="button" class="btn-link" data-toggle="tooltip" data-placement="bottom" title="显示/隐藏搜索条件"><span class="glyphicon glyphicon-collapse-down"></span><span>显示搜索</span></button>
				
		<button id="btnRefresh" type="button" class="btn-link" data-toggle="tooltip" data-placement="bottom" title="刷新固定资产信息表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
		
		<a class="aAssOprt" href="#assInfo" data-ass-id="0" data-ass-oprt="_CREATE" data-toggle="tooltip" data-placement="bottom" title="新增固定资产记录"><span class="glyphicon glyphicon-modal-window text-primary"></span>新增</a>
		</div>
	</div>
	
	<!-- // 搜索区域-->
	<div id="divSearchData" class="collapse">
		<div class="label label-info" style="font-size:14px;">搜索条件</div>
		<form id="fmAssSearch" style="border:1px solid #eee;padding:10px 0px 10px 0px;">
			
			<div class="row myRow">
			<div class="form-group col-sm-4">
				<label class="" for="brand_model">名称（品牌型号）</label>
				<input class="form-control" id="brand_model" name="brand_model" type="text" value="" placeholder="...不限">
										
			</div>
			<div class="form-group col-sm-2">
				<label class="" for="assnum">编号</label>
				<input class="form-control" id="assnum" name="assnum" type="text" value="" placeholder="...不限">
										
			</div>
			
			<div class="form-group col-sm-3">
				<label class="" for="code">卡号</label>
				<input class="form-control" id="code" name="code" type="text" value="" placeholder="...不限">
										
			</div>
			
			<div class="form-group col-sm-3">
				<label class="" for="bar_code">条形码号</label>
				<input class="form-control" id="bar_code" name="bar_code" type="text" value="" placeholder="...不限">
										
			</div>
			</div>
			
			<div class="row myRow">
			<div class="form-group col-sm-4">
				<label class="control-label" for="dept_now">现使用部门</label>
				<!-- <select multiple class="form-control" id="searchPatType" name="searchPatType" > -->
				<select class="form-control" id="selectDeptNow" name="dept_now" >
						<option value="">d1</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label class="control-label" for="status_now">状态</label>
				<!-- <select multiple class="form-control" id="searchPatType" name="searchPatType" > -->
				<select class="form-control" id="selectStatusNow" name="status_now" >
						<option value="">s1</option>
				</select>
			</div>
			
			<div class="form-group col-sm-4">
				<label class="" for="place_now">现放置地点</label>
				<select class="form-control" id="selectPlaceNow" name="place_now" >
						<option value="">p1</option>
				</select>
										
			</div>
			
			<div class="form-group col-sm-2">
				<label class="" for="keeper_now">现保管人</label>
				<select class="form-control" id="selectKeeperNow" name="keeper_now" >
						<option value="">k1</option>
				</select>
										
			</div>
			</div>			
			
			
			<div class="row myRow">
			<div class="col-sm-6">
				<button id="btnSearch" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span>搜索</button>
			
				<button id="btnSearchReset" type="button" class="btn btn-primary btn-sm">条件重置</button>
			</div>
			</div>
		
		</form>
		</br>
	</div>
	
	<div id="divLoadAssList">
		<p class="text-center" style="font-size:20px;">加载中……</p>
	</div>
		

</div>
<!-- Modal "modalAssSingle" -->
<div class="modal fade" id="modalAssSingle" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-info" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4 class="title"></h4>
        </div>
		
        <div class="modal-body">
			<!-- // 单个issPat增删改查页面显示位置，需load其他模板文件的div-->
			<div id="divLoadAssSingle"><p class="text-center" style="font-size:28px;">加载中……</p></div>
		</div>
		
		<div class="modal-footer" hidden="true">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="返回">  
          
        </div>
		</div>
	</div>

</div>
<!--/ Modal "modalAssSingle" -->

<!-- /pagewrap  -->

<script>
//全局变量
<!-- var sortDataObj={'listRows':10,'sortName':'assnum','sortOrder':'asc','pageNum':1}; -->
var urlPrefix='{$home}/dashboard/asset/';

//**函数名：glyphiconTextChange
 	//* 作用：obj内含的glyphicon进行变换
	//* 参数1：obj，String。值：必须，要交换glyphicon的obj
	//* 参数2：iconText1，Json。值：必须，{icon:'glyphicon-xx',text:'xx'}。
	//* 参数3：iconText2，Json。值：必须，{icon:'glyphicon-yy',text:'yy'}。
	//* 无返回值
var glyphiconTextChange=(obj,iconText1,iconText2)=>{
	iconText1=$.extend({icon:'glyphicon-collapse-up',text:'隐藏搜索'},iconText1);
	iconText2=$.extend({icon:'glyphicon-collapse-down',text:'显示搜索'},iconText2);
	if(obj.find('.'+iconText2.icon).length){
	    obj.find('.glyphicon').removeClass(iconText2.icon).addClass(iconText1.icon).next('span').html(iconText1.text);
    }else{
	    obj.find('.glyphicon').removeClass(iconText1.icon).addClass(iconText2.icon).next('span').html(iconText2.text);
    }
};

//**函数名：ajaxShowSelect
 	//* 作用：本页面ajax过程向服务器请求特定单选框内容所需数据，并组装好HTML语句
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数sendData，类型：数值。值：传送给后端的键值对数据。
	//* 参数obj，类型：对象。值：必须，单选框的对象名称
	//*参数attach，类型：json数组。值：可为空，需要附加的单选框的键值对，[{"text":"...不限","val":"0"},{"text":"xx","val":"xx"}]
	//*参数selected，类型：字符。值：字符，可为空。
	//* 返回值：无
var ajaxShowSelect=(options)=>{
	var defaults={
		'url':urlPrefix+'selectRes',
		'attach':[{"text":"...不限","val":"0"}],
		'sendData':'',
		'obj':'',
		'selected':'',
	};
	var data = $.extend({},defaults, options);
	var arrJson=data.attach;
	var req=data.sendData.req;
	var obj=data.obj;
	var selected=data.selected;
	var str='';
	
	$.post(data.url,data.sendData,function(result){
		if(arrJson.length){
			for(i=0;i<arrJson.length;i++){
				str+='<option value="'+arrJson[i].val+'">'+arrJson[i].text+'</option>';
			}
		}
		// result数组,取出value值组装HTML语句
		$.each(result,function(n1,v1){
			str+='<option value="'+v1+'">'+v1+'</option>';	
		});
		<!--// 清空单选框Obj的所有选项-->
		obj.empty();
		<!--// 添加单选框Obj的新选项-->
		obj.append(str);
		<!-- // value=selected 的项为选定项-->
		if (selected!=''){
			obj.val(selected);
		}
		
		//没有option就隐藏自己和有关联的同伴
		if(obj.find('option').length==0){
			obj.closest('div').hide();
			<!-- obj.closest('form').find('[name="status_now_desc"]').closest('div').hide(); -->
		}else{
			obj.closest('div').show();
			<!-- obj.closest('form').find('[name="status_now_desc"]').closest('div').show(); -->
		}

	});
};

//**函数名：loadAssList
 	//* 作用：加载assList页面内容
	//* 参数1：listRows，Int。值：可为空，每页显示的记录行数。默认为10。
	//* 参数2：sortName，String。值：可为空，排序字段名称。默认为‘_TOPIC’。
	//* 参数3：sortOrder，String。值：可为空，排序方式。默认为'_ASC'。
	//* 参数4：pageNum，Int。值：可为空，当前页数。默认为1。
	//* 参数5：showAssId，Int。值：可为空。加底色的行的assId,默认为0。
	//* 参数6：serchWord，Array。值：可为空，用户搜索关键词键值对。默认为空。
var loadAssList=(assType)=>{
	
	//排序有关的参数都从$('#divTblSortData')获取
	var obj=$('#divTblSortData');
	var sortData={
		'listRows':obj.data('listRows'),
		'sortName':obj.data('sortName'),
		'sortOrder':obj.data('sortOrder'),
		'pageNum':obj.data('pageNum'),
		'showAssId':obj.data('showAssId')
	};	
	//排序有关的参数默认值
	var sortDataDefault={'listRows':10,'sortName':'assnum','sortOrder':'asc','pageNum':1,'showAssId':0};
	sortData=$.extend({},sortDataDefault,sortData);
	
	assType=(assType!='undefined')?assType:obj.data('assType');
	obj.data('assType',assType)
	
	//是否出现‘新增’按钮
	
	if(assType=='normal'){
		$('[data-ass-oprt="_CREATE"]').show();
	}else{
		$('[data-ass-oprt="_CREATE"]').hide();
	}
	
	//用户搜索有关键值对从表单$('#fmIssPatSearch')获取
	var formData=new FormData($('#fmAssSearch')[0]);
	
	var searchData={};
	//使用Map对象的forEach方法组装键值对
	formData.forEach(function(val,key,){
		//非0非空的值才进行组装
		if(val!='' && val!=0){
			searchData[key]=val;
		}
	});
	JSON.stringify(searchData);
	
	$('#divLoadAssList').html('<p class="text-center" style="font-size:20px;">加载中……</p>');
		
	$('#divLoadAssList').load(urlPrefix+'assList',
		{'assType':assType,'sortData':sortData,'searchData':searchData},
		function(responseTxt, statusTxt, xhr){
			sortOrderToggle();
			if(sortData.showAssId){
				$('tbody tr').removeClass('bg-warning');
				//sortData.showAssId所在行上底色
				$('.btnAssOprt').each(function(){
					if($(this).data('assId')==sortData.showAssId){
						$(this).closest('tr').addClass('bg-warning');
					}
				});
			}
			
		}
	);
};

//函数名：sortOrderToggle
//作用：对选定的assList列表字段进行升序降序转换，改变该字段表头显示格式
var sortOrderToggle=()=>{
	var obj='';
	var glyAsc='&nbsp;<span class="small glyphicon glyphicon-sort-by-attributes"></span>';
	var glyDesc='&nbsp;<span class="small glyphicon glyphicon-sort-by-order-alt"></span>';
	var sortOrder=$('#divTblSortData').data('sortOrder');
	var sortName=$('#divTblSortData').data('sortName');
	$('thead a').removeClass('label label-primary');
	
	$('thead a').each(function(){
		if(sortName==$(this).data('sortName')){
			obj=$(this);
		}else{
			$(this).tooltip({placement: 'bottom'});
		}
	});
		
	obj.addClass('label label-primary');
	
	if(sortOrder == 'asc'){
		//当前为升序
		obj.append(glyAsc);
		obj.tooltip({title:'当前为升序。点击后降序',placement: 'top'});
		obj.data('sortOrder','desc');
	}else{
		//当前为降序
		obj.append(glyDesc);
		obj.tooltip({title:'当前为降序。点击后升序',placement: 'top'});
		obj.data('sortOrder','asc');
	}
};

//搜索表单重置
var fmReset=()=>{
	var fm=$('#fmAssSearch');
	fm[0].reset();
	fm.find('.form-control').removeClass('label-info');
};

//$('.content-body')初始化
var contentBodyInit=(assType)=>{
	//排序有关的参数使用默认值
	var obj=$('#divTblSortData');
	
	$('#divTblSortData').data('assType',assType);
	
	obj.data('listRows',10),
	obj.data('sortName','assnum'),
	obj.data('sortOrder','asc'),
	obj.data('pageNum',1),
	obj.data('showAssId',0)
	//搜索表单重置
	fmReset();
	//$('#btnSearchInfo')恢复初始html
	$('#btnSearchInfo').html('<span class="glyphicon glyphicon-collapse-down"></span><span>显示搜索</span>');
		
	//隐藏搜索条件
	$('#divSearchData').collapse('hide');
	
	loadAssList(assType);
	
};

//设定$('#fmAssSearch')内的select组件的option(包括$('#selectDeptNow')、$('#selectPlaceNow')、$('#selectKeeperNow'))
var buildfmSelectCom=(assType)=>{
	$.when(
		ajaxShowSelect({sendData:{req:$('#selectDeptNow').attr('name'),assType:assType},obj:$('#selectDeptNow')}),
		ajaxShowSelect({sendData:{req:$('#selectStatusNow').attr('name'),source:'db',assType:assType},obj:$('#selectStatusNow')}),
		ajaxShowSelect({sendData:{req:$('#selectPlaceNow').attr('name'),assType:assType},obj:$('#selectPlaceNow')}),
		ajaxShowSelect({sendData:{req:$('#selectKeeperNow').attr('name'),assType:assType},obj:$('#selectKeeperNow')}),
	).then(
		function(data, textStatus, jqXHR){
			//$('.content-body')初始化
			contentBodyInit(assType);
		},
		function(){
			//ajax失败
			$.alert('加载失败，请稍后再试！');
		}
	);

};

//利用自调用匿名函数立即执行的特点，对页面的组件进行初始化
(function($){
	//设定$('#fmAssSearch')内的select组件的option
	buildfmSelectCom('{$assType}');

	//ul.nav-tabs调整.aPill
	$('.aPill').each(function(){
		//1.缩小padding
		$(this).css('padding','5px 10px');
		//去掉底部边框圆角
		<!-- $(this).css({'border-bottom-right-radius':'0px','border-bottom-left-radius':'0px'}); -->
		
		$('span.label').css({'padding-bottom':'1px','margin-bottom':'2px'});
	});
	
})(jQuery);

$(document).ready(function(){
	//搜索内容是否发生变化标志
	var searchDataChanged=false;
	
	//点击.aPill中的各个按钮后，load相应的assList-->
	$('.aPill').click(function(){
		$(this).tab('show');
		buildfmSelectCom($(this).data('assType'));
		
    });
	
	// 设置各类tooltip
	$('#divTopBtn [data-toggle="tooltip"]').tooltip({triger:'focus',placement: 'auto bottom'});	
	
	$('#btnSearchInfo').click(function(){
		//变换图标和内容
		glyphiconTextChange($(this));
		//显示、隐藏#divSearchData
		$('#divSearchData').collapse('toggle');
			
	});
	
	<!-- // 页面刷新 -->
	$('#btnRefresh').click(function(){
		var assType=$('.content-header').find('li.active').children('a').data('assType');
		
		//$('.content-body')初始化
		contentBodyInit(assType);
		
	});
	
	//新增固定资产记录
	$('#btnCreate').click(function(){
		$('#divLoadAssSingle').load(urlPrefix+'oprtAssSingle');
		$('#modalAssSingle').find('.title').html('【'+$(this).html()+'】固定资产');
		$('#modalAssSingle').modal();
		
	});	
	
<!-- //表单$('#fmAssSearch')有关的代码块 -->
	
	$('#fmAssSearch .form-control').change(function(){
		if($(this).val()!=0){
			//表单输入框附加底色
			$(this).addClass('label-info');
		}else{
			//表单输入框去掉附加底色
			$(this).removeClass('label-info');
		}
		searchDataChanged=true;
	});
	
	//表单提交，显示asset结果
	$('#btnSearch').click(function(){
		
		var assType=$('#divTblSortData').data('assType');
		//检查搜索表单的值是否有变化，若有变化，排序参数pageNum要重设为1，避免出现在当前分页无法显示查询结果的情况
		if(searchDataChanged){
			$('#divTblSortData').data('pageNum',1);
		}
		loadAssList(assType);
	});
	
	//表单重置
	$('#btnSearchReset').click(function(){
		fmReset();
	});
	

});
</script>
