<!-- modalAssSingle.html -->

<form id="fmAssInfo" role="form" action="{$home}/dashboard/asset/assOprt"  method="post">
	<input id="id" type="text" name="id" value="{$assSet.id}" class="sr-only">
	<input id="oprt" type="text" name="oprt" value="{$oprt}" class="sr-only">
	
	<div class="row">
	<div class="form-group col-sm-4">
		<label for="brand_model">名称（含品牌、型号）<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="brand_model" value="{$assSet.brand_model}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="code">卡号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="code" value="{$assSet.code}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="bar_code">条形码号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="bar_code" value="{$assSet.bar_code}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="assnum">编号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="assnum" value="{$assSet.assnum}" type="text" required>
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-2">
		<label for="quantity">数量<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="quantity" value="{$assSet.quantity}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="place_now">现放置地点<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="place_now" value="{$assSet.place_now}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-5">
		<label for="dept_now">现使用部门<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="dept_now" value="{$assSet.dept_now}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="keeper_now">现保管人<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="keeper_now" value="{$assSet.keeper_now}" type="text" required>
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-2">
		<label for="status_now">状态</label>
		<input class="form-control empty-check" name="status_now" value="{$assSet.status_now}" type="text" readonly>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="status_now_user_name">登记人</label>
		{eq name="oprt" value="_CREATE"}
		<input class="form-control empty-check" name="status_now_user_name" value="{$userName}" type="text" readonly>
		{else/}
		<input class="form-control empty-check" name="status_now_user_name" value="{$assSet.status_now_user_name}" type="text" required>
		{/eq}
	
	</div>
	</div>
	<hr>
	<div class="row myRow">
	
	<div class="pull-left">
		<button type="submit" id="btnCreate" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-tag"></span>提交</button>
	</div>
	
	<div  class="pull-right">
		<input id="btnReset" type="button" class="btn btn-primary btn-sm" value="重置">
		<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
	</div>
	
	</div>
	
</form>



<script>

//oprt英文转中文
var oprtToChi=(en)=>{
	var arr=[{name:'新增', value:'_CREATE'}, {name:'编辑', value:'_EDIT'}, {name:'审核', value:'_AUDIT'}, {name:'审批', value:'_APPROVE'}, {name:'维护', value:'_MAINTAIN'}];
	var result = '';
	
	for(var i=0;i<arr.length;i++){
		if (en==arr[i].value){
			result = arr[i].name;
			break;
		}
	}
	return result;
};

$(document).ready(function(){
	
	$('#fmAssInfo').submit(function(evt){
		var url = this.action; 
    	var formData = $(this).serialize();
		var topic=$(this).find('[name="brand_model"]').val();
		var oprt=$(this).find('[name="oprt"]').val();
		var str=topic +'<span class="label label-info">'+oprtToChi(oprt)+'</span>';
		console.log(url);
		console.dir(formData);
		evt.preventDefault();
		$('#modalAssSingle').modal('hide');
		$.confirm(str,function(e){
			con=e;
			if(true==con){
				$.post(url,formData,function(data){
					if(data){
						str+='<span class="text-success">成功</span>'
					}else{
						str+='<span class="text-danger">失败</span>'
					}
					$.alert(str);
					loadAssList();
				});
			}else{
				$('#modalAssSingle').modal('show');
			}
		}).cancel('否(N)').ok('是(Y)');	
	});

});

</script>

