<!-- modalAssSingle.html -->

<form id="fmAssInfo" role="form" action="{$home}/dashboard/asset/assOprt"  method="post">
	<input id="id" type="text" name="id" value="{$assSet.id}" class="sr-only">
	<input id="oprt" type="text" name="oprt" value="{$oprt}" class="sr-only">
	
	<div class="row">
	<div class="form-group col-sm-4">
		<label for="brand_model">名称（含品牌、型号）<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="brand_model" value="{$assSet.brand_model}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="code">卡号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="code" value="{$assSet.code}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="bar_code">条形码号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="bar_code" value="{$assSet.bar_code}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="assnum">编号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="assnum" value="{$assSet.assnum}" type="text" required>
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-2">
		<label for="quantity">数量<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="quantity" value="{$assSet.quantity}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="place_now">现放置地点<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="place_now" value="{$assSet.place_now}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-5">
		<label for="dept_now">现使用部门<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="dept_now" value="{$assSet.dept_now}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="keeper_now">现保管人<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="keeper_now" value="{$assSet.keeper_now}" type="text" required>
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-4">
		<label>现状</label>
		<input class="form-control" value="{$assSet.status_now}" type="text" readonly>
	</div>
	
	<div class="form-group col-sm-4">
		<label for="status_now">状态变更为</label>
		<select class="form-control" id="modalSelectStatusNow" name="status_now" >
			<option value="">d1</option>
		</select>
	
	</div>
	
	<div class="form-group col-sm-4">
		<label for="status_now_desc">状态说明</label>
		<input class="form-control empty-check" name="status_now_desc" value="{$assSet.status_now_desc}" type="text" placeholder="请填入状态改变的简短说明" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="status_now_user_name">登记人</label>
		{notin name="oprt" value="_DELETE"}
		<input class="form-control empty-check" name="status_now_user_name" value="{$userName}" type="text" readonly>
		{else/}
		<input class="form-control empty-check" name="status_now_user_name" value="{$assSet.status_now_user_name}" type="text" required>
		{/notin}
	
	</div>
	</div>
	<hr>
	
	<div class="row myRow">
	<div class="pull-left">
		<button id="btnSave" type="submit" data-oprt="_SAVE" class="btn btn-sm btn-primary "><span class="glyphicon glyphicon-save-file"></span>保存</button>
	</div>
	
	<div  class="pull-right">
		<input type="reset" class="btn btn-primary btn-sm" value="重置">
		<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
	</div>
	</div>
	
</form>

<script>
//定义常量
const conOprtComAttr=[{name:'新增',val:'_CREATE',gly:'modal-window',color:'info'},
			{name:'提交',val:'_SUBMIT',gly:'send',color:'info'},
			{name:'审核',val:'_AUDIT',gly:'check',color:'warning'},
			{name:'审批',val:'_APPROVE',gly:'ok',color:'danger'},
			{name:'维护',val:'_MAINTAIN',gly:'list-alt',color:'primary'},
			{name:'更新',val:'_UPDATE',gly:'save-file',color:'primary'},
			{name:'查询',val:'_READ',gly:'search',color:'primary'},
			{name:'永久删除',val:'_DELETE',gly:'remove',color:'danger'},
			{name:'回收',val:'_TRASH',gly:'trash',color:'danger'},
			{name:'还原',val:'_RESTORE',gly:'retweet',color:'success'}];
			
//生成$.alert,$.confirm组件(com:component)上显示内容的HTML字符串。由oprt英文转中文，加上HTML标签组成HTML字符串
var comHtml=(topic,oprtEn,result)=>{
	
	var oprtChi = '';
	var gly='';
	var color='';
	var resultHtml='';
	var htmlStr='';
	
	var result=(result==null)?'':result;
	
	for(var i=0;i<conOprtComAttr.length;i++){
		if (oprtEn==conOprtComAttr[i].val){
			oprtChi = conOprtComAttr[i].name;
			gly=conOprtComAttr[i].gly;
			color=conOprtComAttr[i].color;
			break;
		}
	}
	
	switch(result){
		case 'success':
			resultHtml='<p class="text-center"><span class="text-success"><span class="glyphicon glyphicon-ok"></span><strong>成功</strong></span> </p>';
			break;
		case 'fail':
			resultHtml='<p class="text-center"><span class="text-danger"><span class="glyphicon glyphicon-ban-circle"></span><strong>失败</strong></span></p>';
			break;
		default:
			resultHtml='';
			break;
	}
	
	htmlStr='<p>固定资产：</p><p class="text-center">【<strong>'+topic +'</strong>】记录</p><p class="text-center"><span class="label label-'+color+'"><span class="glyphicon glyphicon-'+gly+'"></span>'+oprtChi+'</span></p>'+resultHtml;
	
	return htmlStr;
};

//生成modal上的操作组件HTML字符串。
var oprtBtnHtml=(oprtEn)=>{
	var oprtChi = '';
	var gly='';
	var color='';
	
	var htmlStr='';
	
	conOprtComAttr.forEach(function(e){
		if(oprtEn==e.val){
			oprtChi = e.name;
			gly=e.gly;
			color=e.color;
		}
	});
	
	htmlStr='<button type="submit" class="btn btn-sm btn-'+color+'"data-oprt="'+oprtEn+'"><span class="glyphicon glyphicon-'+gly+'"></span>'+oprtChi+'</button>&nbsp;';
	
	return htmlStr;

};

$(document).ready(function(){
	var oprt=$('#fmAssInfo').find('[name="oprt"]').val();
	
	ajaxShowSelect({sendData:{req:$('#modalSelectStatusNow').attr('name'),source:'common',oprt:oprt,assType:'{$assType}'},'attach':'',selected:0,obj:$('#modalSelectStatusNow')});
	
	//消除按钮
	$('.pull-left').children().remove();
	
	//添加按钮
	$('.pull-left').append(oprtBtnHtml(oprt));
		
	$('#fmAssInfo').submit(function(evt){
		evt.preventDefault();
	
		var oprt=$(this).find('[name="oprt"]').val();;
				
		var url = $(this).attr('action'); 
		//console.log(oprt+url);
    	var formData = $(this).serialize();
		var topic=$(this).find('[name="brand_model"]').val();
		
		$('#modalAssSingle').modal('hide');
		$.confirm(comHtml(topic,oprt),function(e){
			con=e;
			if(true==con){
				$.post(url,formData,function(data){
					if(data.res){
						$.alert(comHtml(topic,oprt,'success'));
						//数量发生变化
						$('[data-ass-type="normal"]').find('.label').text(data.quantityNormal);
						$('[data-ass-type="trash"]').find('.label').text(data.quantityTrash);
					}else{
						$.alert(comHtml(topic,oprt,'fail'));
					}
			
					loadAssList($('#divTblSortData').data('assType'));
				});
			}else{
				$('#modalAssSingle').modal('show');
			}
		}).cancel('否(N)').ok('是(Y)');	
	});
	

});

</script>

