{include file="../application/common/headeruser.html" title="个人事务中心" }

<!-- pagewrap  -->
<div class="container-fluid" style="padding-top: 55px;">
		
	<!-- <h4>  -->
		<!-- <ul class="list-inline"> -->
			<!-- <li><strong>【{$username}】的系统角色：</strong></li> -->
			<!-- <li> -->
				<!-- <select class="form-control" id="roleselect"> -->

					<!-- {foreach name="roles" item="vo"} -->
						<!-- <option>{$vo}</option> -->
					
					<!-- {/foreach} -->
					
				<!-- </select> -->
			<!-- </li> -->
			<!-- <li><button class="btn btn-primary">更新个人信息(开发中)</button></li> -->
			
		<!-- </ul> -->
	<!-- </h4> -->
	<!-- <hr> -->
	<!-- <a href="{$home}/user/index/index">旧版</a> -->
	<ul class="nav nav-pills" style="border-bottom:solid 0.1px #ddd;">
		
		<li><a href="{$home}/user/dashboard/index">roles版</a> </li>
	</ul>

	<div class="panel-group" id="accordion">
		<div id="panelProIss" class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapsePro"><span class="glyphicon glyphicon-inbox"></span>&nbsp;<strong>
        		项目事务</strong>&nbsp;<span class="span0">0</span></a>
      		</h4>
			
			</div>
			
			<div id="collapsePro" class="panel-collapse collapse">
			<div class="panel-body " >	
			
			</div>
			</div>
			
		</div>
		
		<div id="panelIssPat" class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapsePat"><span class="glyphicon glyphicon-wrench"></span>&nbsp;<strong>
        			专利事务</strong>&nbsp;<span class="span0">{$numTotal}</span></a>
      			</h4>
			
			</div>
			
			<div id="collapsePat" class="panel-collapse collapse in">
			<div class="panel-body " >
				
				<ul class="nav nav-tabs nav-justified">
					{eq name="$auth.isspat.edit" value="1"}
					<li class=""><a class="aTab" href="#" data-issue-type="_PATENT" data-issue-authority="_EDIT"><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑&nbsp;
						{eq name="$numIssPatEdit" value="0"}
							<span class="badge">{$numIssPatEdit}</span>
						{else/}
							<span class="label label-primary issPat span_EDIT">{$numIssPatEdit}/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$auth.isspat.audit" value="1"}
					<li><a class="aTab" href="#"  data-issue-type="_PATENT" data-issue-authority="_AUDIT"><span class="glyphicon glyphicon-check"></span>&nbsp;审核&nbsp;
						{eq name="$numIssPatAudit" value="0"}
							<span class="badge">{$numIssPatAudit}</span>
						{else/}
							<span class="label label-warning issPat span_AUDIT">{$numIssPatAudit}/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$auth.isspat.approve" value="1"}
					<li><a class="aTab" href="#" data-issue-type="_PATENT" data-issue-authority="_APPROVE"><span class="glyphicon glyphicon-ok"></span>&nbsp;审批&nbsp;
						{eq name="$numIssPatApprove" value="0"}
							<span class="badge">{$numIssPatApprove}</span>
						{else/}
							<span class="label label-danger issPat span_APPROVE">{$numIssPatApprove}/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$auth.isspat.execute" value="1"}
					<li><a class="aTab" href="#" data-issue-type="_PATENT" data-issue-authority="_EXECUTE"><span class="glyphicon glyphicon-random"></span>&nbsp;执行&nbsp;
						{eq name="$numIssPatExecute" value="0"}
							<span class="badge">{$numIssPatExecute}</span>
						{else/}
							<span class="label label-info issPat span_EXECUTE">{$numIssPatExecute}/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$auth.isspat.maintain" value="1"}
					<li><a class="aTab" href="#" data-issue-type="_PATENT" data-issue-authority="_MAINTAIN"><span class="glyphicon glyphicon-calendar"></span>&nbsp;维护&nbsp;
						{eq name="$numIssPatMaintain" value="0"}
							<span class="badge">{$numIssPatMaintain}</span>
						{else/}
							<span class="label label-info issPat span_MAINTAIN">{$numIssPatMaintain}/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}					
					
					<li><a class="aTab" href="#" data-issue-type="_PATENT" data-issue-authority="_DONE"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;完结&nbsp;
						{eq name="$numIssPatDone" value="0"}
							<span class="badge">{$numIssPatDone}</span>
						{else/}
							<span class="label label-default issPat span_DONE">{$numIssPatDone}</span>
						{/eq}
					</a></li>
		
				</ul>
			
				<div class="tab-content">
					<div>
					<!-- <P>前端模板变量$userlg={ $userlg}<br> -->
					<!-- $userlg.0={ $userlg.0},&nbsp;$userlg.id={ $userlg.id}<br> -->
					<!-- 后端赋值语句'userlg'=>$userlg -->
					<!-- </P> -->
					
					</div>
					<!-- //需load其他模板文件的div -->
					<div id="divIssPatAuth_load"></div>
				</div>
			</div>
			</div>
			
		</div>
		
		<div id="panelTheIss" class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThe"><span class="glyphicon glyphicon-list"></span>&nbsp;<strong>
        			论文事务</strong>&nbsp;<span class="span0">0</span></a>
      			</h4>
			
			</div>
		
			<div id="collapseThe" class="panel-collapse collapse">
			<div class="panel-body " >
		
		
		
			</div>
			</div>
	
	
	
		</div>
		
</div>




<!-- /pagewrap  -->

<style>
.red{
	background-color:red;
}
</style>

<script>
$(document).ready(function(){
	
	// 根据后端传来的$auth决定本页面载入时默认load的文件
	<!-- //TP5中 'issPatAuth'='{$home}/user/dashboard2/issPatAuth' -->
	var auth='_DONE';
	if({$auth.isspat.edit}){
		auth='_EDIT';
		//设置显示格式
		$('.span_EDIT').removeClass('label').addClass('badge red');
		//设置span所在li为“active”
		$('.span_EDIT').parent().parent().addClass('active');
	}else if({$auth.isspat.audit}){
		auth='_AUDIT';
		$('.span_AUDIT').removeClass('label').addClass('badge red');
		//设置span所在li为“active”
		$('.span_AUDIT').parent().parent().addClass('active');
	}else if({$auth.isspat.approve}){
		auth='_APPROVE';
		$('.span_APPROVE').removeClass('label').addClass('badge red');
		//设置span所在li为“active”
		$('.span_APPROVE').parent().parent().addClass('active');
	}else if({$auth.isspat.execute}){
		auth='_EXECUTE';
		$('.span_EXECUTE').removeClass('label').addClass('badge red');
		//设置span所在li为“active”
		$('.span_EXECUTE').parent().parent().addClass('active');
	}else if({$auth.isspat.maintain}){
		auth='_MAINTAIN';
		$('.span_MAINTAIN').removeClass('label').addClass('badge red');
		//设置span所在li为“active”
		$('.span_MAINTAIN').parent().parent().addClass('active');
	}else{
		$('.span_DONE').removeClass('label').addClass('badge red');
		//设置span所在li为“active”
		$('.span_DONE').parent().parent().addClass('active');
	}
	$('#divIssPatAuth_load').load('issPatAuth',{'auth':auth});
	
	<!-- //点击.issPatATab中的各个按钮后，默认显示相应状态的issPat内容-->
	$('.aTab').click(function(){
        var issType=$(this).attr('data-issue-type');
		var authority=$(this).attr('data-issue-authority');
		var oprt='';
		<!-- $('.aTab').find('.issPat').css("background-color","#777") .removeClass('badge'); -->
		
		$('.span_EDIT').removeClass('badge red').addClass('label label-primary');
		$('.span_AUDIT').removeClass('badge red').addClass('label label-warning');
		$('.span_APPROVE').removeClass('badge red').addClass('label label-danger');
		$('.span_EXECUTE').removeClass('badge red').addClass('label label-info');
		$('.span_MAINTAIN').removeClass('badge red').addClass('label label-info');
		$('.span_DONE').removeClass('badge red').addClass('label label-default');
		
		$(this).find('.issPat').removeClass('label').addClass('badge red');
		<!-- .css("background-color","red") -->
		switch(issType){
			case '_PATENT':
				$(this).tab('show');
				$(this).parent().addClass('active');
				<!-- switch(authority){ -->
					<!-- case'_EDIT': -->
						<!-- oprt='issPatEdit'; -->
					<!-- break; -->
					<!-- case'_AUDIT': -->
						<!-- oprt='issPatAudit'; -->
					<!-- break; -->
					<!-- case'_APPROVE': -->
						<!-- oprt='issPatApprove'; -->
					<!-- break; -->
					<!-- case'_EXECUTE': -->
						<!-- oprt='issPatExecute'; -->
					<!-- break; -->
					<!-- case'_MAINTAIN': -->
						<!-- oprt='issPatMaintain'; -->
					<!-- break; -->
					<!-- //_DONE -->
					<!-- default: -->
						<!-- oprt='issPatDone'; -->
					<!-- break; -->
				<!-- } -->
				$('#divIssPatAuth_load').load('issPatAuth',{'auth':authority});
			break;
			
			case '_PROJECT':
				$(this).tab('show');
				$(this).parent().addClass('active');
				$('#issPro').load('issPro',sendData);
			break;
			
			case '_THESIS':
				$(this).tab('show');
				$(this).parent().addClass('active');
				$('#issThe').load('issThe',sendData);
			break;
		}

    });	
	
	<!-- // 在collapsePat出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapsePat").on("show.bs.collapse", function(){ -->
    	
		<!-- $("#divIssPatAuth_load").load('issPatEdit'); -->
  	<!-- }); -->
	
	<!-- // 在collapsePro出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapsePro").on("show.bs.collapse", function(){ -->
    	
  	<!-- }); -->
	
	<!-- // 在collapseThe出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapseThe").on("show.bs.collapse", function(){ -->
    	
  	<!-- }); -->
	
<!-- function  -->
	


<!--/ function -->

});
</script>

{include file="../application/common/footer.html"}