<!-- issPatList.html -->

<!-- pagewrap  -->	
<div id="divAssList">
	<div class="row myRow">
		<div class="text-right">
			<strong class="spAssType"></strong><span id="spSearchResult" class="label label-info">查询结果</span>&nbsp;记录数：<span id="spAssNum">{ $searchResultNum}</span>&nbsp;|&nbsp;数量：<span class="badge">{ $quanCount}</span>
		</div>
		<P></P>
	</div>	
	<div class="table-responsive" style="overflow: auto;"> 
		<table id="tblAssList" class="table table-bordered table-hover table-condensed" >
			<caption class="text-center" style="border-bottom:1px solid #eee;">
			<h4>专利信息列表&nbsp;<strong class="spAssType"></strong>
			   	<div class="btn-group">
      				<button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" >选择显示字段<span class="caret"></span></button>
      				<ul class="dropdown-menu" >
						<li><div class="checkbox"><label><input type="checkbox" value="all" checked><span class="text-primary">全选</span></label></div></li>
						<li class="divider"></li>
					</ul>
    			</div>
			</h4>
			</caption>
			<colgroup></colgroup>
			<thead>
				<tr>
					<th class="text-center">序号</th>
					<th><a data-sort-name="topic">题名</a></th>
					<th class="assnum"><a data-sort-name="num">编号</a></th>
					<th><a data-sort-name="status">状态</a></th>
					<th><a data-sort-name="category">出版物类型</a></th>
					<th><a data-sort-name="publication">出版物名称</a></th>
					<th><a data-sort-name="publisher">出版商</a></th>
					<th><a data-sort-name="writer">撰写人</a></th>
					<th><a data-sort-name="author_1st">第一作者</a></th>
					<th><a data-sort-name="author_2nd">第二作者</a></th>
					<th><a data-sort-name="other_author">其他作者</a></th>
					<th><a data-sort-name="keyword">关键词</a></th>
					<th><a data-sort-name="create_time">创建时间</a></th>
					<th><a data-sort-name="update_time">登记时间</a></th>
					<th class="text-center">操作</th>
				</tr>
			
			</thead>
			<tbody><!-- 此处显示数据库查询后的数据集 -->
				{volist name="issSet" id="vo" empty=""}
				<tr>
					<td class="text-center">{$i+($sortData.pageNum-1)*$sortData.listRows}</td>
					<td class="text-center"><a class="aTblIssSingle" href="#issInfo" data-ass-id="{$vo.issinfo_id}">{$vo.topic}</a></td>
					<td class="text-right">{$vo.num}</td>
					<td>{$vo.status}</td>
					<td class="text-right"><a class="aIssRecords" href="#issInfo" data-ass-id="{$vo.issinfo_id}"><span class="spStatus">{$vo.status}</span></a></td>
					
					<td class="text-right">{$vo.category}</td>
					<td class="text-right">{$vo.publication}</td>
					<td class="text-right">{$vo.publisher}</td>
					<td class="text-right">{$vo.writer}</td>
					<td class="text-right">{$vo.author_1st}</td>
					<td class="text-right">{$vo.author_2nd}</td>
					<td class="text-right">{$vo.other_author}</td>
					<td class="text-right">{$vo.keyword}</td>
					<td class="text-right">{$vo.create_time}</td>
					<td class="text-right">{$vo.update_time}</td>
					<td class="tdIssTheOprt text-right" data-ass-status="{$vo.status}" data-ass-id="{$vo.issinfo_id}" data-ass-topic="{$vo.topic}" >
						
					</td>
				
				</tr>
				{/volist}
			
			</tbody>
			
		</table>
		
	</div>
	
	
	<div id="divListRows" class="row text-right" style="padding-top:10px;">
		<!-- // 分页变量 -->
		<div class="col-sm-10">{ $assList}</div>
		
		<div class="form-group form-group-sm col-sm-2">
			<span class="">每页显示记录数：</span>
			<select class="form-control" id="listRows">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
			</select>
						
		</div>
	
	</div>
	<p id="pAssNone" class="text-center" data-show="false"><span class="label label-default" style="font-size:16px;">无符合条件信息</span></p>	
</div>

<!-- /pagewrap  -->
<script>

</script>

