<!DOCTYPE html>
<html lang="en">
<head>
  <title>[title]</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {/* TP5中的模板注释格式，多行。内容不会出现在发送给浏览器的HTML文件中
  <!-- 使用cdn提高解析速度 -->
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap3.3.7.min.css">
  <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
   */}
  
 {// TP5中的模板注释格式，单行。<!-- TP5的资源文件加载写法 -->内容不会出现在发送给浏览器的HTML文件中 }  
  {css href="/home/res/css/bootstrap3.3.7.min.css" }
  {css href="/home/res/css/bs-callout.css" }
  {js href="/home/res/js/jquery1.12.4.min.js" }
  {js href="/home/res/js/bootstrap3.3.7.min.js" }

  {// TP5中的模板注释格式，单行。<!-- 自定义的页面弹窗 -->}  
  {js href="/home/res/js/alert.min.js" }


{/*<!-- 实现nav固定在页面顶端效果的补充代码块,
同时还需设置nav的data-offset-top="-3"防止鼠标单击页面时出现跳动-->
*/}
<style>
.affix {
	top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 50px;
}
  
.mainDiv {
    margin-top:20px;
}
</style>
  
  <!-- Tooltips must be initialized with jQuery: select the specified element and call the tooltip() method.
The following code will enable all tooltips in the document:-->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

</head>
<body>

<!-- pageheader  -->
<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="-3">
  	<div class="container-fluid">	
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand"><strong>IPMS</strong>&nbsp;<span class="glyphicon glyphicon-user"></span>【{$username}】&nbsp;<span class="label label-default" style="font-size:16px;padding-bottom:3.2px;"><span class="glyphicon glyphicon-wrench"></span>&nbsp;[title]</span>
			</a>
   	 	</div>
		
		<div class="collapse navbar-collapse" id="collapse-1">
		
			<p class="navbar-text navbar-right"><a href="#" class="navbar-link btnClose" style="margin-right:10px;"><span class="glyphicon glyphicon-remove"></span></a></p>
		</div>
  	</div>
</nav>


<!-- 调试，输出结果显示代码-->

<!-- <div class="container-fluid" data-offset-top="200"> -->
<!-- <p>{ $destr}</p> -->

<!-- </div> -->

<!-- {//调试，输出结果显示代码} -->


<!-- /pageheader  -->

