<!-- // 绝对文件路径加载父模板-->
{extend name="../application/user/view/dashboard2/issPatAuth/base.html" /}
{block name="title"}
	<h4 id="h4Title">专利事务<span class="label label-default">完结&nbsp;
	{eq name="$numTotal" value="0"}
		<span class="badge">{$numTotal}</span>
	{else/}
		<span class="badge red">{$numTotal}</span>
	{/eq}
	</span>
	</h4>
{/block}

{block name="btnTpl"}
	<td class="btnTpl">
		<a class="audit" href="#modalIssPatAuthSingle" data-issId="{$vo.id}" data-toggle="modal" ><span class="glyphicon glyphicon-folder-close text-info"></span>_完结</a>
	</td>
{/block}


