<!-- // 绝对文件路径加载父模板-->
{extend name="../application/user/view/dashboard2/issPatAuth/base.html" /}
{block name="title"}
	<h4 id="h4Title">专利事务<span class="label label-primary">待编辑&nbsp;
	{eq name="$numTotal" value="0"}
		<span class="badge">{$numTotal}</span>
	{else/}
		<span class="badge red">{$numTotal}</span>
	{/eq}
	</span>
	&nbsp;<button id="btnAddNew"  type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalIssPatAuthSingle"><span class="glyphicon glyphicon-tag"></span>新增</button>
	</h4>
{/block}

{block name="btnTpl"}
	<td class="btnTpl">
		<a class="" href="#modalIssPatAuthSingle" data-issId="{$vo.id}" data-issue-authority="_EDIT" data-toggle="modal" ><span class="glyphicon glyphicon-pencil text-primary"></span>_编辑</a>
				
	</td>
{/block}

<script>
$(document).ready(function(){
	
	$('btnAddNew').click(function(){
		$('#divIssPatSingle_load').append('<span>_ADDNEW</span>');
		
		<!-- var str=$(this).html(); -->
		<!-- $.post('issPatAuthSingle', -->
			<!-- { -->
				<!-- 'auth':_ADDNEW, -->
				<!-- 'returnType':0, -->
			<!-- }, -->
			<!-- //得到后端返回的data(模板文件) -->
			<!-- function(data){ -->
				<!-- //在本文件#divIssPatSingle_load处渲染显示data -->
				<!-- $('#divIssPatSingle_load').html(data); -->
				<!-- $('.modal-header').find('h4').empty().html('<span class="glyphicon glyphicon-wrench">专利事务：</span><strong>【'+str+'】</strong>'); -->
				<!-- $("#modalIssPatAuthSingle").modal(); -->
			<!-- } -->
		<!-- ); -->
	
	});


});
</script>

