<!-- // 绝对文件路径加载父模板-->
{extend name="../application/user/view/dashboard2/issPatAuth/base.html" /}
{block name="titleSpan"}
	<span class="label label-info">维护&nbsp;
{/block}

{block name="addLabel"}	
{__block__}

{/block}

{block name="btnTpl"}
	<td class="btnTpl">
		<a class="audit" href="#modalIssPatAuthSingle" data-issId="{$vo.id}" data-issue-authority="_MAINTAIN" data-toggle="modal" ><span class="glyphicon glyphicon-calendar text-info"></span>_维护</a>
	</td>
{/block}

<!-- //在base.html的基础上新增 -->
{block name="script"}
{__block__}
<script>
$(document).ready(function(){	
	$('#btnRenew').click(function(){
		var str=$(this).html();
		$.post('issPatAuth',
			{
				'auth':'_EDIT',
				'issId':101,
				'returnType':0,
			},
			//得到后端返回的data(模板文件)
			function(data){
				//在本文件#divIssPatAuth处渲染显示data
				$('#divIssPatAuth').html(data);
				$('.modal-header').find('h4').empty().html('<span class="glyphicon glyphicon-wrench">专利事务：</span><strong>【'+str+'】</strong>');
				<!-- $("#modalIssPatAuthSingle").modal(); -->
			}
		);
	
	});
});
</script>


{/block}


