<!-- editUser.html -->
	
<form id="fmUser" role="form" action="{$home}/admin/index/userOprt"  method="post">
	<input id="id" type="text" name="id" value="{$user.id}" class="sr-only">
	<input id="oprt" type="text" name="oprt" value="" class="sr-only">
	
	<div class="row">
	<div class="form-group has-feedback col-sm-4">
		<label for="username">用户名</label>
		<!-- // bootstrap实现矢量图在输入框开头 -->
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" class="form-control inputCheck" id="userName" name="userName" value="{$user.username}" placeholder="输入用户名">	
		</div>
					
		<!-- // 配合jQuery 中的内容验证代码-->
		<span style="color:red;display:none;" class="spTips"></span>
        <span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
        <span style="display: none;margin-right:17px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>	
	</div>
				
	<div class="form-group col-sm-4">
		<label for="psw">登录密码（同用户名）</label>
		<!-- // bootstrap实现矢量图在输入框开头 -->
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></span>
			<input type="password" class="form-control" id="pwd" name="pwd" readonly="true" autocomplete="pwd">
		</div>		
		
	</div>
				
	<div class="form-group col-sm-4">
		<label for="selDept">所属部门</label>
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-tree-conifer"></span></span>
			<select class="form-control" id="selDept" name="dept">
    			<option value="">1</option>
    			<option value="">2</option>
    		</select>
		</div>
	</div>
	</div>	
	
	<div class="row">
	<div class="form-group col-sm-6">
		<label for="selUsergroup">&nbsp;可选用户组</label>
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
			<select class="form-control" id="selUsergroup">
    			<option value="">1</option>
    			<option value="">2</option>
    		</select>
		</div>
	</div>
	
	<div class="form-group has-feedback col-sm-6">
		<label for="selectedUsergroup">&nbsp;已选用户组</label>
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
			<select class="form-control inputCheck" id="selectedUsergroup" name="selectedUsergroup">
    			<option value="0">……已选</option>
    		</select>
		</div>
		<span style="color:red;display:none;" class="spTips">至少有一个用户组</span>
		<span style="display: none;margin-right:8px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
		
	</div>
	</div>	
				
				<!-- <div class="checkbox">
				  <label><input type="checkbox" value="" checked>Remember me</label>
				</div> -->
	<hr>
	<button id="btnCreate" type="submit" class="btn btn-primary btn-sm" data-oprt="_CREATE"><span class="glyphicon glyphicon-file"></span>&nbsp;新增</button>
	
	<button id="btnUpdate" type="submit" class="btn btn-primary btn-sm" data-oprt="_UPDATE"><span class="glyphicon glyphicon-ok"></span>&nbsp;保存</button>
		
	<button id="btnDelete" type="submit" class="btn btn-danger btn-sm" data-oprt="_DELETE"><span class="glyphicon glyphicon-remove"></span>删除</button>
	
	<div class="pull-right">	
		<button id="btnFormReset" type="reset" class="btn btn-primary btn-sm">重置</button>
				
		<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">取消</button>
	</div>
</form>

<script>

$(document).ready(function(){

//正则表达式，由英文、数字、中文和下划线组成,但不能以数字开头,长度为2到20个字符。unicode编码中的汉字范围:\u2E80-\u9FFF
	var regUsername = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{1,19}$/;
	var check = [false,false];
		
	// 单选框#searchDept的内容
	ajaxShowSelect('selectResponse',{'req':'_DEPT'},$("#selDept"),[{'text':'...不限','val':'0'}]);
	
	// 单选框#searchUserGroup的内容
	ajaxShowSelect('selectResponse',{'req':'_USERGROUP'},$("#selUsergroup"),[{'text':'...待选','val':'0'}]);
	
	$('#selUsergroup').change(function(){
	<!-- $('#selUsergroup').dblclick(function(){ -->
		var obj=$(this).find('option:selected');
		var v=obj.val();//var v=$(this).val();
		<!-- var str=$('#selUsergroup option:selected').text(); -->
		var str=obj.text();
		obj.remove();
		$(this).children('option').eq(0).text('剩余用户组：'+(this.length-1));
		$('#selectedUsergroupText').html(v+'_'+str);
		<!-- $('#selUsergroup option:selected').hide(); -->
		<!-- $('#selUsergroup option:selected').remove(); -->
		<!-- var option1=$('option').val(v).text(str); -->
		<!-- $('#selectedUsergroup').append(option1); -->
		var option='<option value="'+v+'">'+str+'</option>';
		<!-- $(option).appendTo('#selectedUsergroup'); -->
		$('#selectedUsergroup').append(option);
		var len=$('#selectedUsergroup').find('option').length;
		//对#selectedUsergroup的操作
		$('#selectedUsergroup').children('option').eq(0).text('已选用户组：'+(len-1));
		$('#selectedUsergroup').closest('.has-feedback').removeClass('has-error');
		$('#selectedUsergroup').closest('.has-feedback').children('span').hide();
		check[1]=true;
		
	});
	
	$('#selectedUsergroup').change(function(){
		var obj=$(this).find('option:selected');
		var v=obj.val();//var v=$(this).val();
		var str=obj.text();
		obj.remove();
		$(this).children('option').eq(0).text('已选用户组：'+(this.length-1));
		if($(this).find('option:last').val()==0){
			$(this).closest('.has-feedback').addClass('has-error');	
			$(this).closest('.has-feedback').children('span').show();
			check[1]=false;
		}else{
			$(this).closest('.has-feedback').removeClass('has-error');
			$(this).closest('.has-feedback').children('span').hide();
			check[1]=true;
		
		}
		//对#selUsergroup的操作
		var option='<option value="'+v+'">'+str+'</option>';
		$('#selUsergroup').append(option);
		var len=$('#selUsergroup').find('option').length;
		$('#selUsergroup').children('option').eq(0).text('剩余用户组：'+(len-1));
	});
	
	$('#selectedUsergroup').focusout(function(){
		if($(this).find('option:last').val()==0){
			$(this).closest('.has-feedback').addClass('has-error');	
			$(this).closest('.has-feedback').children('span').show();
			check[1]=false;
		}else{
			$(this).closest('.has-feedback').removeClass('has-error');
			$(this).closest('.has-feedback').children('span').hide();
			check[1]=true;
		}
	});
	
	<!-- // 检查“用户名”输入框的内容 -->
	$('#userName').focusout(function() { 
    	//test(),正则的验证函数，验证value是否符合regUsername要求。
    	//jquery的test()是获取或设置标签内文本既等于innerText。
    	//HY,待确认
    	if (regUsername.test($(this).val())) {
        	success($(this), 0);
			$('#pwd').val($(this).val());
    	} else if ($(this).val().length < 2) {
        	fail($(this), 0, '用户名太短，不能少于2个字符。');
    	} else {
        	fail($(this), 0, '用户组名由英文、数字、中文和下划线组成，但不能以数字开头。')
    	}

	});
	
	//button:submit按钮
	$('button:submit').click(function(event){
		var url='userOprt';
		var name=$('#userName').val();
		var oprt=$(this).attr('data-oprt');
		var formData=new FormData($('#fmUser').get(0));
		var anchor=window.location.hash;
		var strHtml=$(this).html();
		var selectedUsergroup=$('#selectedUsergroup').find('option:last').val();
		var flag=check.every(function(value) {
            return value == true
        });
		//阻止表单提交动作
		event.preventDefault();
		console.log(check);
		formData.append('oprt',oprt);
		if(oprt=='_DELETE'){
			strHtml='<span class="label label-danger">'+strHtml+'</span>';
		}else{
			strHtml='<span class="label label-primary">'+strHtml+'</span>';
		}
		if (!flag) {
			var arr=[];
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        	for (key in check) {
            	if(!check[key]){
                	<!-- $(this).closest('form').find('.inputCheck').eq(key).closest('.has-feedback').removeClass('has-success').addClass('has-error'); -->
                	$(this).closest('form').find('.has-feedback').eq(key).removeClass('has-success').addClass('has-error');
					arr.push(key);
            	}
        	}
			//序号最小的$('.inputCheck').eq(i)获得焦点
			$('.inputCheck').eq(Math.min.apply(null, arr)).focus();	
		}else{
			$('.modal').modal('hide');
			$.confirm(strHtml+'【'+name+'】',function(e){
				con=e;
				if(true==con){
					ajaxProcess(url,formData,anchor);
				}
				else{
					$('.modal').modal('show');
				}
			}).ok('确定(Y)').cancel('取消(N)');		
		}
	});
	
	$('#btnFormReset').click(function(event) {
		//阻止表单reset
		event.preventDefault();
		//本按钮所在form进行reset
		$(this).closest('form').get(0).reset();
		
		$('.has-feedback').removeClass('has-success').removeClass('has-error'); 
		$('.spTips').hide();
    	$('.spOk').hide();
    	$('.spRemove').hide();
		
		$('.inputCheck').eq(0).focus();
		
		<!-- check = [false,false]; -->
	
	});

<!-- function -->
//校验成功函数
function success(obj, counter) {
    var divParent=obj.closest('.has-feedback');
	divParent.removeClass('has-error').addClass('has-success');
	divParent.find('.spTips').hide();
    divParent.find('.spOk').show();
    divParent.find('.spRemove').hide();
    check[counter] = true;
}

// 校验失败函数
function fail(obj, counter, msg) {
    var divParent=obj.closest('.has-feedback');
	divParent.removeClass('has-success').addClass('has-error');
	divParent.find('.spTips').text(msg).show();
    divParent.find('.spOk').hide();
    divParent.find('.spRemove').show();
    check[counter] = false;
}
		
	//**函数名：ajaxShowSelect
 	//* 作用：本页面ajax过程向服务器请求特定单选框内容所需数据，并组装好HTML语句
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数data，类型：json。值：传送给后端的键值对数据。{'req':'','':}
	//* 参数obj，类型：对象。值：必须，单选框的对象名称
	//*参数attach，类型：json数组。值：可为空，需要附加的单选框的键值对，[{"text":"...不限","val":"0"},{"text":"xx","val":"xx"}]
	//*参数selected，类型：字符。值：字符，可为空。
	//* 返回值：无
function ajaxShowSelect(url,data,obj,attach,selected){
	$.ajax({
		type : 'post',
		async : true,  //异步请求
		url : url,
		data : data,
		timeout:2000,
		<!-- // 指定服务器端response的数据类型为json-->
		dataType:'json',
		success:function(backData){
			var str='';
			if(attach){
				for(i=0;i<attach.length;i++){
					str+='<option value="'+attach[i].val+'">'+attach[i].text+'</option>';
				}
			}
			<!-- // 遍历backData数组组装HTML语句 -->
			<!-- // backData的结构是数组类的：[{id:1,name:"dept1", abbr:"d1"},{}],所以要进行嵌套取出id，name和abbr的值组装HTML语句-->
			$.each(backData,function(n1,v1){
				$.each(v1,function(n2,v2){
					//根据data的内容安排backData
					switch(data.req){
						case '_DEPT':
							if(n2=='name'){
								str+='<option value="'+v2+'">'+v2+' （简称：';
							}
							if(n2=='abbr'){
								str+=v2+'）</option>';
							}
						break;
						
						case '_USERGROUP':
							if(n2=='id'){
								str+='<option value="'+v2+'">';
							}
							if(n2=='name'){
								str+=v2+'</option>';
							}
						break;
					}
				});
			});
			<!--// 清空单选框Obj的所有选项-->
			obj.empty();
			<!--// 添加单选框Obj的新选项-->
			obj.append(str);
				
			<!-- // value=selected 的项为选定项-->
			if (selected){
				obj.val(selected).attr('selected','selected');
			}
			<!-- Obj.val(selected).attr('selected','selected'); -->
		},
		error: function() {
            alert("失败Group，请稍后再试！");
        }
	});
}

//**函数名：ajaxProcess
 	//* 作用：本页面ajax过程
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数data，类型：数值。值：传送给后端的键值对数据。
	//* 参数archor，类型：字符串。值：本页面锚点值：window.location.hash。
	//* 返回值：无
function ajaxProcess(url,data,archor){
	$.ajax({
		type: 'post',
        url: url,
        data: data,
		timeout:2000,
		<!-- datatype: 'JSON', -->
        contentType: false,// 当有文件要上传时，此项是必须的，否则会导致后台无法识别文件流的起始位置
        processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)。当使用FormData()，必须设为false，否则jqurey默认将FormData()转换为查询字符串。
		success: function(dataBack){
			<!-- $('.modal').modal('hide'); -->
			//dataBack的5个返回值id,result,name,msg,msgPatch
			if(dataBack.result=='success'){
				//ajax更新页面信息
				$("#content").load(
					'tplFile',
					{'sId':archor},
					function(){
						//所在行上色'bg-warning'
						$('button[data-id="'+dataBack.id+'"]').closest('tr').addClass('bg-warning');
						$.alert('用户【'+dataBack.name+'】<span class="label label-success">'+dataBack.msg+'</span>'+dataBack.msgPatch);
					}
				);
			}else{
				$.alert('用户【'+dataBack.name+'】<span class="label label-danger">'+dataBack.msg+'</span>'+dataBack.msgPatch);	
			}
		},
		error: function(){
			$.alert('与服务器通讯超时，请稍后再试！');
		}
	});	
}
<!--/ function -->
	
});

</script>


