<!-- //editUsergroup.html -->

	
<form id="fmUsergroup" role="form" action="" method="post">
	<input id="oprtId" type="text" name="" value="" class="sr-only">
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-info"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;用户组信息</span></div>
		<div class="row myRow">		
		<div class="form-group has-feedback col-sm-6">
			<label for="userGroupName">用户组名</label>
			<!-- // bootstrap实现矢量图在输入框开头 -->
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
						
				<input type="text" class="form-control textUserGroup" id="userGroupName" name="userGroupName" placeholder="输入用户组名">
			</div>	
			<!-- // 配合jQuery 中的内容验证代码-->
			<span style="color:red;display: none;" class="tips"></span>
      		<span style="display: none;"  class="glyphicon glyphicon-ok form-control-feedback"></span>
			<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>		
		</div>
		</div>
	</div>

	<div class="myFieldset">
		<div class="myLegend"><span class="label label-info"><span class="glyphicon glyphicon-alert"></span>&nbsp;用户组权限</span></div>
		
		<div class="row myRow">		
		<div class="form-group col-sm-6">	
			<label for="authIss"><span class="text-info">【事务】</span>模块</label>	
			<div id="authIss" style="border-bottom:solid 1px #ccc; padding:5px;">
				<label class="checkbox-inline"><input type="checkbox" name="edit" value="1" checked><span>编辑</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="audit" value="1"><span>审核</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="approve" value="1"><span>审批</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="execute" value="1"><span>执行</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="maintain" value="1"><span>维护</span></label>
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label for="authPat"><span class="text-default">【专利】</span>模块</label>	
			<div id="authPat" style="border-bottom:solid 1px #ccc; padding:5px;">
				<label class="checkbox-inline"><input type="checkbox" name="edit" value="1" checked><span>编辑</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="audit" value="1"><span>审核</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="approve" value="1"><span>审批</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="execute" value="1"><span>执行</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="maintain" value="1"><span>维护</span></label>
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label for="authPro"><span class="text-default">【项目】</span>模块</label>	
			<div id="authPro" style="border-bottom:solid 1px #ccc; padding:5px;">
				<label class="checkbox-inline"><input type="checkbox" name="edit" value="1" checked><span>编辑</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="audit" value="1"><span>审核</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="approve" value="1"><span>审批</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="execute" value="1"><span>执行</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="maintain" value="1"><span>维护</span></label>
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label for="authThe"><span class="text-default">【论文】</span>模块</label>	
			<div id="authThe" style="border-bottom:solid 1px #ccc; padding:5px;">
				<label class="checkbox-inline"><input type="checkbox" name="edit" value="1" checked><span>编辑</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="audit" value="1"><span>审核</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="approve" value="1"><span>审批</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="execute" value="1"><span>执行</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="maintain" value="1"><span>维护</span></label>
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label for="authAtt"><span class="text-danger">【附件】</span>模块</label>	
			<div id="authAtt" style="border-bottom:solid 1px #ccc; padding:5px;">
				<label class="checkbox-inline"><input type="checkbox" name="upload" value="1" checked><span>上传</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="download" value="1" checked><span>下载</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="copy" value="1"><span>复制</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="move" value="1"><span>移动</span></label>
				<label class="checkbox-inline"><input type="checkbox" name="erase" value="1"><span>删除</span></label>
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label for="authAdmin"><span class="text-danger">【管理】</span>模块</label>	
			<div id="authAdmin" class="form-group" style="border-bottom:solid 1px #ccc; padding:5px;">
				<label class="radio-inline">
      				<input type="radio" name="adminEn" value="1" ><span class="label label-default">有</span>
    			</label>
    			<label class="radio-inline">
      				<input type="radio" name="adminEn" value="0" checked="true"><span class="label label-default">无</span>
    			</label>
			</div>
		</div>
		</div>
		
	</div>
				

	<div id="divUserGroupEn" class="myFieldset form-group">
		<div class="myLegend"><span class="label label-info">
			<span class="glyphicon glyphicon-magnet"></span>&nbsp;用户组启用</span>
			<!-- <label class="" for="usergroupEn">用户组启用</label> -->
			<label class="radio-inline">
      			<input type="radio" name="usergroupEn" value="1" checked><span class="label label-info">是</span>
    		</label>
    		<label class="radio-inline">
      			<input type="radio" name="usergroupEn" value="0" ><span class="label label-default">否</span>
    		</label>
		</div>
	</div>	
		<hr>

		<button id="btnCreate" type="submit" class="btn btn-primary btn-sm" data-oprt="_CREATE"><span class="glyphicon glyphicon-ok"></span>&nbsp;新增</button>
	
		<div class="pull-right">	
			<button id="btnReset" type="reset" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span>&nbsp;重置</button>
				
			<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button>
		</div>		
	</form>

	
<script>
$(document).ready(function(){
	
	<!-- // 新增按钮 -->
	$('#btnCreate').click(function(event){
		<!-- // jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作 -->
        event.preventDefault();
		
		var flag=check.every(function(value) {
            return value == true
        });
	
		if (!flag) {
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        	for (key in check) {
            	if (!check[key]) {
                	$(".modal").find(".textUserGroup").eq(key).parent().parent().removeClass("has-success").addClass("has-error");
            	}
        	}
		}else{
			
			<!-- // 组装通过“post”提交的数据 -->
			var sendData = {"oprt":"add","userGroupName":$("#userGroupName").val(),"addnew":$("input:checkbox[name='addnew']").prop("checked"),"submit":$("input:checkbox[name='submit']").prop("checked"),"modify":$("input:checkbox[name='modify']").prop("checked"),"upfile":$("input:checkbox[name='upfile']").prop("checked"),"downfile":$("input:checkbox[name='downfile']").prop("checked"),"audit":$("input:checkbox[name='audit']").prop("checked"),"refuse":$("input:checkbox[name='refuse']").prop("checked"),"reject":$("input:checkbox[name='reject']").prop("checked"),"approve":$("input:checkbox[name='approve']").prop("checked"),"inspect":$("input:checkbox[name='inspect']").prop("checked"),"adminEn":$("input:radio[name='adminEn']").prop("checked"),"usergroupEn":$("input:radio[name='usergroupEn']").prop("checked"),"oprtId":$("#oprtId").val()};
			
			// 这种写法获得radio内属性value的值
			<!-- "adminEn":$("input:radio[name='adminEn']:checked").val(),"usergroupEn":$("input:radio[name='usergroupEn']:checked").val() -->
						
			$("#modalEditUsergroup").modal("hide");
				
			$.ajax({
				type : "post",
				async : true,  //异步请求
				url : "oprtUserGroup", 
				<!-- // 发送到服务器的数据 -->
				data : sendData,
				timeout:1000,
				<!-- // 指定服务器端response的数据类型为json -->
				dataType:"json",
				success:function(backData){
					var data=backData;
					<!-- alert(data.msg); -->
							
					if(data.result=='success'){

					//添加成功，弹出自定义提示页面 
						$.confirm(data.msg,function(e){
							con=e;
							if(true==con){
								//刷新页面并回到"#div1"页面
								<!-- window.location.hash="#div1"; -->
								<!-- window.location.reload(true); -->
								
								
								$("#modalEditUsergroup").modal("show");
							}else{
								$("#content").load("sys_usergroup");
								<!-- $('#btnResetUserGroup').click(); -->
								//刷新页面并回到"#div0"页面
								<!-- window.location.hash="#div0"; -->
								<!-- window.location.reload(true); -->
									
							}
						}).ok('继续').cancel('完成');
							
					}else{
						// 添加不成功，弹出自定义提示页面 
						$.confirm(data.msg,function(e){
							con=e;
							if(true==con){
								// 返回"#addUser".modal页面
								$("#modalEditUsergroup").modal("show");
							}else{
								$('#btnResetUserGroup').click();
							}
						}).ok('继续').cancel('取消');	
						
					}

				},
					error: function() {
               			// 应用自定义的alert提示框
						$.alert("失败1，请稍后再试！");
            		}
			});
			
		}
		
	});
	
	// 表单input:radio选中元素改变背景色
	$('input:radio').change(function(){
		radioBg($('input:radio[name="adminEn"]:checked'));
		radioBg($('input:radio[name="usergroupEn"]:checked'));
	});
	//checkbox背景色
	$('input:checkbox').each(function(){
		checkboxBg($(this));
	});
	//checkbox背景色
	$('input:checkbox').click(function(){
		checkboxBg($(this));
	});
	
	<!-- // 重置按钮 -->
	$('#btnReset').click(function(e){
		e.preventDefault();
		//本按钮所在form进行reset
		$(this).closest('form').get(0).reset();
		radioBg($('input:radio[name="adminEn"]:checked'));
		radioBg($('input:radio[name="usergroupEn"]:checked'));
		$('input:checkbox').each(function(){
			checkboxBg($(this));
		});
	
	});
	
<!-- function -->
// 正则表达式，可以为英文、数字、中文和下划线,但不能以数字开头,unicode编码中的汉字范围:\u2E80-\u9FFF
var regUserGroupName = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{4,19}$/;

// 数组，存储表单中输入框内容验证结果“true/false”。数组下标应与输入框下标一致，便于编程选择输入框
var check = [false];

	//校验成功函数
function success(Obj, counter) {
    Obj.parent().parent().removeClass('has-error').addClass('has-success');
	
	// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
	$('.modal .tips').hide();
    $('.modal .glyphicon-ok').show();
    $('.modal .glyphicon-remove').hide();
    check[counter] = true;

}

// 校验失败函数
function fail(Obj, counter, msg) {
    Obj.parent().parent().removeClass('has-success').addClass('has-error');
   
   // 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
	$('.modal .glyphicon-remove').show();
    $('.modal .glyphicon-ok').hide();
    $('.modal .tips').text(msg).show();
    check[counter] = false;
}
	
// 设置input:radio选中元素的背景色，适用于有2个radio，都带有“value”属性，第一个value=1，第二个为0。
function radioBg(obj){	
	if(obj.val()==1){
		obj.next().removeClass("label-default").addClass("label-info");
	}else if(obj.val()==0){
		obj.parent().siblings('label').find('span').removeClass("label-info").addClass("label-default");
	}	

}

//设置input:checkbox元素的背景色
function checkboxBg(obj){
	//点击是选中上色，
	if(obj.prop('checked')){
		obj.next().addClass('label label-info');
	}else{
		//点击为非选中去掉颜色
		obj.next().removeClass('label label-info');
	}
}

<!--/ function -->
	
});
</script>


<script>

</script>
			