<!-- //editUsergroup.html -->
<form id="fmUsergroup" role="form" action="{$home}/admin/index/usergroupOprt" method="post">
	<input id="id" type="text" name="id" value="{$ugSet.id}" class="sr-only">
	<input type="text" name="oprt" value="" class="sr-only">
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-info"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;用户组信息</span></div>
		<div class="row myRow">		
		<div class="form-group has-feedback col-sm-6">
			
			<label class="control-label" for="usergroupName">用户组名<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
			<!-- // bootstrap实现矢量图在输入框开头 -->
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
						
				<input type="text" class="form-control inputCheck" id="usergroupName" name="usergroupName" value="{$ugSet.name}" placeholder="输入用户组名">
			</div>	
			<!-- // 配合jQuery 中的内容验证代码-->
			<span style="color:red;display: none;" class="spTips"></span>
      		<span style="display: none;margin-right:17px;"  class="spOk glyphicon glyphicon-ok form-control-feedback"></span>
			<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>		
		</div>
		
		<div class="form-group col-sm-6">
			<label for="usergroupDescription">用户组说明</label>
			<textarea rows="2" type="text" class="form-control" id="usergroupDescription" name="usergroupDescription" placeholder="简短说明用户组的作用">{$ugSet.description}</textarea>
				
		</div>
		
		</div>
	</div>
	<hr>
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-info"><span class="glyphicon glyphicon-alert"></span>&nbsp;用户组权限</span></div>
		
		<div id="checkBoxCom" class="row myRow">		
			<!-- //js中checkBoxCom的建模参考 -->
			<!-- <div class="form-group col-sm-6">	 -->
			<!-- <label for="authIss"><span class="text-info">【事务】</span>模块</label>	 -->
			<!-- <div id="authIss" style="border-bottom:solid 1px #ccc; padding:5px;"> -->
				<!-- {foreach name="$ugSet.authority" item="v" } -->
    			<!-- {if condition="( $v==1)"}  -->
				<!-- <label class="checkbox-inline"><input type="checkbox" name="authIss[]" value="{ $key}" checked><span class="spAuthKey">{ $key}</span></label> -->
				<!-- {else /}  -->
				<!-- <label class="checkbox-inline"><input type="checkbox" name="authIss[]" value="{ $key}"><span class="spAuthKey">{ $key}</span></label> -->
				<!-- {/if} -->
				<!-- {/foreach} -->
			<!-- </div> -->
			<!-- </div> -->
		</div>
		
	</div>
	<hr>			
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-default">
		<span class="glyphicon glyphicon-magnet"></span>&nbsp;用户组启用</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<span id="radioCom"></span>
			<!-- //js中radioCom的建模参考 -->
			<!-- <label class="radio-inline"> -->
      			<!-- <input type="radio" name="usergroupEn" value="1" checked><span class="label label-success">是</span> -->
    		<!-- </label> -->
    		<!-- <label class="radio-inline"> -->
      			<!-- <input type="radio" name="usergroupEn" value="0" ><span class="label label-default">否</span> -->
    		<!-- </label> -->
		</div>
	</div>	
	<hr>
	<div class="row myRow">	
		<div class="pull-right">	
			<button id="btnReset" type="reset" class="btn btn-primary btn-sm">重置</button>
				
			<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">取消</button>
		</div>
	</div>			
	</form>

	
<script>
var ugSet={$ugSet},
	oprt='{$oprt}',
	fm=$('#fmUsergroup');
console.log(ugSet);
//生成radio、checkbox组件。根据查询到的auth数据ugSet.authority，参照已定义的authEntProp变量
var buildRaChkCom=()=>{
	let inObj='',
		spObj='',
		labSet=[],
		divCom=[],
		enable=ugSet.enable,
		//循环计数器
		m=0,
		rCom='';
		//auth的hash数组（关联数组）
		ugAuth=ugSet.authority;
	console.log(ugAuth);
	//生成radio组件
	for(var i=0;i<2;i++){
		inObj=$('<input>').attr('type','radio').val(i).attr('name','usergroupEn');
		spObj=$('<span></span>').addClass('label label-default');
		i?spObj.text('是'):spObj.text('否');
		labSet[i]=$('<label></label>').addClass('control-label radio-inline').append(inObj,spObj);
	}
	if(enable){
		labSet[1].children('input').prop('checked',true);
		labSet[1].children('span').addClass('label-success');
		$('#radioCom').siblings('.label').addClass('label-info');
	}else{
		labSet[0].children('input').prop('checked',true);
	}
	$('#radioCom').append(labSet);
	
	//生成各项auth的checkbox组件，遍历hash数组：ugAuth
	//ent=='ass'...
	for(var ent in ugAuth){
 		let entObj=ugAuth[ent],
			authObj=entObj['auth'],
			sumAuth=0,
			//循环计数器
			i=0,
			dSet=[], 
			lSet=[],
		    //checkbox的父标签底色类型
			bgColor=(ent=='admin')?'bg-info':'bg-success',
			//checkbox相邻标签背景色
			labColor=(ent=='admin')?'label label-info':'label label-success';
		
		labSet=[];
		//遍历hash数组：authObj，
		//auth=='read'...
		for(var auth in authObj){
			let e=authObj[auth];
				
			inObj=$('<input>').attr({'type':'checkbox','name':ent+'[]'}).val(e.val).prop('checked',e.val);
			spObj=$('<span></span>').addClass('spAuthKey text-muted').text(e.chi);
			e.val?spObj.addClass(labColor):'';
			//是否选中
			<!-- e.val?inObj.attr('checked',true):inObj.attr('checked',false); -->
			sumAuth+=e.val;
			labSet[i]=$('<label></label>').addClass('checkbox-inline').append(inObj,spObj);
			//循环计数器
			i++;
		}
		
		lSet[m]=$('<label></label>').addClass('control-label ').html('【'+entObj.chi+'】模块&nbsp;').css({'padding':'1px','border-radius':'3px'});
		
		//根据checkbox为选中状态的数量添加标签底色
		sumAuth?lSet[m].addClass(bgColor):lSet[m].addClass('text-muted');
			
		dSet[m]=$('<div></div>').css({'border-bottom':'solid 1px #ccc','padding':'5px'}).append(labSet);
		
		divCom[m]=$('<div></div>').addClass('form-group has-feedback col-sm-6').data('authName',ent).append(lSet[m],dSet[m]);
		//循环计数器
		m++;	
		
	}
	
	console.table(divCom);
	console.log(m);
	$('#checkBoxCom').append(divCom);
	
	<!-- authEntArr.forEach(function(el,m){ -->
		<!-- let dSet=[], -->
			<!-- lSet=[], -->
			<!-- bgColor='', -->
			<!-- labColor='', -->
			<!-- sumAuth=0; -->
		<!-- if(authArr.indexOf(el.entEn)!=-1){ -->
			<!-- labSet=[]; -->
			<!-- el.auth.forEach(function(e,n){ -->
				<!-- inObj=$('<input>').attr('type','checkbox').val(e.val).attr('name',el.entEn+'[]'); -->
				<!-- //是否选中 -->
				<!-- e.val?inObj.attr('checked',true):inObj.attr('checked',false); -->
				<!-- sumAuth+=e.val; -->
				<!-- spObj=$('<span></span>').addClass('spAuthKey text-muted').text(e.chi); -->
				<!-- labSet[n]=$('<label></label>').addClass('checkbox-inline').append(inObj,spObj); -->
				<!-- //checkbox的标签背景色 -->
				<!-- el.entEn=='admin'?labColor='label label-info':labColor='label label-success'; -->
				<!-- inObj.prop('checked')?spObj.addClass(labColor):''; -->
			<!-- }); -->
			<!-- lSet[m]=$('<label></label>').addClass('control-label ').html('【'+el.entChi+'】模块&nbsp;').css({'padding':'1px','border-radius':'3px'}); -->
			<!-- //checkbox的标签底色类型 -->
			<!-- el.entEn=='admin'?bgColor='bg-info':bgColor='bg-success'; -->
			<!-- //根据checkbox为选中状态的数量添加标签底色 -->
			<!-- sumAuth?lSet[m].addClass(bgColor):lSet[m].addClass('text-muted'); -->
			
			<!-- dSet[m]=$('<div></div>').css({'border-bottom':'solid 1px #ccc','padding':'5px'}).append(labSet); -->
			
			<!-- divCom[m]=$('<div></div>').addClass('form-group has-feedback col-sm-6').data('authName',el.entEn).append(lSet[m],dSet[m]);	 -->
		<!-- } -->
	<!-- }); -->
	<!-- $('#checkBoxCom').append(divCom); -->
};

//完善操作按钮
var oprtBtnComShow=(oprt)=>{
	let refObj=$('#btnReset').closest('div'),
		uBtn='',
		oBtn='';
	let buildBtn=(oprt)=>{
			let e=oprtBtnProp[oprt],
				sBtn=$('<button></button>').addClass('btn btn-sm btnOprt').attr({'type':'submit','data-oprt':oprt});
			sBtn.addClass(e.color.btn).html(e.glyCom+e.chi);
			return sBtn;
		};
	switch(oprt){
		case '_CREATE':
			oBtn=buildBtn(oprt);
			break;
		case '_DELETE':
			uBtn=buildBtn('_UPDATE');
			oBtn=buildBtn(oprt);
			break;
		case '_EDIT':
			oBtn=buildBtn('_UPDATE');
			break;
	}		
	refObj.before(uBtn,'&nbsp;',oBtn);
};

//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){	
	
	fm.find('[name="oprt"]').val(oprt);
	fm.find('.myFieldset').css('border-width','0px');
	
	buildRaChkCom();
	oprtBtnComShow(oprt);
	
})(jQuery);

$(document).ready(function(){

	<!-- //usergroupName内容验证 -->
	$("#usergroupName").focusout(function(){
        if(regUserGroupName.test($(this).val())){
			//$(this)为本页面第0个输入框
			success($(this),0);	
		}else if ($(this).val().length < 3) {
        	if($(this).val()==''){
				fail($(this), 0, '用户组名不能为空。');
			}else{
				fail($(this), 0, '用户组名太短，不能少于3个字符。');
			}
		}
		else {
        	fail($(this), 0, '可由英文、数字、中文和下划线组成，但不能以数字开头。')
    	}
  	});
	
	//button:submit按钮
	$('button:submit').click(function(e){
		let url='usergroupOprt1',
			name=$('#usergroupName').val(),
			oprt=$(this).data('oprt'),
			elArr=oprtBtnPropArr,
			formData='',
			anchor=window.location.hash,
			dObj='',
			strHtml='',
			flag=check.every(function(val) {
            	return val == true
        	});
		
		//阻止表单提交动作
		e.preventDefault();
		fm.find('[name="oprt"]').val(oprt);
		formData=new FormData($('#fmUsergroup')[0]);
		console.log(check);
		<!-- console.table(formData); -->
		
		for(var i=0;i<elArr.length;i++){
			let e=elArr[i];
			if(oprt==e.oprtEn){
				strHtml='<p class="text-center" style="font-size:16px;">对用户组：<strong>'+name+'</strong></p><p class="text-center" style="font-size:16px;">进行【<span class="'+e.color.txt+'">'+e.glyCom+e.oprtChi+'</span>】</p>';
				break;
			}
		}
		if (!flag) {
			var i=0;
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        	for (key in check) {
            	if (!check[key]) {
                	$(this).closest('form').find('.inputCheck').eq(key).closest('.has-feedback').removeClass('has-success').addClass('has-error');
            	}
				if(i!=key)i=key;
        	}
			//未通过验证的序号最小的$('.inputCheck').eq(i)获得焦点
			$('.inputCheck').eq(i).focus();	
		}else{
			$('.modal').modal('hide');
			$.confirm(strHtml,function(e){
				con=e;
				if(true==con){
					ajaxProcess(url,formData,anchor);
				}
				else{
					$('.modal').modal('show');
				}
			}).ok('确定(Y)').cancel('取消(N)');		
			
		}
	});
	
	// 表单input:radio选中元素改变背景色
	$('input:radio').change(function(){
		radioBg($('input:radio[name="adminEn"]:checked'));
		radioBg($('input:radio[name="usergroupEn"]:checked'));
	});
	
	//checkbox背景色
	$('input:checkbox').click(function(){
		checkBoxBg($(this));
	});
	
	<!-- // 重置按钮 -->
	$('#btnReset').click(function(e){	
		e.preventDefault();
		//本按钮所在form进行reset
		$(this).closest('form').get(0).reset();
		radioBg($('input:radio[name="adminEn"]:checked'));
		radioBg($('input:radio[name="usergroupEn"]:checked'));
		$('input:checkbox').each(function(){
			checkBoxBg($(this));
		});
		$('.has-feedback').removeClass('has-success').removeClass('has-error'); 
		
		$('.spTips').hide();
    	$('.spOk').hide();
    	$('.spRemove').hide();
		
		$('.inputCheck').eq(0).focus();
		
		check = [false];
	});
});

<!-- function -->
// 正则表达式，由英文、数字、中文和下划线组成,但不能以数字开头,长度为3到20个字符。unicode编码中的汉字范围:\u2E80-\u9FFF
var regUserGroupName = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{2,19}$/;

// 数组，存储表单中输入框内容验证结果“true/false”。数组下标应与输入框下标一致，便于编程选择输入框
var check = [false];

	//校验成功函数
function success(obj, counter) {
    var divParent=obj.closest('.has-feedback');
	divParent.removeClass('has-error').addClass('has-success');
	divParent.find('.spTips').hide();
    divParent.find('.spOk').show();
    divParent.find('.spRemove').hide();
    check[counter] = true;
}

// 校验失败函数
function fail(obj, counter, msg) {
    var divParent=obj.closest('.has-feedback');
	divParent.removeClass('has-success').addClass('has-error');
	divParent.find('.spTips').text(msg).show();
    divParent.find('.spOk').hide();
    divParent.find('.spRemove').show();
    check[counter] = false;
}
	
//设置input:radio元素及其关联组件的背景色，适用于有2个radio
function radioBg(){	
	let rObj=$('#radioCom'),
		lObj=rObj.siblings('.label'),
		yR=rObj.find('[value="1"]');
	
	if(yR.prop('checked')==true){
		yR.next().addClass('label-success');
		lObj.addClass('label-info');
	}else{
		yR.next().removeClass('label-success');
		lObj.removeClass('label-info');
	}
}

//设置input:checkbox元素及其关联组件的背景色
function checkBoxBg(obj){
	let rObj=obj.closest('div').parent(),
		lObj=rObj.children('label');
		authName=rObj.data('authName'),
		bgColor='bg-success',
		labColor='label label-success',
		ckSum=0;
	
	if(authName=='admin'){
		bgColor='bg-info';
		labColor='label label-info';
	}
	//本按钮的label是否上色
	obj.prop('checked')?obj.next().addClass(labColor):obj.next().removeClass(labColor);
	//本按钮所在rObj下选中按钮的个数
	rObj.find('input').each(function(){
		ckSum+=$(this).prop('checked')?1:0;
	});
	//本按钮所在rObj的label是否上色
	ckSum?lObj.addClass(bgColor):lObj.removeClass(bgColor);
	//本按钮所在rObj的label是否变淡
	ckSum?lObj.removeClass('text-muted'):lObj.addClass('text-muted');
}


<!--// function -->


</script>


<script>

</script>
			