<!-- //fmUgergroupSingl.html -->
<form id="fmUsergroup" role="form" action="" method="post">
	<input id="id" type="text" name="id" value="{$ugSet.id}" class="sr-only">
	<input type="text" name="oprt" value="" class="sr-only">
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-info"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;用户组信息</span></div>
		<div class="row myRow">		
		<div class="form-group has-feedback col-sm-6">
			
			<label class="control-label" for="usergroupName">用户组名<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
			<!-- // bootstrap实现矢量图在输入框开头 -->
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
						
				<input type="text" class="form-control inputCheck" name="usergroupName" value="{$ugSet.name}" placeholder="输入用户组名">
			</div>	
			<!-- // 配合jQuery 中的内容验证代码-->
			<span style="color:red;display: none;" class="spTips"></span>
      		<span style="display: none;margin-right:17px;"  class="spOk glyphicon glyphicon-ok form-control-feedback"></span>
			<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>		
		</div>
		
		<div class="form-group col-sm-6">
			<label for="usergroupDescription">用户组说明</label>
			<textarea rows="2" type="text" class="form-control" id="usergroupDescription" name="usergroupDescription" placeholder="简短说明用户组的作用">{$ugSet.description}</textarea>
				
		</div>
		
		</div>
	</div>
	<hr>
	<div class="myFieldset">
		<div class="myLegend has-feedback"><span><span class="glyphicon glyphicon-alert"></span>&nbsp;用户组权限</span><input type="text" class="form-control inputCheck sr-only" name="checkBoxNum" value="" ></div>
		<span style="color:red;display: none;" class="spTips"></span>
		
		<div id="checkBoxCom" class="row myRow">		
			<!-- //js中checkBoxCom的建模参考 -->
			<!-- <div class="form-group col-sm-6">	 -->
			<!-- <label for="authIss"><span class="text-info">【事务】</span>模块</label>	 -->
			<!-- <div id="authIss" style="border-bottom:solid 1px #ccc; padding:5px;"> -->
				<!-- {foreach name="$ugSet.authority" item="v" } -->
    			<!-- {if condition="( $v==1)"}  -->
				<!-- <label class="checkbox-inline"><input type="checkbox" name="authIss[]" value="{ $key}" checked><span class="spAuthKey">{ $key}</span></label> -->
				<!-- {else /}  -->
				<!-- <label class="checkbox-inline"><input type="checkbox" name="authIss[]" value="{ $key}"><span class="spAuthKey">{ $key}</span></label> -->
				<!-- {/if} -->
				<!-- {/foreach} -->
			<!-- </div> -->
			<!-- </div> -->
		</div>
		
	</div>
	<hr>			
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-default">
		<span class="glyphicon glyphicon-magnet"></span>&nbsp;用户组启用</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<span id="radioCom"></span>
			<!-- //js中radioCom的建模参考 -->
			<!-- <label class="radio-inline"> -->
      			<!-- <input type="radio" name="usergroupEn" value="1" checked><span class="label label-success">是</span> -->
    		<!-- </label> -->
    		<!-- <label class="radio-inline"> -->
      			<!-- <input type="radio" name="usergroupEn" value="0" ><span class="label label-default">否</span> -->
    		<!-- </label> -->
		</div>
	</div>	
	<hr>
	<div class="row myRow">	
		<div class="pull-right">	
			<input type="reset" class="btn btn-primary btn-sm" value="重置">
			<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
		</div>
	</div>			
	</form>

	
<script>
var ugSet={$ugSet},
	oprt='{$oprt}',
	fm=$('#fmUsergroup');

var checkBoxNum=()=>{
	let inObj=fm.find('[name="checkBoxNum"]'),
		num=inObj.val(),
		spObj=inObj.prev(),
		spTip=inObj.closest('div').next('span'),
		lab=(num!=0)?'label label-info':'label label-default';
	
	spObj.addClass(lab);	
	(num!=0)?spTip.hide():spTip.text('请添加用户组权限').show();
	return num;
	
};
	
<!-- console.log(ugSet); -->
//生成radio、checkbox组件。根据查询到的auth数据ugSet.authority，参照已定义的authEntProp变量
var buildRaChkCom=(ugSet)=>{
	let inObj='',
		spObj='',
		spHelp=$('<span></span>').addClass('help-block').css('color','red'),
		labSet=[],
		divCom=[],
		rCom='',
		enable=ugSet.enable,
		//循环计数器
		m=0,
		//divCom的总数
		divSum=0,
		//auth的hash数组（关联数组）
		ugAuth=ugSet.authority;
	<!-- console.log(ugAuth); -->
	//生成radio组件
	for(var i=0;i<2;i++){
		inObj=$('<input>').attr('type','radio').val(i).attr('name','usergroupEn');
		spObj=$('<span></span>').addClass('label label-default');
		i?spObj.text('是'):spObj.text('否');
		labSet[i]=$('<label></label>').addClass('control-label radio-inline').append(inObj,spObj);
	}
	if(enable){
		labSet[1].children('input').prop('checked',true);
		labSet[1].children('span').addClass('label-success');
		$('#radioCom').siblings('.label').addClass('label-info');
	}else{
		labSet[0].children('input').prop('checked',true);
	}
	$('#radioCom').append(labSet);
	
	//生成各项auth的checkbox组件，遍历hash数组：ugAuth
	//ent=='admin'...
	for(var ent in ugAuth){
 		let entObj=ugAuth[ent],
			authObj=entObj['auth'],
			sumAuth=0,
			//循环计数器
			i=0,
			dSet=[], 
			lSet=[],
		    //checkbox的父标签底色类型
			bgColor=(ent=='admin')?'bg-info':'bg-success',
			//checkbox相邻标签背景色
			labColor=(ent=='admin')?'label label-info':'label label-success';
		
		labSet=[];
		//遍历hash数组：authObj，
		//auth=='read'...
		for(var auth in authObj){
			let e=authObj[auth];
				
			inObj=$('<input>').attr({'type':'checkbox','name':'auth'+'['+ent+']'+'['+auth+']'}).val(e.val).prop('checked',e.val);
			spObj=$('<span></span>').addClass('spAuthKey text-muted').text(e.chi);
			e.val?spObj.addClass(labColor):'';
			labSet[i]=$('<label></label>').addClass('checkbox-inline').append(inObj,spObj);
			//循环计数器
			i++;
			sumAuth+=e.val*1;
		}
		
		lSet[m]=$('<label></label>').addClass('control-label ').html('【'+entObj.chi+'】模块&nbsp;').css({'padding':'1px','border-radius':'3px'});
		
		//根据checkbox为选中状态的数量添加标签底色
		sumAuth?lSet[m].addClass(bgColor):lSet[m].addClass('text-muted');
			
		dSet[m]=$('<div></div>').css({'border-bottom':'solid 1px #ccc','padding':'5px'}).append(labSet);
		
		divCom[m]=$('<div></div>').addClass('form-group has-feedback col-sm-6').data('authName',ent).append(lSet[m],dSet[m]);
		//循环计数器
		m++;
		//checkbox为选中状态的总数
		divSum+=sumAuth*1;	
	}
	
	fm.find('[name="checkBoxNum"]').val(divSum);
	<!-- console.log(divSum); -->
	//根据checkbox为选中状态的数量添加标签底色
	checkBoxNum();
	
	$('#checkBoxCom').append(divCom);
};

//完善操作按钮
var oprtBtnComShow=(oprt)=>{
	let refObj=fm.find('input:reset').closest('div'),
		uBtn='',
		oBtn='';
	let buildBtn=(oprt)=>{
			let e=oprtBtnProp[oprt],
				sBtn=$('<button></button>').addClass('btn btn-sm btnOprt').attr({'type':'submit','data-oprt':oprt});
			sBtn.addClass(e.color.btn).html(e.glyCom+e.chi);
			return sBtn;
		};
	switch(oprt){
		case '_CREATE':
			oBtn=buildBtn(oprt);
			break;
		case '_DELETE':
			uBtn=buildBtn('_UPDATE');
			oBtn=buildBtn(oprt);
			break;
		case '_EDIT':
			oBtn=buildBtn('_UPDATE');
			break;
	}		
	refObj.before(uBtn,'&nbsp;',oBtn);
};
//设置input:radio元素及其关联组件的背景色，适用于有2个radio
var radioBg=()=>{	
	let rObj=$('#radioCom'),
		lObj=rObj.siblings('.label'),
		yR=rObj.find('[value="1"]'),
		labS='label-success',
		labI='label-info';
	
	if(yR.prop('checked')==true){
		yR.next().addClass(labS);
		lObj.addClass(labI);
	}else{
		yR.next().removeClass(labS);
		lObj.removeClass(labI);
	}
};
//设置input:checkbox元素及其关联组件的背景色
var checkBoxBg=(obj)=>{
	let rObj=obj.closest('div').parent('.col-sm-6'),
		lObj=rObj.children('label');
		authName=rObj.data('authName'),
		bgColor='bg-success',
		labColor='label label-success',
		ckSum=0;
	
	if(authName=='admin'){
		bgColor='bg-info';
		labColor='label label-info';
	}
	//本按钮的label是否上色，改变值
	obj.prop('checked')?obj.val(1).next().addClass(labColor):obj.val(0).next().removeClass(labColor);
	
	//本按钮所在rObj下选中按钮的个数
	rObj.find('input').each(function(){
		ckSum+=$(this).prop('checked')?1:0;
	});
	//本按钮所在rObj的label是否上色
	ckSum?lObj.addClass(bgColor):lObj.removeClass(bgColor);
	//本按钮所在rObj的label是否变淡
	ckSum?lObj.removeClass('text-muted'):lObj.addClass('text-muted');
	
	checkBoxNum();
};


//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){	
	
	fm.find('[name="oprt"]').val(oprt);
	fm.find('.myFieldset').css('border-width','0px');
	buildRaChkCom(ugSet);
	oprtBtnComShow(oprt);
	
})(jQuery);

$(document).ready(function(){
// 初始化数组，存储表单中输入框（class="inputCheck"）d内容验证结果“true/false”。数组下标应与输入框下标一致，便于编程选择输入框
	var check = Array(fm.find('.inputCheck').length).fill(false);
	console.log(check);
	<!-- //usergroupName内容验证 -->
	fm.find('[name="usergroupName"]').focusout(function(){
        let url='usergroupOprt1',
			oprt='_READ',
			name=$(this).val(),
			cbFn=(txt)=>{
				return inputValid($(this),txt);
			};
		fm.find('[name="oprt"]').val(oprt);
		
		formData=new FormData();
		formData.append('id',fm.find('[name="id"]').val());
		formData.append('usergroupName',name);
		formData.append('oprt',oprt);
		//检查新增用户组名是否唯一
		ajaxUgoprt(url,formData,cbFn);

  	});
	// 表单input:radio选中元素改变背景色
	fm.find('input:radio').change(function(){
		radioBg();
	});
	
	//checkbox背景色
	fm.find('input:checkbox').click(function(){
		checkBoxBg($(this));		
	});
	
	//表单提交按钮按下时修改oprt
	fm.find('button:submit').click(function(){
		oprt=$(this).data('oprt');
		fm.find('[name="oprt"]').val(oprt);
		
	});
	//表单提交
	fm.submit(function(evt){
		let url='usergroupOprt1',
			name=$(this).find('[name="usergroupName"]').val(),
			el=oprtBtnProp[$(this).find('[name="oprt"]').val()],
			formData=new FormData($(this)[0]),
			<!-- formData=$(this).sierilize(), -->
			strHtml='<p class="text-center" style="font-size:16px;">对用户组：<strong>'+name+'</strong></p><p class="text-center" style="font-size:16px;">进行【<span class="'+el.color.txt+'">'+el.glyCom+el.chi+'</span>】</p>',
			flag=check.every(function(val) {
            	return val == true
        	});
		//阻止表单提交动作
		evt.preventDefault();
		console.log(check);
		if (!flag) {
			let i=0;
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        	for (key in check) {
            	if (!check[key]) {
                	$(this).find('.inputCheck').eq(key).closest('.has-feedback').removeClass('has-success has-error').addClass('has-error');
            	}
				if(i!=key)i=key;
        	}
			//未通过验证的序号最小的$('.inputCheck').eq(i)获得焦点
			$('.inputCheck').eq(i).focus();	
		}else{
			$('.modal').modal('hide');
			$.confirm(strHtml,function(e){
				con=e;
				if(true==con){
					ajaxUgoprt(url,formData);
				}
				else{
					$('.modal').modal('show');
				}
			}).ok('确定(Y)').cancel('取消(N)');		
		}
	});
	
	<!-- // 表单重置 -->
	//表单重置时附加的操作
	fm.find('input:reset').click(function(e){	
		e.preventDefault();
		//本按钮所在form进行reset
		fm[0].reset();
		fm.find('input:radio[value="1"]').prop('checked',1);
		radioBg();
		fm.find('input:checkbox').each(function(){
			checkBoxBg($(this));
		});
		fm.find('.has-feedback').removeClass('has-success has-error').children('span').hide(); 
				
		fm.find('[name="usergroupName"]').focus();
		
		check = [false];
	});
	
<!-- function -->

//校验成功函数
function success(obj, counter) {
    var pObj=obj.closest('.has-feedback');
	pObj.removeClass('has-error').addClass('has-success');
	pObj.children('span').hide();
    pObj.find('.spOk').show();
    check[counter] = true;
}

// 校验失败函数
function fail(obj, counter, msg='') {
    let pObj=obj.closest('.has-feedback');
	
	pObj.removeClass('has-success has-error').addClass('has-error');
	pObj.children('span').hide();
	pObj.find('.spTips').text(msg).show();
    pObj.find('.spRemove').show();
    check[counter] = false;
}

//输入有效性检查
function inputValid(inObj,txt=''){
	// 正则表达式，由英文、数字、中文和下划线组成,但不能以数字开头,长度为3到20个字符。unicode编码中的汉字范围:\u2E80-\u9FFF
	let nameVal= inObj.val(),
		num='',
		inSet=fm.find('.inputCheck'),
		index='',
		regVal='',
		regUserGroupName = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{2,19}$/;
	
	//inObj在inSet中的序号
	for(var i=0;i<inSet.length;i++){
		if(inObj.attr('name')==inSet.eq(i).attr('name')){
			index=i;
			regVal=inObj.attr('name');
			break;
		}
	}
			
	switch(regVal){
		case 'usergroupName':
			regVal=regUserGroupName;
			//[name="usergroupName"]的输入框	
			if(txt!=''){
				return fail(inObj,index,txt);
			}
			if(regVal.test(nameVal)){
				return success(inObj,index);	
			}
			if(nameVal.length < 3){
				if(nameVal==''){
					txt='用户组名不能为空。';
				}else{
					txt='用户组名太短，不能少于3个字符。';
				}
			}else{
				txt='可由英文、数字、中文和下划线组成，但不能以数字开头。';
			}
			return fail(inObj,index,txt);
			break;
		case 'checkBoxNum':
			num=checkBoxNum();
			console.log(num);
			num==0?fail(inObj,index,'请添加用户组权限'):success(inObj,index);
			break;
	}
	
	
}

function ajaxUgoprt(url,data,cbFn){
	let name=fm.find('[name="usergroupName"]').val(),
		el=oprtBtnProp[fm.find('[name="oprt"]').val()];
		
	$.ajax({
		type: 'post',
        url: url,
        data: data,
		timeout:2000,
		<!-- datatype: 'JSON', -->
        contentType: false,// 当有文件要上传时，此项是必须的，否则会导致后台无法识别文件流的起始位置
        processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)。当使用FormData()，必须设为false，否则jqurey默认将FormData()转换为查询字符串。
		success: function(res){
			let msg=res.result?'<span class="alert-success">&nbsp;'+res.msg+'&nbsp;</span>':'<span class="text-muted">&nbsp;'+res.msg+'&nbsp;</span>',
				strHtml='<p class="text-center" style="font-size:16px;">对用户组：<strong>'+name+'</strong></p><p class="text-center" style="font-size:16px;">进行【<span class="'+el.color.txt+'">'+el.glyCom+el.chi+'</span>】<br/>结果：'+msg+'</p>';
			<!-- console.log(res); -->
			if(res.oprt!='_READ'){
				//向$('#divLoadParam')汇集
				$('#divLoadParam').data('showId',res.data.id);
				buildRaChkCom(res.data);
				
				//更新表格
				//调用index.html中的loadTplFile()
				loadTplFile();
				$.alert(strHtml);
			}else{
				//调用回调函数处理
				res.result?cbFn(res.msg):cbFn();	
			}
			inputValid(fm.find('[name="checkBoxNum"]'));
			
		},
		error: function(){
			$.alert('与服务器通讯超时，请稍后再试！');
		}
	});	
}
<!--// function -->
});
</script>

			