<!-- //fmUgergroupSingl.html -->
<form id="fmUser1" role="form" action="" method="post">
	<div class="sr-only">
		<input name="id" value="{$userSet.id}">
		<input name="oprt" value="{$oprt}">
	</div>
	<div class="myFieldset">
		<div class="myLegend"><span class="label label-info"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;用户信息</span></div>
		<div id="formGroupCom" class="row myRow">
			
		</div>
		<hr>
		<br/>
		<div class="myLegend"><span class="label label-default">
			<span class="glyphicon glyphicon-magnet"></span>&nbsp;用户启用</span>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<span id="radioCom"></span>
			<!-- //js中radioCom的建模参考 -->
			<!-- <label class="radio-inline"> -->
      			<!-- <input type="radio" name="usergroupEn" value="1" checked><span class="label label-success">是</span> -->
    		<!-- </label> -->
    		<!-- <label class="radio-inline"> -->
      			<!-- <input type="radio" name="usergroupEn" value="0" ><span class="label label-default">否</span> -->
    		<!-- </label> -->
		</div>
		<hr>
	
		<div class="row">	
			<div id="oprtBtnCom" class="col-sm-6 text-left"></div>
			<div class="col-sm-6 text-right">
				<input type="reset" class="btn btn-primary btn-sm" value="重置">
				<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
			</div>
		</div>			
	</div>
	</form>

	
<script>
var userSet={$userSet},
	oprt='{$oprt}',
	fm=$('#fmUser1');
<!-- console.log(typeof userSet['allDept']); -->

//生成radio组件。
var buildRaCom=(node)=>{
	let labSet=[],
		spHelp=$('<span></span>').addClass('help-block').css('color','red');
	node.empty();	
	//生成radio组件
	for(var i=0;i<2;i++){
		let inObj=$('<input>').attr({type:'radio',name:'userEn',value:i}),
			spObj=$('<span></span>').addClass('label label-default');		
		i?spObj.text('是'):spObj.text('否');
		labSet[i]=$('<label></label>').addClass('control-label radio-inline').append(inObj,spObj);
	}
	if(userSet.enable){
		labSet[1].children('input').attr('checked',true);
		labSet[1].children('span').addClass('label-success');
		$('#radioCom').siblings('.label').addClass('label-info');
	}else{
		labSet[0].children('input').attr('checked',true);
	}
	node.append(labSet);
};
//完善操作按钮
var oprtBtnComShow=(node,oprt)=>{
	let uBtn='',
		oBtn='';
	let buildBtn=(oprt)=>{
			let e=oprtBtnProp[oprt],
				sBtn=$('<button></button>').addClass('btn btn-sm btnOprt').attr({'type':'submit','data-oprt':oprt});
			sBtn.addClass(e.color.btn).html(e.glyCom+e.chi);
			return sBtn;
		};
	node.empty();
	switch(oprt){
		case '_CREATE':
			oBtn=buildBtn(oprt);
			break;
		case '_DELETE':
			uBtn=buildBtn('_UPDATE');
			oBtn=buildBtn(oprt);
			break;
		case '_EDIT':
			oBtn=buildBtn('_UPDATE');
			break;
	}		
	node.append(uBtn,'&nbsp;',oBtn);
};
//设置input:radio元素及其关联组件的背景色，适用于有2个radio
var radioBg=(node)=>{	
	let lObj=node.siblings('.label'),
		yR=node.find('[value="1"]'),
		labS='label-success',
		labI='label-info';
	
	if(yR.prop('checked')==true){
		yR.next().addClass(labS);
		lObj.addClass(labI);
	}else{
		yR.next().removeClass(labS);
		lObj.removeClass(labI);
	}
};

var	buildFormGroupCom=(node)=>{
	let glyRisk='<span class="glyphicon glyphicon-asterisk"></span>',
		//与后端传送的字段名保持一致
		formGoupComProp={
			//r1
			username:{rCss:'has-feedback',c1CColor:'text-danger',c1CGly:glyRisk,c1CTxt:'',c1Txt:'用户名',c2C1Gly:'<span class="glyphicon glyphicon-user"></span>',c2C2Type:'input',c2C2Css:'inputCheck',c2C2Attr:{'name':'username','value':'','placeholder':'输入用户名','type':'text'}},
			//r2
			pwd:{rCss:'',c1CColor:'text-danger',c1CGly:'',c1CTxt:'（用户需登录后自己修改）',c1Txt:'登录密码',c2C1Gly:'<span class="glyphicon glyphicon-th-large"></span>',c2C2Type:'input',c2C2Css:'',c2C2Attr:{'placeholder':'系统默认为‘111111a’','value':'','readonly':true}},
			//r3
			mobile:{rCss:'has-feedback',c1CColor:'text-danger',c1CGly:glyRisk,c1CTxt:'',c1Txt:'手机号',c2C1Gly:'<span class="glyphicon glyphicon-phone"></span>',c2C2Type:'input',c2C2Css:'inputCheck',c2C2Attr:{'name':'mobile','value':'','placeholder':'输入用户手机号','type':'text'}},
			//r4
			dept:{rCss:'has-feedback',c1CColor:'text-danger',c1CGly:glyRisk,c1CTxt:'（单选）',c1Txt:'选择部门',c2C1Gly:'<span class="glyphicon glyphicon-tree-conifer"></span>',c2C2Type:'select',c2C2Css:'inputCheck',c2C2Attr:{'name':'dept'}},
			//r5
			toJoinGroup:{rCss:'',c1CColor:'text-primary',c1CGly:'',c1CTxt:'（单击加入）',c1Txt:'可加入用户组',c2C1Gly:'<span class="glyphicon glyphicon-plus"></span>',c2C2Type:'select',c2C2Css:'',c2C2Attr:{'name':'toJoinGroup'}},
			//r6
			joinedGroup:{rCss:'has-feedback',c1CColor:'text-danger',c1CGly:glyRisk,c1CTxt:'（单击退出）',c1Txt:'已加入用户组',c2C1Gly:'<span class="glyphicon glyphicon-education"></span>',c2C2Type:'select',c2C2Css:'inputCheck',c2C2Attr:{'name':'joinedGroup'}}
		},
		//计数器
		m=0
		formDiv=[],
		rowDiv=[];

	for(var ent in formGoupComProp){
		let e=formGoupComProp[ent],
			valBe=userSet[ent],
			rObj=$('<div></div>').addClass('form-group col-sm-6 '+e.rCss),
			c1C=$('<span></span>').addClass('small '+e.c1CColor).append(e.c1CGly,e.c1CTxt),
			c1=$('<label></label>').addClass('control-label'),
			c2C1=$('<span></span>').addClass('input-group-addon').append(e.c2C1Gly),
			sel=$('<select></select>').addClass('form-control'),
			inp=$('<input/>').addClass('form-control'),
			c2C2='',
			c2=$('<div></div>').addClass('input-group'),
			//.inputCheck后添加span，配合jQuery中的内容验证代码
			c3='<span style="color:red;display:none;" class="spTips"></span><span style="display: none;margin-right:34px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span><span style="display: none;margin-right:34px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>';
		
		c1.append(e.c1Txt,c1C);

		if(e.c2C2Type=='input'){
			e.c2C2Attr.value=valBe;
			c2C2=inp.attr(e.c2C2Attr);
		}
	
		if(e.c2C2Type=='select'){
			//若ent=='dept'，组装select组件时，val是字符串，
			//要通过hash数组userSet.allDept来组装option。
			//不然val就是hash数组
			let selVal=0,
				arr=(ent=='dept')?userSet['allDept']:valBe;
			
			Object.entries(arr).forEach(function(v,k){
				//组装option
				sel.append($('<option></option>').val(v[0]).text(v[1]));
				
				if(ent=='dept' && valBe==v[1]){
					selVal=v[0];
				}
				
			});
			//设定选定项
			if(ent=='dept'){
				sel.val(selVal);
			}else{
				<!-- //计算总数，添加第一项总数项并设为选定项 -->
				<!-- sel.prepend($('<option></option>').val(0).text('...总数：'+sel.children().length).prop('selected',true)); -->
				//计算总数，添加第一项总数项并设为选定项
				sel.prepend($('<option></option>').val(0).text('...总数：'+sel.children().length).attr('selected',true));
			}
			c2C2=sel.attr(e.c2C2Attr);
		}

		c2.append(c2C1,c2C2.addClass(e.c2C2Css));
		
		(e.c2C2Css)?rObj.append(c1,c2,c3):rObj.append(c1,c2);
		
		formDiv[m]=rObj;
		m++;
	}
	if(oprt!='_CREATE'){
		formDiv[1].empty();
	}
	
	for(var i=0;i<formDiv.length;i++){
		//2个formDiv一组装入rowDiv中
		rowDiv[i]=$('<div></div>').addClass('row myRow').append(formDiv[i*2],formDiv[i*2+1]);
	}
	node.empty().append(rowDiv);
	
};
//相互关联的2个select的内容变化
var selOptionChange=(obj,ptObj)=>{
	let str='',num=0;
	//兼容multiple=1
	obj.find('option:selected').each(function(){
		if($(this).val()!=0){
			str+='<option value="'+$(this).val()+'">'+$(this).text()+'</option>';
			$(this).remove();
			num++;
		}
    });
	
	if(num){
		obj.find('option:first').text('...总数：'+(obj.children('option').length-1));
		//对partner的操作
		ptObj.append(str);
		ptObj.find('option:first').text('...总数：'+(ptObj.children('option').length-1));
	}
};

//自调用匿名函数立即执行的特点，进行页面初始化。
;(function($){	
	buildRaCom($('#radioCom'));
	oprtBtnComShow($('#oprtBtnCom'),oprt);	
	buildFormGroupCom($('#formGroupCom'));

	fm.find('.myFieldset').css('border-width','0px');
	<!-- initFm(); -->
})(jQuery);

$(document).ready(function(){
	
// 初始化数组，存储表单中输入框（class="inputCheck"）的内容验证结果“true/false”。数组下标应与输入框下标一致，便于编程选择输入框
	var check = Array(fm.find('.inputCheck').length).fill(false);
	<!-- //username内容验证 -->
	fm.find('[name="username"]').focusout(function(){
 		inputValid($(this));
  	});
	<!-- //mobile内容验证 -->
	fm.find('[name="mobile"]').focusout(function(){
        let url='userOprt1',
			oprt='_READ',
			mobile=$(this).val(),
			//定义回调函数
			cbFn=(txt)=>{
				return inputValid($(this),txt);
			};
		formData=new FormData();
		formData.append('id',fm.find('[name="id"]').val());
		formData.append('mobile',mobile);
		formData.append('oprt',oprt);
		//检查用户组名是否唯一
		ajaxUgoprt(url,formData,cbFn);

  	});
	<!-- //dept内容验证 -->
	fm.find('[name="dept"]').focusout(function(){
 		inputValid($(this));
  	});
	<!-- //joinedGroup内容验证 -->
	fm.find('[name="joinedGroup"]').focusout(function(){
 		inputValid($(this));
  	});
	//表单select,[name="toJoinGroup"]
	fm.find('[name="toJoinGroup"]').click(function(){
		selOptionChange($(this),fm.find('[name="joinedGroup"]'));
	});
	
	//表单select,[name="toJoinGroup"]
	fm.find('[name="joinedGroup"]').change(function(){
		selOptionChange($(this),fm.find('[name="toJoinGroup"]'));
	});
	
	// 表单input:radio选中元素改变背景色
	fm.find('input:radio').change(function(){
		radioBg($(this));
	});
	
	//checkbox背景色
	fm.find('input:checkbox').click(function(){
		checkBoxBg($(this));
	});
	
	//表单提交按钮按下时修改oprt
	fm.find('button:submit').click(function(){
		oprt=$(this).data('oprt');
		fm.find('[name="oprt"]').val(oprt);
		
	});
	//表单提交
	fm.submit(function(evt){
		let url='userOprt1',
			inSet=$(this).find('.inputCheck');
			name=$(this).find('[name="username"]').val(),
			el=oprtBtnProp[$(this).find('[name="oprt"]').val()],
			formData=new FormData($(this)[0]),
			<!-- formData=$(this).sierilize(), -->
			strHtml='<p class="text-center" style="font-size:16px;">对用户：<strong>'+name+'</strong></p><p class="text-center" style="font-size:16px;">进行【<span class="'+el.color.txt+'">'+el.glyCom+el.chi+'</span>】</p>',
			getJoinedGroupStr=()=>{
				let arr=[];
				$(this).find('[name="joinedGroup"]').children('option').each(function(index,e){
					(e.value==0)?'':arr.push(e.value);
				});
				
				return arr.sort(function(a,b){return a-b;}).join(',');
			};
		//阻止表单提交动作
		evt.preventDefault();
			
		//输入框有效性检查
		inSet.each(function(index){
			inputValid($(this));
		});
		
		//formData数据整理
		formData.delete('dept');
		formData.delete('joinedGroup');
		formData.append('dept',$(this).find('[name="dept"]').children('option:selected').text());
		formData.append('joinedGroup',getJoinedGroupStr());
		//有输入框为空的情况,后续语句不再执行。序号最小的$('.inputCheck').eq(i)获得焦点。
		if (!check.every(val=>{return val == true})){
			let arr=[];
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
			check.forEach(function(e,index){
				if(!e){
					arr.push(index);
					inSet.eq(index).closest('.has-feedback').removeClass('has-success has-error').addClass('has-error');
				}
			});
			//未通过验证的序号最小的$('.inputCheck').eq(i)获得焦点
			inSet.eq(Math.min.apply(null, arr)).focus();
			return;			
		}else{
			$('.modal').modal('hide');
			$.confirm(strHtml,function(e){
				e?ajaxUgoprt(url,formData):$('.modal').modal('show');
			}).ok('确定(Y)').cancel('取消(N)');		
		}
	});
	
	<!-- // 表单重置 -->
	//表单重置时附加的操作
	fm.find('input:reset').click(function(e){	
		e.preventDefault();
		check = Array(check.length).fill(false);
		//本按钮所在form进行reset
		fm[0].reset();
		//根据reset后的form状态，重新设定各项组件
		fm.find('.has-feedback').removeClass('has-success has-error').children('span').hide(); 
		radioBg($('#radioCom'));
		
		<!-- initFm(); -->
		fm.find('input.inputCheck').eq(0).focus();
		<!-- console.log(check); -->
	});
	
<!-- function -->
//输入有效性检查
function inputValid(inObj,txt=''){
	let tVal= inObj.val(),
		tName=inObj.attr('name'),
		inSet=fm.find('.inputCheck'),
		//userName正则表达式，由英文、数字、中文和下划线组成,但不能以数字开头,长度为2到20个字符。unicode编码中的汉字范围:\u2E80-\u9FFF
		regUsername = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{1,19}$/,
		//mobile正则表达式，11位数字。必须以1开头。
		regMobile = /^1[0-9]{10}$/;
	//定义检查结果函数
	let checkResult=(obj,msg='')=>{
		let pObj=obj.closest('.has-feedback'),
			inSet=fm.find('.inputCheck')
			index=0;
		//obj在inSet中的序号
		for(var i=0;i<inSet.length;i++){
			if(obj.attr('name')==inSet.eq(i).attr('name')){
				<!-- check[i] = false; -->
				index=i;
				break;
			}
		}

		pObj.removeClass('has-success has-error').children('span').hide();
		if(msg.length){
			//显示校验fail的msg
			pObj.addClass('has-error');
			pObj.find('.spTips').text(msg).show();
    		pObj.find('.spRemove').show();
			check[index]=false;			
		}else{
			//校验success
			pObj.addClass('has-success');
			pObj.find('.spOk').show();
			check[index]=true;
		}
	};
		
	<!-- console.log(); -->
	switch(tName){
		//检查[name="username"]的输入框	
		case 'username':
			if(txt!=''){
				return checkResult(inObj,txt);
			}
			if(regUsername.test(tVal)){
				return checkResult(inObj);	
			}
			if(tVal.length < 2){
				txt=(tVal=='')?'用户名不能为空。':'用户名太短，不能少于2个字符。';
			}else{
				txt='可由英文、数字、中文和下划线组成，但不能以数字开头。';
			}
			return checkResult(inObj,txt);
			break;
		//检查[name="mobile"]的输入框
		case 'mobile':
			if(txt!=''){
				return checkResult(inObj,txt);
			}
			if(regMobile.test(tVal)){
				return checkResult(inObj);	
			}
			if(tVal.length < 11){
				txt=(tVal=='')?'手机号不能为空。':'只有'+tVal.length+'位。手机号是11位数字，必须以1开头。';
			}else{
				txt='已有'+tVal.length+'位，但必须是以1开头的11位数字';
			}
			return checkResult(inObj,txt);			
			break;
		//检查[name="dept"]的输入框
		case 'dept':
			txt=(inObj.find('option:selected').length)?'':'请选择一个部门';
			return checkResult(inObj,txt);
			break;
		//检查[name="joinedGroup"]的输入框
		case 'joinedGroup':
			txt=(inObj.find('option:last').val()==0)?'至少加入一个用户组':'';
			return checkResult(inObj,txt);
			break;
	}
}

function ajaxUgoprt(url,data,cbFn){
	let name=fm.find('[name="username"]').val(),
		el=oprtBtnProp[fm.find('[name="oprt"]').val()];
		
	$.ajax({
		type: 'post',
        url: url,
        data: data,
		timeout:2000,
		<!-- datatype: 'JSON', -->
        contentType: false,// 当有文件要上传时，此项是必须的，否则会导致后台无法识别文件流的起始位置
        processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)。当使用FormData()，必须设为false，否则jqurey默认将FormData()转换为查询字符串。
		success: function(res){
			let msg=res.result?'<span class="alert-success">&nbsp;'+res.msg+'&nbsp;</span>':'<span class="text-muted">&nbsp;'+res.msg+'&nbsp;</span>',
				strHtml='<p class="text-center" style="font-size:16px;">对用户：<strong>'+name+'</strong></p><p class="text-center" style="font-size:16px;">进行【<span class="'+el.color.txt+'">'+el.glyCom+el.chi+'</span>】<br/>结果：'+msg+'</p>';
			<!-- console.log(res); -->
			if(res.oprt!='_READ'){
				//向$('#pageParam')汇集
				$('#pageParam').data('showId',res.data.id);
				<!-- buildRaChkCom(res.data); -->
				
				//更新表格
				//调用index.html中的loadTplFile()
				loadTplFile();
				$.alert(strHtml);
			}else{
				//调用回调函数处理
				res.result?cbFn(res.msg):cbFn();	
			}			
		},
		error: function(){
			$.alert('与服务器通讯超时，请稍后再试！');
		}
	});	
}
<!--// function -->
});

</script>
