<!DOCTYPE html>
<html>
<head>
	<title>系统管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
    {// TP5中的模板注释格式，单行。<!-- TP5的资源文件加载写法 -->内容不会出现在发送给浏览器的HTML文件中 }  
  {js href="/admin/res/js/jquery1.12.4.min.js" }
  {js href="/admin/res/js/bootstrap3.3.7.min.js" }
  {js href="/admin/res/js/alert.min.js" }
  {css href="/admin/res/css/bootstrap3.3.7.min.css" }
  {css href="/admin/res/css/style.css" }

{/*<!-- 实现nav固定在页面顶端效果的补充代码块,
同时还需设置nav的data-offset-top="-3"防止鼠标单击页面时出现跳动-->
*/}
<style>
.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    //padding-top: 50px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.sidenav {
    padding-top: 10px;
	height: 100%;
    width: 0px;
    position: fixed;
    z-index: 0;
    top: 50px;
    left: 0;
	border:1px solid #e3e3e3;
    background-color: #f5f5f5;
    //background-color: #f2f2f2;
    overflow: hidden;
    transition: 0.5s;
}

.sidenav.sidenav-show{
    width: 200px;
}

#divContainer {
    padding-top: 55px;
	margin-left:0px;
	position: relative;
	//z-index: 0;
	transition: margin-left 0.5s;
}

#divContainer.sidenav-show{
	margin-left:200px;
}

.sidenav-backdrop {
	z-index: 0;
}

footer {
	//border:1px solid #e3e3e3;
	background-color:#f5f5f5; 
	position: fixed;
	/* 确保footer遮盖了分页显示*/
	z-index: 9;
	bottom:0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
  
}

@media screen and (max-width: 767px) {
.sidenav.sidenav-show {
	/* 确保遮盖footer*/
	z-index: 20;
	height: 70%;
	border-radius: 3px;
	box-shadow:0px 0px 5px 2px #aaa;
	background-color:#ffffff;
}

#divContainer.sidenav-show {
	margin-left:0px;
}

.sidenav-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
}
.sidenav a {font-size: 16px;}

footer {
	position: relative;
	background-color:#ffffff;
	border-top:1px solid #e3e3e3;
}

}
  </style>
  
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="-3">
  <div class="container-fluid">
    <div class="navbar-header" >
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
		</button>
		
      <a class="navbar-brand"><strong>IPMS</strong>系统管理</a>
	
    </div>
	
	<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav navbar-right">
		
        <li><a>欢迎：<span class="glyphicon glyphicon-user"></span>【{$username}】</a></li>	
        <li id="liQuit"><a href="{$home}/admin/index/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;退出</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- pagewrap  -->
<div id="mySidenav" class="sidenav">
	<div style="height:30px;border-bottom:1px solid #e3e3e3;"><button id="closeBtn" type="button" class="btn btn-link btn-lg pull-right" style="padding:0px 10px 0px 0px;"><span class="glyphicon glyphicon-chevron-left"></span><span style="font-size:16px;">隐藏</span></button>
	</div>
		
	<!-- //nav 与 jQuery结合实现菜单栏导航效果-->
	<ul class="nav nav-pills nav-stacked" >
		<li class="active"><a class="aTab" href="#sysSummary"><span class="glyphicon glyphicon-inbox"></span>&nbsp;系统概况</a></li>
				
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;系统用户<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li class="text-right"><a class="aTab" href="#sysUser">用户&nbsp;<span class="glyphicon glyphicon-file"></span></a></li>
				<li class="text-right"><a class="aTab" href="#sysUsergroup">用户组&nbsp;<span class="glyphicon glyphicon-duplicate"></span></a></li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;系统用户管理<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li class="text-right"><a class="aTab" href="#userList">用户管理&nbsp;<span class="glyphicon glyphicon-file"></span></a></li>
				<li class="text-right"><a class="aTab" href="#usergroupList">用户组管理&nbsp;<span class="glyphicon glyphicon-duplicate"></span></a></li>
			</ul>
		</li>
				
		<li><a class="aTab" href="#sysSetting"><span class="glyphicon glyphicon-wrench"></span>&nbsp;系统设置</a></li>
	</ul>
</div>

<div id="divContainer" class="container-fluid">
	
  	<button id="openBtn" type="button" class="btn btn-link btn-lg" style="padding:0;"><span class="glyphicon glyphicon-chevron-right"></span><span style="font-size:16px;">显示</span></button>
  	
	<div id="divLoadParam" data-list-rows="{$loadParam.listRows}" data-page-num="{$loadParam.pageNum}" data-show-id="{$loadParam.showId}" class="sr-only"></div>
	
  	<div id="content" style="padding-top:5px;"><p class="text-center" style="font-size:28px;">加载中……</p></div>
	
</div>

<footer>
    <div class="text-center">
		<p style="margin-top:10px;">Powered by HY Copyright © {$year-1}-{$year}。推荐使用<a href="#">Chrome</a>、<a href="#">Firefox</a>浏览器<br>广州市光机电技术研究院（GZOME）. All rights reserved</p>
	</div>
</footer>
		

<!-- //pagewrap  -->


<script>
//主要操作按钮核心属性
var oprtBtnProp={
	'_CREATE':{chi:'新增',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'_EDIT':{chi:'编辑',color:{lab:'label label-primary',txt:'text-primary',btn:'btn-primary'},glyCom:'<span class="glyphicon glyphicon-edit"></span>'},
	'_UPDATE':{chi:'保存',color:{lab:'label label-primary',txt:'text-primary',btn:'btn-primary'},glyCom:'<span class="glyphicon glyphicon-saved"></span>'},
	'_DELETE':{chi:'删除',color:{lab:'label label-danger',txt:'text-danger',btn:'btn-danger'},glyCom:'<span class="glyphicon glyphicon-remove"></span>'},
	'_DISABLE':{chi:'禁用',color:{lab:'label label-warning',txt:'text-warning',btn:'btn-warning'},glyCom:'<span class="glyphicon glyphicon-ban-circle"></span>'},
	'_ENABLE':{chi:'启用',color:{lab:'label label-success',txt:'text-success',btn:'btn-success'},glyCom:'<span class="glyphicon glyphicon-magnet"></span>'}
};
		
//权限模块核心属性
var authEntProp={
	'ass':{chi:'固定资产',color:{bg:'bg-default',txt:'text-default',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'att':{chi:'附件',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'iss-pat':{chi:'专利事务',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'iss-pro':{chi:'项目事务',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'iss-the':{chi:'论文事务',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'pat':{chi:'专利',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'pro':{chi:'项目',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'the':{chi:'论文',color:{lab:'label label-info',txt:'text-info',btn:'btn-info'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'},
	'admin':{chi:'后台管理',color:{bg:'bg-danger',txt:'text-danger'},glyCom:'<span class="glyphicon glyphicon-duplicate"></span>'}
};

//spSet对象的span内容格式修改，后续通过$.load的页面使用
var spComModify=(spSet)=>{
	//递归函数得到中文名称
	let getNameChi=(keyStr,obj)=>{
			let k='',v='',arr=[];
			if(keyStr.indexOf('-')>0){
				arr=keyStr.split('-');
			}
			if(arr.length){
				k=arr.shift();
				keyStr=arr.join('-');
				v=getNameChi(keyStr,obj[k]);
			}else{
				v=obj[keyStr];
			}
			return v;
		};
	spSet.each(function(){
		let text=$(this).text(),
			prefA=$(this).closest('td').data('hideVal'),
			prefB='',
			pref=prefA.length?prefA+'-':prefB+'-';
		
		//将span的text转换成中文，格式修改	
		if(text==0){
			$(this).text('无').addClass('label label-default').css('padding-bottom','2px');
		}else{
			$(this).text(getNameChi(pref+text,authNameObj));
			//span的格式修改
			if($(this).data('val')){
				$(this).addClass('label label-success').css('padding-bottom','2px');
			}else{
				$(this).addClass('text-muted');
			}	
		}
	});
};

var showSideNavbar=(y)=>{
	if(y){
		//show
		$('#openBtn').hide();
		$('#mySidenav').addClass('sidenav-show');
		$('#divContainer').addClass('sidenav-show');
		//添加div组件及其click事件函数，实现点击该组件就隐藏sideNave，还需结合sidenav-backdrop的css属性实现与sideNave的分层
		$('body').append($('<div></div>').addClass('sidenav-backdrop').click(function(){
    		showSideNavbar(false);
		}));
	}else{
		$('#openBtn').show();
		$('#mySidenav').removeClass('sidenav-show');
		$('#divContainer').removeClass('sidenav-show');	
		$('div.sidenav-backdrop').remove();		
	}
};

// 作用：提交锚点值给后端，由后端返回需加载的页面文件
var loadTplFile=()=>{
	let sId=window.location.hash,
		aObj='',
		obj=$('#divLoadParam'),
		loadParamDefault={
		'listRows':obj.data('listRows'),
		'pageNum':obj.data('pageNum'),
		'showId':obj.data('showId')
		};
	//load参数都从$('#divLoadParam')获取
	let loadParam={
		'listRows':obj.data('listRows'),
		'pageNum':obj.data('pageNum'),
		'showId':obj.data('showId')
		},
		url=(sId=='#usergroupList')?'usergroupList':'tplFile';
	sId=(null==sId || sId=='#undefined')?'#sysSummary':sId;
	aObj=$('a.aTab[href="'+sId+'"]');
	aObj.tab('show');
	loadParam=$.extend({},loadParamDefault,loadParam);
	
    //提交锚点值给后端，由后端返回需加载的页面文件
	$("#content").load(url,{sId:sId,loadParam:loadParam}); 
};

//利用自调用匿名函数立即执行的特点， 页面初始化
(function($){
	$('[data-toggle="tooltip"]').tooltip();   

	loadTplFile();
	
	showSideNavbar(true);	

})(jQuery);



$(document).ready(function(){

	<!-- //点击nav-pills中的各个按钮后，显示对应的页面-->
	$('.aTab').click(function(){
    	$(this).tab('show');
		//a的href属性值即是页面的锚点值
		window.location.hash = $(this).attr('href'); 
		//a所在li高亮
		<!--  -->
        loadTplFile();              //加载锚点对应的页面文件
    });	
	
	//显示SideNavbar
	$('#openBtn').click(function(){
		showSideNavbar(true);
			
    });	
	//关闭SideNavbar
	$('#closeBtn').click(function(){
        showSideNavbar(false);
			
    });
});	
	
<!-- function -->
	
	
<!-- function -->

</script>

</body>

</html>