{include file="../application/common/bg_header.html" title="系统管理" }

<!-- pagewrap  -->

<div class="container-fluid" >
	<div class="row content" >
		<div class="col-sm-2">
			<!-- nav 与 jQuery结合实现菜单栏导航效果-->
			<ul class="nav nav-pills nav-stacked hy-box" >
				<li id="li0" class="active"><a href="#div0"><span class="glyphicon glyphicon-inbox"></span>&nbsp;系统概况</a></li>
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;系统用户
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li id="li1" class="text-right"><a href="#div1">用户&nbsp;<span class="glyphicon glyphicon-file"></span></a></li>
					  <li id="li2" class="text-right"><a href="#div2">用户组&nbsp;<span class="glyphicon glyphicon-duplicate"></span></a></li>
					  <!-- //<li><a href="#"><span class="glyphicon glyphicon-link"></span>&nbsp;功能1-3</a></li> -->
					</ul>
				</li>
				
				<li id="li3"><a href="#div3"><span class="glyphicon glyphicon-wrench"></span>&nbsp;系统设置</a></li>
			</ul>
			
		</div>
		
		<div class="col-sm-10 tab-content" >
			
			<div id="div0" class="tab-pane fade in active">
				<h4><strong>"系统概况"</strong></h4>
				{include file="../application/admin/view/index/sys_sumary.html"}
				
			</div>
	
			<div id="div1" class="tab-pane fade">
				<!-- <h4><strong>"用户管理"</strong></h4> -->
				{include file="../application/admin/view/index/sys_user.html"}
							
							
			</div>
			
			<div id="div2" class="tab-pane fade">
				<!-- <h4><strong>"用户组管理"</strong></h4> -->
				{include file="../application/admin/view/index/sys_usergroup.html"}
							
							
			</div>
					
			<div id="div3" class="tab-pane fade">
				<h4><strong>"系统设置"</strong>开发中</h4>
				{include file="../application/admin/view/index/sys_param.html"}			
							
			</div>
		
		</div>
		
		
		
	</div>
	

</div>

<!-- /pagewrap  -->


<script>
$(document).ready(function(){
	
	<!-- //为选中的li标签,添加.active -->
	$("#nav_system").addClass("active");

	<!-- //点击nav-pills中的各个按钮后，显示对应的页面-->
	$(".nav-pills a").click(function(){
        $(this).tab('show');
    });	
	
	//根据URL中的hash值（本页面中div的id值）显示对应的<div>
	var hash = window.location.hash.toLocaleLowerCase();
    switch (hash) {
        case "#div1":
            $('.nav-pills a[href="#div1"]').tab('show');
        break;
        case "#div2":
            $('.nav-pills a[href="#div2"]').tab('show');
        break;
        case "#div3":
             $('.nav-pills a[href="#div3"]').tab('show');
         break;
        default://#div0
            $('.nav-pills a[href="#div0"]').tab('show');
        break;
    }
	

});


</script>


{include file="../application/common/bg_footer.html"}