<!DOCTYPE html>
<html>
<head>
	<title>IPMS admin</title>
	<meta name="Author" content="HY" />
	<meta charset="UTF-8" />
	<!-- // 开启bootstrap响应式布局 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
    {// TP5中的模板注释格式，单行。<!-- TP5的资源文件加载写法 -->内容不会出现在发送给浏览器的HTML文件中 }  
  {js href="/admin/res/js/jquery1.12.4.min.js" }
  {js href="/admin/res/js/bootstrap3.3.7.min.js" }
  {css href="/admin/res/css/bootstrap3.3.7.min.css" }
  {css href="/admin/res/css/bs-callout.css" }
  <!-- // 本页面输入框验证css文件 -->
  {css href="/admin/res/css/check.css" }

</head>

{/*<!-- 实现nav固定在页面顶端效果的补充代码块,
同时还需设置nav的data-offset-top="-3"防止鼠标单击页面时出现跳动-->
*/}

 <style>
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>

<!-- <body style="background-color:#eeeeee;"> -->
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="-3" >
  <div class="container-fluid">
    <div class="navbar-header" >
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
		</button>
		
      <a class="navbar-brand"><strong>IPMS</strong>系统管理</a>
	  <!-- <span class="bg-primary" style="corlor:red;">IPMS 后台管理系统</span> -->
    </div>
	
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li id="liQuit"><a href="{$home}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
        
      	</ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
	
	<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-primary"> 
		<div class="panel-heading text-center">
			<h4><strong>系统管理员登录</strong></h4>
		</div>
		<div class="panel-body">
			
			<form action="{$home}/admin/index/check" method="post" >
                <div class="form-group has-feedback">
                    <label for="username">账号</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" id="username" name="username" class="form-control" placeholder="请输入用户名" maxlength="20">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label for="password">密码</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" id="pwd" name="pwd" class="form-control" placeholder="请输入密码" maxlength="20">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>


                <!-- <div class="row"> -->
                    
                        <div class="form-group has-feedback">
                            <label for="inIdcode">验证码</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                                <input type="text" id="inIdcode" class="form-control" placeholder="请输入验证码" maxlength="4">
                            </div>
                            <span style="color:red;display: none;" class="tips"></span>
                            <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
						
						<div id="idcode" style="background: transparent;"></div>
                    <!-- </div> -->
                    
                <!-- </div> -->
				
				<br/>

                <div class="form-group col-sm-offset-4">
                    <input type="submit" class="btn btn-primary" id="submit" value="登&nbsp;&nbsp;录" />
					<input type="reset" class="btn btn-warning" id="reset" value="重&nbsp;&nbsp;置"  />
                </div>

            </form>
			
		</div>
	</div>
	</div>
	
	
</div>


<script>

/**
 * jQuery插件
 * 功能一：随机验证码的产生
 * @example: $.idcode.setCode();	
 * @desc: Make a validate code append to the element that id is "idcode".
 *
 * 功能二：随机验证码的验证
 * @example $.idcode.validateCode();	
 * @desc return true if user input value equal idcode. 
 **/
 
(function($){

var settings = {
    e: 'idcode',
    codeType: {
        name: 'follow',
        len: 4         //指定验证码长度
    }, 
    codeTip: '换个验证码?',
    inputID: 'inIdcode' //验证码所在html标签（div）的ID
};

var _set = {
    storeLable: 'codeval',
    store: '#random-code-input',
    codeval: '#random-code'
};

// 给jQuery增加新的自定义对象“idcode”
$.idcode = {
    getCode: function(option) {
        _commSetting(option);
        return _storeData(_set.storeLable, null);
    },
    setCode: function(option) {
        _commSetting(option);
        _setCodeStyle("#" + settings.e, settings.codeType.name, settings.codeType.len);

    },
    validateCode: function(option) {
        _commSetting(option);
        var inputV;
        if (settings.inputID) {
            inputV = $('#' + settings.inputID).val();

        } else {
            inputV = $(_set.store).val();
        }
        if (inputV.toUpperCase() == _storeData(_set.storeLable, null).toUpperCase()) { //修改的不区分大小写
            return true;
        } else {
            _setCodeStyle("#" + settings.e, settings.codeType.name, settings.codeType.len);
            return false;
        }
    }
}

// 应用jQuery的extend()方法，将option合并到settings里。
function _commSetting(option) {
    $.extend(settings, option);
}

// 应用jQuery的data()方法？？HY
function _storeData(dataLabel, data) {
    // 变量store获取验证码HTML代码块中ID=“#random-code”的第一个DOM对象(标签)？？
	// 通过jQuery的get()方法获取DOM对象(标签)，“0”是指第一个DOM对象(标签)。
	var store = $(_set.codeval).get(0);
	
    if (data) {
        $.data(store, dataLabel, data);
		
    } else {
        return $.data(store, dataLabel);
		
    }
	
	<!-- if (data) { -->
		<!-- $.extend(store, dataLabel, data); -->
    <!-- } else { -->
       
		<!-- $.extend(store, dataLabel); -->
    <!-- } -->
	<!-- return $.data(store); -->
}

// 形成完整的验证码html代码块
function _setCodeStyle(eid, codeType, codeLength) {
    var codeObj = _createCode(settings.codeType.name, settings.codeType.len);
	//利用JavaScript的Math对象方法floor()结合random()返回0~5之间的随机整数，用于从css文件中选定验证码字符串的显示格式。
    var randNum = Math.floor(Math.random() * 6);
    var htmlCode = ''
    if (!settings.inputID) {
        htmlCode = '<span><input id="random-code-input" type="text" maxlength="4" /></span>';
    }
	// 必须有2个random-idcode-val，若只保留1个，验证码图形与后续的“换个验证码?”内容不在一行内而分成2行
    htmlCode += '<div id="random-code" class="random-idcode-val random-idcode-val0'
    <!-- htmlCode += String(randNum); -->
    htmlCode += '" href="#" onblur="return false" onfocus="return false" oncontextmenu="return false" onclick="$.idcode.setCode()">' + _setStyle(codeObj) + '</div>' + '<span id="random-code-tip-ck" class="random-code-val-tip" onclick="$.idcode.setCode()">' + settings.codeTip + '</span>';
    $(eid).html(htmlCode);
    _storeData(_set.storeLable, codeObj);
}

// 生成验证码中每个字符及其颜色的HTML代码（颜色在列举的值中随机选定，验证码字符串由参数“codeObj”指定）
function _setStyle(codeObj) {
    var fnCodeObj = new Array();
    var col = new Array('#BF0C43', '#E69A2A', '#707F02', '#18975F', '#BC3087', '#73C841', '#780320', '#90719B', '#1F72D8', '#D6A03C', '#6B486E', '#243F5F', '#16BDB5');
    var charIndex;
    for (var i = 0; i < codeObj.length; i++) {
	//利用JavaScript的Math对象方法floor()结合random()返回0~12之间的随机整数。floor()是取整数，random()是产生0~1之间的随机数。
        charIndex = Math.floor(Math.random() * col.length);
        
        fnCodeObj.push('<font color="' + col[charIndex] + '">' + //JavaScript的charAt()方法可返回指定位置的字符。
		codeObj.charAt(i) + '</font>');
    }
	//利用JavaScript的join()方法把数组中的所有元素放入一个字符串,指定无分隔符。 若无指定，默认是以“,”进行分隔。
    return fnCodeObj.join('');
}

function _createCode(codeType, codeLength) {
    var codeObj;
    if (codeType == 'follow') {
        codeObj = _createCodeFollow(codeLength);
    } else if (codeType == 'calc') {
        codeObj = _createCodeCalc(codeLength);
    } else {
        codeObj = "";
    }
    return codeObj;
}

function _createCodeCalc(codeLength) {
    var code1, code2, codeResult;
    var selectChar = new Array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
    var charIndex;
	// 通过循环生成codeLength位随机数字串code1、code2
    for (var i = 0; i < codeLength; i++) {
		//利用JavaScript的Math对象方法floor()结合random()返回0~9之间的随机整数	
        charIndex = Math.floor(Math.random() * selectChar.length);
        // 增加一个字符到code1中
		code1 += selectChar[charIndex];

        charIndex = Math.floor(Math.random() * selectChar.length);
        // 增加一个字符到code2中
		code2 += selectChar[charIndex];
    }
    // 应用jQuery的parseInt()函数，默认以十进制解析括号内的字符串
	return [parseInt(code1), parseInt(code2), parseInt(code1) + parseInt(code2)];
}

function _createCodeFollow(codeLength) {
    var code = "";
    var selectChar = new Array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');

    for (var i = 0; i < codeLength; i++) {
        var charIndex = Math.floor(Math.random() * selectChar.length);
        
		if (charIndex % 2 == 0) {
            code += selectChar[charIndex].toLowerCase();
        } else {
            code += selectChar[charIndex];
        }
    }
    return code;
}
})(jQuery);
</script>

<script>
//$=$(document).ready
$(function(){
/**
 * 校验各个输入框的内容
 **/
var regUsername = /^[a-zA-Z_][a-zA-Z0-9_]{4,19}$/;
var regPasswordSpecial = /[~!@#%&=;':",./<>_\}\]\-\$\(\)\*\+\.\[\?\\\^\{\|]/;
var regPasswordAlpha = /[a-zA-Z]/;
var regPasswordNum = /[0-9]/;
var password;

// 数组的作用是在表单提交时对各个输入框的校验结果进行检查，数组值对应各个输入框的校验结果，全部为true才触发提交表单事件。
var check = [false, false, false];

//校验成功函数
function success(Obj, counter) {
    Obj.parent().parent().removeClass('has-error').addClass('has-success');
    $('.tips').eq(counter).hide();
    $('.glyphicon-ok').eq(counter).show();
    $('.glyphicon-remove').eq(counter).hide();
    check[counter] = true;

}

// 校验失败函数
function fail(Obj, counter, msg) {
    Obj.parent().parent().removeClass('has-success').addClass('has-error');
    $('.glyphicon-remove').eq(counter).show();
    $('.glyphicon-ok').eq(counter).hide();
    $('.tips').eq(counter).text(msg).show();
    check[counter] = false;
}

// 用户名匹配
<!-- $('.container').find('input').eq(0).change(function() { -->
$("#username").change(function() { 
    //test(),JavaScript的正则验证函数，验证value是否符合regUsername要求。
    //jquery的test()是获取或设置标签内文本既等于innerText。
    //HY,待确认
    if (regUsername.test($(this).val())) {
        success($(this), 0);
    } else if ($(this).val().length < 5) {
        fail($(this), 0, '用户名太短，不能少于5个字符');
    } else {
        fail($(this), 0, '用户名只能为英文数字和下划线,且不能以数字开头')
    }

});

// 密码匹配

// 匹配字母、数字、特殊字符至少两种的函数
function atLeastTwo(password) {
    var a = regPasswordSpecial.test(password) ? 1 : 0;
    var b = regPasswordAlpha.test(password) ? 1 : 0;
    var c = regPasswordNum.test(password) ? 1 : 0;
    return a + b + c;

}

<!-- $('.container').find('input').eq(1).change(function() { -->
$("#pwd").change(function() {
    password = $(this).val();
    if ($(this).val().length < 8) {
        fail($(this), 1, '密码太短，不能少于8个字符');
    } else {
        if (atLeastTwo($(this).val()) < 2) {
            fail($(this), 1, '密码中至少包含字母、数字、特殊字符的两种')
        } else {
            success($(this), 1);
        }
    }
});

// 随机验证码产生
$.idcode.setCode();

<!-- $('.container').find('input').eq(2).change(function() { -->
$("#inIdcode").change(function() {
	// 输入的与产生的随机验证码匹配验证
    var IsBy = $.idcode.validateCode();
    if (IsBy) {
        success($(this),2);
    } else {
        fail($(this),2, '验证码输入错误');
    }
});

$('#submit').click(function(event) {
   //JavaScript的数组处理方法every(callback)，对数组中的每个元素都执行一次
	//callback函数，直到callback返回false，every就返回false；
	//若全部元素执行callback后都返回ture，every就返回true。
	//此处的用意是只要数组check中存在false，将该项找出，并把该项对应的input用“has-error”突出显示。
	
	if (!check.every(function(value) {
            return value == true
        })) {
		// jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作
        event.preventDefault();
        for (key in check) {
            if (!check[key]) {
                $("form").find("input").eq(key).parent().parent().removeClass("has-success").addClass("has-error");
            }
        }
    }
});

$('#reset').click(function() {
	// 应用jQuery的slice()方法将匹配元素的子集构造一个新的jQuery对象
	
    $('input').slice(0, 3).parent().parent().removeClass('has-error has-success');
    $('.tips').hide();
    $('.glyphicon-ok').hide();
    $('.glyphicon-remove').hide();
    check = [false, false, false];
	
});

});

</script>

</body>

</html>