<!-- <div class="hy-box"> -->
	<!-- <p><strong>选择用户类型</strong></p> -->
	
	<!-- <p><strong>用户列表</strong></p> -->
	
	<!-- <p><strong>用户列表分页</strong></p>	 -->
				
				
<!-- </div> -->

<div class="panel panel-default ">
		<div class="panel-heading">
			<h4><strong>用户管理</strong>&nbsp;
			
				<!--// bootstap通过button调用Model -->
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addUser"><strong>新增用户</strong></button>
				
			</h4> 
		</div>
		
		<div id="divUser" class="panel-body table-responsive" >	
					
			<table class="table table-hover">
				<thead>
					<tr>
						<th>序号</th>
						<th>用户名</th>
						<th>所属部门</th>
						<!-- <th>用户组id</th> -->
						<th>用户组</th>
						<th>操作</th>
					</tr>
				</thead>
				
				<tbody><!-- 此处显示数据库查询后的数据集 -->
					{volist name="users" id="vo" empty="暂时没有数据"}
					<tr>
						<td>{$i}</td>
						<td>{$vo.username}</td>
						<td>{$vo.dept}</td>
						<!-- <td>{$vo.rolety_id}</td>  -->
						<td>{$vo.rolename}</td>
						<td>
							<button uid="{$vo.id}" class="del btn-link"><span class="text-danger glyphicon glyphicon-remove"></span>删除</button>&nbsp;
							
							<button uid="{$vo.id}" class="dis btn-link"><span class="text-warning glyphicon glyphicon-ban-circle"></span>禁用</button>
							
							<span>（已禁用）</span><button uid="{$vo.id}" class="en btn-link" value="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
							
						</td>	
					
					</tr>
					{/volist}
				</tbody>
				
				<tfoot >
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
				
			</table>
					
		</div>
</div>

<!-- Modal "addUser" -->
<div class="modal fade" id="addUser" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong class="bg-info" style="padding:10px;border-radius: 5px;">新增用户</strong></h4>
        </div>
		
        <div class="modal-body">
			<form role="form" action="{$home}/admin/index/addUser" method="post">
				<div class="form-group has-feedback">
					<label for="username">用户名</label>
					<!-- // bootstrap实现矢量图在输入框开头 -->
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="text" class="form-control" id="username" name="username" placeholder="输入用户名">
						
					</div>
					
					<!-- // 配合jQuery 中的内容验证代码-->
					<span style="color:red;display:none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
				  	
				</div>
				
				<div class="form-group has-feedback">
				  	<label for="psw">密码</label>
					<!-- // bootstrap实现矢量图在输入框开头 -->
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></span>
						<input type="password" class="form-control" id="pwd" name="pwd" placeholder="输入密码">
					</div>
					
					<!-- // 配合jQuery 中的内容验证代码-->
					<span style="color:red;display:none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
				  	
				</div>
				
				<div class="form-group">
				  	<label for="repsw">所属部门</label>
					
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-tree-conifer"></span></span>
						<select class="form-control" id="selDept" name="dept">
    						<option value="">1</option>
    						<option value="">2</option>
    						<option value="">3</option>
    						<option value="">4</option>
  						</select>
					</div>
					
				  	
				</div>
				
				<div class="form-group">
				  	<label for="repsw">&nbsp;所属用户组</label>
					
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-education"></span></span>
						<select class="form-control" id="selUserGroup" name="userGroup">
    						<option value="">1</option>
    						<option value="">2</option>
    						<option value="">3</option>
    						<option value="">4</option>
  						</select>
					</div>
				</div>
				
				<!-- <div class="checkbox">
				  <label><input type="checkbox" value="" checked>Remember me</label>
				</div> -->
				
				<button id="btnAdd" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;新增</button>
				
				<button id="btnReset" type="reset" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-refresh"></span>&nbsp;重置</button>
				
				<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> 取消</button>
			</form>
        </div>
		
        <!-- <div class="modal-footer"> -->
		
          	<!-- <button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
      </div>
      
    </div>
</div>
<!-- / Modal "addUser" -->

<script>
$(document).ready(function(){
	
	<!-- // 对用户表格中<td>里的<button>进行格式设置 -->
	$("#divUser tbody td button").each(function(){
		if($(this).attr("value")=='1'){
			$(this).prevAll('button').show();
            $(this).prev('span').hide();
			$(this).hide();
			$(this).parent().parent().removeClass("danger text-muted");
		}else{
			$(this).prevAll('button').hide();
			$(this).show();
			$(this).parent().parent().addClass("danger text-muted");
		}
	});
	
	// 用户表格中有"dept"内容为“0”的去除<button>及附属span,待完成
	$("#divUser tbody td").each(function(){
		if($(this).text()=='0'){
			$(this).nextAll().children("button").remove();
            $(this).nextAll().children("span").remove();
		
		}
	});
	
	
	
	<!-- // 在#addUser的model显示之前，应用show.bs.modal事件将#addUser的model内容准备好 -->
	$("#addUser").on('show.bs.modal', function () {
        <!-- // 应用Ajax向服务器请求“部门”单选框内容所需数据，并组装好HTML语句 -->
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/dept",
			// 发送到服务器的数据，可无
			<!-- data : data, -->
			timeout:1000,
			<!-- // 服务器端response的数据类型为json-->
			dataType:"json",
			success:function(backData){
				var data=backData;

				<!-- // 方法一：遍历data数组组装HTML语句 -->
				var str="";
				<!-- // data的结构是数组类的：[{id:1,name:"dept1", abbr:"d1"},{}],所以要进行嵌套取出id，name和abbr的值组装HTML语句-->
				$.each(data,function(n1,v1){
					$.each(v1,function(n2,v2){
						if(n2=="name"){
							str+="<option value='"+v2+"'>"+v2+" （简称：";
						}
						if(n2=="abbr"){
							str+=v2+"）</option>";
						}
					});
				});
				
				<!-- 清空$("#selDept") -->
				$("#selDept").empty();
				$("#selDept").append(str);
				
				<!-- // 方法二： 直接引用data数组值组装HTML语句-->
				<!-- $("#selDept").append("<option value='_1'>"+data[0].name+"</option><option value='_2'>"+data[1].name+"</option><option value='_3'>"+data[2].name+"</option><option value='_4'>"+data[3].name+"</option>"); -->
				
			},
			error: function() {
               alert("失败，请稍后再试！");
            }
		});
		
		<!-- // 应用Ajax向服务器请求“用户组”单选框内容所需数据，并组装好HTML语句 -->
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/userGroup",
			// 发送到服务器的数据，可无
			<!-- data : data, -->
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json-->
			dataType:"json",
			success:function(backData){
				var data=backData;

				<!-- // 方法一：遍历data数组组装HTML语句 -->
				var str="";
				<!-- // data的结构是数组类的：[{id:1,name:"dept1", abbr:"d1"},{}],所以要进行嵌套取出id，name和abbr的值组装HTML语句-->
				$.each(data,function(n1,v1){
					$.each(v1,function(n2,v2){
						if(n2=="id"){
							str+="<option value='"+v2+"'>";
						}
						if(n2=="name"){
							str+=v2+"</option>";
						}
					});
				});
				
				<!-- 清空$("#selUserGroup") -->
				$("#selUserGroup").empty();
				$("#selUserGroup").append(str);
				
				<!-- // 方法二： 直接引用data数组值组装HTML语句-->
				<!-- $("#selDept").append("<option value='_1'>"+data[0].name+"</option><option value='_2'>"+data[1].name+"</option><option value='_3'>"+data[2].name+"</option><option value='_4'>"+data[3].name+"</option>"); -->
				
			},
			error: function() {
               alert("失败，请稍后再试！");
            }
		});
	});	
		/**
 		* 校验“用户名”和“密码”输入框的内容
 		**/
		var regUsername = /^[a-zA-Z_][a-zA-Z0-9_]{4,19}$/;
		var regPasswordSpecial = /[~!@#%&=;':",./<>_\}\]\-\$\(\)\*\+\.\[\?\\\^\{\|]/;
		var regPasswordAlpha = /[a-zA-Z]/;
		var regPasswordNum = /[0-9]/;
		var password;
		var check = [false, false];
	
		//校验成功函数
		function success(Obj, counter) {
    		Obj.parent().parent().removeClass('has-error').addClass('has-success');
    		$('#addUser .tips').eq(counter).hide();
    		$('#addUser .glyphicon-ok').eq(counter).show();
    		$('#addUser .glyphicon-remove').eq(counter).hide();
    		check[counter] = true;

		}

		// 校验失败函数
		function fail(Obj, counter, msg) {
    		Obj.parent().parent().removeClass('has-success').addClass('has-error');
    		$('#addUser .glyphicon-remove').eq(counter).show();
    		$('#addUser .glyphicon-ok').eq(counter).hide();
    		$('#addUser .tips').eq(counter).text(msg).show();
    		check[counter] = false;
		}
	
		// 匹配字母、数字、特殊字符至少两种的函数
		function atLeastTwo(password) {
    		var a = regPasswordSpecial.test(password) ? 1 : 0;
    		var b = regPasswordAlpha.test(password) ? 1 : 0;
    		var c = regPasswordNum.test(password) ? 1 : 0;
    		return a + b + c;
		}
	
		<!-- // 检查“用户名”输入框的内容 -->
		$("#username").change(function() { 
    		//test(),正则的验证函数，验证value是否符合regUsername要求。
    		//jquery的test()是获取或设置标签内文本既等于innerText。
    		//HY,待确认
    		if (regUsername.test($(this).val())) {
        		success($(this), 0);
    		} else if ($(this).val().length < 5) {
        		fail($(this), 0, '用户名太短，不能少于5个字符');
    		} else {
        		fail($(this), 0, '用户名只能为英文数字和下划线,且不能以数字开头')
    		}

		});
	
		<!-- // 检查“密码”输入框的内容 -->
		$("#pwd").change(function(){
    		password = $(this).val();
    		if ($(this).val().length < 8) {
        		fail($(this), 1, '密码太短，不能少于8个字符');
    		} else {
        		if (atLeastTwo($(this).val()) < 2) {
            		fail($(this), 1, '密码中至少包含字母、数字、特殊字符的两种')
        		} else {
            	success($(this), 1);
        		}
			}	
    	});
	
		<!-- // 提交按钮#btnAdd -->
		$('#btnAdd').click(function(event) {
  		//JavaScript的数组处理方法every(callback)，对数组中的每个元素都执行一次
		//callback函数，直到callback返回false，every就返回false；
		//若全部元素执行callback后都返回ture，every就返回true。
		//此处的用意是只要数组check中存在false，将该项找出，并把该项对应的input用“has-error”突出显示。
		
			var flag=check.every(function(value) {
            	return value == true
        	});
	
			if (!flag) {
				// jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作
        		event.preventDefault();
				<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        		for (key in check) {
            		if (!check[key]) {
                		$("#addUser").find("input").eq(key).parent().parent().removeClass("has-success").addClass("has-error");
            		}else{
						$("#addUser").find("input").eq(key).parent().parent().removeClass("has-error").addClass("has-success");
					}
        		}
    		}
			else{
			<!-- // 数组check中不存在false，都为true -->
				<!-- // input用“has-success”突出显示 -->
				<!-- $("#addUser").find("input").eq(key).parent().parent().removeClass("has-error").addClass("has-success"); -->
				
				<!-- // jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作 -->
        		event.preventDefault();
				<!-- // 组装通过“post”提交的数据 -->
				var sendData = {"oprt":"add","username":$("#username").val(),"pwd":$("#pwd").val(),"dept":$("#selDept").val(),"userGroup":$("#selUserGroup").val()};
				
				$("#addUser").modal("hide");
				
				$.ajax({
					type : "post",
					async : true,  //异步请求
					<!-- url : "{$home}/admin/index/addUser", -->
					url : "{$home}/admin/index/oprtUser", 
					<!-- // 发送到服务器的数据 -->
					data : sendData,
					timeout:1000,
					<!-- // 指定服务器端response的数据类型为json -->
					dataType:"json",
					success:function(backData){
						var data=backData;
						
						if(data.result=='success'){
						
						//添加成功，弹出自定义提示页面 
							$.confirm(data.msg+check,function(e){
								con=e;
								if(true==con){
									//刷新页面
									window.location.reload();
									
									// 显示“用户页面”
									$('.nav-pills a[href="#div1"]').tab('show');
									
									// 清空"#addUser".modal页面的input内容
									$('#btnReset').click();
									
								}
							}).ok('确认').cancel('取消');
							
						}else{
							// 添加不成功，弹出自定义提示页面 
							$.confirm(data.msg,function(e){
								con=e;
								if(true==con){
									// 返回"#addUser".modal页面
									$("#addUser").modal("show");
								}else{
									
									$('#btnReset').click();
								}
							}).ok('返回').cancel('取消');	
						
						}

					},
					error: function() {
               			alert("失败1，请稍后再试！");
            		}
				});

			}

		});
	
	<!-- // 在#addUser的model隐藏后，应用hidden.bs.modal事件将#addUser的model内容准备好 -->	
	<!-- $("#myModal").on('hide.bs.modal', function () { -->
        
    <!-- });	 -->
	
	$('#btnReset').click(function() {
		// 应用jQuery的slice()方法将匹配元素的子集构造一个新的jQuery对象
	
    		<!-- $('#addUser input').slice(0,2).parent().parent().removeClass('has-error has-success'); -->
			
			for (key in check) {
            	$("#addUser").find("input").eq(key).parent().parent().removeClass("has-success has-error");
        	}
			
    		$('#addUser .tips').hide();
    		$('#addUser .glyphicon-ok').hide();
    		$('#addUser .glyphicon-remove').hide();
    		check = [false, false];
	
	});

<!-- //<button class='en'> ajax事件-->
	$("#divUser button.en").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"enable","id":$(this).attr("uid")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtUser", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});	
		
		$(this).prevAll('button').show();
        $(this).prev('span').hide();
		$(this).hide();
		$(this).parent().parent().removeClass("danger text-muted");
	
	});
	
	<!-- //<button class='dis'> ajax事件-->
	$("#divUser button.dis").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"disable","id":$(this).attr("uid")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtUser", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});
		
		$(this).prev().hide();
		$(this).hide();
		$(this).nextAll().show();
		$(this).parent().parent().addClass("danger text-muted");
	
	});
	<!-- //<button class='del'> ajax事件-->
	$("#divUser button.del").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"delete","id":$(this).attr("uid")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtUser", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});
		
		<!-- //删除所在行<tr> -->
		$(this).parent().parent().remove();
	
	});
	
});

</script>


