<div class="">
	<!-- <p><strong>sumary</strong> -->
		
	<div class="panel panel-default">
		<div class="panel-heading"><strong>服务器信息</strong></div>
		<!-- <div class="panel-body"> -->
			<ul class="list-group">
						
				<a class="list-group-item">服务器域名：{$serverDomain}</a>
				<a class="list-group-item">服务器时间：{$serverTime}</a>
				<a class="list-group-item">服务器OS：{$serverOS}</a>
				<a class="list-group-item">Apache版本：{$apacheVersion}</a>
				<a class="list-group-item">MySQL版本：MySQL/{$mysqlVersion}</a>
				<a class="list-group-item">PHP版本：PHP/{$phpVersion}</a>
				
				
					
			</ul>
		<!-- </div> -->
	</div>
	
	<!-- <div class="panel panel-default"> -->
		<!-- <div class="panel-heading"><strong>系统概况</strong></div> -->
		<!-- <div class="panel-body col-sm-6" > -->
		<!-- <h5>服务器信息</h5> -->
			<!-- <ul class="list-group"> -->
						
				<!-- <li class="list-group-item">系统环境：</li> -->
				<!-- <li class="list-group-item">服务器时间：</li> -->
				<!-- <li class="list-group-item">MySQL版本：</li> -->
				<!-- <li class="list-group-item">文件上传限制：</li> -->
				<!-- <li class="list-group-item">脚本执行时限：</li> -->
					
			<!-- </ul> -->
		<!-- </div> -->
		
		
	<!-- </div> -->
	
	<div class="panel panel-default ">
		<div class="panel-heading"><strong>服务器信息2</strong></div>
		<div class="panel-body " >	
					
				<p >服务器域名：{$serverDomain}</p>
				<p >服务器时间：{$serverTime}</p>
				<p >服务器OS：{$serverOS}</p>
				<p >Apache版本：{$apacheVersion}</p>
				<p >MySQL版本：MySQL/{$mysqlVersion}</p>
				<p >PHP版本：PHP/{$phpVersion}</p>
				
				<li class="">系统环境：</li>
				<li class="">服务器时间：</li>
				<li class="">MySQL版本：</li>
				<li class="">文件上传限制：</li>
				<li class="">脚本执行时限：</li>
					
		</div>
	</div>
				
</div>
		