<div class="">
	<!-- // bootstrap panel group+collapse -->
	<div class="panel-group" id="sysParam">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysParam" href="#sysParam1"><strong>
        		部门设置</strong></a>
      		</h4>
			
		</div>
		<div id="sysParam1" class="panel-collapse collapse in">
			<ul class="list-group">
						
				<a class="list-group-item">服务器域名：{$serverDomain}</a>
				<a id="display" class="list-group-item">服务器时间：{$serverTime}</a>
				
				
					
			</ul>
			
			<div class="panel-body " >
				<h5>
        		<strong>部门列表</strong>
				<!--// bootstap通过button调用Model -->
				<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalDept">新增部门&nbsp;<span class="glyphicon glyphicon-tree-conifer"></span></button>
      			</h5>
			
				<div class="table-responsive" >
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>部门全称</th>
							<th>部门简称</th>
							<th>操作</th>
						</tr>
					</thead>
				
					<tbody><!-- 此处显示数据库查询后的数据集 -->
						{volist name="depts" id="vo" empty="暂时没有数据"}
						<tr>
							<td>{$i}</td>
							<td>{$vo.name}</td>
							<td>{$vo.abbr}</td>
						
							<td>
								<button deptId="{$vo.id}" class="edit btn-link" data-toggle="modal" data-target="#modalDept"><span class="text-primary glyphicon glyphicon-edit"></span>编辑</button>&nbsp;
								
								<button deptId="{$vo.id}" class="del btn-link"><span class="text-danger glyphicon glyphicon-remove"></span>删除</button>&nbsp;
							
								<button deptId="{$vo.id}" class="dis btn-link"><span class="text-warning glyphicon glyphicon-ban-circle"></span>停用</button>
							
								<span>（已停用）</span><button deptId="{$vo.id}" class="en btn-link" enable="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
							
							</td>	
					
					</tr>
					{/volist}
					</tbody>
				
				
				</table>
				</div>
			
		</div>
			
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysParam" href="#sysParam2"><strong>
        		系统信息</strong></a>
      		</h4>
			
		</div>
		
		<div id="sysParam2" class="panel-collapse collapse">
		<div class="panel-body " >
		<h5><strong>总用户数：{$serverDomain}；</strong></h5>
			<ul class="list-group">	
				<li class="list-group-item">登录用户数：；</li>
				<li class="list-group-item">禁用用户数：；</li>

			</ul>
		
		<h5><strong>用户组总数：{$serverTime}；</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">管理员组用户数：；</li>
				<li class="list-group-item">超级管理员组用户数：；</li>
					
			</ul>
			
		<h5><strong>部门总数：{$serverOS}；</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">用户数前3的部门：；</li>
				<li class="list-group-item">用户数后3的部门：；</li>
					
			</ul>
		</div>
		</div>
		
	</div>
	
	</div>
			
</div>

<!-- Modal "addUser" -->
<div class="modal fade" id="modalDept" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong class="bg-info" style="padding:10px;border-radius: 5px;">新增部门</strong></h4>
        </div>
		
        <div class="modal-body">
			<form role="form" action="{$home}/admin/index/index" method="post">
				<div class="form-group has-feedback">
					<label for="deptName">部门全称</label>
					<!-- // bootstrap实现矢量图在输入框开头 -->
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-tree-conifer"></span></span>
						<input type="text" class="form-control" id="deptName" name="deptName" placeholder="输入部门全称">
						
					</div>
				  	
				</div>
				
				<div class="form-group">
				  	<label for="deptAbbr">部门简称</label>
					
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-grain"></span></span>
						<input type="text" class="form-control" id="deptAbbr" name="deptAbbr" placeholder="输入部门简称">
					</div>
					
				  	
				</div>
				
				<div id="divDeptEn" class="form-group">
				  	<label class="" for="deptEnable">部门启用:</label>
					<label class="radio-inline">
      					<input type="radio" name="deptEnable" value="1">是
    				</label>
    				<label class="radio-inline">
      					<input type="radio" name="deptEnable" value="0">否
    				</label>
				</div>
				
				<button id="btnAddDept" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;新增</button>
				
				<button id="btnResetDept" type="reset" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-refresh"></span>&nbsp;重置</button>
				
				<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> 取消</button>
			</form>
        </div>
		
        <!-- <div class="modal-footer"> -->
		
          	<!-- <button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
      </div>
      
    </div>
</div>
<!-- / Modal "addUser" -->
		
<script>
$(document).ready(function(){
	
	<!-- // 对用户表格中<td>里的<button>进行格式设置 -->
	$("#sysParam1 tbody td button").each(function(){
		if($(this).attr("enable")=='1'){
			$(this).prevAll('button').show();
            $(this).prev('span').hide();
			$(this).hide();
			$(this).parent().parent().removeClass("danger text-muted");
		}else{
			$(this).prevAll('button').hide();
			$(this).show();
			$(this).parent().parent().addClass("danger text-muted");
		}
	});
	
	<!-- //<button class='en'> ajax事件-->
	$("#sysParam1 button.en").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"enable","id":$(this).attr("deptId")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtDept", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});	
		$(this).prevAll('button').show();
		$(this).prev('span').hide();
		$(this).hide();
		
		$(this).parent().parent().removeClass("danger text-muted");
		
	
	});
	
	<!-- //<button class='dis'> ajax事件-->
	$("#sysParam1 button.dis").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"disable","id":$(this).attr("deptId")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtDept", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});
		
		$(this).prevAll().hide();
		$(this).hide();
		$(this).nextAll().show();
		// “启用”有关按钮显示
		<!-- $(this).nextAll().find('span').show(); -->
		<!-- $(this).nextAll().find('.en').show(); -->
		
		$(this).parent().parent().addClass("danger text-muted");
	
	});
	
	<!-- //<button class='del'> ajax事件-->
	$("#sysParam1 button.del").click(function() {
  		var id=$(this).attr("deptId");
		var selBtn='.del button[deptId="'+id+'"]';
		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"delete","id":id};
		
		//弹出自定义提示页面 
		$.confirm('确定删除该部门？',function(e){
			var con=e;
			if(true==con){
				$.ajax({
					type : "post",
					async : true,  //异步请求
					url : "{$home}/admin/index/oprtDept", 
					<!-- // 发送到服务器的数据 -->
					data : sendData,
					timeout:1000,
					<!-- // 指定服务器端response的数据类型为json -->
					dataType:"json",
					success:function(backData){
						var data=backData;
						//删除所在行<tr>
						$(selBtn).parent().parent().remove();
						//刷新页面并回到锚点"#div3"页面
						window.location.hash="#div3";
						window.location.reload(true);
					},
					error: function() {
               			alert("删除失败，请稍后再试！");
            		}
				});
			}else{
				
				$('#btnReset').click();
			}
		}).ok('(Y)删除').cancel('(N)取消');
		
	});
	
	// 存储#modalDept标题
	var hStr=$("#modalDept").find('h4').html();
	// 存储#btnAddDept名称
	var btnStr=$("#btnAddDept").html();
	
	<!-- //<button class='edit'> 事件-->
	$("#sysParam1 h5 button").click(function() {
	// 将#modalDept恢复
	$("#modalDept").on('show.bs.modal', function () {
        // #modalDept标题恢复
		$(this).find('h4').html(hStr);
		// #btnAddDept恢复
		$("#btnAddDept").html(btnStr);
			
		$("#deptName").val('');
		$("#deptAbbr").val('');
		$("#btnResetDept").show();
			
		//设定radio
		$("input:radio[name='deptEnable'][value='1']").attr("checked",true);
			
	});
	});
	
	<!-- //<button class='edit'> 事件-->
	$("#sysParam1 button.edit").click(function() {
		var name=$(this).parent().prev().prev().text();
		var abbr=$(this).parent().prev().text();
		
		<!-- // 在#modalDept的model显示之前，应用show.bs.modal事件将#modalDept的model内容准备好 -->
		$("#modalDept").on('show.bs.modal', function () {
        	
			// #modalDept标题改名
			$(this).find('h4').html("编辑部门信息");
			
			// #btnAddDept改名
			$("#btnAddDept").html('<span class="glyphicon glyphicon-ok-circle"></span>&nbsp;保存');
			
			$("#deptName").val(name);
			$("#deptAbbr").val(abbr);
			$("#btnResetDept").hide();
			
			//设定radio
			$("input:radio[name='deptEnable'][value='1']").attr("checked",true);
			
		});	
		
	});
	
	
	$("#btnAddDept").click(function() {
		
			
		
	});

});
</script>