	<!-- // bootstrap panel group+collapse -->
<div id="sysSetting" class="panel-group" >
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysSetting" href="#sysDept"><strong class="text-primary">
        		部门设置</strong></a>
      		</h4>
			
		</div>
		<div id="sysDept" class="panel-collapse collapse in">
			
			<div class="panel-body " >
				<h5><strong>部门列表</strong>&nbsp;<button id="btnModalOut" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalDept" data-oprt="_ADDNEW" data-deptId="0">新增&nbsp;<span class="glyphicon glyphicon-tree-conifer"></span></button></h5>
			
				<div class="table-responsive" >
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>部门全称</th>
							<th>部门简称</th>
							<th>操作</th>
						</tr>
					</thead>
				
					<tbody><!-- 此处显示数据库查询后的数据集 -->
						{volist name="depts" id="vo" empty="暂时没有数据"}
						<tr>
							<td>{$i}</td>
							<td>{$vo.name}</td>
							<td>{$vo.abbr}</td>
						
							<td>
								<button class="dis btn-link" data-deptId="{$vo.id}" data-toggle="modal" data-target="#modalDept" data-oprt="_EDIT"><span class="text-primary glyphicon glyphicon-edit"></span>编辑</button>&nbsp;
								
								<button class="dis btn-link" data-deptId="{$vo.id}" data-oprt="_DELETE"><span class="text-danger glyphicon glyphicon-remove"></span>删除</button>&nbsp;
							
								<button class="dis btn-link" data-deptId="{$vo.id}" data-oprt="_DISABLE"><span class="text-warning glyphicon glyphicon-ban-circle"></span>停用</button>
							
								<span class="en">（已停用）</span><button class="en btn-link" data-deptId="{$vo.id}" data-oprt="_ENABLE" enable="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
							
							</td>	
					
					</tr>
					{/volist}
					</tbody>
				
				
				</table>
				</div>
			
		</div>
			
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysSetting" href="#sysParam2"><strong class="text-primary">
        		系统信息</strong></a>
      		</h4>
			
		</div>
		
		<div id="sysParam2" class="panel-collapse collapse">
		<div class="panel-body " >
		<h5><strong>总用户数：serverDomain</strong></h5>
			<ul class="list-group">	
				<li class="list-group-item">登录用户数：；</li>
				<li class="list-group-item">禁用用户数：；</li>

			</ul>
		
		<h5><strong>用户组总数：serverTime</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">管理员组用户数：；</li>
				<li class="list-group-item">超级管理员组用户数：；</li>
					
			</ul>
			
		<h5><strong>部门总数：serverOS</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">用户数前3的部门：；</li>
				<li class="list-group-item">用户数后3的部门：；</li>
					
			</ul>
		</div>
		</div>
		
	</div>
	
			
</div>

<!-- Modal "modalDept" -->
<div class="modal fade" id="modalDept" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
    <div class="modal-content">
        <div id="modalTitle" class="modal-header" style="border-radius: 5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong>新增部门</strong></h4>
        </div>
		
        <div class="modal-body">
			<div id="divModalBody_load"><p class="text-center" style="font-size:20px;">加载中……</p></div>
        </div>
		
        <!-- <div class="modal-footer"> -->
		
          	<!-- <button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
    </div>
	</div>
      
</div>

<!-- / Modal "modalDept" -->
		
<script>
$(document).ready(function(){
	
	<!-- // 对部门表格中<td>里的<button>进行格式设置 -->
	$("#sysDept td button.en").each(function(){
		if($(this).attr("enable")=='1'){
			$(this).closest('tr').find('.dis').show();
			$(this).closest('tr').find('.en').hide();
			$(this).closest('tr').removeClass("danger text-muted");
		}else{
			$(this).closest('tr').find('.dis').hide();
			$(this).closest('tr').find('.en').show();
			$(this).closest('tr').addClass("danger text-muted");
		}
	});
	
	$("#sysDept button").click(function() {
		var oprt=$(this).data('oprt');
		var sendData = {'oprt':oprt,'id':$(this).data('deptid')};
		var url='deptOprt1';
		//所有行去掉上色
		$(this).closest('tbody').find('tr').removeClass('bg-warning');
		//本行上色
		$(this).closest('tr').addClass('bg-warning');
	
		if(oprt=='_ADDNEW' || oprt=='_EDIT' ){
			$('#divModalBody_load').load(url,sendData);
		}else{
			ajaxProcess(url,sendData,window.location.hash);
		}
	});
	
	
	
	
	<!-- // 提交按钮#btnAddDept -->
	$('#btnAddDept').click(function(event){
		//JavaScript的数组处理方法every(callback)，对数组中的每个元素都执行一次
		//callback函数，直到callback返回false，every就返回false；
		//若全部元素执行callback后都返回ture，every就返回true。
		//此处的用意是只要数组check中存在false，将该项找出，并把该项对应的input用“has-error”突出显示。
		
		var flag=check.every(function(value) {
            return value == true
        });
		
		
		<!-- // jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作 -->
        event.preventDefault();
	
		if (!flag) {
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        	for (key in check) {
            	if (!check[key]) {
                	$(".modal").find(".textDept").eq(key).parent().parent().removeClass("has-success").addClass("has-error");
            	}
        	}
		}else{
			<!-- // 组装通过“post”提交的数据 -->
			var sendData = {"oprt":"add","deptName":$("#deptName").val(),"deptAbbr":$("#deptAbbr").val(),"deptEn":$("input:radio[name='deptEn']").prop("checked"),"oprtId":$("#oprtId").val()
			};
						
			$("#modalDept").modal("hide");
			
			$.ajax({
				type : "post",
				async : true,  //异步请求
				url : "{$home}/admin/index/deptOprt", 
				<!-- // 发送到服务器的数据 -->
				data : sendData,
				timeout:1000,
				<!-- // 指定服务器端response的数据类型为json -->
				dataType:"json",
				success:function(backData){
					var data=backData;
					<!-- alert(data.msg); -->
							
					if(data.result=='success'){

					//添加成功，弹出自定义提示页面 
						$.confirm(data.msg,function(e){
							con=e;
							if(true==con){								
								$("#modalDept").modal("show");
							}else{
								$("#content").load("sys_param");
								<!-- $('#btnResetUserGroup').click(); -->
								//刷新页面并回到"#div0"页面
								<!-- window.location.hash="#div0"; -->
								<!-- window.location.reload(true); -->
									
							}
						}).ok('继续').cancel('完成');
							
					}else{
						// 添加不成功，弹出自定义提示页面 
						$.confirm(data.msg,function(e){
							con=e;
							if(true==con){
								// 返回"#addUser".modal页面
								$("#modalDept").modal("show");
							}else{
								$('#btnResetDept').click();
							}
						}).ok('继续').cancel('取消');	
						
					}

				},
					error: function() {
               			// 应用自定义的alert提示框
						$.alert("失败1，请稍后再试！");
            		}
			});
		}
	
	});
	
	// 设置重置后modal中各元素默认格式
	$('#btnResetDept').click(function() {
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		
		// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
		
		check=[false,false];
		
	});	
	
	<!-- deptName内容验证 -->
	$("#deptName").change(function(){
        if(regDeptName.test($(this).val())){
			success($(this),0);	
		}else if ($(this).val().length < 5) {
        	if($(this).val()==''){
				fail($(this), 0, '部门全称不能为空。');
			}else{
				fail($(this), 0, '部门全称太短，不能少于5个字符。');
			}
		}
		else {
        	fail($(this), 0, '部门全称为英文、数字、中文和下划线，但不能以数字开头。')
    	}
  	});
	
	<!-- deptAbbr内容验证 -->
	$("#deptAbbr").change(function(){
        if(regDeptAbbr.test($(this).val())){
			success($(this),1);	
		}else if ($(this).val().length < 2) {
        	if($(this).val()==''){
				fail($(this), 1, '部门简称不能为空。');
			}else{
				fail($(this), 1, '部门简称太短，不能少于2个字符。');
			}
		}
		else {
        	fail($(this), 1, '部门简称为英文、数字、中文和下划线，但不能以数字开头。')
    	}
  	});
	
<!-- function -->

// 正则表达式，可以为英文、数字、中文和下划线,但不能以数字开头,unicode编码中的汉字范围:\u2E80-\u9FFF
var regDeptName = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{4,19}$/;
var regDeptAbbr = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{1,19}$/;

// 数组，存储表单中输入框内容验证结果“true/false”。数组下标应与输入框下标一致，便于编程选择输入框
var check = [false,false];

	//校验成功函数
function success(Obj, counter) {
    Obj.parent().parent().removeClass('has-error').addClass('has-success');
	
	// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
	$('.modal .tips').eq(counter).hide();
    $('.modal .glyphicon-ok').eq(counter).show();
    $('.modal .glyphicon-remove').eq(counter).hide();
    check[counter] = true;

}

// 校验失败函数
function fail(Obj, counter, msg) {
    Obj.parent().parent().removeClass('has-success').addClass('has-error');
   
   // 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
	$('.modal .glyphicon-remove').eq(counter).show();
    $('.modal .glyphicon-ok').eq(counter).hide();
    $('.modal .tips').eq(counter).text(msg).show();
    check[counter] = false;
}


<!--/ function -->	
	

});
</script>