	<!-- // bootstrap panel group+collapse -->
<div id="sysParam" class="panel-group" >
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysParam" href="#sysParam1"><strong class="text-primary">
        		部门设置</strong></a>
      		</h4>
			
		</div>
		<div id="sysParam1" class="panel-collapse collapse in">
			
			<div class="panel-body " >
				<h5><strong>部门列表</strong>&nbsp;<button id="btnModalOut" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalDept">新增&nbsp;<span class="glyphicon glyphicon-tree-conifer"></span></button></h5>
			
				<div class="table-responsive" >
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>部门全称</th>
							<th>部门简称</th>
							<th>操作</th>
						</tr>
					</thead>
				
					<tbody><!-- 此处显示数据库查询后的数据集 -->
						{volist name="depts" id="vo" empty="暂时没有数据"}
						<tr>
							<td>{$i}</td>
							<td>{$vo.name}</td>
							<td>{$vo.abbr}</td>
						
							<td>
								<button deptId="{$vo.id}" class="edit btn-link" data-toggle="modal" data-target="#modalDept"><span class="text-primary glyphicon glyphicon-edit"></span>编辑</button>&nbsp;
								
								<button deptId="{$vo.id}" class="del btn-link"><span class="text-danger glyphicon glyphicon-remove"></span>删除</button>&nbsp;
							
								<button deptId="{$vo.id}" class="dis btn-link"><span class="text-warning glyphicon glyphicon-ban-circle"></span>停用</button>
							
								<span>（已停用）</span><button deptId="{$vo.id}" class="en btn-link" enable="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
							
							</td>	
					
					</tr>
					{/volist}
					</tbody>
				
				
				</table>
				</div>
			
		</div>
			
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysParam" href="#sysParam2"><strong class="text-primary">
        		系统信息</strong></a>
      		</h4>
			
		</div>
		
		<div id="sysParam2" class="panel-collapse collapse">
		<div class="panel-body " >
		<h5><strong>总用户数：serverDomain</strong></h5>
			<ul class="list-group">	
				<li class="list-group-item">登录用户数：；</li>
				<li class="list-group-item">禁用用户数：；</li>

			</ul>
		
		<h5><strong>用户组总数：serverTime</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">管理员组用户数：；</li>
				<li class="list-group-item">超级管理员组用户数：；</li>
					
			</ul>
			
		<h5><strong>部门总数：serverOS</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">用户数前3的部门：；</li>
				<li class="list-group-item">用户数后3的部门：；</li>
					
			</ul>
		</div>
		</div>
		
	</div>
	
	</div>
			
<!-- </div> -->

<!-- Modal "modalDept" -->
<div class="modal fade" id="modalDept" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header bg-info" style="border-radius: 5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong>新增部门</strong></h4>
        </div>
		
        <div class="modal-body">
			<form role="form" action="{$home}/admin/index/index" method="post">
				<input id="oprtId" type="text" hidden disabled>
				
				<div class="form-group has-feedback">
					<label for="deptName">部门全称</label>
					<!-- // bootstrap实现矢量图在输入框开头 -->
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-tree-conifer"></span></span>
						<input type="text" class="form-control textDept" id="deptName" name="deptName" placeholder="输入部门全称">
						
					</div>
					
					<!-- // 配合jQuery 中的内容验证代码-->
					<span style="color:red;display: none;" class="tips"></span>
      				<span style="display: none;"  class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
				  	
				</div>
				
				<div class="form-group has-feedback">
				  	<label for="deptAbbr">部门简称</label>
					
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-grain"></span></span>
						<input type="text" class="form-control textDept" id="deptAbbr" name="deptAbbr" placeholder="输入部门简称">
					</div>
					
					<!-- // 配合jQuery 中的内容验证代码-->
					<span style="color:red;display: none;" class="tips"></span>
      				<span style="display: none;"  class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
					
				  	
				</div>
				
				<div id="divDeptEn" class="form-group ">
				  	<label class="" for="deptEn">部门启用:</label>
					<label class="radio-inline">
      					<input type="radio" name="deptEn" value="1"checked>是
    				</label>
    				<label class="radio-inline">
      					<input type="radio" name="deptEn" value="0">否
    				</label>
				</div>
				
				<hr>
				
				<button id="btnAddDept" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;新增</button>
				
				<button id="btnResetDept" type="reset" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-refresh"></span>&nbsp;重置</button>
				
				<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> 取消</button>
			</form>
        </div>
		
        <!-- <div class="modal-footer"> -->
		
          	<!-- <button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
      </div>
      
</div>

<!-- / Modal "modalDept" -->
		
<script>
$(document).ready(function(){
	
	<!-- // 对部门表格中<td>里的<button>进行格式设置 -->
	$("#sysParam1 tbody td button").each(function(){
		if($(this).attr("enable")=='1'){
			$(this).prevAll('button').show();
            $(this).prev('span').hide();
			$(this).hide();
			$(this).parent().parent().removeClass("danger text-muted");
		}else{
			$(this).prevAll('button').hide();
			$(this).show();
			$(this).parent().parent().addClass("danger text-muted");
		}
	});
	
	<!-- //<button class='en'> ajax事件-->
	$("#sysParam1 button.en").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"enable","id":$(this).attr("deptId")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/deptOprt", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
			},
			error: function() {
               	$.alert("<button>.en.click失败，请稍后再试！");
            }
		});	
		$(this).prevAll('button').show();
		$(this).prev('span').hide();
		$(this).hide();
		
		$(this).parent().parent().removeClass("danger text-muted");
		
	
	});
	
	<!-- //<button class='dis'> ajax事件-->
	$("#sysParam1 button.dis").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"disable","id":$(this).attr("deptId")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/deptOprt", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});
		
		$(this).prevAll().hide();
		$(this).hide();
		$(this).nextAll().show();
		// “启用”有关按钮显示
		<!-- $(this).nextAll().find('span').show(); -->
		<!-- $(this).nextAll().find('.en').show(); -->
		
		$(this).parent().parent().addClass("danger text-muted");
	
	});
	
	<!-- //<button class='del'> ajax事件-->
	$("#sysParam1 button.del").click(function() {
		<!-- var selBtn='.del button[deptId="'+id+'"]'; -->
		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"delete","id":$(this).attr("deptId")};
		
		//弹出自定义提示页面 
		$.confirm('确定删除该部门？',function(e){
			var con=e;
			if(true==con){
				$.ajax({
					type : "post",
					async : true,  //异步请求
					url : "{$home}/admin/index/deptOprt", 
					<!-- // 发送到服务器的数据 -->
					data : sendData,
					timeout:1000,
					<!-- // 指定服务器端response的数据类型为json -->
					dataType:"json",
					success:function(backData){
					
						var data=backData;
						//刷新页面
						$("#content").load("sys_param");
						
						<!-- //删除所在行<tr> -->
						<!-- $(selBtn).parent().parent().remove(); -->
						<!-- //刷新页面并回到锚点"#div3"页面 -->
						<!-- window.location.hash="#div3"; -->
						<!-- window.location.reload(true); -->
					},
					error: function() {
               			alert("删除失败，请稍后再试！");
            		}
				});
			}else{
				
				$('#btnReset').click();
			}
		}).ok('(Y)删除').cancel('(N)取消');
		
	});
	
	// 存储#modalDept标题
	var hStr=$("#modalDept").find('h4').html();
	// 存储#btnAddDept名称
	var btnStr=$("#btnAddDept").html();
	
	<!-- // 点击新增部门按钮-->
	$("#btnModalOut").click(function() {
	
		// #modalDept标题内容恢复
		$("#modalDept h4").html(hStr);
		// #modalDept标题底色恢复
		$(".modal-header").addClass('bg-info')
		
		// 表单元素赋值	
		$("#oprtId").val('');		
		<!-- $("#deptName").val(''); -->
		$("#deptAbbr").val('');

		// 表单input:radio:[name='deptEn']元素赋值
		$("#modalUserGroup input:radio[name='deptEn'][value='1']").prop("checked",false);
		$("#modalUserGroup input:radio[name='deptEn'][value='0']").prop("checked",true);
		
		// #btnAddDept恢复
		$("#btnAddDept").html(btnStr);
		$("#btnResetDept").show();
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		//注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
	});
	
	<!-- //<button class='edit'> 事件-->
	$("#sysParam1 button.edit").click(function() {
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"edit","id":$(this).attr("deptId")};
		var oprtId;
		
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/deptOprt", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){	
				var data=backData;
				<!-- // 遍历data.result对象，其结构为{id:0,name:0,abbr: 0,enable:1}
				$.each(data.result,function(k,v){
				
					// 表单#oprtId赋值
					if(k=="id"){
						<!-- oprtId=v; -->
						// 表单#oprtId赋值
						$("#oprtId").val(v);
					}
					
					// 表单#deptName赋值
					if(k=="name"){
						$("#deptName").val(v);
					}
					
					// 表单#deptName赋值
					if(k=="abbr"){
						$("#deptAbbr").val(v);
					}
					// 表单input:radio:[name='deptEn']元素赋值
					if(k=="enable"){
						if(v){
							$("#modalUserGroup input:radio[name='deptEn'][value='1']").prop("checked",true);
							$("#modalUserGroup input:radio[name='deptEn'][value='0']").prop("checked",false);
						}else{
							$("#modalUserGroup input:radio[name='deptEn'][value='1']").prop("checked",false);
							$("#modalUserGroup input:radio[name='deptEn'][value='0']").prop("checked",true);
						}
					}
				});		
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});	
			
		// 标题改名
		$("#modalDept h4").text("编辑部门信息");
			
		//去掉标题底色
		$(".modal-header").removeClass("bg-info");
			
		$("#btnResetDept").hide();
		// #btnAddUserGroup改名
		$("#btnAddDept").html('<span class="glyphicon glyphicon-ok-circle"></span>&nbsp;保存');
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
		
	});
	
	<!-- // 提交按钮#btnAddDept -->
	$('#btnAddDept').click(function(event){
		//JavaScript的数组处理方法every(callback)，对数组中的每个元素都执行一次
		//callback函数，直到callback返回false，every就返回false；
		//若全部元素执行callback后都返回ture，every就返回true。
		//此处的用意是只要数组check中存在false，将该项找出，并把该项对应的input用“has-error”突出显示。
		
		var flag=check.every(function(value) {
            return value == true
        });
		
		
		<!-- // jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作 -->
        event.preventDefault();
	
		if (!flag) {
			<!-- //check中存在false,对应的input用“has-error”突出显示。 -->
        	for (key in check) {
            	if (!check[key]) {
                	$(".modal").find(".textDept").eq(key).parent().parent().removeClass("has-success").addClass("has-error");
            	}
        	}
		}else{
			<!-- // 组装通过“post”提交的数据 -->
			var sendData = {"oprt":"add","deptName":$("#deptName").val(),"deptAbbr":$("#deptAbbr").val(),"deptEn":$("input:radio[name='deptEn']").prop("checked"),"oprtId":$("#oprtId").val()
			};
						
			$("#modalDept").modal("hide");
			
			$.ajax({
				type : "post",
				async : true,  //异步请求
				url : "{$home}/admin/index/deptOprt", 
				<!-- // 发送到服务器的数据 -->
				data : sendData,
				timeout:1000,
				<!-- // 指定服务器端response的数据类型为json -->
				dataType:"json",
				success:function(backData){
					var data=backData;
					<!-- alert(data.msg); -->
							
					if(data.result=='success'){

					//添加成功，弹出自定义提示页面 
						$.confirm(data.msg,function(e){
							con=e;
							if(true==con){								
								$("#modalDept").modal("show");
							}else{
								$("#content").load("sys_param");
								<!-- $('#btnResetUserGroup').click(); -->
								//刷新页面并回到"#div0"页面
								<!-- window.location.hash="#div0"; -->
								<!-- window.location.reload(true); -->
									
							}
						}).ok('继续').cancel('完成');
							
					}else{
						// 添加不成功，弹出自定义提示页面 
						$.confirm(data.msg,function(e){
							con=e;
							if(true==con){
								// 返回"#addUser".modal页面
								$("#modalDept").modal("show");
							}else{
								$('#btnResetDept').click();
							}
						}).ok('继续').cancel('取消');	
						
					}

				},
					error: function() {
               			// 应用自定义的alert提示框
						$.alert("失败1，请稍后再试！");
            		}
			});
		}
	
	});
	
	// 设置重置后modal中各元素默认格式
	$('#btnResetDept').click(function() {
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		
		// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
		
		check=[false,false];
		
	});	
	
	<!-- deptName内容验证 -->
	$("#deptName").change(function(){
        if(regDeptName.test($(this).val())){
			success($(this),0);	
		}else if ($(this).val().length < 5) {
        	if($(this).val()==''){
				fail($(this), 0, '部门全称不能为空。');
			}else{
				fail($(this), 0, '部门全称太短，不能少于5个字符。');
			}
		}
		else {
        	fail($(this), 0, '部门全称为英文、数字、中文和下划线，但不能以数字开头。')
    	}
  	});
	
	<!-- deptAbbr内容验证 -->
	$("#deptAbbr").change(function(){
        if(regDeptAbbr.test($(this).val())){
			success($(this),1);	
		}else if ($(this).val().length < 2) {
        	if($(this).val()==''){
				fail($(this), 1, '部门简称不能为空。');
			}else{
				fail($(this), 1, '部门简称太短，不能少于2个字符。');
			}
		}
		else {
        	fail($(this), 1, '部门简称为英文、数字、中文和下划线，但不能以数字开头。')
    	}
  	});
	
<!-- function -->

// 正则表达式，可以为英文、数字、中文和下划线,但不能以数字开头,unicode编码中的汉字范围:\u2E80-\u9FFF
var regDeptName = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{4,19}$/;
var regDeptAbbr = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{1,19}$/;

// 数组，存储表单中输入框内容验证结果“true/false”。数组下标应与输入框下标一致，便于编程选择输入框
var check = [false,false];

	//校验成功函数
function success(Obj, counter) {
    Obj.parent().parent().removeClass('has-error').addClass('has-success');
	
	// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
	$('.modal .tips').eq(counter).hide();
    $('.modal .glyphicon-ok').eq(counter).show();
    $('.modal .glyphicon-remove').eq(counter).hide();
    check[counter] = true;

}

// 校验失败函数
function fail(Obj, counter, msg) {
    Obj.parent().parent().removeClass('has-success').addClass('has-error');
   
   // 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
	$('.modal .glyphicon-remove').eq(counter).show();
    $('.modal .glyphicon-ok').eq(counter).hide();
    $('.modal .tips').eq(counter).text(msg).show();
    check[counter] = false;
}


<!--/ function -->	
	

});
</script>