	<!-- // bootstrap panel group+collapse -->
<div id="sysSetting" class="panel-group" >
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysSetting" href="#sysDept"><strong class="text-primary">
        		部门设置</strong></a>
      		</h4>
			
		</div>
		<div id="sysDept" class="panel-collapse collapse in">
			
			<div class="panel-body " >
				<h5><strong>部门总数</strong>&nbsp;<span class="badge">{$numDept}</span></h5>
				<p>
				<button id="btnModalOut" type="button" class="btn-link" data-toggle="modal" data-target="#modalDept" data-oprt="_ADDNEW" data-deptId="0"><span class="glyphicon glyphicon-tree-conifer"></span>新增</button>
				</p>
			
				<div class="table-responsive" >
				<table class="table table-hover">
					<caption class="text-center" style="border-bottom:1px solid #eee;"><h4>部门列表</h4></caption>
					<thead>
						<tr>
							<th>序号</th>
							<th>部门全称</th>
							<th>部门简称</th>
							<th>操作</th>
						</tr>
					</thead>
				
					<tbody><!-- 此处显示数据库查询后的数据集 -->
						{volist name="depts" id="vo" empty="暂时没有数据"}
						<tr>
							<td>{$i}</td>
							<td class="name">{$vo.name}</td>
							<td>{$vo.abbr}</td>
						
							<td>
								<button class="dis btn-link" type="button" data-deptId="{$vo.id}" data-toggle="modal" data-target="#modalDept" data-oprt="_EDIT"><span class="text-primary glyphicon glyphicon-edit"></span>编辑</button>&nbsp;
							
								<button class="dis btn-link" type="button" data-deptId="{$vo.id}" data-oprt="_DISABLE"><span class="text-warning glyphicon glyphicon-ban-circle"></span>停用</button>
							
								<span class="en">（已停用）</span><button class="en btn-link" type="button" data-deptId="{$vo.id}" data-oprt="_ENABLE" enable="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
							
							</td>	
					
					</tr>
					{/volist}
					</tbody>
				
				
				</table>
				</div>
			
		</div>
			
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#sysSetting" href="#sysParam2"><strong class="text-primary">
        		系统信息</strong></a>
      		</h4>
			
		</div>
		
		<div id="sysParam2" class="panel-collapse collapse">
		<div class="panel-body " >
		<h5><strong>总用户数：serverDomain</strong></h5>
			<ul class="list-group">	
				<li class="list-group-item">登录用户数：；</li>
				<li class="list-group-item">禁用用户数：；</li>

			</ul>
		
		<h5><strong>用户组总数：serverTime</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">管理员组用户数：；</li>
				<li class="list-group-item">超级管理员组用户数：；</li>
					
			</ul>
			
		<h5><strong>部门总数：serverOS</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">用户数前3的部门：；</li>
				<li class="list-group-item">用户数后3的部门：；</li>
					
			</ul>
		</div>
		</div>
		
	</div>
	
			
</div>

<!-- Modal "modalDept" -->
<div class="modal fade" id="modalDept" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
    <div class="modal-content">
        <div id="modalTitle" class="modal-header" style="border-radius: 5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong>新增部门</strong></h4>
        </div>
		
        <div class="modal-body">
			<div id="divModalBody_load"><p class="text-center" style="font-size:20px;">加载中……</p></div>
        </div>
		
        <!-- <div class="modal-footer"> -->
		
          	<!-- <button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
    </div>
	</div>
      
</div>

<!-- / Modal "modalDept" -->
		
<script>
$(document).ready(function(){
	
	<!-- // 对部门表格中<td>里的<button>进行格式设置 -->
	$("#sysDept td button.en").each(function(){
		if($(this).attr("enable")=='1'){
			$(this).closest('tr').find('.dis').show();
			$(this).closest('tr').find('.en').hide();
			$(this).closest('tr').removeClass("danger text-muted");
		}else{
			$(this).closest('tr').find('.dis').hide();
			$(this).closest('tr').find('.en').show();
			$(this).closest('tr').addClass("danger text-muted");
		}
	});
	//#sysDept button的按钮分类动作_ADDNEW、_EDIT、_DISABLE、_ENABLE
	$("#sysDept button").click(function() {
		var oprt=$(this).data('oprt');
		var sendData = {'oprt':oprt,'id':$(this).data('deptid')};
		var url='deptOprt';
		if(oprt!='_ADDNEW'){
			//先去掉上色
			$(this).closest('tbody').children('tr').removeClass('bg-warning');
			//所在行上色
			$(this).closest('tr').addClass('bg-warning');
		}
		if(oprt=='_ADDNEW' || oprt=='_EDIT'){
			ajaxModalShow($('#modalDept'),url,sendData);
		}else{
			ajaxDeptEn($(this),url,sendData);
		}		
	});	
	
<!-- function -->

//**函数名：ajaxModalShow
 	//* 作用：本页面内ajaxModalShow
	//* 参数modalObj，类型：对象。值：不为空。说明：modal对象。
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数sendData，类型：json。值：不为空。sendData = {'oprt':oprt,'id':$(this).data('deptid')}
	//* 返回值：无
	function ajaxModalShow(modalObj,url,sendData){
		var oprt=sendData.oprt;
		//回调函数modal调整
		$('#divModalBody_load').load(url,sendData,function(){
			
			// 清除输入框的格式
			modalObj.find('.has-feedback').removeClass('has-success').removeClass('has-error'); 
		
    		modalObj.find('.spTips').hide();
    		modalObj.find('.spOk').hide();
    		modalObj.find('.spRemove').hide();
			
			//根据.modal的'data-oprt'值选定button，初始化赋值
			$('button:submit').hide();
			switch(oprt){
				case '_ADDNEW':
					$('#modalTitle').addClass('bg-info').find('strong').text('新增部门');
					//仅有“新增”按钮
					$('#btnCreateDept').show();
				break;
				case '_EDIT':
					$('#modalTitle').removeClass('bg-info').find('strong').text('编辑部门');
					//“保存”按钮
					$('#btnUpdateDept').show();
					//“删除”按钮
					$('#btnDeleteDept').show();
				break;
			}

			$('.modal').on('shown.bs.modal', function(){
				$('.inputCheck').eq(0).focus();
			});			
		}); 
	}


//**函数名：ajaxDeptEn
 	//* 作用：本页面ajax操作，部门启用/停用
	//* 参数btnObj，类型：对象。值：不为空。说明：btn对象。
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数sendData，类型：json。值：不为空。sendData = {'oprt':oprt,'id':$(this).data('deptid')}
	//* 返回值：无
	function ajaxDeptEn(btnObj,url,sendData){
		var oprt=sendData.oprt;
		$.ajax({
			type : 'post',
			async : true,  //异步请求
			url : url, 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:2000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:'json',
			success:function(backData){		
				if(backData.enable){
					btnObj.closest('tr').find('.dis').show();
					btnObj.closest('tr').find('.en').hide();
					//本行去掉上色
					btnObj.closest('tr').removeClass("danger text-muted");
					$.alert('部门【'+btnObj.closest('tr').children('.name').text()+'】<span class="label label-success">启用</span>&nbsp;成功');
				}else{
					btnObj.closest('tr').find('.dis').hide();
					btnObj.closest('tr').find('.en').show();
					//本行上色
					btnObj.closest('tr').addClass("danger text-muted");
					$.alert('部门【'+btnObj.closest('tr').children('.name').text()+'】<span class="label label-danger">停用</span>&nbsp;成功');
				}
			},
			error: function() {
               	$.alert('与服务器通讯超时，请稍后再试！');
            }
		});	
	}

<!--/ function -->	
	

});
</script>