<div class="">
	<!-- // bootstrap panel group+collapse -->
	<div class="panel-group" id="accordion">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><strong class="text-primary">
        		系统服务器信息</strong></a>
      		</h4>
			
		</div>
		<div id="collapse1" class="panel-collapse collapse in">
			<ul class="list-group">
						
				<a class="list-group-item">服务器域名：{$serverDomain}</a>
				<a class="list-group-item">服务器时间：{$serverTime}</a>
				<a class="list-group-item">服务器OS：{$serverOS}</a>
				<a class="list-group-item">Apache版本：{$apacheVersion}</a>
				<a class="list-group-item">MySQL版本：MySQL/{$mysqlVersion}</a>
				<a class="list-group-item">PHP版本：PHP/{$phpVersion}</a>
				
				
					
			</ul>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><strong class="text-primary">
        		系统信息</strong></a>
      		</h4>
			
		</div>
		
		<div id="collapse2" class="panel-collapse collapse">
		<div class="panel-body " >
		<h5><strong>总用户数：{$serverDomain}；</strong></h5>
			<ul class="list-group">	
				<li class="list-group-item">登录用户数：；</li>
				<li class="list-group-item">禁用用户数：；</li>

			</ul>
		
		<h5><strong>用户组总数：{$serverTime}；</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">管理员组用户数：；</li>
				<li class="list-group-item">超级管理员组用户数：；</li>
					
			</ul>
			
		<h5><strong>部门总数：{$serverOS}；</strong></h5>
			<ul class="list-group">
				<li class="list-group-item">用户数前3的部门：；</li>
				<li class="list-group-item">用户数后3的部门：；</li>
					
			</ul>
		</div>
		</div>
		
	</div>
	
	<div class="panel panel-default ">
		
		<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><strong class="text-primary">
        		系统开发维护</strong></a>
      		</h4>
			
		</div>
		
		<div id="collapse3" class="panel-collapse collapse">
		<div class="panel-body " >	
					
				<p >开发人员：{$serverDomain}；
					<li class="">登录用户数：；</li>
					<li class="">禁用用户数：；</li>
				</p>
				<p >维护人员：{$serverTime}；
					<li class="">管理员组用户数：；</li>
					<li class="">超级管理员组用户数：；</li>
	
				</p>
				<p >日常管理人员：{$serverOS}；
					<li class="">用户数前3的部门：；</li>
					<li class="">用户数后3的部门：；</li>
				</p>
				
				<p >系统说明；
					<li class="">用户数前3的部门：；</li>
					<li class="">用户数后3的部门：；</li>
				</p>
				
				<p >版本号；
					<li class="">用户数前3的部门：；</li>
					<li class="">用户数后3的部门：；</li>
				</p>
				
					
		</div>
		</div>
	</div>
	</div>			
</div>
		