<!-- sysUser.html -->
<div>
		<h4><span class="label label-warning" style="font-size:16px;">系统用户总数&nbsp;<span class="badge">{$usersNum}</span></span></h4>
		
		<p>
			<!--// bootstap通过button调用Model -->
			<button type="button" class="btn-link btnUser" data-oprt="_ADDNEW" data-id="0" data-toggle="modal" data-target="#modalEditUser"><span class="glyphicon glyphicon-file">新增</span></button>
				
			<button id="btnSearchInfo" type="button" class="btn-link" data-toggle="collapse" data-target="#divCollapse"><span class="glyphicon glyphicon-collapse-down">搜索</span></button>
				
			<button id="btnReset" type="button" class="btn-link"><span class="glyphicon glyphicon-refresh">重置</span></button>	
			
		</p>
		<div id="divCollapse" class="collapse">
			<form method="get" action="{$home}/admin/index/sysUser#sysUser" id="userSearch" class="form-inline">
				<div class="form-group">
					<label class="" for="searchUserName">用户名</label>
					<input class="form-control" id="searchUserName" name="searchUserName" type="text" value="{$searchUserName}" placeholder="...不限">
										
				</div>
					
				<div class="form-group">
					<label class="control-label" for="searchDept">部门</label>
					<select class="form-control" id="searchDept" name="searchDept">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
											
					</select>
				</div>
									
				<div class="form-group">
					<label class="control-label" for="searchUserGroup">用户组</label>
					<select class="form-control" id="searchUserGroup" name="searchUserGroup">
						<option value="_a">a</option>
						<option value="_b">b</option>
						<option value="_c">c</option>
											
					</select>
				</div>
				
				<!-- <input type="submit" class="btn btn-primary btn-sm" value="搜索 >>"> -->
				
				<button id="btnSearchUser" type="button" class="btn-link"><span class="glyphicon glyphicon-search">搜索</span></button>
				
				<!-- <input type="reset" class="btn btn-primary btn-sm" value="重置" id=""><span class="glyphicon glyphicon-refresh"></span> -->
				
			</form>
			<hr>
		</div> 
		<div id="divUser" >
			<div class="table-responsive" >
			<table class="table table-hover table-condensed">
				<caption class="text-center" style="border-bottom:1px solid #eee;"><h4>用户列表</h4></caption>
				<thead>
					<tr>
						<th>序号</th>
						
						<th><a data-toggle="tooltip" data-placement="bottom" title="点击排序" href="#div1" sort="{$sort}" sortName="_USERNAME">用户名&nbsp;</a></th>
						
						<th><a data-toggle="tooltip" data-placement="bottom" title="点击排序" href="#div1" sort="{$sort}" sortName="_DEPT">所属部门&nbsp;</a></th>
						
						<th><a data-toggle="tooltip" data-placement="bottom" title="点击排序" href="#div1" sort="{$sort}" sortName="_USERGROUP">用户组名&nbsp;</a></th>
						
						<th>用户组名/编号</th>
						
						<!-- <th><a data-toggle="tooltip" data-placement="bottom" title="点击排序" href="#div1" sort="{$sort}" sortName="_ENABLE">操作&nbsp;</a></th> -->
						
						<th>操作</th>
					</tr>
				</thead>
				
				<tbody><!-- 此处显示数据库查询后的数据集 -->
					{volist name="users" id="vo" empty="暂时没有数据"}
					<tr>
						<td>{$i+($pageUserNum-1)*$userTableRows}</td>
						<td class="name">{$vo.username}</td>
						<td>{$vo.dept}</td>
						<!-- <td>{$vo.rolety_id}</td>  -->
						<td>{$vo.rolename}</td>
						<td>{$vo.groupNameNum}</td>
						<td>
							<button type="button" class="btn-link btnUser" data-id="{$vo.id}" data-oprt="_EDIT" data-toggle="modal" data-target="#modalEditUser" ><span class="glyphicon glyphicon-edit"></span>编辑</button>
						
							<button type="button" class="btn-link btnUser" data-id="{$vo.id}" data-oprt="_DISABLE"><span class="text-warning glyphicon glyphicon-ban-circle"></span>停用</button>
							
							<span>（已停用）</span><button class="btn-link btnUser" data-id="{$vo.id}" data-oprt="_ENABLE" enable="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
							
						</td>	
					
					</tr>
					{/volist}
				</tbody>
				
				<!-- <tfoot > -->
					<!-- <tr> -->
						<!-- <td >1 </td> -->
						<!-- <td colspan="4" class="text-center">111 </td> -->
					<!-- </tr> -->
					
				<!-- </tfoot> -->
				
			</table>
			</div>
			<hr>
			
			<div id="divUserTableRows" class="col-sm-12 text-right search">
				<div class="col-sm-10 text-right">{$pageUser}</div>
						
				<div class="form-group form-group-sm col-sm-2">
					<span class="">每页记录行数：</span>
					<select class="form-control" id="userTableRows">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="30">30</option>
						<option value="50">50</option>
					</select>
						
				</div>
			</div>
		</div>
</div>

<!-- Modal "modalEditUser" -->
<div class="modal fade" id="modalEditUser" role="dialog" data-oprt="">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header bg-warning" style="border-radius: 5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong>新增用户</strong></h4>
        </div>
		
        <div class="modal-body">
		
			<div id="divEditUser_load"><p class="text-center" style="font-size:28px;">加载中……</p></div>
			
        </div>
		
        <!-- <div class="modal-footer"> -->
		
          	<!-- <button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
      </div>
      
    </div>
</div>
<!-- / Modal "modalEditUser" -->

<script>

$(function(){
	// 单选框#searchDept的内容
	ajaxShowSelect('selectResponse',{'req':'_DEPT'},$('#searchDept'),[{'text':'...不限','val':'0'}]);
	
	// 单选框#searchUserGroup的内容
	ajaxShowSelect('selectResponse',{'req':'_USERGROUP'},$('#searchUserGroup'),[{'text':'...不限','val':'0'}]);
	
	<!-- //<td>里的<button>进行格式设置 -->
	$('tbody td button').each(function(){
		if($(this).attr('enable')=='1'){
			$(this).prevAll('button').show();
            $(this).prev('span').hide();
			$(this).hide();
			$(this).parent().parent().removeClass("danger text-muted");
		}else{
			$(this).prevAll('button').hide();
			$(this).show();
			$(this).parent().parent().addClass("danger text-muted");
		}
	});
	
	<!-- //<td>内容含“superadmin”的去除<button>及附属span -->
	$("tbody td").each(function(){
		var str=$(this).text();
		if(str.indexOf('superadmin')>=0){
			$(this).nextAll().children("button").remove();
            $(this).nextAll().children("span").remove();
		
		}
	});
	
	<!-- // 显示搜索条件的div，修改触发"显示"的btn内容-->
	$("#divCollapse").on("hide.bs.collapse", function(){
    	$("#btnSearchInfo").html('<span class="glyphicon glyphicon-collapse-down">搜索</span>');
  	});
	
	<!-- // 隐藏搜索条件的div，修改触发"隐藏"的btn内容-->
  	$("#divCollapse").on("show.bs.collapse", function(){
    	$("#btnSearchInfo").html('<span class="glyphicon glyphicon-collapse-up">隐藏搜索</span>');
  	});
	
	<!-- // bootstrap3，enable所有的tooltip -->
	<!-- $('[data-toggle="tooltip"]').tooltip();  -->
	
	// 添加bootstrap的tooltip属性
	$('thead th a').tooltip({title: '点击排序', placement: 'bottom'}); 
	
	// 根据后端控制器给出的排序字段{$sortName},排序方式{$sort}，修改th中a的显示形式
	$('thead a').each(function(){
	
		var glyAsc='<span class="small glyphicon glyphicon-sort-by-attributes text-muted"></span>';
		var glyDesc='<span class="small glyphicon glyphicon-sort-by-attributes-alt text-warning"></span>';
		
		//排序字段
		var sortName=$(this).attr("sortName");
		var sort=$(this).attr("sort");
		
		<!-- // 后端控制器给出的排序字段{$sortName},排序方式{$sort} -->
		if (sortName=="{$sortName}"){
			if(sort=="_ASC"){
				$(this).append(glyAsc);
				$(this).attr("sort","_DESC");
				$(this).attr('data-original-title','点击后降序');
				// bootstap3中修改tooltip的options属性值
				<!-- $(this).data("bs.tooltip").options.title="点击后降序"; -->
				$(this).data("bs.tooltip").options.placement="top";
			}else{
				$(this).append(glyDesc);
				$(this).attr("sort","_ASC");
				$(this).attr('data-original-title','点击后升序');
				// bootstap3中修改tooltip的options属性值
				<!-- $(this).data("bs.tooltip").options.title="点击后降序"; -->
				$(this).data("bs.tooltip").options.placement="top";
			}
		}
	});
	
	// 点击th中的a，表格中的内容根据a中的属性值进行排序
	$('thead a').click(function(){
		var sort=$(this).attr('sort');
		var sortName=$(this).attr('sortName');
		<!-- //根据每页显示记录行数，排序字段，排序方式加载页面 -->
		loadSysUser($("#userTableRows").val(),sortName,sort);
		
	});
	
	<!-- // 点击分页中的a，表格中的内容根据a中的属性值进行排序 -->
	$('#divUserTableRows a').click(function(event){
		// a所在分页页数
		var pageStr=$(this).text();
		var pageNum;
		//(li.active)所代表的页数
		var pageNumActive=$('#divUserTableRows li.active').children('span').text();
		// jQuery的preventDefault()方法阻止元素发生默认的行为。阻止访问a的URL
        event.preventDefault();
		<!-- alert("pageStr:"+pageStr+" active:"+pageNumActive); -->
		
		switch(pageStr){
			case'»':
				//用"*"确保得到的是加法运算结果，而不是字符串
				pageNum=(pageNumActive*1+1);
			break;
			
			case'«':
				pageNum=(pageNumActive*1-1);
			break;
			
			default:
				pageNum=pageStr;
			break;
		
		}
		<!-- alert("pageNum:"+pageNum); -->
		<!-- //根据每页显示记录行数，排序字段，排序方式，分页页数加载页面 -->
		loadSysUser($("#userTableRows").val(),"{$sortName}","{$sort}",pageNum)
	});
	
	<!-- // bootstap3中修改tooltipd的title -->
				<!-- $(this).attr('data-original-title','点击后降序'); -->
				
	<!-- // bootstap3中从命名空间“bs”修改tooltip的options属性值 -->
	<!-- $(this).data("bs.tooltip").options.placement="top"; -->
	<!-- $(this).data("bs.tooltip").options.title="点击后降序"; -->
	
	//.btnUser的按钮分类动作_ADDNEW、_EDIT、_DISABLE、_ENABLE
	$('button.btnUser').click(function(){
		var id=$(this).attr('data-id');
		var oprt=$(this).attr('data-oprt');
		var htmlStr=$(this).html();
		if(oprt=='_ADDNEW' || oprt=='_EDIT'){
			ajaxModalShow($('#modalEditUser'),'userOprt',id,oprt,htmlStr);
		}else{
			ajaxOprt($(this),'userOprt',id,oprt);
		}
		if(oprt!='_ADDNEW'){
			//先去掉上色
			$(this).closest('tbody').children('tr').removeClass('bg-warning');
			//所在行上色
			$(this).closest('tr').addClass('bg-warning');
		}
	});
	
	<!-- //表格每页显示记录行数 -->
	$('#userTableRows').val('{$userTableRows}'); 

	$('#userTableRows').change(function(){
		<!-- //根据每页显示记录行数加载页面 -->
		loadSysUser($(this).val());
	
	});
	
	$('#btnSearchUser').click(function(){
		<!-- //根据每页显示记录行数加载页面 -->
		loadSysUser($('#userTableRows').val());
	});
	
	<!-- // 页面重新加载 -->
	$('#btnReset').click(function(){
		$('#content').load('sysUser');
		
	});

<!-- function -->
	//加载sys_user.html页面内容到index.html页面中<div id="content"></div>
	function loadSysUser(rows,sortName,sort,pageUserNum){
		// 每页显示的记录行数
		var rows=rows;
		var sortName=sortName;
		var sort=sort;
		
		// 分页页数
		var pageUserNum=pageUserNum;
		
		// 本页的3个查询词
		var searchUserName=$('#searchUserName').val();
		var searchDept=$('#searchDept').val();
		var searchUserGroup=$('#searchUserGroup').val();
		
		// 升序or降序
		if(sort){}else{sort='_ASC';}
		
		// 排序的关键词
		if(sortName){}else{sortName='_USERNAME';}
		
		// 组装通过“post”提交的数据，名称与后端所用一致
		var sendData = {'sortName':sortName,'sort':sort,'userTableRows':rows,'searchUserName':searchUserName,'searchDept':searchDept,'searchUserGroup':searchUserGroup,'pageUserNum':pageUserNum};
		
		// jquery load()方法，加载sysUser.html页面内容到index.html页面中<div id="content"></div>
		$('#content').load('sysUser',sendData);
	
	}
	
	//**函数名：ajaxShowSelect
 	//* 作用：本页面ajax过程向服务器请求特定单选框内容所需数据，并组装好HTML语句
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数data，类型：数值。值：传送给后端的键值对数据。
	//* 参数obj，类型：对象。值：必须，单选框的对象名称
	//*参数attach，类型：json数组。值：可为空，需要附加的单选框的键值对，[{"text":"...不限","val":"0"},{"text":"xx","val":"xx"}]
	//*参数selected，类型：字符。值：字符，可为空。
	//* 返回值：无
function ajaxShowSelect(url,data,obj,attach,selected){
	$.ajax({
		type : 'post',
		async : true,  //异步请求
		url : url,
		data : data,
		timeout:2000,
		<!-- // 指定服务器端response的数据类型为json-->
		dataType:'json',
		success:function(backData){
			var str='';
			if(attach){
				for(i=0;i<attach.length;i++){
					str+='<option value="'+attach[i].val+'">'+attach[i].text+'</option>';
				}
			}
			<!-- // 遍历backData数组组装HTML语句 -->
			<!-- // backData的结构是数组类的：[{id:1,name:"dept1", abbr:"d1"},{}],所以要进行嵌套取出id，name和abbr的值组装HTML语句-->
			$.each(backData,function(n1,v1){
				$.each(v1,function(n2,v2){
					switch(data.req){
						case '_DEPT':
							if(n2=='name'){
								str+='<option value="'+v2+'">'+v2+' （简称：';
							}
							if(n2=='abbr'){
								str+=v2+'）</option>';
							}
						break;
						
						case '_USERGROUP':
							if(n2=='id'){
								str+='<option value="'+v2+'">';
							}
							if(n2=='name'){
								str+=v2+'</option>';
							}
						break;
					}
				});
			});
			<!--// 清空单选框Obj的所有选项-->
			obj.empty();
			<!--// 添加单选框Obj的新选项-->
			obj.append(str);
				
			<!-- // value=selected 的项为选定项-->
			if (selected){
				obj.val(selected).attr('selected','selected');
			}
			<!-- Obj.val(selected).attr('selected','selected'); -->
		},
		error: function() {
            alert("失败Group，请稍后再试！");
        }
	});
}

	<!-- function -->
	//**函数名：ajaxModalShow
 	//* 作用：本页面内ajaxModalShow
	//* 参数modalObj，类型：对象。值：不为空。说明：modal对象。
	//* 异步请求的url,类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数id，类型：数值。值：调用函数的对象的属性'data-id'值。
	//* 参数oprt，类型：字符串。值：调用函数的对象的属性'data-oprt'值。
	//* 参数h4Html，类型：字符串。值：调用函数的对象的html值。
	//* 返回值：无
	function ajaxModalShow(modalObj,url,id,oprt,h4Html){
		
		//load成功后修改modal页面显示
		$('#divEditUser_load').load(url,{'oprt':oprt,'id':id},function(){
			// 标题改名
			modalObj.find('h4').html('【'+h4Html+'】用户');
			//修改#modalEditUser的data-oprt属性值
			modalObj.attr('data-oprt',oprt);
			
			//去掉标题底色
			switch(oprt){
				case '_ADDNEW':
					modalObj.find('.modal-header').addClass("bg-warning");
				break;
				case '_EDIT':
					modalObj.find('.modal-header').removeClass("bg-warning");
				break;
			}
			// 清除输入框的格式
			<!-- modalObj.find('.modal input').parent().parent().removeClass("has-success").removeClass("has-error");  -->
			modalObj.find('.has-feedback').removeClass('has-success').removeClass('has-error'); 
		
    		modalObj.find('.spTips').hide();
    		modalObj.find('.spOk').hide();
    		modalObj.find('.spRemove').hide();
			
			//根据.modal的'data-oprt'值选定button，初始化赋值
			$('button:submit').hide();
			switch($('.modal').attr('data-oprt')){
				case '_ADDNEW':
					$('#btnCreate').show();
					$('#oprt').val('_CREATE');
				break;
				case '_EDIT':
					$('#btnUpdate').show();
					$('#btnDelete').show();
					$('#oprt').val('_UPDATE');
					$('#pwd').closest('.has-feedback').remove();
				break;
			}

			$('.modal').on('shown.bs.modal', function(){
				$('.inputCheck').eq(0).focus();
			});			
		}); 
	}
	
	//**函数名：ajaxOprt
 	//* 作用：本页面ajax操作
	//* 参数btnObj，类型：对象。值：不为空。说明：btn对象。
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数id，类型：数值。值：调用函数的对象的属性'data-id'值。
	//* 参数oprt，类型：字符串。值：调用函数的对象的属性'data-oprt'值。
	//* 返回值：无
	function ajaxOprt(btnObj,url,id,oprt){
		$.ajax({
			type : 'post',
			async : true,  //异步请求
			url : url, 
			<!-- // 发送到服务器的数据 -->
			data : {'oprt':oprt,'id':id},
			timeout:2000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				<!-- var obj=$('tbody button[data-oprt="_ENABLE"][data-id="'+backData.id+'"]'); -->
				btnObj.hide();
				if(backData.enable){
					btnObj.prevAll('button').show();
					btnObj.prev('span').hide();
					//本行去掉上色
					btnObj.closest('tr').removeClass("danger text-muted");
					$.alert('用户【'+btnObj.closest('tr').children('.name').text()+'】<span class="label label-success">启用</span>&nbsp;成功');
				}else{
					btnObj.prevAll().hide();
					btnObj.nextAll().show();
					//本行上色
					btnObj.closest('tr').addClass("danger text-muted");
					$.alert('用户【'+btnObj.closest('tr').children('.name').text()+'】<span class="label label-danger">停用</span>&nbsp;成功');
				}
			},
			error: function() {
               	$.alert('与服务器通讯超时，请稍后再试！');
            }
		});	
	}
<!--/ function -->
	
});

</script>


