<!-- sysUsergroup.html -->
<div>
	<h4><span class="label label-info" style="font-size:16px;">系统用户组总数&nbsp;<span class="badge">{ $usergrpoupsNum}</span></span></h4>
	<p>用户组&nbsp;
		<!--// bootstap通过button调用Model -->		
		<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEditUsergroup"><strong>新增</strong>&nbsp;<span class="glyphicon glyphicon-duplicate"></span></button>
				
	</p> 	
			
	<div class="table-responsive">	
		<table class="table table-hover table-condensed">
			<thead>
				<tr >
					<th class="text-center">序号</th>
					<th>用户组名</th>
					<th class="text-center">前台权限</th>
					<th class="text-center">后台权限</th>
					<th>操作</th>
				</tr>
			</thead>
				
			<tbody><!-- 此处显示数据库查询后的数据集 -->
			{volist name="groups" id="vo" empty="暂时没有数据"}
				<tr class="text-center">
					<td>{$i}</td>
					<td class="name text-left">{$vo.name}</td>
					<td class="authority">
						<div style="padding-top:3px">
							<span class="" title="add" value="{$vo.addnew}">新增</span>
							<span class="" title="submit" value="{$vo.submit}">提交</span>
							<span class="" title="modify" value="{$vo.modify}">修改</span>
							<span class="" title="upload" value="{$vo.upfile}">上传</span>
							<span class="" title="download" value="{$vo.downfile}">下载</span>
							<span class="" title="audit" value="{$vo.audit}">审核</span>
							<span class="" title="return" value="{$vo.refuse}">返回</span>
							<span class="" title="reject" value="{$vo.reject}">驳回</span>
							<span class="" title="inspect" value="{$vo.inspect}">检查</span>
							<span class="" title="approve" value="{$vo.approve}">批准</span>
						</div>
					</td>
					<td class="authority">
						<div style="padding-top:3px"><span class="" value="{$vo.bgo}" >访问后台</span></div>
					</td>
					<td class="button text-left">
						<button type="button" class="edit btn-link" userGroupId="{$vo.id}" data-toggle="modal" data-target="#modalEditUsergroup"><span class="glyphicon glyphicon-edit"></span>编辑</button>
							
						<button type="button" class="del btn-link" userGroupId="{$vo.id}"><span class="text-danger glyphicon glyphicon-remove"></span>删除</button>
							
						<button type="button" class="dis btn-link " userGroupId="{$vo.id}"><span class="text-warning glyphicon glyphicon-ban-circle"></span>停用</button>
							
						<span>（已停用）</span><button class="en btn-link" userGroupId="{$vo.id}" enable="{$vo.enable}"><span class="text-success glyphicon glyphicon-magnet"></span>启用</button>
						
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>

<!-- Modal "modalEditUsergroup" -->
<div class="modal fade" id="modalEditUsergroup" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header bg-info" style="border-radius: 5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4><strong>新增用户组</strong></h4>
        </div>
		
        <div class="modal-body">
			<div id="divEditUsergroup_load"><p class="text-center" style="font-size:28px;">加载中……</p></div>
			
        </div>
		
        <!-- <div class="modal-footer"> -->
          <!-- <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button> -->
          
        <!-- </div> -->
      </div>
      
    </div>
</div>
<!-- / Modal "modalEditUsergroup" -->
	
<script>
$(document).ready(function(){
		
	<!-- // 对用户组表格中<td>里的<button>进行格式设置 -->
	$("tbody td button").each(function(){
		if($(this).attr("enable")=='1'){
			$(this).prevAll('button').show();
            $(this).prev('span').hide();
			$(this).hide();
			$(this).parent().parent().removeClass("danger text-muted");
		}else{
			$(this).prevAll('button').hide();
			$(this).show();
			$(this).parent().parent().addClass("danger text-muted");
		}
	});
	//对“superadmin”组只有编辑权限。进一步优化：若登录用户属于“superadmin”组才有，其他的用户都没有。
	$("tbody tr").each(function(){
		var name=$(this).find("td.name").text();
		var str='<button type="button" class="edit btn-link" userGroupId="9" data-toggle="modal" data-target="#modalEditUsergroup"><span class="glyphicon glyphicon-edit"></span>编辑</button>';
		
		if("superadmin"==name){
			$(this).find("td.button").children().remove();
			$(this).find("td.button").append(str);
		}
		<!-- else{ -->
			<!-- $(this).find("td.button").children().remove(); -->
		<!-- } -->
		
	});
   
   <!-- // 对用户组页面中<td>里的<span>进行格式设置 -->
	$("td.authority span").each(function(){
    	if($(this).attr("value")=="0"){
			$(this).addClass("text-muted").css({"padding":"5px","border-radius":"3px"});
		}else{
			$(this).addClass("text-primary bg-info").css({"padding":"5px","border-radius":"3px"});
		}	
		
   	});
	
	// 存储#modalUserGroupDept标题
	var hStr=$("#modalEditUsergroup").find('h4').html();
	// 存储#btnAddUserGroup名称
	var btnStr=$("#btnAddUserGroup").html();
	
	//点击新增用户组按钮
	$("h4 button").click(function() {
		// #modalUserGroup标题内容恢复
		$("#modalEditUsergroup h4").html(hStr);
		//#modalUserGroup标题底色恢复
		$(".modal-header").addClass("bg-info");
			
		<!-- //表单input:text元素设定初始值 -->
		$("#oprtId").val('');	
		<!-- $("#userGroupName").val(''); -->
			
		// 表单input:check元素赋值清空
		$("#modalEditUsergroup input:checkbox").each(function(){
			$(this).prop("checked",false);

		});
		// 设置input:checkbox选中元素
		$("#modalEditUsergroup input:checkbox[name='addnew']").prop("checked",true);
		
		// 表单input:radio:[name='bgoEn']元素赋值
		$("#modalEditUsergroup input:radio[name='bgoEn'][value='1']").prop("checked",false);
		$("#modalEditUsergroup input:radio[name='bgoEn'][value='0']").prop("checked",true);
		// 设置input:radio选中元素的背景色
		$("input:radio[name='bgoEn']").each(function(){
			var objChecked=$("input:radio[name='bgoEn']:checked");
			radioBg(objChecked,'有','无');
		});
		
		// 表单input:radio:[name='userGroupEn']元素赋值
		$("#modalEditUsergroup input:radio[name='userGroupEn'][value='1']").prop("checked",true);
		$("#modalEditUsergroup input:radio[name='userGroupEn'][value='0']").prop("checked",false);
		// 设置input:radio选中元素的背景色
		$("input:radio[name='userGroupEn']").each(function(){
			var objChecked=$("input:radio[name='userGroupEn']:checked");
			radioBg(objChecked);
		});

		// #btnAddUserGroup恢复
		$("#btnAddUserGroup").html(btnStr);
		$("#btnResetUserGroup").show();
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
		
	});
	
	<!-- //<button class='edit'> 事件-->
	$("tbody button.edit").click(function() {
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"edit","id":$(this).attr("userGroupId")};
		
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtUserGroup", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){	
				var data=backData;
				<!-- // 遍历data.result对象，其结构为{addnew: 0, submit: 0, … ,modify: 0}
				$.each(data.result,function(k,v){
				// 表单input:checkbox元素赋值
				$("#modalEditUsergroup input:checkbox").each(function(){
				
					var n=$(this).attr("name");
					if(k==n){
						if(v==1){
							$(this).prop("checked",true);
						}else{
							$(this).prop("checked",false);
						}
					}
					
					// 表单#oprtId赋值
					if(k=="id"){
						<!-- oprtId=v; -->
						// 表单#oprtId赋值
						$("#oprtId").val(v);
					}
				});
						
				// 表单input:text元素赋值
				if(k=="name"){
					$("#userGroupName").val(v);
				}
						
				// 表单input:radio:[name='bgoEn']元素赋值
				if(k=="bgo"){
					if(v){
						$("#modalEditUsergroup input:radio[name='bgoEn'][value='1']").prop("checked",true);
						$("#modalEditUsergroup input:radio[name='bgoEn'][value='0']").prop("checked",false);
					}else{
						$("#modalEditUsergroup input:radio[name='bgoEn'][value='1']").prop("checked",false);
						$("#modalEditUsergroup input:radio[name='bgoEn'][value='0']").prop("checked",true);
					}
				}
						
				// 表单input:radio:[name='userGroupEn']元素赋值
				if(k=="enable"){
					if(v){
						$("#modalEditUsergroup input:radio[name='userGroupEn'][value='1']").prop("checked",true);
						$("#modalEditUsergroup input:radio[name='userGroupEn'][value='0']").prop("checked",false);
					}else{
						$("#modalEditUsergroup input:radio[name='userGroupEn'][value='1']").prop("checked",false);
						$("#modalEditUsergroup input:radio[name='userGroupEn'][value='0']").prop("checked",true);
					}
				}
		
				});
				
				// 设置input:radio选中元素的背景色
				$("input:radio[name='bgoEn']").each(function(){
					var n=$(this).is(":checked");
					if(n){radioBg($(this),'有','无');}
				});
		
				// 设置input:radio选中元素的背景色
				$("input:radio[name='userGroupEn']").each(function(){
					var n=$(this).is(":checked");
					if(n){radioBg($(this));}
				});
				
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});	
			
		// 标题改名
		$("#modalEditUsergroup h4").text("编辑用户组信息");
			
		//去掉标题底色
		$(".modal-header").removeClass("bg-info");
			
		$("#btnResetUserGroup").hide();
		// #btnAddUserGroup改名
		$("#btnAddUserGroup").html('<span class="glyphicon glyphicon-ok-circle"></span>&nbsp;保存');
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
		
	});
	
	//<button class='del'> ajax事件
	$("tbody button.del").click(function() {
		// 组装通过“post”提交的数据
		var name=$(this).parent().parent().find('.name').text();
		var sendData = {"oprt":"delete","id":$(this).attr("userGroupId"),"userGroupName":name};
		
		$.confirm('确定删除【'+name+'】用户组？',function(e){
			con=e;
			if(true==con){
				$.ajax({
					type : "post",
					async : true,  //异步请求
					url : "{$home}/admin/index/oprtUserGroup", 
					// 发送到服务器的数据
					data : sendData,
					timeout:1000,
					// 指定服务器端response的数据类型为json
					dataType:"json",
					success:function(backData){
						var data=backData;
						$.alert(data.msg);						
					},
					error: function() {
               			alert("删除失败，请稍后再试！");
            		}
				});
				$("#content").load("sys_usergroup");		
			}
			<!-- else{ -->
				<!-- 			 -->
			<!-- } -->
		}).ok('确定(Y)').cancel('取消(N)');
	
	});
	
	<!-- //<button class='en'> ajax事件-->
	$("tbody button.en").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"enable","id":$(this).attr("userGroupId")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtUserGroup", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.en.click失败，请稍后再试！");
            }
		});	
		
		$(this).prevAll('button').show();
        $(this).prev('span').hide();
		$(this).hide();
		$(this).parent().parent().removeClass("danger text-muted");
	
	});
	
	
	<!-- //<button class='dis'> ajax事件-->
	$("tbody button.dis").click(function() {
  		
		<!-- // 组装通过“post”提交的数据 -->
		var sendData = {"oprt":"disable","id":$(this).attr("userGroupId")};
				
		$.ajax({
			type : "post",
			async : true,  //异步请求
			url : "{$home}/admin/index/oprtUserGroup", 
			<!-- // 发送到服务器的数据 -->
			data : sendData,
			timeout:1000,
			<!-- // 指定服务器端response的数据类型为json -->
			dataType:"json",
			success:function(backData){
				var data=backData;
						
			},
			error: function() {
               	alert("<button>.dis.click失败，请稍后再试！");
            }
		});
		
		$(this).prevAll().hide();
		$(this).hide();
		$(this).nextAll().show();
		// “启用”有关按钮显示
		<!-- $(this).nextAll().find('span').show(); -->
		<!-- $(this).nextAll().find('.en').show(); -->
		
		$(this).parent().parent().addClass("danger text-muted");
	
	});
	
	<!-- userGroupName内容验证 -->
	$("#userGroupName").change(function(){
        if(regUserGroupName.test($(this).val())){
			success($(this),0);	
		}else if ($(this).val().length < 5) {
        	if($(this).val()==''){
				fail($(this), 0, '用户组名不能为空。');
			}else{
				fail($(this), 0, '用户组名太短，不能少于5个字符。');
			}
		}
		else {
        	fail($(this), 0, '用户组名为英文、数字、中文和下划线，但不能以数字开头。')
    	}
  	});
	
	// 设置重置后modal中各元素默认格式
	$('#btnResetUserGroup').click(function() {
		
		// 清除输入框的格式
		$(".modal input").parent().parent().removeClass("has-success").removeClass("has-error"); 
		
		// 注意限定.tips/glyphicon-ok/glyphicon-remove所在标签.modal，否则会殃及其他标签的.tips/glyphicon-ok/glyphicon-remove
    	$('.modal .tips').hide();
    	$('.modal .glyphicon-ok').hide();
    	$('.modal .glyphicon-remove').hide();
		
		// 设置input:radio选中元素及其背景色
		// 默认value='0'选中
		$("input:radio[name='bgoEn'][value='0']").prop("checked",true)
		$("input:radio[name='bgoEn']").each(function(){
			var n=$(this).is(":checked");
			if(n){radioBg($(this),'有','无');}
		});
		
		// 设置input:radio选中元素的背景色
		// 默认value='1'选中
		$("input:radio[name='userGroupEn'][value='1']").prop("checked",true)
		$("input:radio[name='userGroupEn']").each(function(){
			var n=$(this).is(":checked");
			if(n){radioBg($(this),'是','否');}
		});
		
	});	
	
	<!-- // 在#modalEditUser的model显示之前，应用show.bs.modal事件将#modalEditUser的model内容准备好 -->
	$('#modalEditUsergroup').on('show.bs.modal', function () {
        
		$('#divEditUsergroup_load').load('tplFile',{'tplFile':'editUsergroup'});
		
	});	
	
<!-- function -->



<!--/ function -->
		
	
});


</script>
		
		

		