<!-- //usergroupMembers.html -->
<div>
<h4><span class="text-info">用户组说明：</span>{$description}</h4>

<div class="row myRow">
	
	<div class="form-group col-sm-5" >
		<h4><button class="btn btn-sm btn-info" style="font-size:16px;font-weight:700;" title="显示/隐藏现有成员" data-toggle="collapse" data-target="#members">现有成员&nbsp;<span class="badge">44</span></button></h4>
		<div id="members" class="panel-group collapse">
		<!-- // js中buildUgMembersCom()的编程模型-->
		<!-- <div class="panel panel-info"> -->
			<!-- <div class="panel-heading"> -->
				<!-- <h4 class="panel-title"> -->
        			<!-- <a data-toggle="collapse" href="#panel1"> <strong class="text-primary">dept1</strong><span class="badge">{ $group.members.num}</span></a> -->
      			<!-- </h4> -->
			
			<!-- </div> -->
			<!-- <div id="panel1" class="panel-collapse collapse in"> -->
				<!-- <ul class="list-group"> -->
						
				<!-- </ul> -->
			<!-- </div> -->
		<!-- </div> -->		
		</div>
	</div>
	
	<div class="form-group col-sm-2">
	
	</div>
	
	<div class="form-group col-sm-5">
		<h4><button class="btn btn-sm btn-warning" style="font-size:16px;font-weight:700;" title="显示/隐藏待添加成员" data-toggle="collapse" data-target="#userAddOn">可加入用户&nbsp;<span class="badge">2</span></button></h4>
		
		<div id="userAddOn" class="panel-group collapse">	
		</div>
		
	</div>
</div>
</div>
<script>
var resData={$data};

var buildPanelCom=(members={},obj,color='')=>{
	let colorArr=['info','success','danger','warning','primary'],
		colorName=(colorArr.indexOf(color)!=-1 )?color:'info',
		panelColor=bs3Color[colorName]['pan'],
		txtColor=bs3Color[colorName]['txt'],
		membersDefault={num:'',info:'',deptDist:''},
		data=$.extend({},membersDefault,members),
		memArr=data.info,
		deptDist=data.deptDist,
		num=data.num,
		//计数器
		m=0,
		rSet=[];
		
	obj.prev('h4').find('.badge').text(num);
	
	//panel中的内容组件
	for(let name in deptDist){
		let userNum=deptDist[name],
			divId='dept-'+name+'-in-'+colorName,
			aHref='#'+divId,
			r=$('<div></div>').addClass(panelColor),
			c1=$('<div></div>').addClass('panel-heading'),
			c1c=$('<h4></h4>').addClass('panel-title'),
			c1cc=$('<a></a>').attr({'href':aHref,'data-toggle':'collapse','title':'点击查看详情'}).append($('<strong></strong>').html(name+'&nbsp;'),$('<span></span>').addClass('badge').text(userNum)),
			c2=$('<div></div>').attr({'id':divId,'class':'panel-collapse collapse'}),
			c2c=$('<ul></ul>').addClass('list-group');
			
		//panel中的内容组件	
		memArr.forEach(function(e,index){
			let txt=(colorName=='info')?'点击删除':'点击添加',
				c2cc=$('<a></a>').attr({'class':'list-group-item text-center','title':txt});
			if(e.dept==name){
				c2cc.data('userId',e.id).append($('<strong></strong>').text(e.username),'，',e.mobile);
				
				(e.enable)?c2cc.append('，正常'):c2cc.append('，',$('<span></span>').addClass('label label-danger').text('已禁用'));
				
				c2c.append(c2cc);
			}
		});
		c1c.append(c1cc);
		
		rSet[m]=r.append(c1.append(c1c),c2.append(c2c));
		m++;
	}
	obj.empty().append(rSet);
	(colorName=='info')?obj.collapse('show'):obj.collapse('hide');
};

//自调用匿名函数立即执行的特点，进行页面初始化。
;(function($){	

	buildPanelCom(resData.members,$('#members'));
	buildPanelCom(resData.userAddOn,$('#userAddOn'),'warning');
	$('[title]').tooltip();   
})(jQuery);


$(document).ready(function(){


});


</script>
