<!-- usergroupList.html -->
<div>
	<h4><button class="btn btn-sm btn-info" style="font-size:16px;cursor:unset;">系统用户组总数&nbsp;<span class="badge">{$usergroupNum}</span></button></h4>
	<p class="text-right">
		<!--// bootstap通过button调用Model -->		
		<button type="button" class="btn-link btnOprt" data-oprt="_CREATE" data-id="0" data-req-ent="model" title="新增用户组"></button>
		<button type="button" class="btn-link" title="显示/隐藏用户组查询"><span class="text-info" data-toggle="collapse" data-target="#divCollapse"><span class="glyphicon glyphicon-plus-sign" ></span>搜索</span></button>	
		<button id="btnRefresh" type="button" class="btn-link" title="刷新用户组列表"><span class="glyphicon glyphicon-refresh"></span>刷新</span></button>
	</p>
	<div id="divCollapse" class="collapse usergroup-list-search-form">
 	<!-- <div id="divCollapse" class="collapse"> -->
		<a class="label label-info" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divCollapse"  data-toggle="collapse" title="点击隐藏">用户组查询</a>
		<form id="fmUsergroupSearch" style="border:1px solid #eee;padding:10px 0px 10px 0px;margin-top:2px;">
			<div class="row myRow">			
			<div class="form-group col-sm-3">
				<label class="" for="name">用户组名</label>
				<input class="form-control" name="name" type="text" value="" placeholder="...不限">		
			</div>
									
			<div class="form-group col-sm-5">
				<label class="control-label" for="description">用户组说明</label>
				<input class="form-control" name="description" type="text" value="" placeholder="...不限">		
			</div>
			</div>
			
			<div class="row myRow text-right">
				<button type="submit" class="btn-link" title="开始查询"><span class="glyphicon glyphicon-search" ></span>查询</button>
				<button type="reset" class="btn-link" title="重置查询关键词"><span class="glyphicon glyphicon-erase" ></span>重置</button>
			</div>
			
			<div class="row myRow text-right usergroup-list-search usergroup-list-search-num">
				<button type="button" class="btn btn-xs btn-info" style="font-size:14px;cursor:unset;">查询结果&nbsp;<span class="badge"></span></button>&nbsp;&nbsp;&nbsp;&nbsp;
			</div>	
		</form>	
	</div> 	
	<!-- <p>{$testDis}</p> -->
	<br/>
	<p class="text-center usergroup-list-search usergroup-list-search-none">
		<span class="label label-default" style="font-size:16px;">无符合条件信息</span>
	</p>

	<div class="usergroup-list-search usergroup-list-search-table">
	<div class="table-responsive">
		<table id="tblUserGpList" class="table table-hover table-condensed table-bordered">
			<caption class="text-center" style="border-bottom:1px solid #eee;">
				<h4>用户组列表
					<div class="btn-group">
      				<button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" >选择显示字段<span class="caret"></span></button>
      				<ul class="dropdown-menu" >
						<li><div class="checkbox"><label><input type="checkbox" value="all" checked><span class="text-primary">全选</span></label></div></li>
						<li class="divider"></li>
					</ul>
    				</div>
				</h4>
			</caption>	
			<thead>
				<tr >
					<th class="text-center">序号</th>
					<th><a data-sort-order="asc" data-sort-name="name">用户组名</a></th>
					<th><a data-sort-order="asc" data-sort-name="description">用户组说明</a></th>
					<th data-ent-name="iss-pat">“专利事务”权限</th>
					<th data-ent-name="iss-pro">“项目事务”权限</th>
					<th data-ent-name="iss-the">“论文事务”权限</th>
					<th data-ent-name="ass">“固定资产”权限</th>
					<th data-ent-name="pat">“专利”权限</th>
					<th data-ent-name="pro">“项目”权限</th>
					<th data-ent-name="the">“论文”权限</th>
					<th data-ent-name="att">“附件”权限</th>
					<th data-ent-name="admin">“系统管理”权限</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
				
			<tbody><!-- 此处显示数据库查询后的数据集 -->
			{volist name="$userGpList" id="vo" empty="暂时没有数据"}
				<tr class="text-left" data-id="{$vo.id}">
					<td class="text-center">{$i+($pageNum-1)*$listRows}</td>
					<td class="text-center"><strong><a class="groupMembers" href="#usergroupList" title="管理用户组成员">{$vo.name}</a></strong></td>
					<td class="text-center">{$vo.description}</td>
					<!-- //_ISS_PAT -->
					<td class="tdAuth"> 
						{present name="$vo.authority['iss-pat']"}
						<div class="">
						{foreach name="$vo.authority['iss-pat']" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //_ISS_PRO -->
					<td class="tdAuth"> 
						{present name="$vo.authority['iss-pro']"}
						<div class="">
						{foreach name="$vo.authority['iss-pro']" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //_ISS_THE -->
					<td class="tdAuth"> 
						{present name="$vo.authority['iss-the']"}
						<div class="">
						{foreach name="$vo.authority['iss-the']" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //ass -->
					<td class="tdAuth"> 
						{present name="$vo.authority.ass"}
						<div class="">
						{foreach name="$vo.authority.ass" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //pat -->
					<td class="tdAuth">
						{present name="$vo.authority.pat"}
						<div class="">
						{foreach name="$vo.authority.pat" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //pro -->
					<td class="tdAuth"> 
						{present name="$vo.authority.pro"}
						<div class="">
						{foreach name="$vo.authority.pro" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //the -->
					<td class="tdAuth"> 
						{present name="$vo.authority.the"}
						<div class="">
						{foreach name="$vo.authority.the" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<!-- //att -->
					<td class="tdAuth"> 
						{present name="$vo.authority.att"}
						<div class="">
						{foreach name="$vo.authority.att" item="v" }
    						<span data-val="{$v}">{$key}</span>
						{/foreach}
						</div>
						{else /}
						<span>0</span>
						{/present}
					</td>
					<td class="tdAuth text-center">
						{present name="$vo.authority.admin"}
						{foreach name="$vo.authority.admin" item="v" }
    						<span class="label label-info" data-val="{$v}">{$key}</span>
						{/foreach}
						{else /}
						<span>0</span>
						{/present}
					</td>
					
					<td class="text-right" data-enable="{$vo.enable}">
						<button type="button" class="btn-link btnOprt" data-oprt="_EDIT" data-req-ent="model" title="编辑用户组"></button>
						<button type="button" class="btn-link btnOprt" data-oprt="_DELETE" data-req-ent="model" title="删除用户组"></button>
						<div class="btnEn">
							<button type="button" class="btn-link btnOprt" data-oprt="_DISABLE" data-req-ent="result" title="禁用用户组"></button>
						</div>
						<div class="btnDis">
							<button class="btn-link btnOprt" data-oprt="_ENABLE" data-req-ent="result" title="启用用户组"><strong class="text-danger">(已禁用)</strong></button>
						</div>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
	<div id="divListRows" class="col-sm-12 text-right" style="padding-top:10px;">
		<div class="col-sm-10">{$pageSet->render()}</div>
						
		<div class="form-group form-group-sm col-sm-2">
			<span class="">每页记录行数：</span>
			<select class="form-control" id="listRows">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="30">30</option>
				<option value="50">50</option>
			</select>
						
		</div>
	</div>
	</div>
</div>
	
<script>
//控制显示/隐藏字段的组件的属性数组
const res={$resData};
var columnToggleArr=[],
	pageParam=res.pageParam,
	searchData=$.extend({},{keys:'',resultNum:'null',trig:false},res.searchData),
	sortData=$.extend({},{name:'name',order:'asc'},res.sortData),
	fmSearch=$('#fmUsergroupSearch');

//设置与search有关的userList组件（.usergroup-list-search）	
var setUsergroupListCom=(searchData={})=>{
	let tbl=$('.usergroup-list-search-table'),
		num=$('.usergroup-list-search-num'),
		none=$('.usergroup-list-search-none'),
		fm=$('.usergroup-list-search-form'),
		objStatus=(searchNum)=>{
			$('.usergroup-list-search').hide();	
			if(searchNum>0){
				fm.collapse();
				num.show().find('span').text(searchNum);
				tbl.show();
			}
			if(searchNum==0){
				fm.collapse();
				none.show();
			}
			if(searchNum=='null'){
				tbl.show();
			}
		};
	//有查询
	if(searchData.trig){
		//设定fmSearch中的输入框值
		for(let k in searchData['keys']){
			let v=searchData['keys'][k];
			<!-- console.log(k+' : '+v); -->
			if(v!=''){
				fmSearch.find('[name="'+k+'"]').val(v);
			}
		}
	}
	objStatus(searchData.resultNum);
};
//选择显示、隐藏字段组件生成函数
var buildColumnToggleCom=()=>{
	let arr=columnToggleArr;
	//生成单选框组件属性数组
	if(arr.length==0){
		$('#tblUserGpList th').each(function(){
			<!-- tblColObjArr.push($(this).text()); -->
			let nameEn=$(this).data('entName'),
				nameChi=$(this).text();
			<!-- let nameChi=$(this).children('a').html(); -->
			if(nameEn){
				arr.push({nameChi:nameChi,val:nameEn,showFlag:true});
			}else{
				arr.push({nameChi:nameChi,val:0,showFlag:false});
			}
		});
		//附加value="all"的input复选框信息
		arr.push({nameChi:'全选',val:'all',showFlag:$('#tblUserGpList ul input').eq(0).prop('checked')});
		//更新组件属性数组
		columnToggleArr=arr;
	}
	//由属性数组生成单选框组件
	arr.forEach(function(el,index){
		let obj=$('#tblUserGpList'),
			trSet=$('#tblUserGpList').find('tr');
		//添加col标签
		obj.find('colgroup').append('<col data-col-index="'+index+'">');
			
		//生成显示字段的多选框内容，
		if(el.val && el.val!='all'){
			let labelObj=$('<label></label>').prepend($('<input />').attr({'type':'checkbox','checked':true}).val(el.val)).append($('<span></span>').addClass('text-primary').html(el.nameChi)),
				divObj=$('<div></div>').append(labelObj).addClass('checkbox');
			obj.find('ul').append($('<li></li>').append(divObj));
		}
		//每个th、td添加data-hide-val=""，相同的data-hide-val=""用于组合成一个col
		trSet.each(function(){
			if(el.val){
				$(this).children().eq(index).attr('data-hide-val',el.val);
			}
		});	
	});
	
	//对生成的控制显示隐藏字段的单选框格式进行微调
	$('#tblUserGpList caption div.checkbox').css('padding-left','10px').find('input').css('margin-top','0');	
};


//根据columnToggleArr的值，改变复选框，显示/隐藏对应column
var columnToggle=()=>{
	//column，一个([data-hide-val="'+el.val+'"]的th、td集合
	columnToggleArr.forEach(function(el){		
		//复选框
		$('#tblUserGpList input').each(function(){			
			let txt=$(this).next(),
				col=$('#tblUserGpList').find('[data-hide-val="'+el.val+'"]');
			if($(this).val()==el.val){
				//改变复选框的值
				$(this).prop('checked',el.showFlag);
				//改变复选框的字体颜色
				txt.removeClass('text-primary text-muted');
				if(el.showFlag){
					txt.addClass('text-primary');
					//显示col
					col.show();
				}else{
					txt.addClass('text-muted');
					//隐藏col
					col.hide();
				}
			}
		});
	});	
};
//‘操作’列内每个单元格(td)内的按键显示、隐藏
var oprtBtnDisplay=(tdObj)=>{
	let enObj=tdObj.find('.btnEn'),
		disObj=tdObj.find('.btnDis'),
		trObj=tdObj.closest('tr');
	enObj.hide();
	disObj.hide();
	
	if(tdObj.data('enable')){
		enObj.show();
		//去掉本行的禁用底色
		trObj.removeClass('alert-danger');
	}else{
		disObj.show();
		//给本行添加禁用底色
		trObj.addClass('alert-danger');
		
	}
};

//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){	
	//每个$('#tblUserGpList thead a')添加属性
	$('#tblUserGpList thead th[data-ent-name]').addClass('text-center text-primary');
	
	//每个含有a标签的$('#tblUserList thead th')添加属性
	$('#tblUserGpList thead').find('a').addClass('text-primary').attr({href:'#usergroupList',title:'点击排序'}).closest('th').addClass('text-center');
	
	//每个操作按钮添加核心属性
	$('.btnOprt').each(function(){
		let e=oprtBtnProp[$(this).data('oprt')];
		$(this).append($('<span></span>').addClass(e.color.txt).html(e.glyCom+e.chi));
		
	});
	
	//‘操作’列内每个单元格内的按键显示、隐藏
	$('#tblUserGpList tbody td[data-enable]').each(function(){
		oprtBtnDisplay($(this));
	});	
	buildColumnToggleCom();
	columnToggle();
	spComModify($('#tblUserGpList .tdAuth span'));
	//设置与search有关的usergroupList组件（.usergroup-list-search）
	setUsergroupListCom(searchData);
	//排序
	sortOrderToggle();
	// 激活tooltip
	$('[title]').tooltip();   
})(jQuery);

$(document).ready(function(){
	//给表格内的特定行上底色
	tblTrBg(pageParam.showId);
	//页面刷新
	$('#btnRefresh').click(function(){
		loadTplFile();
	});	
	//排序
	$('#tblUserGpList thead a').click(function(){
		//修改排序值
		sortData.name=$(this).data('sortName');
		sortData.order=$(this).data('sortOrder');
		
		//调用index.html中的loadTplFile()
		loadTplFile({sortData:sortData});
	});	
	//btnOprt点击	
	$('.btnOprt').click(function(){
		let oprt=$(this).data('oprt');
		if(oprt=='_ENABLE' || oprt=='_DISABLE'){
			url='usergroupOprt';
		}else{ 
			url='usergroupSingleForm';
		}
		btnOprtClick($(this),url);
	});	
	
	//选择显示/隐藏字段	
	$('#tblUserGpList ul input').click(function(){
		//复选框点击后的值
		let checkVal=$(this).prop('checked'),
			val=$(this).val(),
			arr=columnToggleArr;
		if(val=='all'){
			arr.forEach(function(el,index){
				el.showFlag=checkVal;
			});
		}else{
			for(let i=0;i<arr.length;i++){
				if(val==arr[i].val){
					arr[i].showFlag=checkVal;
				}
			}
		}
		//修改columnToggleArr
		columnToggleArr=arr;
		
		columnToggle();	
	});
	
	<!-- //表格每页显示记录行数 -->
	$('#listRows').val(pageParam.listRows); 
	//listRow选择change	
	$('#listRows').change(function(){
		let listRows=$(this).val()*1,
			obj=$('#pageParam');
		//向$('#pageParam')汇集
		if(listRows){
			obj.data('listRows',listRows);
			//分页从第一页开始
			obj.data('pageNum',1);
		}
		//调用index.html中的loadTplFile()
		loadTplFile();
	});	
	
	//编辑用户组成员$('a.groupMembers')
	$('a.groupMembers').click(function(evt){
		let ugId=$(this).closest('tr').data('id'),
			ugName=$(this).text(),
			mdObj=$('#modalSingle'),
			url='usergroupMembers';
		evt.preventDefault();
		
		<!-- $("#content").load(url,{ugId:ugId},function(){}); -->
		
		mdObj.find('.modal-header').removeClass('bg-info bg-danger bg-warning').addClass('bg-info');			
		mdObj.find('.modal-body').html('<p class="text-center" style="font-size:28px;">加载中……</p>').load(url,{ugId:ugId},function(){
			mdObj.find('.modal-header h4').html('用户组【'+ugName+'】成员');
				
		});
		
		mdObj.modal('show');
		
	});	
	
	//分页click
	$('#divListRows a').click(function(evt){
			// a所在分页页数
		let pageStr=$(this).text(),pageNum,
			//(li.active)所代表的页数
			pageNumActive=$('#divListRows li.active').children('span').text(),
			url=window.location.hash.slice(1);

		evt.preventDefault();
		
		switch(pageStr){
			case'»':
				//用"*"确保得到的是加法运算结果，而不是字符串
				pageNum=(pageNumActive*1+1);
			break;
			
			case'«':
				pageNum=(pageNumActive*1-1);
			break;
			
			default:
				pageNum=pageStr*1;
			break;
		}
		//排序有关的值向$('#divTblSortData')汇集
		if(pageNum){
			$('#pageParam').data('pageNum',pageNum);
			$('#pageParam').data('url',url);
		}
		//调用index.html中的loadTplFile()
		loadTplFile({sortData:sortData});
	});
	
	//fmUsergroupSearch表单提交
	fmSearch.submit(function(evt){
		//阻止表单提交动作
		evt.preventDefault();		
		loadTplFile({searchData:setSearchData(),sortData:sortData});
	});
	
	//fmUserSearch表单重置按钮
	fmSearch.find(':reset').click(function(evt){
		<!-- $('.user-list-search-num').hide(); -->	
		//阻止默认事件
		evt.preventDefault();
		fmSearch[0].reset();
		loadTplFile({searchData:setSearchData(),sortData:sortData});
	});

function setSearchData(){
	let formData=new FormData(fmSearch[0]);
	//遍历formData中的键值对转换成hash数组
	for(let p of formData){
		searchData.keys[p[0]]=p[1];
	}
	searchData.trig=true;
	return searchData;
}
	
	
});


</script>
		
		

		