<!-- //module:thesis; view:index/index.html  -->

<div>
	
	<ul id="thePeriodNav" class="nav nav-pills">
		<!-- //jQ产生参考模型	 -->
		<!-- <li class="active"><a class="aTab" href="#total">项目概况&nbsp;|&nbsp;<span class="glyphicon glyphicon-search"></span></a></li> -->
	</ul>
		
	<div class="tab-content">
		<div id="theList">
		<!-- //jQ载入 -->
		</div>
	</div>
	
</div>

<script>
const thePeriodProp={
	clsName:'thePeriod',
	period:[
		{name:'total',txt:'论文总体情况',color:bs3Color['info']['btn']},
		{name:'audit',txt:'内审'},
		{name:'plan',txt:'拟发表'},
		{name:'apply',txt:'投稿'},
		{name:'accept',txt:'收录'},
		{name:'publish',txt:'发表'},
		{name:'reject',txt:'拒稿'}
	]
};
//根据定义的patPeriodProp生成"navPill"组件
var buildThePeriodNavCom=()=>{ 
	let r=$('#thePeriodNav').css('border-bottom','1px solid #ddd');
	
	thePeriodProp.period.forEach(function(e){
		let a=$('<a></a>').attr({'data-ent':'pat','data-period':e.name,'class':thePeriodProp.clsName}).html(e.txt).css({'padding':'3px 10px','border-bottom-right-radius':'0px','border-bottom-left-radius':'0px','cursor':'pointer'}),
			rC=$('<li></li>');
			
		rC.append(a);
		r.append(rC);	
	});
	<!--为第一个li标签添加.active -->
	r.find('li').eq(0).addClass('active');
};
//改变向后端请求的url
url=urlPrex+'/thesis/index/theList';

//利用自调用匿名函数立即执行的特点，页面初始化
(function($){

	buildThePeriodNavCom();
	$('#theList').load(url,rqData);
	console.log(rqData);
})(jQuery);

$(document).ready(function(){	
	let aSet=$('.'+thePeriodProp.clsName);
	
	<!-- //点击组件点击后，显示相应状态的pat内容-->
	aSet.click(function(){
    	rqData.ent=$(this).data('ent');
		rqData.period=$(this).data('period');
		
		$(this).tab('show');
		
		$('#theList').load(url,rqData);
	});	
	
});
</script>

