<!-- //module:thesis; view:index/index.html  -->

<div>
	
	<ul id="thePeriodNav" class="nav nav-pills">
		<!-- //jQ产生参考模型	 -->
		<!-- <li class="active"><a class="aTab" href="#total">项目概况&nbsp;|&nbsp;<span class="glyphicon glyphicon-search"></span></a></li> -->
	</ul>
		
	<div class="tab-content">
		<div id="theList">
		<!-- //jQ载入 -->
		</div>
	</div>
	
</div>

<script>
let aSet='';
let loadObj=$('#theList');
//改变向后端请求的url
url=domain+'/thesis/index/theList';

buildMainPeriodNavCom($('#thePeriodNav'),rqData.ent);
aSet=$('#thePeriodNav').find('a');
loadEntPeriodList(loadObj);

<!-- //组件点击后，显示相应period的list-->
aSet.click(function(){
    rqData.ent=$(this).data('ent');
	rqData.period=$(this).data('period');
		
	loadEntPeriodList(loadObj);
});	
	
</script>

