{include file="../application/common/header.html" title="专利信息" }

<!-- pagewrap  -->
<div class="container-fluid" style="padding-top: 50px;">
	<!-- <h3><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利情况</span></h3> -->
	<!-- <ul class="nav nav-tabs"> -->
	
	<ul class="nav nav-tabs">
		<li><a class="aTab" href="#total">总体情况&nbsp;<span class="glyphicon glyphicon-search"></span></a></li>
		<li><a class="aTab" href="#plan">拟发表&nbsp;<span class="label label-warning">...</span></a></li>
		<li><a class="aTab" href="#apply">投稿&nbsp;<span class="label label-warning">...</span></a></li>
		<li><a class="aTab" href="#accept">收录&nbsp;<span class="label label-warning">...</a></span></li>
		<li><a class="aTab" href="#publish">发表&nbsp;<span class="label label-warning">...</a></span></li>
		<li><a class="aTab" href="#reject">拒稿</a></li>
	</ul>
		

	<div class="tab-content">
		<div id="prolist"></div>
	</div>
	
</div>

<!-- /pagewrap  -->

<script>
$(document).ready(function(){

	<!-- 选中id为"nav_the"的标签（header.html文件中的li标签）,添加.active -->
	$("#nav_the").addClass("active");

	<!-- // 锚点值sId对应于pat的不同状态，jquery load()方法，加载total.html页面内容到本页面中<div id="patlist"></div>位置  -->
	var sId = window.location.hash;
    $("#prolist").load('total',{"proStatus":sId});
	
	<!-- //点击.aTab中的各个按钮后，显示相应状态的pat内容-->
	$(".aTab").click(function(){
        var sId = $(this).attr("href");  //a的attr属性值
		window.location.hash = sId;  //设置锚点
		$(this).tab('show');
		
		$("#prolist").load('total',{"proStatus":sId});
		
    });	
	
	<!-- //	为sId对应的li添加.active-->
	$('.aTab').each(function(){
		if($(this).attr('href')==sId){
			$(this).parent().addClass('active');
		}	
	});
	
});
</script>

{include file="../application/common/footer.html"}
