{include file="../application/common/bg_header.html" title="系统管理" }

<!-- pagewrap  -->

<div id="divContainer" class="container-fluid" >
	<div class="row content" >
		<div class="col-sm-2" >
			<!-- nav 与 jQuery结合实现菜单栏导航效果-->
			<ul class="nav nav-pills nav-stacked hy-box" >
				<li id="li0" class="active"><a class="aTab" href="#div0"><span class="glyphicon glyphicon-inbox"></span>&nbsp;系统概况</a></li>
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;系统用户
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li id="li1" class="text-right"><a class="aTab" href="#div1">用户&nbsp;<span class="glyphicon glyphicon-file"></span></a></li>
					  <li id="li2" class="text-right"><a class="aTab" href="#div2">用户组&nbsp;<span class="glyphicon glyphicon-duplicate"></span></a></li>
					  <!-- //<li><a href="#"><span class="glyphicon glyphicon-link"></span>&nbsp;功能1-3</a></li> -->
					</ul>
				</li>
				
				<li id="li3"><a class="aTab" href="#div3"><span class="glyphicon glyphicon-wrench"></span>&nbsp;系统设置</a></li>
			</ul>
			
		</div>
		
		<div class="col-sm-10 tab-content" >
			
			<div id="content"></div>
			
		</div>
		
		
		
	</div>
	

</div>

<!-- /pagewrap  -->


<script>
$(document).ready(function(){
	
	var sId = window.location.hash;
    loadInner(sId);
	
	<!-- //点击nav-pills中的各个按钮后，显示对应的页面-->
	$(".aTab").click(function(){
        var sId = $(this).attr("href");  //a的attr属性值
		window.location.hash = sId;  //设置锚点
        loadInner(sId);              //加载锚点对应的页面文件
    });	
	
	// 作用：加载锚点对应的页面文件
	function loadInner(sId){
        var sId = window.location.hash;
        var pathn;
        switch(sId){
        	case "#div0": 
				pathn = "sys_sumary"; 
				$('.nav-pills a[href="#div0"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			case "#div1": 
				pathn = "sys_user"; 
				$('.nav-pills a[href="#div1"]').tab('show');//a所在li高亮，对应页面显示 
			break;
        	case "#div2": 
				pathn = "sys_usergroup";
				$('.nav-pills a[href="#div2"]').tab('show');//a所在li高亮，对应页面显示 
			break;
        	case "#div3": 
				pathn = "sys_param"; 
				$('.nav-pills a[href="#div3"]').tab('show');//a所在li高亮，对应页面显示 
			break;
　　		default: 
				pathn = "sys_sumary"; break;   //#div0
				$('.nav-pills a[href="#div0"]').tab('show');//a所在li高亮，对应页面显示 
			break;
        }
        $("#content").load(pathn); //加载相对应的页面文件
 
    }
	
    

});


</script>


{include file="../application/common/bg_footer.html"}