{include file="../application/common/header.html" title="IPMS-查阅"}

<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="-3">
  <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="http://www.gzgjd.com" title="GZOME主页" target="_blank"><strong>IPMS</strong>
				<img src="/home/res/images/logo.png" class="img-responsive img-circle margin" style="display:inline" width="45" height="40">
			</a>
		</div>
    <div id="topNavbar" class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
	  <!-- // jQ生成li组件-->
	  	<!-- //组件模型 -->
        <!-- <li><a href="{$home}/index/index/index"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li> -->
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{$home}/dashboard/index/index#userInfo" title="点击进入“个人中心”"><span class="glyphicon glyphicon-user"></span>&nbsp;【{$username}】个人中心</a></li>	
        <li id="liQuit"><a href="{$home}/index/index/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;退出</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="mainRow" class="mainFrame container-fluid" style="padding-top: 70px;">
<!-- //jQ产生参考模型	 -->
	<!-- <div class="row"> -->
		<!-- <div class="col-sm-6"> -->
			<!-- <div class="panel-group"> -->
				<!-- <div class="panel panel-default"> -->
					<!-- <div class="panel-heading"><span class="glyphicon glyphicon-wrench"></span>&nbsp;<strong>专利概况</strong></div> -->
					<!-- <div class="panel-body"> -->
						<!-- <a href="{$home}/patent/index/index#newAdd" class="btn-info">拟申报专利数：<span class="badge">{ $num.pat.newAdd}</span></a> -->
						<!-- <a href="{$home}/patent/index/index#apply" class="btn-primary">申报专利数：<span class="badge">{ $num.pat.apply}</span></a> -->
						<!-- <a href="{$home}/patent/index/index#authorize" class="btn-success">有效专利数：<span class="badge">{ $num.pat.authorize}</span></a> -->
					
						<!-- <p class="text-center">无“专利”【查阅】权限，请与系统管理员联系。</p> -->
						
					<!-- </div> -->
					
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
			
	<!-- </div> -->
</div>

<div id="mainPeriod" class="mainFrame container-fluid" style="padding-top: 70px;">	
	<!-- //jQ产生 -->
</div>

{include file="../application/common/footer.html"}



<!-- //embed js code onto this HTML page-->
<script>
//对conf.js中定义的全局变量后端赋值
var num={$num};
var domain='{$home}';
</script>

<!-- //embed js code onto this HTML page, 引入全局变量 -->
<script type="text/javascript" src="/home/res/js/app/conf.js"></script>

<!-- // import js code into this HTML page-->
<script type="text/javascript" src="/home/res/js/app/main.js"></script>
