{include file="../application/common/header.html" title="IPMS-查阅"}
<div class="sr-only" data-assign-name="domain" data-assign-value='{$home}'>{$home}</div>
<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                     
		</button>
		<a class="navbar-brand" href="http://www.gzgjd.com" title="GZOME主页" target="_blank"><strong>IPMS</strong>
			<img src="/home/res/images/logo.png" class="img-responsive img-circle margin" style="display:inline" width="45" height="40">
		</a>
	</div>
    <div class="collapse navbar-collapse" >
    	<ul class="nav navbar-nav">
	  	<!-- // jQ生成1，li组件参考-->
        <!-- <li><a href="{$home}/index/index/index"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li> -->
    	</ul>
    	<ul class="nav navbar-nav navbar-right">
        	<li><a href="{$home}/dashboard/index/index#userInfo" title="点击进入“个人中心”"><span class="glyphicon glyphicon-user"></span>&nbsp;【{$username}】个人中心</a></li>	
        	<li id="liQuit"><a href="{$home}/index/index/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;退出</a></li>
      	</ul>
    </div>
</div>
</nav>

<div id="entSummary" class="container-fluid mainFrame">
<!-- //jQ生成2，参考模型	 -->
	<!-- <div class="row"> -->
		<!-- <div class="col-sm-6"> -->
			<!-- <div class="panel-group"> -->
				<!-- <div class="panel panel-default"> -->
					<!-- <div class="panel-heading"><span class="glyphicon glyphicon-wrench"></span>&nbsp;<strong>专利概况</strong></div> -->
					<!-- <div class="panel-body"> -->
						<!-- <a href="{$home}/patent/index/index#newAdd" class="btn-info">拟申报专利数：<span class="badge">{ $num.pat.newAdd}</span></a> -->
						<!-- <a href="{$home}/patent/index/index#apply" class="btn-primary">申报专利数：<span class="badge">{ $num.pat.apply}</span></a> -->
						<!-- <a href="{$home}/patent/index/index#authorize" class="btn-success">有效专利数：<span class="badge">{ $num.pat.authorize}</span></a> -->
					
						<!-- <p class="text-center">无“专利”【查阅】权限，请与系统管理员联系。</p> -->
						
					<!-- </div> -->
					
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
			
	<!-- </div> -->
</div>

<div id="entPeriod" class="container-fluid mainFrame" hidden=true>	
		
	<ul class="nav nav-pills">
	<!-- //jQ生成3 -->
	</ul>
	<h4 class="title text-left">
	<!-- //jQ生成4 -->
	</h4>
	
	<div id="divSearchBtn" class="text-right">
    	<!-- //jQ生成5 -->
		<button id="btnSearchFormCollapse" type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#divSearchForm" title="显示/隐藏搜索条件">搜索条件</button>
		
    	<div class="btn-group">
    		<button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-collapse-switch="main" data-collapse-multishow=false title="显示/隐藏搜索条件">搜索条件</button>
			
    		<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">更多<span class="caret"></span></button>
      			<ul class="dropdown-menu" role="menu">
					<li class=""><a href="#divSearchForm" data-toggle="collapse" data-collapse-switch="li" title="根据输入信息搜索"><span class="glyphicon glyphicon-edit"></span>一般搜索</a></li>
    				<li role="separator" class="divider"></li>
    				<li class=""><a href="#divSearchFormBarcode" data-toggle="collapse" data-collapse-switch="li" title="选择/ 拍摄<br>条形码图片搜索"><span class="glyphicon glyphicon-barcode"></span>条形码搜索</a></li>
      			</ul>
    		</div>
  		</div>
		
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新列表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
  	</div>
		
	<!-- // 一般搜索-->
	<div id="divSearchForm" class="collapse">
		<br>
		<span class="text-primary" ><span class="glyphicon glyphicon-edit"></span>一般搜索条件</span>
	
		<button type="button" class="close" data-target="#divSearchForm"  data-toggle="collapse" data-collapse-switch="div" title="关闭">&times;</button>
		<!-- // 一般搜索表单-->
		<div id="searchForm">
		<!-- //jQ载入 -->
		</div>
	</div>
	
	<!-- //特殊搜索， 条形码搜索区域-->
	<div id="searchFormBarcode">
		<!-- //jQ载入2 -->
	</div>
	
	<div id="searchNum">
		<p class="text-right bingo" style="padding-top:10px;">
			<button class="btn btn-info btn-sm" style="cursor:unset;font-size:14px;">搜索结果：<span class="badge"></span>
			</button>
		</p>
		
		<p class="text-center none" style="padding-top:20px;">
			<strong>搜索结果</strong>：<span class="label label-default" style="font-size:16px;">无符合条件信息</span>
		</p>
	</div>
	
	<div class="tab-content">
		<div id="entList">
		<!-- //jQ载入3 -->
		</div>
	</div>	
	
</div>

<!-- Modal "" -->
<div class="modal fade" id="" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-info" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4 class="title"></h4>
        </div>
		
        <div class="modal-body">
			<!-- // 单个asset增删改查页面显示位置，需load其他模板文件的div-->
			<div id="divLoadAssSingle">
				<p class="text-center" style="font-size:28px;">加载中……</p>
			</div>
		</div>
		
		<div class="modal-footer">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="关闭"> 
        </div>
		</div>
	</div>

</div>

<!--/ Modal "" -->

{include file="../application/common/footer.html"}

<!-- //import js code into this HTML page, 引入全局变量 -->
<script type="text/javascript" src="/home/res/js/app/conf.js"></script>
<!-- // import js code into this HTML page-->
<script type="text/javascript" src="/home/res/js/app/main.js"></script>

<!-- //import js module into this HTML page -->
<!-- <script type="module" src="/home/res/js/app/main.js"></script> -->
