{include file="../application/common/header.html" title="ipmsv3" }

<!-- pagewrap  -->
<div class="container-fluid" style="height:500px;">	
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-inbox">&nbsp;</span><strong>项目概况</strong>&nbsp;<span class="label label-info">(开发中)</span></div>
					
					<div class="panel-body">
						<a href="#"><span class="label label-default">新增项目数：<span class="badge">6</span></span></a>
						<a href="#"><span class="label label-info" >申报项目数：<span class="badge">5</span></span></a>
						<a href="#"><span class="label label-warning" >立项项目数：<span class="badge">8</span></span></a>
						<a href="#"><span class="label label-primary" >在研项目数：<span class="badge">10</span></span></a>
						<!-- <a href="#"><span class="label label-danger">验收项目数：<span class="badge">6</span></span></a> -->
							<!-- <a href="#"><span class="label label-success">结题项目数：<span class="badge">12</span></span></a> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-wrench">&nbsp;</span><strong>专利概况</strong></div>
						<div class="panel-body">
							<a href="{$home}/patent/index/patlist/"><span class="label label-default" >新增专利数：<span class="badge">{$numpatadd}</span></span></a>
							<a href="{$home}/patent/index/patlist"><span class="label label-info" >申报专利数：<span class="badge">{$numpatapp}</span></span></a>
							<a href="{$home}/patent/index/patlist"><span class="label label-success" >有效专利数：<span class="badge">{$numpataut+$numpatren}</span></span></a>
						</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-list">&nbsp;</span><strong>论文概况</strong>&nbsp;<span class="label label-info">(开发中)</span></div>
						<div class="panel-body">
							<a href="#"><span class="label label-default" >新增论文数：<span class="badge">3</span></span></a>
							<a href="#"><span class="label label-info" >投稿论文数：<span class="badge">6</span></span></a>
							<a href="#"><span class="label label-success" >发表论文数：<span class="badge">3</span></span></a>
						</div>
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="row">
		<div class="col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>获奖概况</strong>&nbsp;<span class="label label-info">(开发中)</span></div>
						<div class="panel-body">
							<a href="#"><span class="label label-default">新增获奖数：<span class="badge">3</span></span></a>
							<a href="#"><span class="label label-info">申报奖励数：<span class="badge">2</span></span></a>
							<a href="#"><span class="label label-success">获得奖励数：<span class="badge">1</span></span></a>
						</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>成果转化概况</strong>&nbsp;<span class="label label-info">(开发中)</span></div>
						<div class="panel-body">
							<a href="#"><span class="label label-default">成果转化数：<span class="badge">2</span></span></a>
							<a href="#"><span class="label label-info">转化中成果数：<span class="badge">3</span></span></a>
							<a href="#"><span class="label label-success">已转化成果数：<span class="badge">2</span></span></a>
						</div>
				</div>
			</div>
		</div>
	</div> -->
	
	   
</div>
<!-- /pagewrap -->

<script>
$(document).ready(function(){
	<!-- 选中id为"nav_index"的标签（li标签）,添加.active -->
	$("#nav_index").addClass("active");

});
</script>
	
{include file="../application/common/footer.html"}