<!DOCTYPE html>
<html lang="en">

<head>
	
  <title>IPMS</title>
  <meta charset="utf-8">
  <!-- // 让360浏览器默认采用高速模式渲染页面。bootstrap需要-->
  <meta name="renderer" content="webkit">
  <!-- // 开启bootstrap响应式布局 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {/* TP5中的模板注释格式，多行。内容不会出现在发送给浏览器的HTML文件中
  <!-- 使用cdn提高解析速度 -->
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap3.3.7.min.css">
  <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
   */}
  
 {// TP5中的模板注释格式，单行。<!-- TP5的资源文件加载写法 -->内容不会出现在发送给浏览器的HTML文件中 }
  {css href="/home/res/css/bootstrap3.3.7.min.css" }
  {js href="/home/res/js/jquery1.12.4.min.js" }
  {js href="/home/res/js/bootstrap3.3.7.min.js" }
  {js href="/home/res/js/md5.min.js" }

{/*<!-- 实现nav固定在页面顶端效果的补充代码块,
同时还需设置nav的data-offset-top="-3"防止鼠标单击页面时出现跳动-->
*/}
  <style>
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  
  footer {
	border-top:1px solid #e7e7e7;
	background-color:#f5f5f5;
	padding:5px 0;	
	position: fixed;
	bottom:0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 70px;
  
}

div.login {
	margin:0 30%;
}

@media screen and (max-width: 767px) {
	div.login {
  		margin:0 5%;
	}
}
  </style>
  
{/*
<!-- Tooltips must be initialized with jQuery: select the specified element and call the tooltip() method.
The following code will enable all tooltips in the document:-->
*/}
</head>

<body>
<!-- pageheader  -->
<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="-3">
  <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="http://www.gzgjd.com" data-toggle="tooltip"  data-placement="bottom" title="GZOME主页" target="_blank"><strong>IPMS
			<img src="/home/res/images/logo.png" class="img-responsive img-circle margin" style="display:inline" width="45" height="40">
			</strong></a>
		</div>
  </div>
</nav>
<!-- /pageheader  -->

<!-- pagewrap  -->
<div class="container-fluid login" style="padding-top:140px;">	
			
	<div class="panel panel-info" > 
		<div class="panel-heading text-center">
			<h4><strong>用户登录</strong></h4>
		</div>
		<div class="panel-body">
			
			<div id="alertDiv" class="alert alert-danger" role="alert" hidden="true">
  				<button type="button" class="close"><span>&times;</span></button>
  				<strong>重试！</strong> 
				<span></span>
			</div>
			<form action="{$home}/index/index/login" method="post" data-url-index="{$home}/index/index/index">
                <div class="form-group has-feedback">
                    <label for="username">用户名</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="username" class="form-control" placeholder="请输入用户名" maxlength="20" autocomplete="on" required>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="password">密码</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" name="pwd" class="form-control" placeholder="请输入密码" maxlength="10" autocomplete="off" required>
                    </div>
                </div>

				<br/>
				
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</button>
                </div>

            </form>
			
		</div>
	</div>
	
</div>

{include file="../application/common/footer.html"}


<!-- //import js module into this HTML page -->
<script type="module" src="/home/res/js/app/login.js"></script>
<!-- /pagewrap -->