<!-- // addNew.html -->
<div class="container-fluid">
patIssNew
	<form action="">
	<h3><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利事务信息</span>
	
	</h3>
	
	<div id="editor">
	
	</div>
	
	</form>
	
	
	<h3><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利事务附件</span>
	
	</h3>
	
	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>序号</th>
				
					<th class="oprt">操作</th>
					
				</tr>
			</thead>
			<tbody>
			
			</tbody>
		</table>
	</div>

</div>