<!-- // writer_addNew.html -->
<div class="container-fluid">
	<!-- <div class="rows col-sm-12"> -->
	<!-- //上传文件需要表单的‘enctype="multipart/form-data"’ -->
	<form id="fmIssPat" action="" method="" role="form" enctype="multipart/form-data">
		<div class="row">
		<div class="form-group col-sm-4">
			<h4>撰写人：{$writer}</h4>
		</div>
		
		<div class="form-group col-sm-8">
			<h4>所属部门：{$dept}</h4>
		</div>
		</div>
		
		<h4><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利信息</span></h4>
		<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="patTopic">专利名称<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="patTopic" name="patTopic" value="" type="text" placeholder="一种ZZZ的____专利" required>
			
			<span style="color:red;display: none;" class="tips">"专利名称"不能为空</span>
		</div>
		
		<div class="form-group col-sm-4">
			<label for="patType">专利类型</label>
			<select class="form-control" id="patType" name="patType" >
				<option value="0">……</option>
				<option value="_PATT1">发明专利</option>
				<option value="_PATT2">实用新型专利</option>
                <option value="_PATT3">外观设计专利</option>
                <option value="_PATT4">软件版权</option>
                <option value="_PATT5">著作权</option>
                <option value="_PATT6">集成电路图</option>
                
			</select>
		</div>
		</div>
	
		<h4><span class="label label-warning">事务信息</span></h4>
		<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="topic">事务标题<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="topic" name="topic" value="" type="text" placeholder="关于XX专利的YY申请" required>
			
			<span style="color:red;display: none;" class="tips">"事务标题"不能为空</span>
		</div>
		
		<div class="form-group col-sm-4">
			<label for="issType">事务类型</label>
			<select class="form-control" id="issType" name="issType" >
				<option value="_ISST_PAT1">专利授权申报</option>
				<option value="_ISST_PAT2">专利授权续费</option>
               
			</select>
		</div>
		</div>
		
		<div class="row">
		<div class="form-group col-sm-12">
			<label class="control-label" for="abstract">事务简介<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<textarea class="form-control" rows="5" id="abstract" name="abstract" placeholder="填写事务的主要内容，字数不超过100字。" required></textarea>
			
			<span style="color:red;display: none;" class="tips">"事务简介"不能为空</span>
		</div>
		</div>
		
		<h4><span class="label label-warning">事务附件上传</span>
			<label class="radio-inline ">
      			<input type="radio" name="attUpload" value="0" checked><span class="label label-default">无</span>
    		</label>
			<label class="radio-inline">
      			<input type="radio" name="attUpload" value="1"><span class="label label-default">上传</span>
    		</label>
    		
		</h4>
			
			<div id="divAtt" hidden="true">
				<div class="row">
				<div class="form-group col-sm-6">
					<label for="att">选择上传附件</label>
					<input type="file" name="att" id="att" accept=".jpg,.jpeg,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx">	
					<blockquote>
						<footer>附件小于等于：<mark class="text-danger">10MB</mark></footer>
						<footer>附件文件类型：<mark>jpg,jpeg,pdf,doc,docx,xls,xlsx,ppt,pptx</mark></footer>
					</blockquote>
					
					<label for="">上传进度</label>
					
					<div class="progress progress-striped active">
    					<div id="divUpLoadProcess" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="text-info">0%</span></div>
					</div>
			
				</div>
		
				<div class="form-group col-sm-4">
					<label for="attName">附件名称</label>
					<input class="form-control" id="attName" name="attName" value="" type="text">
				</div>
				
				<div class="form-group col-sm-2">
					
					<label for="">附件类型</label>
					<select class="form-control" id="" name="attType">
						<option value="_ATTT1">申请</option>
						<option value="_ATTT2">请示</option>
						<option value="_ATTT3">报告</option>
						<option value="_ATTT4">预算报告</option>
					</select>
					
				</div>
		
				<input id="attObj" name="attObj" value="_ATTO1" type="text" hidden="true">
		
				</div>
				
			</div>
		<hr>
		
		<div class="row">
		<div class="form-group col-sm-12">
			<input type="submit" class="btn btn-primary btn-sm" value="保存"> 
			<input type="reset" class="btn btn-primary btn-sm" value="重置" > 
			<input type="button" class="btn btn-warning btn-sm pull-right" data-dismiss="modal" value="取消">
		</div>
		</div>
		
	</form>

</div>

<script>
$(document).ready(function(){
	
	// $('#att')的change事件获得上传的文件名
	<!-- $('#att').change(function(){ -->
		<!-- var files=$('#att').files; -->
		<!-- var n=files.length; -->
		<!-- alert(n); -->
		<!-- for (var i=0;i<n;i++){ -->
			<!-- alert(input.files[i].name); -->
		<!-- } -->
	
	<!-- }); -->

	// 监听文件上传进度，用回调函数实现？？
    var xhrOnProgress = function(fun) {
        xhrOnProgress.onprogress = fun; //绑定监听
        return function(){
        	//通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
        	var xhr = $.ajaxSettings.xhr();
        	//判断监听函数是否为函数
        	if(typeof xhrOnProgress.onprogress !== 'function')
            return xhr;
            //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
            if (xhrOnProgress.onprogress && xhr.upload) {
                xhr.upload.onprogress = xhrOnProgress.onprogress;
            }
            return xhr;
        }
    };

	<!-- // 应用jQuery的$.ajax提交表单，提交前进行一些验证准备。利用输入框的“required”属性避免输入框无内容 -->
	$('#fmIssPat').submit(function(event){					
		//jQuery的preventDefault()方法阻止元素发生默认的行为——表单提交
        event.preventDefault();
		
		// 检查是否存在附件？？
		
		
		// 检查附件后缀名是否符合要求？？
		
		
		// formdata形式上传表单数据,自动搜索表单信息(表单内没有name属性的input不会被搜索到)，IE<=9不支持FormData
		var formData = new FormData($('#fmIssPat')[0]);
		// 添加表单内没有的内容
        formData.append('returnType',0);
		formData.append('role','writer');
		formData.append('username','{$writer}');
		formData.append('dept','{$dept}');
		formData.append('oprt','addNew');
			
        $.ajax({
            type: 'post',
            url: 'patIssOprt',
            data: formData,
            contentType: false,// 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置
            processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)
			// 进度条显示上传进度
			xhr: xhrOnProgress(function(e){
                var percent=(e.loaded / e.total)*100;//计算百分比
                $('#divUpLoadProcess').css("width",percent + "%").text(percent + "%");
            }),
            success: function(data) {
                if(data.result=='success'){
					$("#modalPatIssTpl").modal("hide");
					// 重新载入文件,data.patIssId为后端传来的新生成的issId
					$("#modalPatIssTpl").on('hidden.bs.modal',function(){
						$('#patIss').load('{$home}/user/dashboard/patIss',{'role':'writer','returnType':0,'patIssId':data.patIssId});
					});
					
					$.alert(data.msg);
				}else{
					$("#modalPatIssTpl").modal();
					$.alert(data.msg);
				}
            }
        });
			
	});	
	
	// 单选按钮选中“上传”项后，出现附件上传的输入框们。
	$('input:radio[name="attUpload"]').change(function(){
		// 选中的单选按钮的value值，值为“1”是选中的“上传”项
		var v=$(this).attr('value');
		if(v==1){
			$(this).next().addClass('label-warning');
			
			// 为'#attName'和'#att'添加'required'属性，其值为true，保证在表单提交时必填
			$('#att').attr('required',true);
			$('#attName').attr('required',true);
			// '#attName'和'#att'前的标签，去除内容里添加的span
			$('#attName').prev('label').children('span').remove();
			$('#att').prev('label').children('span').remove();
			// '#attName'和'#att'前的标签，在标签内容后面添加glyphicon并设置颜色为text-danger
			$('#attName').prev('label').append('<span class="glyphicon glyphicon-asterisk text-danger"></span>');
			$('#att').prev('label').append('<span class="glyphicon glyphicon-asterisk text-danger"></span>');
			// 上传的输入框们现身
			$('#divAtt').show();
		}else{
			$('input:radio[name="attUpload"][value="1"]').next().removeClass('label-warning');
			//为'#attName'和'#att'添加'required'属性，其值为false，保证在表单提交时忽略
			$('#attName').attr('required',false);
			$('#att').attr('required',false);
			// 上传的输入框们退场
			$('#divAtt').hide();
			
		}
	});
	
	// 重置按钮点击时附加
	$('input:reset').click(function(){
		//为'#attName'添加'required'属性，其值为false，保证在表单提交时忽略
		$('#attName').attr('required',false);
		
		// 上传的输入框们退场
		$('#divAtt').hide();
	});

    // 方法2：无需输入框的“required”属性，但要在输入框下添加span配合代码规定特定情况出现时的动作和显示内容。
	//验证$('#topic').val()不能为空
	<!-- $('#topic').change(function(){ -->
		<!-- if($(this).val()==''){ -->
			<!-- inputEmpty($(this)); -->
		<!-- }else{ -->
			<!-- inputNotEmpty($(this)); -->
		<!-- } -->
	<!-- }); -->
	
	// $('#abstract').val()不能为空
	<!-- $('#abstract').change(function(){ -->
		<!-- if($(this).val()==''){ -->
			<!-- inputEmpty($(this)); -->
			
		<!-- }else{ -->
			<!-- inputNotEmpty($(this)); -->
		<!-- } -->
	<!-- }); -->
	
	// $('#patTopic').val()不能为空
	<!-- $('#patTopic').change(function(){ -->
		<!-- if($(this).val()==''){ -->
			<!-- inputEmpty($(this)); -->
			
		<!-- }else{ -->
			<!-- inputNotEmpty($(this)); -->
		<!-- } -->
	<!-- }); -->
	
	// 应用jQuery的$.post提交表单，进行后续处理
	<!-- $('input[type="submit"]').click(function(event) { -->
		<!-- // jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作 -->
        <!-- event.preventDefault(); -->
		<!-- var obj1=$('#topic'); -->
		<!-- var obj2=$('#abstract'); -->
		<!-- var obj3=$('#patTopic'); -->
		
		<!-- // 3个必须输入的输入框都不为空才能post提交表单 -->
		<!-- if(obj1.val()==''){ -->
			<!-- inputEmpty(obj1); -->
		<!-- }else if(obj2.val()==''){ -->
			<!-- inputEmpty(obj2); -->
		<!-- }else if(obj3.val()==''){ -->
			<!-- inputEmpty(obj3); -->
		<!-- }else{ -->
			<!-- $.post('patIssOprt', -->
				<!-- { -->
					<!-- 'returnType':1, -->
					<!-- 'role':'writer', -->
					<!-- 'oprt':'addNew', -->
					<!-- 'topic':$('#topic').val(), -->
					<!-- 'issType':$('#issType').val(), -->
					<!-- 'abstract':$('#abstract').val(), -->
					<!-- 'patTopic':$('#patTopic').val(), -->
					<!-- 'patType':$('#patType').val(), -->
					<!-- 'writer':$('#writer').val(), -->
					<!-- 'dept':$('#dept').val(), -->
					<!-- 'patIssFile':$('#patIssFile').val() -->
				<!-- }, -->
				<!-- function(data){ -->
					<!-- if(data=='success'){ -->
						<!-- $("#modalPatIssTpl").modal("hide"); -->
						<!-- // 重新载入文件 -->
						<!-- $('#divPatIssTpl').load('patIssTpl',{'role':'writer','oprt':'addNew','returnType':0}); -->
						<!-- $.alert(data); -->
					<!-- }else{ -->
						<!-- $("#modalPatIssTpl").modal(); -->
				<!-- } -->
				
				<!-- } -->
			<!-- ); -->
		
		<!-- } -->
		
	<!-- }); -->

<!-- function -->
	//**函数名：inputEmpty
 	//* 作用：检查带“*”输入框的值为空时，整个界面的提醒和显示
	//* 参数1：obj，类型：对象。值：不为空。
	<!-- function inputEmpty(obj){ -->
		<!-- obj.parent().addClass('has-error'); -->
		<!-- $('input[type="submit"]').hide(); -->
		<!-- obj.next().show(); -->
	<!-- } -->
	
	<!-- //**函数名：inputNotEmpty -->
 	<!-- //* 作用：检查带“*”输入框的值不为空时，整个界面的提醒和显示 -->
	<!-- //* 参数1：obj，类型：对象。值：不为空。 -->
	<!-- function inputNotEmpty(obj){ -->
		<!-- obj.parent().removeClass('has-error'); -->
		<!-- obj.next().hide(); -->
		<!-- $('input[type="submit"]').show(); -->
	<!-- } -->
	


<!-- function -->
	
});

</script>

