<!-- // writer_submit.html -->
<div class="container-fluid">
	<!-- <div class="rows col-sm-12"> -->
	<form action="">
		<h3><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利事务信息</span>
		</h3>
	
		<div class="form-group col-sm-8">
			<label class="control-label" for="topic">名称</label>
			<input class="form-control" id="topic" name="topic" value="" type="text" placeholder="关于XX专利的YY" required>
		</div>
		
		<div class="form-group col-sm-4">
			<label for="patIssType">类型</label>
			<select class="form-control" id="patIssType" name="patIssType" >
				<option value="_PIT1">专利授权申请</option>
				<option value="_PIT2">专利授权续费申请</option>
               
			</select>
		</div>
		
		<div class="form-group col-sm-12">
			<label for="abstract">事务简介</label>
			<textarea class="form-control" rows="5" id="abstract" name="abstract" placeholder="填写事务的主要内容，字数不超过100字。" required></textarea>
		</div>
		
		<div class="form-group col-sm-4">
			<label class="control-label" for="writer">撰写人</label>
			<input class="form-control" id="writer" name="writer" value="" type="text" readonly >
		</div>
		
		<div class="form-group col-sm-8">
			<label for="dept">所属部门</label>
			<input class="form-control" id="dept" name="dept" value="" type="text" readonly >
		</div>
		
		<div class="form-group col-sm-12">
			<label for="file">上传附件</label>
			<input type="file" name="file" id="attFile">	
			<blockquote>
				<footer>附件小于：<mark class="text-danger">10MB</mark></footer>
				<footer>附件类型：<mark>jpg,jpeg,pdf,doc,docx,xls,xlsx,ppt,pptx</mark></footer>
			</blockquote>			
			
		</div>
		
		<input type="submit" class="btn btn-primary btn-sm" formenctype="multipart/form-data" value="保存" > 
		<input type="reset" class="btn btn-warning btn-sm" value="重置" > 
		<input type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal" value="取消">
	</form>
	<!-- </div> -->

</div>

<script>
$(document).ready(function(){

	// 应用jQuery的$.post提交表单，进行后续处理
	$('input[type="submit"]').click(function(event){
	
		<!-- // jQuery的preventDefault()方法阻止元素发生默认的行为。阻止表单提交动作 -->
        event.preventDefault();
		
		$.post('patIssOprt',
			{
				'returnType':1,
				'role':'writer',
				'oprt':'addNew',
				'topic':$('#topic').val(),
				'patIssType':$('#patIssType').val(),
				'abstract':$('#abstract').val(),
				'writer':$('#writer').val(),
				'dept':$('#dept').val(),
				'file':$('#attFile').val()
			},
			function(data){
				if(data){
					$("#modalPatIssOprt").modal("hide");
					$.alert(data);
				}else{
					$("#modalPatIssOprt").modal();
				}
				
			}
		);
		
	
	});

});
</script>

