<!-- //module:project; view:index/index.html  -->

<div>
	
	<ul id="proPeriodNav" class="nav nav-pills">
		<!-- //jQ产生参考模型	 -->
		<!-- <li class="active"><a class="aTab" href="#total">项目概况&nbsp;|&nbsp;<span class="glyphicon glyphicon-search"></span></a></li> -->
	</ul>
		
	<div class="tab-content">
		<div id="proList">
		<!-- //jQ载入 -->
		</div>
	</div>
	
</div>

<script>

//改变urlObj
urlObj.module='project';
urlObj.method='proList';

buildMainPeriodNavCom();

loadEntPeriodList();

<!-- //组件点击后，显示相应period的list-->
$('#proPeriodNav').find('a').click(function(){
    rqData.ent=$(this).data('ent');
	rqData.period=$(this).data('period');
		
	loadEntPeriodList();
});	
</script>

