<!-- // issPatApproveSingle.html： -->

{extend name="../application/user/view/dashboard2/issPatAuthSingle/baseSingle.html" /}



{block name="abstract"}
{__block__}

{/block}

{block name="patInput"}

			<form action="" id="fmPat">
<!-- // class="sr-only" 仅源代码文件中显示-->
			<input id="patId" name="patId" value="{$pat.id}" type="text" class="sr-only">
			
			</form>
{/block}

{block name="attInput"}
{__block__}

{/block}

{block name="issPatInput"}
<div class="myFieldset">
	
	<div class="myLegend"><span class="label label-warning">审批</span></div>
	<form action="" id="fmIssPat" >
	<div class="row myRow">
		<div class="form-group col-sm-4">
		<label for="approveResult">结论<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
		<select id="approveResult" class="empty-check form-control" name="auditResult" style="font-size:100%;">
			<option value="0" class="text-warning bg-warning" >……</option>
		{eq name="$iss.status" value="拟续费"}
			<option class="text-success bg-success" value="_PERMIT">批准</option>
			<option class="text-danger bg-danger" value="_VETO">否决</option>
			
					
					
		{else/}
			<option class="text-success bg-success" value="_PERMIT">批准</option>
			<option class="text-danger bg-danger" value="_VETO">否决</option>
			<option class="text-primary bg-info" value="_COMPLETE">修改完善</option>	
				
		{/eq}
		</select>
		</div>
		
		<div id="divApproveMsg" class="resetHide form-group col-sm-8 ">
			<label for="attName">具体意见<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<textarea class="empty-check form-control" rows="5" id="approveMsg" name="approveMsg" type="text" placeholder="请填入具体的审批意见" required></textarea>
		</div>

	</div>
	
	
	</form>
</div>

{/block}


{block name="btn"}
{eq name="$iss.status" value="拟续费"}
	<button type="submit" id="btnPermit" class="resetHide btn btn-success btn-sm" data-oprt="_PERMIT" data-issTopic="{$iss.topic}" data-btnLabel="label-success"><span class="glyphicon glyphicon-ok"></span>批准</button>
	<button type="submit" id="btnVeto" class="resetHide btn btn-danger btn-sm" data-oprt="_VETO" data-issTopic="{$iss.topic}" data-btnLabel="label-danger"><span class="glyphicon glyphicon-remove"></span>否决</button>

{else/}
	<button type="submit" id="btnPermit" class="resetHide btn btn-success btn-sm" data-oprt="_PERMIT" data-issTopic="{$iss.topic}" data-btnLabel="label-success"><span class="glyphicon glyphicon-ok"></span>批准</button>
	<button type="submit" id="btnVeto" class="resetHide btn btn-danger btn-sm" data-oprt="_VETO" data-issTopic="{$iss.topic}" data-btnLabel="label-danger"><span class="glyphicon glyphicon-remove"></span>否决</button>
	
	<button type="submit" id="btnComplete" class="resetHide btn btn-primary btn-sm" data-oprt="_COMPLETE" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-erase"></span>修改完善</button>

{/eq}	
	
{/block}

{block name="script"}
{__block__}
<script>
$(document).ready(function(){	
	$('.resetHide').hide();
		
	// 单选框approveResult的change事件，出现approveMsg输入框等。
	$('#approveResult').change(function(){	
		//恢复到default状态
		$('.resetHide').hide();
		$(this).removeClass('label label-danger label-primary label-success');
		//#approveMsg去掉'empty-check'，不列入非空检查
		$('#approveMsg').removeClass('empty-check');
		
		switch($(this).val()){
			case '_VETO':
				$('#divApproveMsg').show();
				$('#btnVeto').show();
				$(this).addClass('label label-danger');
				//#approveMsg增加'empty-check'，列入非空检查
				$('#approveMsg').addClass('empty-check');
			break;
			 
			case '_COMPLETE':
				$('#divApproveMsg').show();
				$('#btnComplete').show();
				$(this).addClass('label label-primary');
				//#approveMsg增加'empty-check'，列入非空检查
				$('#approveMsg').addClass('empty-check');
			break;
			
			case '_PERMIT':
				$('#divApproveMsg').hide();
				$('#btnPermit').show();
				$(this).addClass('label label-success');
				//#approveMsg去掉'empty-check'，不列入非空检查
				$('#approveMsg').removeClass('empty-check');
			break;
			
			case '0':
				$('.resetHide').hide();
				$(this).removeClass('label label-danger label-primary label-success');
				//#approveMsg去掉'empty-check'，不列入非空检查
				$('#approveMsg').removeClass('empty-check');
			break;
		}			
				
	
	});
	
	//附加#btnReset 的click事件
	$('#btnReset').click(function(){	
	
		$('#approveResult').removeClass('label label-danger label-primary label-success');
		
	});
	
});
</script>
{/block}