<!-- // issPatApproveSingle.html： -->

{extend name="../application/user/view/dashboard2/issPatAuthSingle/baseSingle.html" /}



{block name="abstract"}
{__block__}

{/block}

{block name="input"}
{__block__}

{/block}

{block name="attInput"}
{__block__}

{/block}


{block name="btn"}
	<button type="submit" id="btnPermit" class="btn btn-success btn-sm" data-oprt="_PERMIT"><span class="glyphicon glyphicon-ok"></span>批准</button>
	<button type="submit" id="btnVeto" class="btn btn-danger btn-sm" data-oprt="_VETO"><span class="glyphicon glyphicon-remove"></span>否决</button>
	
	<button type="submit" id="btnComplete" class="btn btn-primary btn-sm" data-oprt="_COMPLETE"><span class="glyphicon glyphicon-erase"></span>完善</button>
	
{/block}

{block name="script"}
{__block__}
	<script>
	$(document).ready(function(){	
	
	
	});
	</script>
{/block}