<!-- // baseSingle.html： -->
{/*  总共有6处block用于子模板修改用，
	name="abstract"
	name="issPatInput"，
	name="patInput"，
	name="attInput"，
	name="btn"，
	name="script"  */}

<div id="divIssPatAuthSingle">
{block name="abstract"}
	<h4><span class="label label-warning">事务概要</span></h4>
	<div class="bs-callout bs-callout-warning">
		<h4>标题：<strong>{$iss.topic}</strong></h4>
		<ul>
			<li>撰写人：{$iss.writer}；执行人：{$iss.executer}；</li>
			<li>事务类型：{$iss.issmap_type}；</li>
			<li>简介：{$iss.abstract}</li>
			<li>状态：<a href="{$home}/issue/index/issrecords/id/{$iss.id}" target="_blank" data-toggle="tooltip" title="过程记录"><span class="label label-primary">{$iss.status}</span></a>
			</li>
				
				
		</ul>
					
		<footer>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$home}/issue/index/issinfo/id/{$iss.id}" target="_blank" data-toggle="tooltip" title="事务详情">查看详情</a>
						
				</div>
							
				<div id="divAddNewDate" class="col-sm-4">填报时间：{$iss.addnewdate}</div>
									
			</div>
		</footer>
						
	</div>
{/block}
	
	<form id="fmIssPat" action="" role="form" enctype="multipart/form-data">
	
	<!-- // 事务信息-->
{block name="issPatInput"}
	
	<input id="issPatOprt" name="oprt" value="" type="text" hidden="true">
	
{/block}

<!-- // 专利信息-->
{block name="patInput"}{/block}
	
	<!-- // 附件信息、上传、下载、删除-->
{block name="attInput"}
	<h4>
		<span class="label label-warning">事务附件上传</span>
		<label class="radio-inline ">
      		<input type="radio" name="attUpload" value="0" checked><span class="label label-default">无</span>
    	</label>
		<label class="radio-inline">
      		<input type="radio" name="attUpload" value="1"><span class="label label-default">上传</span>
   		</label>
    		
	</h4>
	
	
	<div id="divAtt" class="myBorder" hidden="true">
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="att">选择附件</label>
					<input type="file" name="att" id="att" accept=".jpg,.jpeg,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.rar">	
					<blockquote>
						<footer>附件小于等于：<mark class="text-danger">10MB</mark></footer>
						<footer>附件类型：<mark>jpg,jpeg,pdf,doc,docx,xls,xlsx,ppt,pptx,rar</mark></footer>
					</blockquote>

					<label for="">上传进度</label>
					
					<div class="progress progress-striped active">
    					<div id="divUpLoadProcess" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="text-info">0%</span></div>
					</div>					
			
				</div>
		
				<div class="form-group col-sm-4">
					<label for="attName">附件名称</label>
					<input class="form-control" id="attName" name="attName" value="" type="text">
				</div>
				
				<div class="form-group col-sm-2">
					
					<label for="">附件类型</label>
					<select class="form-control" id="attType" name="attType">
						<option value="_ATTT1">申请</option>
						<option value="_ATTT2">请示</option>
						<option value="_ATTT3">报告</option>
						<option value="_ATTT4">预算报告</option>
					</select>
					
				</div>
		
				<input id="attObj" name="attObj" value="_ATTO1" type="text" hidden="true">
				
				<input id="oprt" value="" type="text" hidden="true">
				<!-- // 与本页的formDataAjax函数配合，传递本页所编辑的信息对应的pasIssId值到后端 -->
				<input id="trId" value="{$patIssId}" type="text" hidden="true">
		
			</div>
				
	</div>
	
	
	
	{notempty name="att"}
	<h4><span class="label label-warning">事务附件列表</span></h4>
	<div class="row col-sm-12">
		<div class="table-responsive ">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<!-- <th>选择</th> -->
						<th>序号</th>
						<th>附件类型</th>
						<th>附件名称</th>
						<th>上传日期</th>
						<th>上传人</th>
						<th>系统角色</th>
						<th>操作</th>
					</tr>
				</thead>
						
				<tbody><!-- 此处显示数据库查询后的数据集 -->
					{volist name="att" id="vo" empty="暂无附件"}
					<tr>
						<!-- <td><input type="checkbox" check=""></td> -->
						<td>{$i}</td>
						<td>{$vo.atttype}</a></td>
						<td>{$vo.name}</a></td>
						<td>{$vo.uploaddate}</td>
						<td>{$vo.uploader}</td>
						<td>{$vo.rolename}</td>
						
						<td>
							<a href="{$home}/attachment/index/download/id/{$vo.id}">下载</a>&nbsp;
							{in name="$vo.deldisplay" value="1"}
							<a href="{$home}/attachment/index/delete/id/{$vo.id}">删除</a>&nbsp;
							{/in}
						</td>
						
					</tr>
								
					{/volist}
				</tbody>
			</table>
		</div>
	<hr>
	</div>
	{/notempty}	




{/block}
	

		<div class="row">
		<hr>
		<div class="form-group col-sm-12">
		
		<!-- // 按钮-->
{block name="btn"}{/block}

		<div  class="pull-right">
				<input type="reset" class="btn btn-primary btn-sm" value="重置">
				<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
			</div>
			
		</div>
		</div>

	</form>		
</div>

<style>
.myBorder{
	border-style:solid;
	border-width:1px;
	border-color:#ddd;
	border-radius:5px;
}

</style>

{block name="script"}
<script>
$(document).ready(function(){	
	//按钮按下时，将按钮的data-oprt属性值传到表单中的id=issPatOprt输入框
	$('button').click(function(){
		$('#issPatOprt').val($(this).attr('data-oprt'));
	
	});
	
	<!-- // 应用jQuery的$.ajax提交表单，提交前进行一些验证准备。利用输入框的“required”属性避免输入框无内容 -->
	$('#fmIssPat').submit(function(event){					
		//jQuery的preventDefault()方法阻止元素发生默认的行为——表单提交
        event.preventDefault();
		
		// formdata形式上传表单数据,自动搜索表单信息(表单内没有name属性的input不会被搜索到)，IE<=9不支持FormData
		var formData = new FormData($('#fmIssPat')[0]);
		var oprt=$('#issPatOprt').val();
		// 添加表单内没有的内容
        formData.append('returnType',0);
		formData.append('username','{$username}');
		formData.append('dept','{$dept}');
		formData.append('oprt',oprt);
			
        $.ajax({
            type: 'post',
            url: 'issPatOprt',
            data: formData,
            contentType: false,// 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置
            processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)
			
            success: function(data) {
                $('#divIssPatSingle_load').html(data);
            }
        });
			
	});	
	
	//添加.myBorder
	<!-- $('.myBorder').css({'border-style':'solid','border-width':'1px','border-color':'#ddd','border-radius':'5px'}); -->
	
});
</script>
{/block}