<!-- // editSingle.html： -->
{extend name="../application/user/view/dashboard2/issPatAuthSingle/baseSingle.html" /}



{block name="abstract"}
{eq name="$oprt" value="_ADDNEW"}

{else/}
{__block__}

{/eq}
{/block}

{block name="input"}

{eq name="$oprt" value="_ADDNEW"}
{__block__}
	<div class="row">
		<div class="form-group col-sm-4">
			<h4>撰写人：{$username}</h4>
		</div>
		
		<div class="form-group col-sm-8">
			<h4>所属部门：{$dept}</h4>
		</div>
	</div>
	
	<h4><span class="label label-warning">事务信息</span></h4>
	<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="topic">事务标题<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="topic" name="topic" value="" type="text" placeholder="关于XX专利的授权申报" required>
			
			<span style="color:red;display: none;" class="tips">"事务标题"不能为空</span>
		</div>
		
		<div class="form-group col-sm-4">
			<label for="issType">事务类型</label>
			<input class="form-control" id="topic" name="topic" value="专利授权申报" type="text" readonly>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-sm-12">
			<label class="control-label" for="abstract">事务简介<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<textarea class="form-control" rows="5" id="abstract" name="abstract" placeholder="填写事务的主要内容，字数不超过100字。" required></textarea>
		</div>
	</div>
	
	<h4><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利信息</span></h4>
	<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="patTopic">专利名称<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="patTopic" name="patTopic" value="" type="text" placeholder="xx专利" required>
			
		</div>
		<div class="form-group col-sm-4">
			<label for="patType">专利类型<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<select class="form-control" id="patType" name="patType">
				<option value="0">……</option>
				<option value="_PATT1">发明专利</option>
				<option value="_PATT2">实用新型专利</option>
                <option value="_PATT3">外观设计专利</option>
                <option value="_PATT4">软件版权</option>
                <option value="_PATT5">著作权</option>
                <option value="_PATT6">集成电路图</option>
                
			</select>
		</div>
	</div>
{else/}
{__block__}
	<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="patTopic">专利名称<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="patTopic" name="patTopic" value="" type="text" placeholder="xx专利" required>
			
		</div>
		
	</div>
{/eq}
{/block}

{block name="attInput"}
{eq name="$oprt" value="_ADDNEW"}

{else/}
{__block__}

{/eq}
{/block}


{block name="btn"}
{eq name="$oprt" value="_ADDNEW"}
	<button type="submit" id="btnAddNew" class="btn btn-primary btn-sm" data-oprt="_ADDNEW"><span class="glyphicon glyphicon-tag"></span>新增</button>

{else/}
	
	<button type="submit" id="btnUpdate" class="btn btn-primary btn-sm" data-oprt="_UPDATE"><span class="glyphicon glyphicon-refresh"></span>更新</button>
	<button type="submit" id="btnSubmit" class="btn btn-primary btn-sm" data-oprt="_SUBMIT"><span class="glyphicon glyphicon-ok"></span>提交</button>
	{in name="$iss.status" value="填报"}
		<button type="submit" id="btnDelete" class="btn btn-danger btn-sm" data-oprt="_DELETE"><span class="glyphicon glyphicon-remove"></span>删除</button>
	{/in}
	
{/eq}
{/block}

{block name="script"}

{__block__}
<script>
$(document).ready(function(){	
	
	
});
</script>

{/block}
	


		
	

		

	
	
	


