<!-- // issPatApproveSingle.html： -->

{extend name="../application/user/view/dashboard2/issPatAuthSingle/baseSingle.html" /}



{block name="abstract"}
{__block__}

{/block}

{block name="patInput"}

			<form action="" id="fmPat">
<!-- // class="sr-only" 仅源代码文件中显示-->
			<input id="patId" name="patId" value="{$pat.id}" type="text" class="sr-only">
			
			</form>
{/block}

{block name="attInput"}
{__block__}

{/block}

{block name="issPatInput"}
<div class="myFieldset">
	
	<div class="myLegend"><span class="label label-warning">执行事务</span></div>
	<form action="" id="fmIssPat" >
		
		<div class="row myRow">
			<div class="form-group col-sm-4">
				<label for="executeResult">情况<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<select id="executeResult" class="empty-check form-control" name="executeResult" style="font-size:100%;">
					<option value="0" class="text-warning bg-warning" >……</option>
{switch name="$iss.status"}
    {case value="批准申报|准予变更"}	
				<option class="text-primary bg-info" value="_ACCEPT">领受</option>
				<option class="text-danger bg-danger" value="_REFUSE">申诉（调换执行人等）</option>	
					
	{/case}
		
	{case value="申报执行|申报修改|否决变更"}
				
				<option class="text-primary bg-info" value="_REPORT">报告</option>
				<option class="text-danger bg-danger" value="_FINISH">完成</option>	
				
	
	{/case}
    
{/switch}
				</select>
			</div>
			
			<div id="divExecuteMsg" class="resetHide form-group col-sm-8 ">
				<label for="executeMsg">具体原因/内容<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<textarea class="empty-check form-control" rows="5" id="executeMsg" name="executeMsg" type="text" placeholder="请填入具体的原因/内容" required></textarea>
			</div>
		
		</div>
		
	</form>
</div>
{/block}

{block name="btn"}
{switch name="$iss.status"}
    {case value="批准申报|准予变更"}
		<button type="submit" id="btnAccept" class="resetHide btn btn-primary btn-sm" data-oprt="_ACCEPT" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-saved"></span>领受</button>
		<button type="submit" id="btnRefuse" class="resetHide btn btn-danger btn-sm" data-oprt="_REFUSE" data-issTopic="{$iss.topic}" data-btnLabel="label-danger"><span class="glyphicon glyphicon-open"></span>申述</button>
	{/case}
		
	{case value="申报执行|申报修改|否决变更"}
		<button type="submit" id="btnReport" class="resetHide btn btn-primary btn-sm" data-oprt="_REPORT" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-upload"></span>报告</button>
		<button type="submit" id="btnFinish" class="resetHide btn btn-danger btn-sm" data-oprt="_FINISH" data-issTopic="{$iss.topic}" data-btnLabel="label-danger"><span class="glyphicon glyphicon-folder-close"></span>完成</button>
	{/case}
    
{/switch}

{/block}

{block name="script"}
{__block__}
<script>
$(document).ready(function(){	
	$('.resetHide').hide();
		
	// 单选框executeResult的change事件，出现executeMsg输入框等。
	$('#executeResult').change(function(){	
		//恢复到default状态
		$('.resetHide').hide();
		$(this).removeClass('label label-danger label-primary label-success');
		//#executeMsg去掉'empty-check'，不列入非空检查
		$('#executeMsg').removeClass('empty-check');
		
		switch($(this).val()){
			case '_REFUSE':
				$('#divExecuteMsg').show();
				$('#btnRefuse').show();
				$(this).addClass('label label-danger');
				//#executeMsg增加'empty-check'，列入非空检查
				$('#executeMsg').addClass('empty-check');
			break;
			
			case '_FINISH':
				$('#divExecuteMsg').show();
				$('#btnFinish').show();
				$(this).addClass('label label-danger');
				//#executeMsg增加'empty-check'，列入非空检查
				$('#executeMsg').addClass('empty-check');
			break;
						 
			case '_ACCEPT':
				$('#divExecuteMsg').hide();
				$('#btnAccept').show();
				$(this).addClass('label label-primary');
				//#executeMsg去掉'empty-check'，不列入非空检查
				$('#executeMsg').removeClass('empty-check');
			break;
			
			case '_REPORT':
				$('#divExecuteMsg').show();
				$('#btnReport').show();
				$(this).addClass('label label-primary');
				//#executeMsg增加'empty-check'，列入非空检查
				$('#executeMsg').addClass('empty-check');
			break;
			
			case '0':
				$('.resetHide').hide();
				$(this).removeClass('label label-danger label-primary label-success');
				//#executeMsg去掉'empty-check'，不列入非空检查
				$('#executeMsg').removeClass('empty-check');
			break;
		}
	
	});
	
	//附加#btnReset 的click事件
	$('#btnReset').click(function(){	
	
		$('#executeResult').removeClass('label label-danger label-primary label-success');
		
	});
	
});
</script>
{/block}