<!-- // issPatApproveSingle.html： -->

{extend name="../application/user/view/dashboard2/issPatAuthSingle/baseSingle.html" /}



{block name="abstract"}
{__block__}

{/block}

{block name="patInput"}

			<form action="" id="fmPat">
<!-- // class="sr-only" 仅源代码文件中显示-->
			<input id="patId" name="patId" value="{$pat.id}" type="text" class="sr-only">
			
			</form>
{/block}

{block name="attInput"}
{__block__}

{/block}

{block name="issPatInput"}

{in name="$oprt" value="_ADDNEW"}

{else/}

{/in}
<div class="myFieldset">

{switch name="$iss.status"}
    {case value="否决申报|专利授权|专利驳回|放弃续费|续费授权"}
	<!-- //无 -->
	<form action="" id="fmIssPat">
		<!-- // class="sr-only" 仅源代码文件中显示-->
		<input id="issId" name="issId" value="{$iss.id}" type="text" class="sr-only">
			
	</form>
	{/case}
	
	{case value="申报提交"}
		<!-- //授权、驳回、修改 -->
	
	<div class="myLegend"><span class="label label-warning">申报维护</span></div>
	<form action="" id="fmIssPat" >
		<div class="row myRow">
			<div class="form-group col-sm-4">
				<label for="maintainResult">申报结果<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<select id="maintainResult" class="empty-check form-control" name="maintainResult" style="font-size:100%;">
					<option value="0" class="text-warning bg-warning" >……</option>
					<option class="text-success bg-success" value="_AUTHORIZE">授权</option>
					<option class="text-danger bg-danger" value="_REJECT">驳回</option>
					<option class="text-primary bg-info" value="_IMPROVE">修改</option>
				</select>
			</div>
		
			<div id="divMaintainMsg" class="resetHide form-group col-sm-8 ">
				<label for="maintainMsg">具体原因/内容<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<textarea class="empty-check form-control" rows="5" id="maintainMsg" name="maintainMsg" type="text" placeholder="请填入具体的原因/内容" required></textarea>
			</div>
		</div>
	</form>
	{/case}
	
	{case value="续费提交"}
		<!-- //授权、驳回 -->
	
	<div class="myLegend"><span class="label label-warning">续费维护</span></div>
	<form action="" id="fmIssPat" >	
		<div class="row myRow">
			<div class="form-group col-sm-4">
				<label for="maintainResult">续费结果<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<select id="maintainResult" class="empty-check form-control" name="maintainResult" style="font-size:100%;">
					<option value="0" class="text-warning bg-warning" >……</option>
					<option class="text-success bg-success" value="_AUTHORIZE">授权</option>
					<option class="text-danger bg-danger" value="_REJECT">驳回</option>
				</select>
			</div>
		
			<div id="divMaintainMsg" class="resetHide form-group col-sm-8 ">
				<label for="maintainMsg">具体原因/内容<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<textarea class="empty-check form-control" rows="5" id="maintainMsg" name="maintainMsg" type="text" placeholder="请填入具体的原因/内容" required></textarea>
			</div>
		</div>
	</form>
	{/case}
	
	{case value="申报复核"}
	<div class="myLegend"><span class="label label-warning">申报维护</span></div>
	<form action="" id="fmIssPat" >
		<div class="row myRow">
			<div class="form-group col-sm-4">
				<label for="maintainResult">申报复核结果<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<select id="maintainResult" class="empty-check form-control" name="maintainResult" style="font-size:100%;">
					<option value="0" class="text-warning bg-warning" >……</option>
					<option class="text-danger bg-danger" value="_APPLY">提交</option>
					<option class="text-primary bg-info" value="_IMPROVE">修改</option>
				</select>
			</div>
		
			<div id="divMaintainMsg" class="resetHide form-group col-sm-8 ">
				<label for="maintainMsg">具体原因/内容<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
				<textarea class="empty-check form-control" rows="5" id="maintainMsg" name="maintainMsg" type="text" placeholder="请填入具体的原因/内容" required></textarea>
			</div>
		</div>
	</form>

	{/case}
	
	{case value="准予续费"}
		<!-- //无 -->
	<form action="" id="fmIssPat">
		<!-- // class="sr-only" 仅源代码文件中显示-->
		<input id="issId" name="issId" value="{$iss.id}" type="text" class="sr-only">
			
	</form>
	{/case}
	
    
{/switch}
	
</div>
{/block}

{block name="btn"}

{switch name="$iss.status"}
    {case value="否决申报|专利授权|专利驳回|放弃续费|续费授权"}
		<button type="submit" id="btnClose" class="btn btn-primary  btn-sm" data-oprt="_CLOSE" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-off"></span>完结</button>
		
	{/case}
		
	{case value="申报提交"}
		<button type="submit" id="btnAuthorize" class="resetHide btn btn-success btn-sm" data-oprt="_AUTHORIZE" data-issTopic="{$iss.topic}" data-btnLabel="label-success"><span class="glyphicon glyphicon-registration-mark"></span>授权</button>
		<button type="submit" id="btnReject" class="resetHide btn btn-danger btn-sm" data-oprt="_REJECT" data-issTopic="{$iss.topic}" data-btnLabel="label-danger"><span class="glyphicon 		glyphicon-ban-circle"></span>驳回</button>
		<button type="submit" id="btnImprove" class="resetHide btn btn-primary  btn-sm" data-oprt="_IMPROVE" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-plus-sign"></span>修改</button>
	{/case}
	
	{case value="续费提交"}
		<button type="submit" id="btnAuthorize" class="resetHide btn btn-success btn-sm" data-oprt="_AUTHORIZE" data-issTopic="{$iss.topic}" data-btnLabel="label-success"><span class="glyphicon glyphicon-registration-mark"></span>授权</button>
		<button type="submit" id="btnReject" class="resetHide btn btn-danger btn-sm" data-oprt="_REJECT" data-issTopic="{$iss.topic}" data-btnLabel="label-danger"><span class="glyphicon 		glyphicon-ban-circle"></span>驳回</button>
	{/case}
	
	{case value="申报复核"}
		<button type="submit" id="btnApply" class="resetHide btn btn-primary  btn-sm" data-oprt="_APPLAY" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-send"></span>提交申报</button>
		<button type="submit" id="btnImprove" class="resetHide btn btn-primary  btn-sm" data-oprt="_IMPROVE" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-plus-sign"></span>修改</button>
	{/case}
	
	{case value="准予续费"}
		<button type="submit" id="btnApply" class="btn btn-primary  btn-sm" data-oprt="_APPLAY" data-issTopic="{$iss.topic}" data-btnLabel="label-primary"><span class="glyphicon glyphicon-send"></span>提交申报</button>
	{/case}
    
{/switch}

{/block}

{block name="script"}
{__block__}
<script>
$(document).ready(function(){	
	$('.resetHide').hide();
	
	// 单选框maintainResult的change事件，出现maintainMsg输入框等。
	$('#maintainResult').change(function(){	
		//恢复到default状态
		$('.resetHide').hide();
		$(this).removeClass('label label-danger label-primary label-success');
		//#maintainMsg去掉'empty-check'，取消非空检查
		$('#maintainMsg').removeClass('empty-check');	
		
		switch($(this).val()){			
			case '_IMPROVE':
				$('#divMaintainMsg').show();
				$('#btnImprove').show();
				$(this).addClass('label label-primary');
				//#maintainMsg增加'empty-check'，列入非空检查
				$('#maintainMsg').addClass('empty-check');
			break;
			
			case '_APPLY':
				$('#divMaintainMsg').show();
				$('#btnApply').show();
				$(this).addClass('label label-primary');
				//#maintainMsg增加'empty-check'，列入非空检查
				$('#maintainMsg').addClass('empty-check');
			break;
			
			case '_AUTHORIZE':
				$('#divMaintainMsg').hide();
				$('#btnAuthorize').show();
				$(this).addClass('label label-success');
				//#maintainMsg增加'empty-check'，取消非空检查
				$('#maintainMsg').removeClass('empty-check');
			break;
			
			case '_REJECT':
				$('#divMaintainMsg').show();
				$('#btnReject').show();
				$(this).addClass('label label-danger');
				//#maintainMsg增加'empty-check'，列入非空检查
				$('#maintainMsg').addClass('empty-check');
			break;
	
			case '0':
				$('.resetHide').hide();
				$(this).removeClass('label label-danger label-primary label-success');
				//#maintainMsg去掉'empty-check'，取消非空检查
				$('#maintainMsg').removeClass('empty-check');
			break;
		}	
	
	});
	
	//附加#btnReset 的click事件
	$('#btnReset').click(function(){	
	
		$('#maintainResult').removeClass('label label-danger label-primary label-success');
		
	});
	
});
</script>
{/block}