<!-- // issPat.html： -->
<div>
<!-- <h4 class="label label-default" style="font-size:16px;"><span class="glyphicon glyphicon-inbox"></span>&nbsp;项目事务 -->
<h4><span class="label label-info"><span class="glyphicon glyphicon-inbox"></span></span>&nbsp;项目事务
   	{eq name=" $numTotal" value="0"}
		<span class="span0"></span>
	{else/}
		<span class="span0 badge" style="font-size:14px;">{$numTotal}</span>
	{/eq}
</h4>

	<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #faebcc;">
	<!-- <ul class="nav nav-tabs" > -->
		{eq name="$authArray.iss.edit" value="1"}
		<li class="" ><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="edit" ><span class="glyphicon glyphicon-pencil"></span>编辑
			{eq name="$numIssProEdit" value="0"}
			<span class="badge">{$numIssProEdit}</span>
			{else/}
			<span class="label label-info"><span class="numSingle">{$numIssProEdit}</span>/{$numTotal}</span>
			{/eq}
		</a></li>
		{/eq}
					
		{eq name="$authArray.iss.audit" value="1"}
		<li style="marging-left:0px;"><a class="aPill" href="#"  data-issue-type="_PATENT" data-issue-authority="audit"><span class="glyphicon glyphicon-check"></span>审核
			{eq name="$numIssProAudit" value="0"}
			<span class="badge ">{$numIssProAudit}</span>
			{else/}
			<span class="label label-warning "><span class="numSingle">{$numIssProAudit}</span>/{$numTotal}</span>
			{/eq}
		</a></li>
		{/eq}
					
		{eq name="$authArray.iss.approve" value="1"}
		<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="approve"><span class="glyphicon glyphicon-ok"></span>审批
			{eq name="$numIssProApprove" value="0"}
			<span class="badge">{$numIssProApprove}</span>
			{else/}
			<span class="label label-danger"><span class="numSingle">{$numIssProApprove}</span>/{$numTotal}</span>
			{/eq}
		</a></li>
		{/eq}
					
		{eq name="$authArray.iss.execute" value="1"}
		<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="execute"><span class="glyphicon glyphicon-random"></span>&nbsp;执行
			{eq name="$numIssProExecute" value="0"}
			<span class="badge">{$numIssProExecute}</span>
			{else/}
			<span class="label label-info"><span class="numSingle">{$numIssProExecute}</span>/{$numTotal}</span>
			{/eq}
		</a></li>
		{/eq}
					
		{eq name="$authArray.iss.maintain" value="1"}
		<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="maintain"><span class="glyphicon glyphicon-calendar"></span>维护
			{eq name="$numIssProMaintain" value="0"}
			<span class="badge">{$numIssProMaintain}</span>
			{else/}
			<span class="label label-info"><span class="numSingle">{$numIssProMaintain}</span>/{$numTotal}</span>
			{/eq}
		</a></li>
		{/eq}

		<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="done"><span class="glyphicon glyphicon-off"></span>完结
			{eq name="$numIssProDone" value="0"}
			<span class="badge">{$numIssProDone}</span>
			{else/}
			<span class="label label-default">{$numIssProDone}</span>
			{/eq}
		</a></li>			
	</ul>
			
	<div class="tab-content">
		<div>
			<!-- <P>前端模板变量$userlg={ $userlg}<br> -->
			<!-- $userlg.0={ $userlg.0},&nbsp;$userlg.id={ $userlg.id}<br> -->
			<!-- 后端赋值语句'userlg'=>$userlg -->
			<!-- </P> -->
					
		</div>
		<!-- //需load其他模板文件的div -->
		<div id="divIssProAuth_load"><h4 style="margin:50px;">开发中……</h4></div>
	</div>
</div>
<!-- /pagewrap  -->


<script>

$(document).ready(function(){
	$.alert('I am issPro');

});
</script>
