<!-- // issPat.html： -->
<div class="content-header">
<!-- <h4 class="label label-default" style="font-size:16px;"><span class="glyphicon glyphicon-list"></span>&nbsp;论文事务 -->
<h4 class="text-primary"><span class="glyphicon glyphicon-list"></span>论文事务</h4>

	<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #faebcc;">
		<li class="active dropdown">
			<a class="dropdown-toggle aPill" data-toggle="dropdown"  href="#">处理中
				<span class="caret"></span>
			 </a>
			<ul id="ulIssStatusMenu" class="dropdown-menu">
				<!-- <li class="active"> -->
					<!-- <a class="aIss" href="#_ISST_THES_INPROCESS" data-status="_THES_INPROCESS"><span class="spType">[总计]&nbsp;</span><span class="label label-info spLabel">22</span></a> -->
				<!-- </li> -->
				<!-- <li class="divider"></li> -->
				<!-- <li> -->
					<!-- <a class="aIss" href="#_ISST_THES1" data-status="_THES1"><span class="glyphicon glyphicon-send"></span><span class="spType">&nbsp;[送审]&nbsp;</span><span class="label label-info spLabel"></span></a> -->
				<!-- </li> -->
				<!-- <li> -->
					<!-- <a class="aIss" href="#_ISST_THES2" data-status="_THES2"><span class="glyphicon glyphicon-check"></span>&nbsp;[审核]&nbsp;<span class="label label-warning spLabel">3</span></a> -->
				<!-- </li> -->
				<!-- <li> -->
					<!-- <a class="aIss" href="#_ISST_THES3" data-status="_THES3"><span class="glyphicon glyphicon-ok"></span>&nbsp;[审批]&nbsp;<span class="label label-danger spLabel">1</span></a> -->
				<!-- </li> -->
				<!-- <li> -->
					<!-- <a class="aIss" href="#_ISST_THES4" data-status="_THES4"><span class="glyphicon glyphicon-random"></span>&nbsp;[执行]&nbsp;<span class="label label-primary spLabel">2</span></a> -->
				<!-- </li> -->
			</ul>
		</li>
		<!-- <li> -->
			<!-- <a class="aIss aPill text-muted" href="#_ISST_THES_END" data-status="_THES_END"><span class="glyphicon glyphicon-off"></span>&nbsp;完结&nbsp;<span class="spLabel">x</span></a> -->
		<!-- </li>		 -->
	</ul>
</div>
			
<div class="content-body">
	<div id="divTopBtn" class="row myRow text-right" style="margin:10px 0px;">		
		<a id="aSearchData" class="btn btn-primary btn-sm" href="#divSearchData" data-toggle="collapse" title="根据输入信息查询"><span class="glyphicon glyphicon-search"></span>查询</a>		
		
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新固定资产信息表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
			
		<button class="btn btn-primary btn-sm btnAssOprt" data-iss-id="0" data-iss-oprt="_CREATE" title="新增论文事务"><span class="glyphicon glyphicon-modal-window"></span>新增</button>
			
	</div>
		
		
		<!-- // 一般查询区域-->
	<div id="divSearchData" class="collapse">
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchData"  data-toggle="collapse" title="点击隐藏">查询条件</a>
		
		<div style="border:1px solid #eee;padding:10px 0px 10px 0px;margin-top:2px;">
		<form id="fmSearch" >
			
		</form>
		</div>
		
		</br>
	</div>
		
		<!-- //需load其他模板文件的div -->
	<div id="divIssTheList_load">
		<p class="text-center" style="font-size:20px;">开发中……{$home}</p>
	</div>
</div>

<!-- /pagewrap  -->


<script>
var issType='';

//完善nav nav-pills的内容，以#ulIssStatusMenu为基础生成所有的组件。
var completeUlDropMenu=(issType)=>{
	
	let obj=$('#ulIssStatusMenu'),liObj='',aStr='',
		aPropArr=[
			{aClass:'aIss',dataStatus:issType+'S_INPROCESS',gly:'',spTypeText:'[总计]&nbsp;',spLabel:'label label-info spLabel',spLabelText:'22'},
			{aClass:'divider'},
			{aClass:'aIss',dataStatus:issType+'S1',gly:'send',spTypeText:'&nbsp;[送审]&nbsp;',spLabel:'label label-info spLabel',spLabelText:'0'},
			{aClass:'aIss',dataStatus:issType+'S2',gly:'check',spTypeText:'&nbsp;[审核]&nbsp;',spLabel:'label label-warning spLabel',spLabelText:'3'},
			{aClass:'aIss',dataStatus:issType+'S3',gly:'ok',spTypeText:'&nbsp;[审批]&nbsp;',spLabel:'label label-danger spLabel',spLabelText:'1'},
			{aClass:'aIss',dataStatus:issType+'S4',gly:'random',spTypeText:'&nbsp;[执行]&nbsp;',spLabel:'label label-primary spLabel',spLabelText:'2'},
			{aClass:'aIss aPill text-muted',dataStatus:issType+'S_END',gly:'off',spTypeText:'&nbsp;完结&nbsp;',spLabel:'spLabel',spLabelText:'x'}
		];
	
	aPropArr.forEach(function(item,index){
		if(item.gly){
			aStr='<a class="'+item.aClass+'" href="#_ISST'+item.dataStatus+'" data-status="'+item.dataStatus+'"><span class="glyphicon glyphicon-'+item.gly+'"></span><span class="spType">'+item.spTypeText+'</span><span class="'+item.spLabel+'">'+item.spLabelText+'</span></a>';
		}else{
			aStr='<a class="'+item.aClass+'" href="#_ISST'+item.dataStatus+'" data-status="'+item.dataStatus+'"><span class="spType">'+item.spTypeText+'</span><span class="'+item.spLabel+'">'+item.spLabelText+'</span></a>';
		}
		
		switch(index){
			case '0':
				liObj=$('<li></li>').addClass('active').append(aStr);
				obj.append(liObj);
				break;
			case aPropArr.length-1:
				liObj=$('<li></li>').append(aStr);
				obj.closest('li').after(liObj);
				break;
			default:
				if(item.aClass=='divider'){
					liObj=$('<li></li>').addClass('divider');
					
				}else{
					liObj=$('<li></li>').append(aStr);
				}
				obj.append(liObj);
				break;			
		}
	});
};

//**函数名：loadIssTheList，根据锚点值加载issTheList
 	//* 作用：本页面加载issThelist；
var loadIssTheList=(anchor)=>{
	let aObj=$('a.aIss[href="'+window.location.hash+'"]'),
		theStatus=aObj.data('status'),
		url='{$home}/dashboard/issue/issTheList',
		data={'status':theStatus,'issType':issType};
		
	aObj.tab('show');
	
	$('#divIssTheList_load').html('<p class="text-center" style="font-size:28px;">加载中……</p>').load(url,data,function(){
		var obj='';
		
		<!-- if(auth=='_RENEW'){ -->
			<!-- obj=$('a[data-oprt="'+auth+'"]'); -->
		<!-- }else{ -->
			<!-- obj=$('a[data-issue-authority="'+auth+'"]'); -->
		<!-- } -->
		
		<!-- //恢复数字显示的初始格式 -->
		<!-- $('.numSingle').removeClass('badge').removeClass('mycolorred-bgwhite').addClass('mycolorwhite-bgtransparent'); -->
		<!-- //设置a所在li为“active” -->
		<!-- obj.closest('li').addClass('active'); -->
		<!-- //设置a所含数字的显示格式 -->
		<!-- obj.find('.numSingle').addClass('badge mycolorred-bgwhite'); -->
	});
};
// 根据锚点值得到issType
var anchorToIssType=()=>{
	let issTypeArr=window.location.hash.slice(2,-1).split('_');
	let issTypeStr='';
	if(issTypeArr.length && issTypeArr[0].includes('ISST')){
		issTypeStr='_'+issTypeArr[1].slice(0,-1);
	}
	return issTypeStr;
};
//自调用匿名函数立即执行的特点，进行页面初始化，有顺序。
(function($){
	issType=anchorToIssType();
	completeUlDropMenu(issType);
	loadIssTheList(window.location.hash);
	
	$.alert('issType:'+issType);
})(jQuery);

$(document).ready(function(){
	
	<!-- //点击.aIss中的各个按钮后，改变显示格式，默认显示相应状态的issPat内容-->
	$('.aIss').click(function(){
		$(this).tab('show');
		window.location.hash=$(this).attr('href');
		loadIssTheList(window.location.hash);
    });	
	
<!-- function  -->


<!--/ function -->

});
</script>
