<!-- // 绝对文件路径加载父模板-->
{extend name="../application/dashboard/view/index/issPatAuth/base.html" /}
{block name="titleSpan"}
	<span class="label label-info">维护&nbsp;
{/block}

{block name="addLabel"}	
{__block__}

{/block}

{block name="btnTpl"}
	<td class="btnTpl">
		<a class="audit" href="#modalIssPatAuthSingle" data-issId="{$vo.id}" data-issTopic="{$vo.topic}" data-issue-authority="_MAINTAIN" data-toggle="modal" >
	{switch name="$vo.status" }
    	{case value="申报复核" }
			<span class="glyphicon glyphicon-check text-info"></span>_复核
		{/case}
		{case value="申报提交" }
			<span class="glyphicon glyphicon-registration-mark text-info"></span>_专利授权
		{/case}
    	{case value="续费提交|准予续费"}
			<span class="glyphicon glyphicon-retweet text-info"></span>_专利续费
		{/case}
    	{default /}<span class="glyphicon glyphicon-off text-info"></span>_完结
	{/switch}
		</a>
	</td>
{/block}

<!-- //在base.html的基础上新增 -->
{block name="script"}
{__block__}

{/block}


