<!-- //module:asset, view:list/list-temple.html  -->

<!-- pagewrap  -->	
	<div class="table-responsive"> 
		<span id="searchResultNum" class="sr-only">{$searchResultNum}</span>
		<table class="table table-bordered table-hover">
		
		{block name="listElement"}
		
		
		
		{/block}
		</table>
	
	</div>
		
	<div id="divListRows" class="row text-right">
		<!-- // 分页变量 -->
		<div class="col-sm-10">{$pageSet->render()}</div>
		
		<div class="form-group form-group-sm col-sm-2">
			<span class="">每页显示记录数：</span>
			<select class="form-control" id="listRows">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
			</select>
						
		</div>
	
	</div>
	<!-- //调试用 -->
	<!-- <p>{ $display}</p> -->


<!-- /pagewrap  -->

<script type="text/javascript">
//对conf.js中定义的全局变量赋值
<!-- rqData.searchData={ $searchData}; -->
searchResultNum={$searchResultNum};

</script>

<!-- <script type="text/javascript" src="/home/res/js/app/entList.js"></script> -->

