<!-- //module:asset, view:list/list-temple.html  -->

	<div class="table-responsive"> 
		<span id="searchResultNum" class="sr-only">{$searchResultNum}</span>
		<table class="table table-bordered table-hover">
		
		{block name="listElement"}
		
		
		
		{/block}
		</table>
	
	</div>
	
	<div id="divListRows" class="row text-right myRow form-inline">		
		<!-- // 分页变量 -->
		<div class="form-group">{$pageSet->render()}</div>
		
		<div class="form-group">
			<span class="">每页显示记录数：</span>
			<select class="form-control" id="listRows">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
			</select>
						
		</div>
	
	</div>
	
	<div class="row myRow text-right form-inline">
		<div class="form-group">
      		<strong>本页记录导出：</strong>
			<label class="radio-inline"><input type="radio" name="sheetMode" value="all">全选</label>
			<label class="radio-inline"><input type="radio" name="sheetMode" value="select">部分</label>
			<label class="radio-inline"><input type="radio" name="sheetMode" value="none">无</label>
    	</div>
		<div class="form-group">
			<strong>&nbsp;&nbsp;导出文件类型：</strong>
			<select class="form-control" name="sheetType">
				<option value="xlsx" selected>Office Excel 2007</option>
				<option value="csv">逗号分隔符文件</option>
			</select>
		</div>
	</div>
	<br>
