<!-- modalAssSingle.html -->

<form id="fmAssInfo" role="form" action="{$home}/dashboard/asset/assOprt"  method="post">
	<input id="id" type="text" name="id" value="{$assSet.id}" class="sr-only">
	<input id="oprt" type="text" name="oprt" value="{$oprt}" class="sr-only">
	
	<div class="row">
	<div class="form-group col-sm-4">
		<label for="brand_model">名称（含品牌、型号）<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="brand_model" value="{$assSet.brand_model}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="code">卡号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="code" value="{$assSet.code}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="bar_code">条形码号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="bar_code" value="{$assSet.bar_code}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="assnum">编号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="assnum" value="{$assSet.assnum}" type="text" required>
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-2">
		<label for="quantity">数量<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="quantity" value="{$assSet.quantity}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="place_now">现放置地点<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="place_now" value="{$assSet.place_now}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-5">
		<label for="dept_now">现使用部门<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="dept_now" value="{$assSet.dept_now}" type="text" required>
	
	</div>
	
	<div class="form-group col-sm-2">
		<label for="keeper_now">现保管人<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="keeper_now" value="{$assSet.keeper_now}" type="text" required>
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-2">
		<label for="status_now">状态</label>
		{in name="oprt" value="_CREATE,_DELETE"}
		<input class="form-control empty-check" name="status_now" value="{$assSet.status_now}" type="text" readonly>
		{else/}
		<select class="form-control" id="modalStatusNow" name="status_now" >
			<option value="">d1</option>
		</select>
		{/in}
	
	</div>
	
	<div class="form-group col-sm-3">
		<label for="status_now_user_name">登记人</label>
		{eq name="oprt" value="_CREATE"}
		<input class="form-control empty-check" name="status_now_user_name" value="{$userName}" type="text" readonly>
		{else/}
		<input class="form-control empty-check" name="status_now_user_name" value="{$assSet.status_now_user_name}" type="text" required>
		{/eq}
	
	</div>
	</div>
	<hr>
	<div class="row myRow">
	
	<div class="pull-left">
		{in name="oprt" value="_DELETE,_DELETE_TRUE"}
		<button type="submit" id="btnDelete" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>删除</button>
		{else/}
		<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-send"></span>&nbsp;提交</button>
		{/in}
	</div>
	
	<div  class="pull-right">
		<input id="btnReset" type="button" class="btn btn-primary btn-sm" value="重置">
		<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
	</div>
	
	</div>
	
</form>



<script>

//$.alert组件上用的HTML字符串。由oprt英文转中文，加上HTML标签组成HTML字符串
var oprtToHtml=(topic,oprtEn,result)=>{
	var arr=[{name:'新增',val:'_CREATE',gly:'modal-window',labelType:'info'},
			{name:'提交',val:'_SUBMIT',gly:'send',labelType:'info'},
			{name:'审核',val:'_AUDIT',gly:'check',labelType:'warning'},
			{name:'审批',val:'_APPROVE',gly:'ok',labelType:'danger'},
			{name:'维护',val:'_MAINTAIN',gly:'list-alt',labelType:'primary'},
			{name:'查询',val:'_READ',gly:'search',labelType:'primary'},
			{name:'永久删除',val:'_DELETE',gly:'remove',labelType:'danger'},
			{name:'删除',val:'_ERASE',gly:'trash',labelType:'danger'},
			{name:'还原',val:'_RESTORE',gly:'retweet',labelType:'success'}];
	var oprtChi = '';
	var gly='';
	var labelType='';
	var resultHtml='';
	var htmlStr='';
	
	var result=(result==null)?'':result;
	
	for(var i=0;i<arr.length;i++){
		if (oprtEn==arr[i].val){
			oprtChi = arr[i].name;
			gly=arr[i].gly;
			labelType=arr[i].labelType;
			break;
		}
	}
	
	switch(result){
		case 'success':
			resultHtml='<p class="text-center"><span class="text-success"><span class="glyphicon glyphicon-ok"></span><strong>成功</strong></span> </p>';
			break;
		case 'fail':
			resultHtml='<p class="text-center"><span class="text-danger"><span class="glyphicon glyphicon-ban-circle"></span><strong>失败</strong></span></p>';
			break;
		default:
			resultHtml='';
			break;
	}
	
	htmlStr='<p>固定资产：</p><p class="text-center">【<strong>'+topic +'</strong>】</p><p class="text-center"><span class="label label-'+labelType+'">'+oprtChi+'<span class="glyphicon glyphicon-'+gly+'"></span></span></p>'+resultHtml;
	
	return htmlStr;
};

$(document).ready(function(){
	
	if('_CREATE'!='{$oprt}' || '_DELETE'!='{$oprt}' || '_DELETE_TRUE'!='{$oprt}'){
		ajaxShowSelect({sendData:{req:$('#modalStatusNow').attr('name'),source:'common'},'attach':'',selected:'{$assSet.status_now}',obj:$('#modalStatusNow')});	
	}
	
	$('#fmAssInfo').submit(function(evt){
		var url = this.action; 
    	var formData = $(this).serialize();
		var topic=$(this).find('[name="brand_model"]').val();
		var oprt=$(this).find('[name="oprt"]').val();
		var str=oprtToHtml(topic,oprt);
		console.log(str);
		<!-- console.log(url); -->
		<!-- console.dir(formData); -->
		evt.preventDefault();
		$('#modalAssSingle').modal('hide');
		$.confirm(str,function(e){
			con=e;
			if(true==con){
				$.post(url,formData,function(data){
					if(data){
						str=oprtToHtml(topic,oprt,'success');
					}else{
						str=oprtToHtml(topic,oprt,'fail');
					}
					$.alert(str);
					loadAssList();
				});
			}else{
				$('#modalAssSingle').modal('show');
			}
		}).cancel('否(N)').ok('是(Y)');	
	});
	

});

</script>

