{include file="../application/common/headeruser.html" title="个人中心" }

<!-- pagewrap  -->
<div class="container-fluid" style="padding-top: 55px;">

	<div class="panel-group" id="accordion">
		<div id="panelProIss" class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title">
        		<a data-toggle="collapse" data-parent="#accordion" href="#collapsePro"><span class="glyphicon glyphicon-inbox"></span>&nbsp;<strong>
        		项目事务</strong>&nbsp;<span class="span0">0</span></a>
      		</h4>
			
			</div>
			
			<div id="collapsePro" class="panel-collapse collapse">
			<div class="panel-body " >	
			
				<!-- //需load其他模板文件的div -->
				<div id="divIssPro_load"><h4 style="margin:50px;">加载中……</h4></div>
			
			</div>
			</div>
			
		</div>
		
		<div id="panelIssPat" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapsePat"><span class="glyphicon glyphicon-wrench"></span>&nbsp;<strong>
        			专利事务</strong>&nbsp;
					{eq name="$numTotal" value="0"}
					<span class="span0">{$numTotal}</span>
					{else/}
					<span class="span0 badge">{$numTotal}</span>
					{/eq}
					</a>
      			</h4>
			
			</div>
			
			<div id="collapsePat" class="panel-collapse collapse in">
			<div class="panel-body " >
				
				<!-- //需load其他模板文件的div -->
				<div id="divIssPat_load"><h4 style="margin:50px;">加载中……</h4></div>
				
			</div>
			</div>
			
		</div>
		
		<div id="panelTheIss" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThe"><span class="glyphicon glyphicon-list"></span>&nbsp;<strong>
        			论文事务</strong>&nbsp;<span class="span0">0</span></a>
      			</h4>
			
			</div>
		
			<div id="collapseThe" class="panel-collapse collapse">
			<div class="panel-body " >
				
				<!-- //需load其他模板文件的div -->
				<div id="divIssThe_load"><h4 style="margin:50px;">加载中……</h4></div>
		
			</div>
			</div>
	
		</div>
		
		<div id="panelAttManage" class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapseAttManage"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;<strong>
        			附件管理</strong>&nbsp;<span class="span"></span></a>
      			</h4>
			
			</div>
		
			<div id="collapseAttManage" class="panel-collapse collapse">
			<div class="panel-body " >
				
				<!-- //需load其他模板文件的div -->
				<div id="divAttManage_load"><h4 style="margin:50px;">开发中……</h4></div>
		
			</div>
			</div>
	
		</div>
		
		<div id="panelUserInfo" class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapseUserInfo"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;<strong>
        			个人信息</strong>&nbsp;<span class="span"></span></a>
      			</h4>
			
			</div>
		
			<div id="collapseUserInfo" class="panel-collapse collapse">
			<div class="panel-body " >
				
				<!-- //需load其他模板文件的div -->
				<div id="divUserInfo_load"><h4 style="margin:50px;">开发中……</h4></div>
		
			</div>
			</div>
	
		</div>
		
</div>

<!-- /pagewrap  -->

<script>
$(document).ready(function(){
	//默认加载issPat
	$("#divIssPat_load").load('issPat',{'auth':'{$auth}'});
	$("#divIssPro_load").load('issPro');
	$("#divIssThe_load").load('issThe'); 
	$("#divUserInfo_load").load('userInfo');
	$("#divAttManage_load").load('attManage'); 	
	
	<!-- // 在collapsePat出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapsePat").on("show.bs.collapse", function(){ -->
    	
		<!-- $("#divIssPat_load").load('issPat',{'auth':'{$auth}'}); -->
  	<!-- }); -->
	
	<!-- // 在collapsePro出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapsePro").on("show.bs.collapse", function(){ -->
    	<!-- $("#divIssPro_load").load('issPro'); -->
  	<!-- }); -->
	
	<!-- // 在collapseThe出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapseThe").on("show.bs.collapse", function(){ -->
    	<!-- $("#divIssThe_load").load('issThe');  -->
  	<!-- }); -->
	
	<!-- // 在collapseUserInfo出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapseUserInfo").on("show.bs.collapse", function(){ -->
    	<!-- $("#divUserInfo_load").load('userInfo');  -->
  	<!-- }); -->
	
	<!-- // 在collapseAttManage出现前应用jQuery的load方法加载对应文件。 -->
	<!-- $("#collapseAttManage").on("show.bs.collapse", function(){ -->
    	<!-- $("#divAttManage_load").load('attManage');  -->
  	<!-- }); -->
	
<!-- function  -->
	


<!--/ function -->

});
</script>

{include file="../application/common/footer.html"}