<!-- // issPat.html： -->
<div>
<h4><span class="label label-warning" style="font-size:16px;">专利事务&nbsp;
   	{eq name=" $numTotal" value="0"}
		<span class="span0">{$numTotal}</span>
	{else/}
		<span class="span0 badge">{$numTotal}</span>
	{/eq}
	</span>
</h4>


				<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #faebcc;">
				<!-- <ul class="nav nav-tabs" > -->
					{eq name="$authArray.iss.edit" value="1"}
					<li class="" ><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="edit" ><span class="glyphicon glyphicon-pencil"></span>编辑
						{eq name="$numIssPatEdit" value="0"}
							<span class="badge">{$numIssPatEdit}</span>
						{else/}
							<span class="label label-info"><span class="numSingle">{$numIssPatEdit}</span>/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$authArray.iss.audit" value="1"}
					<li style="marging-left:0px;"><a class="aPill" href="#"  data-issue-type="_PATENT" data-issue-authority="audit"><span class="glyphicon glyphicon-check"></span>审核
						{eq name="$numIssPatAudit" value="0"}
							<span class="badge ">{$numIssPatAudit}</span>
						{else/}
							<span class="label label-warning "><span class="numSingle">{$numIssPatAudit}</span>/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$authArray.iss.approve" value="1"}
					<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="approve"><span class="glyphicon glyphicon-ok"></span>审批
						{eq name="$numIssPatApprove" value="0"}
							<span class="badge">{$numIssPatApprove}</span>
						{else/}
							<span class="label label-danger"><span class="numSingle">{$numIssPatApprove}</span>/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$authArray.iss.execute" value="1"}
					<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="execute"><span class="glyphicon glyphicon-random"></span>&nbsp;执行
						{eq name="$numIssPatExecute" value="0"}
							<span class="badge">{$numIssPatExecute}</span>
						{else/}
							<span class="label label-info"><span class="numSingle">{$numIssPatExecute}</span>/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}
					
					{eq name="$authArray.iss.maintain" value="1"}
					<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="maintain"><span class="glyphicon glyphicon-calendar"></span>维护
						{eq name="$numIssPatMaintain" value="0"}
							<span class="badge">{$numIssPatMaintain}</span>
						{else/}
							<span class="label label-info"><span class="numSingle">{$numIssPatMaintain}</span>/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}

					{eq name="$authArray.iss.maintain" value="1"}
					<li><a id="aPatRenew" class="aPill" href="#" data-issue-type="_PATENT" data-oprt="_RENEW"><span class="glyphicon glyphicon-repeat"></span>续费
						{eq name="$numPatRenewTotal" value="0"}
							<span class="badge">{$numPatRenewTotal}</span>
						{else/}
							<span class="label label-warning"><span class="numSingle">{$numPatRenewTotal}</span>/{$numTotal}</span>
						{/eq}
					</a></li>
					{/eq}

					<li><a class="aPill" href="#" data-issue-type="_PATENT" data-issue-authority="done"><span class="glyphicon glyphicon-off"></span>完结
						{eq name="$numIssPatDone" value="0"}
							<span class="badge">{$numIssPatDone}</span>
						{else/}
							<span class="label label-default">{$numIssPatDone}</span>
						{/eq}
					</a></li>					
		
				</ul>
			
				<div class="tab-content">
					<div>
					<!-- <P>前端模板变量$userlg={ $userlg}<br> -->
					<!-- $userlg.0={ $userlg.0},&nbsp;$userlg.id={ $userlg.id}<br> -->
					<!-- 后端赋值语句'userlg'=>$userlg -->
					<!-- </P> -->
					
					</div>
					<!-- //需load其他模板文件的div -->
					<div id="divIssPatAuth_load"><h4 style="margin:50px;">加载中……</h4></div>
				</div>
</div>
<!-- /pagewrap  -->


<script>
$(document).ready(function(){
	//侧边栏对应选中项添加数字
	$('.nav .active').find('.badge').text({$numTotal}).css('color','red');
	
	$('.span0').addClass('mycolorred-bgwhite');
	
	showIssPatList('issPatAuth','{$auth}');
		
	//ul.nav-tabs调整.aPill
	//1.缩小padding
	$('.aPill').each(function(){
		$(this).css('padding','5px 10px');
		
		//去掉底部边框圆角
		<!-- $(this).css({'border-bottom-right-radius':'0px','border-bottom-left-radius':'0px'}); -->

	});
	
	//调整span.label
	$('span.label').css({'padding-bottom':'1px','margin-bottom':'2px'});	
	
	<!-- //点击.aTab中的各个按钮后，改变显示格式，默认显示相应状态的issPat内容-->
	$('.aPill').click(function(){
		//使用bootstrap后，获取绑定到data上的属性值
		var issType=$(this).data('issue-type');
		var authority=$(this).data('issue-authority');
		var oprt='';

		//本次点击的a加顶部色条
		<!-- $(this).removeClass('myedge-top-transparent').addClass('myedge-top-warning'); -->
		
		$(this).tab('show');
		if($(this).data('oprt')=='_RENEW'){
			showIssPatList('patRenew','_RENEW');
		}else{
			showIssPatList('issPatAuth',authority);
		}
    });	
	
<!-- function  -->
//**函数名：showIssPatList
 	//* 作用：本页面加载issPatlist；设置各个‘aPill’中数字的显示格式，并设置其所在li为“active”。
	//* 参数url，类型：字符串。值：不为空。说明：load操作的URL。
	//* 参数auth，类型：字符串。值：不为空。说明：load操作的issPat的权限值。
	//* 返回值：无
function showIssPatList(url,auth){
	$('#divIssPatAuth_load').load(url,{'auth':auth},function(){
		var obj='';
		
		if(auth=='_RENEW'){
			obj=$('a[data-oprt="'+auth+'"]');
		}else{
			obj=$('a[data-issue-authority="'+auth+'"]');
		}
		
		//恢复数字显示的初始格式
		$('.numSingle').removeClass('badge').removeClass('mycolorred-bgwhite').addClass('mycolorwhite-bgtransparent');
		//设置a所在li为“active”
		obj.closest('li').addClass('active');
		//设置a所含数字的显示格式
		obj.find('.numSingle').addClass('badge mycolorred-bgwhite');
	});
}

<!--/ function -->

});
</script>
