<!-- // issPat.html： -->
<div>
<h4><span class="label label-warning" style="padding-bottom:2px;padding-top:4px;"><span class="glyphicon glyphicon-user"></span></span>&nbsp;个人信息</h4>

	<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #faebcc;">
	<!-- <ul class="nav nav-tabs" > -->
		<li class="" ><a class="aPill" href="#" data-issue-type="_USERINFO" data-issue-authority="edit" ><span class="glyphicon glyphicon-pencil"></span>编辑</a></li>
		
		<li style="marging-left:0px;"><a class="aPill" href="#"  data-issue-type="_USERINFO" data-issue-authority="audit"><span class="glyphicon glyphicon-check"></span>审核</a></li>
			
	</ul>
			
	<div class="tab-content">
		<div>
			<!-- <P>前端模板变量$userlg={ $userlg}<br> -->
			<!-- $userlg.0={ $userlg.0},&nbsp;$userlg.id={ $userlg.id}<br> -->
			<!-- 后端赋值语句'userlg'=>$userlg -->
			<!-- </P> -->
					
		</div>
		<!-- //需load其他模板文件的div -->
		<div id="divUserinfo_load"><h4 style="margin:50px;">开发中……</h4></div>
	</div>
</div>

<div>cc

</div>
<!-- /pagewrap  -->


<script>
$(document).ready(function(){
	//侧边栏消除li的active
	$('.nav .active').removeClass('active');
	//侧边栏本页对应a添加数字,其所在li加acitve
	$('.nav a[href="'+window.location.hash+'"]').closest('li').addClass('active');
<!-- function  -->


<!--/ function -->

});
</script>
