<!-- // userInfo.html： -->


<div id="divUsergroup" data-user-id="{$user.id}" style="margin-top:10px;">
	<!-- <a href="#divUserBasicInfo" data-toggle="collapse" class="label label-warning" style="font-size:16px;"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;基本信息</a> -->
	
	<!-- Split button -->
<div class="btn-group" >
  <a href="#divUserBasicInfo" data-toggle="collapse" class="label label-warning" style="font-size:16px;border-top-right-radius: 0;border-bottom-right-radius: 0;"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;基本信息</a>
  <a class="label label-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:16px;border-top-left-radius: 0;border-bottom-left-radius: 0;border-left: #eea236 solid 1px;margin-left: -5px;">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#userInfo" class="aModalTrig" data-toggle="tooltip" data-title="修改个人基本信息" data-div-part="info"><span><span class="glyphicon glyphicon-edit"></span></span>修改信息</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#userInfo" class="aModalTrig" data-toggle="tooltip" data-title="重设登录密码" data-div-part="pwd"><span><span class="glyphicon glyphicon-eye-open"></span></span>重设密码</a></li>
  </ul>
</div>
	
	<div id="divUserBasicInfo" class="row myRow collaps in" style="margin-top:10px;">		
		
		<div class="col-sm-3">
			<span>用户名：<strong style="font-size:16px;">{$user.username}</strong></span>	
		</div>
		
		<div class="col-sm-3">
			<span>注册手机号：<strong style="font-size:16px;">{$user.mobile}</strong></span>			
		</div>
			
		<div class="col-sm-6">
			<span>所属部门：<strong style="font-size:16px;">{$user.dept}</strong></span>		
		</div>
		
	</div>
	<hr>
	
	<a href="#divUserAuth" data-toggle="collapse" class="label label-warning" style="font-size:16px;"><span class="glyphicon glyphicon-alert"></span>&nbsp;系统权限</a>
		
	<div id="divUserAuth" class="row myRow collaps in" style="margin-top:10px;">		
		<div class="form-group col-sm-6">	
			<label><span class="text-info">【事务】</span></label>	
			<div style="border-bottom:solid 1px #ccc; padding:5px;">	
				{foreach name="$user.authority.iss" item="v" }
    			{if condition="($v==1)"} 
				<span class="label label-info"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-ok"></span></span>
				
				{else /} 
				<span class="text-muted"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-unchecked"></span></span>
				{/if}
				{/foreach}			
				
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label><span class="text-info">【固定资产】</span></label>	
			<div style="border-bottom:solid 1px #ccc; padding:5px;">	
				{foreach name="$user.authority.ass" item="v" }
    			{if condition="($v==1)"} 
				<span class="label label-info"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-ok"></span></span>
				
				{else /} 
				<span class="text-muted"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-unchecked"></span></span>
				{/if}
				{/foreach}			
				
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label><span class="text-default">【专利】</span></label>	
			<div style="border-bottom:solid 1px #ccc; padding:5px;">
				{foreach name="$user.authority.pat" item="v" }
    			{if condition="($v==1)"} 
				<span class="label label-info"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-ok"></span></span>
				
				{else /} 
				<span class="text-muted"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-unchecked"></span></span>
				{/if}
				{/foreach}			
				
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label><span class="text-default">【项目】</span></label>	
			<div style="border-bottom:solid 1px #ccc; padding:5px;">
				{foreach name="$user.authority.pro" item="v" }
    			{if condition="($v==1)"} 
				<span class="label label-info"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-ok"></span></span>
				
				{else /} 
				<span class="text-muted"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-unchecked"></span></span>
				{/if}
				{/foreach}
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label><span class="text-default">【论文】</span></label>	
			<div style="border-bottom:solid 1px #ccc; padding:5px;">
				{foreach name="$user.authority.the" item="v" }
    			{if condition="($v==1)"} 
				<span class="label label-info"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-ok"></span></span>
				
				{else /} 
				<span class="text-muted"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-unchecked"></span></span>
				{/if}
				{/foreach}
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label><span class="text-danger">【附件】</span></label>	
			<div style="border-bottom:solid 1px #ccc; padding:5px;">
				{foreach name="$user.authority.att" item="v" }
    			{if condition="($v==1)"} 
				<span class="label label-info"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-ok"></span></span>
				
				{else /} 
				<span class="text-muted"><span class="spAuthKey">{$key}</span><span class="glyphicon glyphicon-unchecked"></span></span>
				{/if}
				{/foreach}
			</div>
		</div>
		
		<div class="form-group col-sm-6">	
			<label><span class="text-danger">【后台管理】</span></label>	
			<div class="form-group" style="border-bottom:solid 1px #ccc; padding:5px;">
				{eq name="$user.authority.admin.enable" value="1"} 
				<span class="label label-info">有<span class="glyphicon glyphicon-ok"></span></span>
				{else /} 
				<span class="text-muted">无<span class="glyphicon glyphicon-unchecked"></span></span>
				{/eq}
			</div>
		</div>
	</div>
	<hr>
		
	<a href="#divUserGroup" data-toggle="collapse" class="label label-warning" style="font-size:16px;"><span class="glyphicon glyphicon-magnet"></span>&nbsp;所属用户组</a>
	
	<div id="divUserGroup" class="row myRow collaps in" style="margin-top:10px;">		
		<ul class="list-group">
			{volist name="userGroup" id="vo"}			
			<a class="list-group-item col-sm-4" style="border:0px;">【<span class="label label-info">{$vo.name}</span>】：{$vo.description}</a>
			<!-- <li class="list-group-item">【<span class="label label-info">{$vo.name}</span>】：{$vo.description}</li> -->
			
			{/volist}
		</ul>	
			
	</div>

</div>
<br>
<!-- Modal "modalUserInfo" -->
<div class="modal fade" id="modalUserInfo" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-warning" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4>【<strong>{$user.username}</strong>】<span></span></h4>
        </div>
		
        <div class="modal-body">
			<form id="fmUser" data-div-part="">
				<input type="text" class="sr-only" name="userId" value="{$user.id}">
				<div class="row myRow" data-div-part="info">
				<div class="form-group has-feedback col-sm-6">
					<label for="username">用户名<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
					<!-- // bootstrap实现矢量图在输入框开头 -->
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="text" class="form-control inputCheck" name="userName" value="{$user.username}" placeholder="登录系统的用户名">	
					</div>
					
					<!-- // 配合jQuery 中的内容验证代码-->
					<span style="color:red;display:none;" class="spTips"></span>
        			<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
        			<span style="display: none;margin-right:17px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>	
				</div>
			
				<div class="form-group has-feedback col-sm-6">
					<label for="userMobile">手机号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
					<!-- // bootstrap实现矢量图在输入框开头 -->
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
						<input type="text" class="form-control inputCheck" name="userMobile" value="{$userMobile}" placeholder="输入个人手机号">	
			
					</div>
					
					<!-- // 配合jQuery 中的内容验证代码-->
					<span style="color:red;display:none;" class="spTips"></span>
        			<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
        			<span style="display: none;margin-right:17px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>	
				</div>
			
				</div>
				
				<div class="row myRow" data-div-part="pwd">
					<div class="form-group has-feedback col-sm-4">
						<label for="originPwd">原密码<span class="small text-danger"></span></label>
						<!-- // bootstrap实现矢量图在输入框开头 -->
						<div class="input-group">
							<span class="input-group-addon"><span class="small glyphicon glyphicon-th-large"></span></span>
							<input type="password" class="form-control  inputCheck" name="originPwd" autocomplete="pwd" placeholder="请输入原密码">
						</div>
						<!-- // 配合jQuery 中的内容验证代码-->
						<span style="color:red;display:none;" class="spTips"></span>
        				<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
        				<span style="display: none;margin-right:17px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>				
					</div>
					
					<div class="form-group has-feedback col-sm-4">
						<label for="newPwd">新密码<span class="small text-danger"></span></label>
						<!-- // bootstrap实现矢量图在输入框开头 -->
						<div class="input-group">
							<span class="input-group-addon"><span class="small glyphicon glyphicon-tag"></span></span>
							<input type="password" class="form-control  inputCheck" name="newPwd" autocomplete="pwd" placeholder="请输入新密码">
						</div>
						<!-- // 配合jQuery 中的内容验证代码-->
						<span style="color:red;display:none;" class="spTips"></span>
        				<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
        				<span style="display: none;margin-right:17px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>					
					</div>
					
					<div class="form-group has-feedback col-sm-4">
						<label for="confirmNewPwd">确认新密码<span class="small text-danger"></span></label>
						<!-- // bootstrap实现矢量图在输入框开头 -->
						<div class="input-group">
							<span class="input-group-addon"><span class="small glyphicon glyphicon-tags"></span></span>
							<input type="password" class="form-control  inputCheck" name="confirmNewPwd" autocomplete="pwd" placeholder="请再输入一次新密码">
						</div>		
						<!-- // 配合jQuery 中的内容验证代码-->
						<span style="color:red;display:none;" class="spTips"></span>
        				<span style="display: none;margin-right:17px;" class="spRemove glyphicon glyphicon-remove form-control-feedback"></span>
        				<span style="display: none;margin-right:17px;" class="spOk glyphicon glyphicon-ok form-control-feedback"></span>
		
					</div>
				
				</div>
				<button id="btnUpdate" type="submit" class="btn btn-primary btn-sm" data-oprt="_UPDATE"><span class="glyphicon glyphicon-ok"></span>&nbsp;更新</button>
				
				<div class="pull-right">	
					<button id="btnFormReset" type="reset" class="btn btn-primary btn-sm">重置</button>
				
					<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">取消</button>
				</div>
				
			</form>
			
		
		</div>
		
		<div class="modal-footer" hidden="true">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="返回">  
          
        </div>
		</div>
	</div>

</div>
<!--/ Modal "modalUserInfo" -->

<!-- /pagewrap  -->

<script>

//必填输入框内容有效性判断结果数组
var check = [];

//**函数名：textEnToChi
 	//* 作用：本页面特定英文字符串转换成中文字符串
	//* 参数text，类型：字符串。值：不为空。说明：待转换的英文字符串。
	//* 返回值：中文字符串
var textEnToChi=(text)=>{
	switch(text){
		case 'edit':
            text='编辑';
        break;
        case 'audit':
            text='审核';
        break;
        case 'approve':
            text='审批';
        break;
        case 'execute':
            text='执行';
        break;
        case 'maintain':
            text='维护';
        break;
       //...................附件.....................
        case 'upload':
            text='上传';
        break;
        case 'download':
            text='下载';
        break;
        case 'erase':
            text='删除';
        break;
        case 'move':
            text='移动';
        break;
        case 'copy':
            text='复制';
        break;
		case 'enable':
	        text='启用';
         break;
		case 'read':
	        text='查阅';
         break;
	}
	return text;
};

var modalUserInfoShow=(h4Html,divPart)=>{
	var modalObj=$('#modalUserInfo');
	modalObj.find('.modal-header h4 span').html(h4Html);
	modalObj.find('.myRow').each(function(){
		if(divPart==$(this).data('divPart')){
			$(this).show().find('.form-control').addClass('inputCheck');
			$(this).closest('form').data('divPart',divPart);
			console.log($(this).closest('form').data('divPart'));
		}else{
			$(this).hide().find('.form-control').removeClass('inputCheck');
		}
	});
	
	modalObj.modal();
};

var regCheckUserName=(obj)=>{
	//userName正则表达式，由英文、数字、中文和下划线组成,但不能以数字开头,长度为2到20个字符。unicode编码中的汉字范围:\u2E80-\u9FFF
	var regUserName = /^[a-zA-Z_\u2E80-\u9FFF][a-zA-Z0-9_\u2E80-\u9FFF]{1,19}$/;
	var len=obj.val().length;
	var result=false;
	if (regUserName.test(obj.val())) {
        result=regSuccess(obj);
    } else if (len < 2) {
        regFail(obj,'有'+obj.val().length+'个字符，不能少于2个字符。');
    } else {
        regFail(obj,'可由英文、数字、中文和下划线组成，但不能以数字开头。')
    }
	return result;
};

var regCheckUserMobile=(obj)=>{
	//mobile正则表达式，11位数字。必须以1开头。
	var regMobile = /^1[0-9]{10}$/;
	var len=obj.val().length;
	var result=false;
	if (regMobile.test(obj.val())) {
        result=regSuccess(obj);
    } else if (len< 11) {
        regFail(obj, '只有'+len+'位。手机号是11位数字，必须以1开头。');
    } else if (len > 11) {
        regFail(obj,'有'+len+'位，手机号由1开头的11位数字组成。');
    }else {
        regFail(obj,'已有'+len+'位，但必须是以1开头的11位数字')
    }
	return result;
};

var regCheckUserPwd=(obj)=>{
	//pwd正则表达式，
	//1.以字母开头，长度在6~20之间，只能包含字符、数字和下划线
	//var regPwd = /^[a-zA-Z]\w{5,19}$/;
	
	//2.数字，字母和下划线（至少包含其中两种，数字不能开头）,长度在6~20之间
	//var regPwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[A-Za-z_][A-Za-z_0-9]{5,19}$/;
	
	//3.数字，字母和下划线（至少包含其中两种，下划线不能开头）,长度在6~20之间。非下划线开头，不是纯数字，不是纯字母，字母数字组合，字母数字下划线组合，长度在6~20之间
	var regPwd = /^(?![_]+$)(?![0-9]+$)(?![A-Za-z]+$)[A-Za-z0-9][A-Za-z_0-9]{5,19}$/;
	var len=obj.val().length;
	var result=false;
	if (regPwd.test(obj.val())) {
        result=regSuccess(obj);
    } else if (len < 6 || len>20) {
        regFail(obj,'有'+obj.val().length+'个字符，长度应为6~20。');
    } else {
        //1.
		//regFail(obj,'以字母开头，只能包含字符、数字和下划线');
		//2.	
		//regFail(obj,'数字，字母和下划线（至少包含其中两种，数字不能开头）');
		
		//3.
		regFail(obj,'数字，字母和下划线（至少包含其中两种，下划线不能开头）');
    }
	return result;
};


//校验成功函数，返回true
var regSuccess=(obj)=> {
    var divParent=obj.closest('.has-feedback');
	divParent.removeClass('has-error').addClass('has-success');
	divParent.children('span').hide();
	divParent.children('.spOk').show();
    return true;
};

// 校验失败函数，返回false
var regFail=(obj,msg)=> {
    var divParent=obj.closest('.has-feedback');
	divParent.removeClass('has-success').addClass('has-error');
	divParent.children('span').hide();
	divParent.children('.spTips').text(msg).show();
    divParent.children('.spRemove').show();
	return false;
};

//**函数名：inputCheck
 	//* 作用：本页面必填输入框内容有效性判断
	//* 参数obj，类型：对象。值：不为空。说明：调用函数的对象。
	//* 返回值：boolean
var inputCheck=(obj)=>{
	var name=obj.attr('name');
	//var i=$('.inputCheck').index(obj);
	var result=false;
	
	switch(name){
		case 'userName':
			result=regCheckUserName(obj);
			break;
		case 'userMobile':
			result=regCheckUserMobile(obj);
			break;
		case 'originPwd':
			result=regCheckUserPwd(obj);
			break;
		case 'newPwd':
			result=regCheckUserPwd(obj);
			break;
		case 'confirmNewPwd':
			result=regCheckUserPwd(obj);
			break;
		
	}
	return result;
};

//函数名：fmInit
 	//* 作用：本页面表单初始化
	//* 参数obj，类型：对象。值：不为空。说明：需要初始化的表单。
var fmInit=(fm)=>{

	fm[0].reset();
	fm.find('.inputCheck').each(function(){
		$(this).closest('.has-feedback').removeClass('has-error').removeClass('has-success').show().children('span').hide();
	});
	$('.inputCheck').eq(0).focus();
};

$(document).ready(function(){
	//侧边栏消除li的active
	$('.nav .active').removeClass('active');
	//侧边栏本页对应a添加数字,其所在li加acitve
	$('.nav a[href="'+window.location.hash+'"]').closest('li').addClass('active');
	
	//将span的text转换成中文
	$('.spAuthKey').each(function(){
		var str=$(this).text();
		$(this).text(textEnToChi(str));
   	});
	
	// 设置各类tooltip
	$('#divUsergroup [data-toggle="tooltip"]').tooltip({triger:'focus',placement: 'auto bottom'});	
	
	//
	$('#modalUserInfo').on('show.bs.modal', function () {
        fmInit($('#fmUser'));
    });
	
	$('.aModalTrig').click(function(){
		var h4Html=$(this).find('span').html()+$(this).data('title');
		var divPart=$(this).data('divPart');
		modalUserInfoShow(h4Html,divPart);
		
	});
	
	$('.inputCheck').focusout(function(){
		var i=$('.inputCheck').index($(this));
		var val=$(this).val();
		check[i]=inputCheck($(this));
		switch($(this).attr('name')){
			//confirmNewPwd的输入内容必须与newPwd相同
			case 'confirmNewPwd':
				var newPwd= $('.inputCheck').eq(i-1).val();
				if(check[i] && val== newPwd){
					check[i]=true;
				}else if(val!= newPwd){
					check[i]=false;
					regFail($(this),'与第一次输入的新密码不符，请重新输入。');
				}
				break;
			case 'newPwd':
				var originPwd=$('.inputCheck').eq(i-1).val();
				var originPwdObj=$('.inputCheck').eq(i+1).closest('.has-feedback');
				if(check[i] && val!= originPwd){
					check[i]=true;
					originPwdObj.show();
				}else if(val== originPwd){
					check[i]=false;
					regFail($(this),'新密码与原密码相同，请重新输入。');
					originPwdObj.hide();
				}
				break;
		}
		
		
	});
	
	$('#fmUser').submit(function(evt){
				
		$('.inputCheck').each(function(){
			//有效性判断结果
			check[$('.inputCheck').index($(this))]=inputCheck($(this));
		});
		//var formData = new FormData($(this)[0]);
		var formData = $(this).serialize();
		var flag=check.every(function(value) {
            return value == true
        });
		var url='{$home}/dashboard/index/';

		switch($(this).data('divPart')){
			case 'info':
				url+='updateUserInfo';
				break;
			case 'pwd':
				url+='updateUserPwd';
				break;
			default:
				url+='userInfo';
				break;	
		}
		
		console.log(url);
	
		evt.preventDefault();
		
		if(flag){
			console.dir(formData);
			//向后端传送数据
			$.post(url,formData,
        		function(data){
            		var labelStr='default';
            		//console.log(data);
					$('#modalUserInfo').modal('hide');
					
					switch(data.code*1){
						case 1:
							labelStr='success';
							//重新载入本文件
							$('#divContent_load').load('tplFile',{'sId':window.location.hash});
							
							break;
						case 0:
							labelStr='danger';
							break;		
					}
					
					$.alert('<p>'+data.msgHead+'</p><p class=" text-center"><span class="label label-'+labelStr+'">'+data.msgBody+'</span></p>');
        		},
				'json'
			);
		}else{
			for(key in check){
				if (!check[key]) {
					$('.inputCheck').eq(key).focus();
					break;
				}
			}
		}
	
	});
	
	$('#btnFormReset').click(function(evt){
		
		evt.preventDefault();
		
		fmInit($(this).closest('form'));
		
	});

});
</script>
