{include file="../application/common/header.html" title="专利信息" }

<!-- pagewrap  -->
<div class="mainFrame container-fluid">

	<ul class="nav nav-pills" style="border-bottom:1px solid #ddd;">
		
	</ul>
	
	<div id="patSearchForm"></div>

	<div class="tab-content">
		<!-- // PatList表格排序信息汇总组件 -->
		<div id="divTblSortData" data-sort-name="{$sortData.sortName}" data-sort-order="{$sortData.sortOrder}" data-list-rows="{$sortData.listRows}" data-page-num="{$sortData.pageNum}" data-show-id="{$sortData.showId}" data-period="{$sortData.period}" class="sr-only"></div>
		
		<div id="patList"></div>
	</div>
	
<!-- </div> -->
</div>
<!-- /pagewrap  -->

<script>
const periodProp={$periodProp};
console.log(periodProp);
//
var buildPeriodCom=()=>{
	let obj=$('ul.nav-pills'),
		aT=$('<a></a>').addClass('aTab'),
		hrefT='#total',
		chiT='专利概况&nbsp;',
		numT=0;
	obj.empty();	
	for(let el in periodProp){
		let num=periodProp[el]['num'],
			chi=periodProp[el]['chi'],
			aObj=$('<a></a>').addClass('aTab'),
			liObj=$('<li></li>');
		aObj.attr('href','#'+el).html(chi+'&nbsp;'+num);
		liObj.append(aObj);
		obj.append(liObj);
		numT+=num;
	}
	obj.prepend($('<li></li>').append($('<a></a>').addClass('aTab').attr('href',hrefT).html(chiT+numT).tab('show')));
};

var initPage=()=>{
	let sId=window.location.hash,
		period=sId.slice(1);
	$('#divTblSortData').data('period',period);
	buildPeriodCom();
	//载入patSearchForm
	$('#patSearchForm').load('patSearchForm');
	//ul.nav调整.aPill
	adjustACom();
	//载入patList
	loadPatList();
};

//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){
	initPage();
	
	//选中id为"nav_pat"的标签（header.html文件中的li标签）,添加.active
	$('#nav_pat').addClass('active');
	// 激活tooltip
	$('[title]').tooltip();	
})(jQuery);

$(document).ready(function(){

	$('#nav_pat').click(function(){
		let period='total',
			sId='#'+period;
		window.location.hash=sId;
		$('#divTblSortData').data('period',period);
		$('.aTab[href="'+sId+'"]').tab('show');
		loadPatList();
	});	
	
	<!-- //点击.aTab中的各个按钮后，显示相应状态的pat内容-->
	$('.aTab').click(function(){
        let sId = $(this).attr('href'),  //a的attr属性值
			period=sId.slice(1);
		//本身加底色
		$(this).tab('show');
		$('#divTblSortData').data('period',period);
		//载入patSearchForm
		$('#patSearchForm').load('patSearchForm');
		loadPatList();
    });	
	
	$('.aTab').each(function(){
		// 显示边框
		<!-- $(this).css("border","solid 1px #ddd"); -->
		//	为锚点值对应的li添加.active
		if($(this).attr('href')==window.location.hash){
			$(this).parent().addClass('active');
		}	
	});
		
});
<!-- function  -->
//ul.nav调整.aPill
function adjustACom(){
	$('ul.nav-pills').find('a').each(function(){
		//缩小padding
		$(this).css('padding','5px 10px');
		//去掉底部边框圆角
		$(this).css({'border-bottom-right-radius':'0px','border-bottom-left-radius':'0px'});
		//调整内部span.label的大小
		$(this).find('.spClass').css({'padding-bottom':'1px','margin-bottom':'2px'});
	});
}
//载入文件
function loadPatList(){
	let url='patList',
		listData={sortData:{},searchData:{}},
		loadStr='<p class="text-center" style="font-size:28px;">加载中……</p>';
	//排序有关的参数都从$('#divTblSortData')获取
	let obj=$('#divTblSortData'),
		sortData={
			'sortName':obj.data('sortName'),
			'sortOrder':obj.data('sortOrder'),
			'pageNum':obj.data('pageNum'),
			'listRows':obj.data('listRows'),
			'showId':obj.data('showId'),
			'period':obj.data('period'),
			
		},
		sortDataDefault={listRows:10,sortName:'topic',sortOrder:'asc',pageNum:1,showId:0,period:'total'};
	
	
	//用户搜索有关键值对从表单$('#fmIssPatSearch')获取
	let formData=new FormData($('#fmPatSearch')[0]),
		searchData={};
	
	//使用Map对象的forEach方法组装键值对
	formData.forEach(function(val,key){
		//非0非空的值才进行组装
		if(val!='' && val!=0){
			searchData[key]=val;
		}
	});
	
	<!-- // 转换成json字符串-->
	JSON.stringify(searchData);
	
	sortData=$.extend({},sortDataDefault,sortData);
	listData.sortData=sortData;
	listData.searchData=searchData;
	
	//加载total.html页面内容到patlist.html页面中<div id="patlist"></div>
	$("#patList").html(loadStr).load(url,listData);
}

<!-- /function  -->
</script>

{include file="../application/common/footer.html"}
