
<!-- //module:asset, view:index/index.html

<!-- pagewrap  -->
<div >

	<ul class="nav nav-pills">
		<!-- //jQ生成 -->
	</ul>
	<h4 id="period" class="text-left">
		<!-- //jQ生成 -->
	</h4>
	<div class="text-right">
		<button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#divCollapse" title="显示/隐藏专利搜索条件">搜索条件</button>&nbsp;
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新页面"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
	</div>
	
	<div id="divCollapse" class="collapse" style="padding-top:10px;">
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;padding-top:5px;" href="#divCollapse"  data-toggle="collapse" title="点击隐藏">专利搜索条件</a>
		<!-- // 搜索表单-->
		<div id="patSearchForm">
		<!-- //jQ生成 -->
		</div>
	</div>
	
	<div class="tab-content">		
		<div id="patList">
		<!-- //jQ载入 -->
		</div>
	</div>
	
<!-- </div> -->
</div>
<!-- /pagewrap  -->

<script>
const periodProp={$periodProp};
<!-- console.log(periodProp); -->
//设定本页面内向后端请求的url基地址
var urlBase=urlPrex+'/patent/index/',
	period='total',
	sortData={$sortData};

<!-- console.log(num); -->

//定义要加载的搜索表单中各个输入组件属性值
const searchFormComProp={
	topic:{name:'topic',tag:'input',val:''},
	author:{name:'author',tag:'input',val:''},
	type:{name:'type',tag:'select',val:0},
	dept:{name:'dept',tag:'select',val:0},
	status:{name:'status',tag:'select',val:0},
};
//定义title属性值
const titleProp=[
	{period:'total',lab:'label label-primary',btn:'btn btn-primary',txt:'专利总数&nbsp;'},
	{period:'audit',lab:'label label-info',btn:'btn btn-info',txt:'内部审核拟申报专利&nbsp;'},
	{period:'newAdd',lab:'label label-info',btn:'btn btn-info',txt:'拟申报专利&nbsp;'},
	{period:'apply',lab:'label label-primary',btn:'btn btn-primary',txt:'申报专利&nbsp;'},
	{period:'authorize',lab:'label label-success',btn:'btn btn-success',txt:'授权(有效期)专利&nbsp;'},
	{period:'render',lab:'label label-success',btn:'btn btn-success',txt:'续费授权(有效期)专利&nbsp;'},
	{period:'abandon',lab:'label label-info',btn:'btn btn-info',txt:'已放弃专利数&nbsp;'},
	{period:'reject',lab:'label label-info',btn:'btn btn-info',txt:'被驳回专利数&nbsp;'},
	{period:'invalid',lab:'label label-default',btn:'btn btn-default',txt:'无效专利数&nbsp;'}
];

// 根据本页面的锚点值，决定setTitle的内容
var setTitle=()=>{
	let color='',
		txt='',
		spObj=$('<span></span>').css({'cursor':'unset'}),
		n='';
		spBdg=$('<span></span>').addClass('badge'),
		hObj=$('#period');
	
	for(let i=0;i<titleProp.length;i++){
		let el=titleProp[i];
		if(el.period==period){
			color=el.btn;
			txt=el.txt;
			n=(typeof periodProp[el.period])?periodProp[el.period]['num']:'';
			(n)?spBdg.text(n):'';
			break;
		}
	}
	console.log(period);
	spObj.addClass(color).append(txt,spBdg);
	hObj.empty().append(spObj);
};
//生成nav-pills里的组件
var buildNavPillsCom=()=>{
	let r=$('ul.nav-pills').css('border-bottom','1px solid #ddd');
	r.empty();	
	for(let el in periodProp){
		let chi=periodProp[el]['chi'],
			a=$('<a></a>').attr({'class':'patPeriod','data-period':el}).css({'padding':'3px 10px','border-bottom-right-radius':'0px','border-bottom-left-radius':'0px','cursor':'pointer'}).html(chi),
			li=$('<li></li>');
		
		li.append(a);
		r.append(li);
	}
	<!--为第一个li标签添加.active -->
	r.find('li').eq(0).addClass('active');
};

var initPage=()=>{

	url=urlBase+'patSearchForm';
	$('#divTblSortData').data('period',period);
	buildNavPillsCom();
	setTitle();
	//载入patSearchForm
	$('#patSearchForm').load(url);
	//载入patList
	loadPatList();
};
//所有查询表单重置
var fmReset=()=>{
	let fm=$('form');
	
	fm.each(function(){
		$(this)[0].reset();
		$(this).find('.form-control').removeClass('alert-info');
	});
};

initPage();
// 激活tooltip
$('[title]').tooltip();	

$(document).ready(function(){
	let aSet=$('.patPeriod');
	
	<!-- //点击.aTab中的各个按钮后，显示相应状态的pat内容-->
	aSet.click(function(){
       period=$(this).data('period');
		//本身加底色
		$(this).tab('show');
		//排序、分页有关的值向sortData汇集
		sortData.period=period;
		sortData.pageNum=1;
		setTitle();
		
		loadPatList();
    });	

	<!-- // 页面刷新 -->
	$('#btnRefresh').click(function(){
		//所有表单重置
		fmReset();
		//隐藏搜索条件
		$('.collapse').removeClass('in');
		loadPatList();
	});	
});
<!-- function  -->

//载入文件
function loadPatList(opt={}){
	let	rqData=$.extend({},{sortData:{},searchData:{}},opt),
		loadStr='<p class="text-center" style="font-size:28px;">加载中……</p>';
	//排序有关的参数都从$('#divTblSortData')获取
	let obj=$('#divTblSortData'),
		sortDataDefault={listRows:10,sortName:'topic',sortOrder:'asc',pageNum:1,showId:0,period:'total'};
	
	//用户搜索有关键值对从表单$('#fmIssPatSearch')获取
	let formData=new FormData($('#fmPatSearch')[0]),
		searchDataDefault={topic:'',author:'',type:0,dept:0,status:0};
		searchData={};
		
	//改变向后端请求的url
	url=urlBase+'patList';
	//使用Map对象的forEach方法组装hash数组
	formData.forEach(function(val,key){
		//非0非空的值才进行组装
		if(val!='' && val!=0){
			searchData[key]=val;
		}
	});
	
	rqData.sortData=$.extend({},sortDataDefault,sortData);
	rqData.searchData=$.extend({},searchDataDefault,searchData);
	console.log('index.html, loadPatList:');
	console.table(rqData.searchData);
	
	//加载patList.html页面
	$("#patList").html(loadStr).load(url,rqData);
}

<!-- /function  -->
</script>


