
<!-- //module:asset, view:index/index.html

<!-- pagewrap  -->
<div >

	<ul id="patPeriodNav" class="nav nav-pills">
		<!-- //jQ生成 -->
	</ul>
	<h4 id="patTitle" class="text-left">
		<!-- //jQ生成 -->
	</h4>
	<div class="text-right">
		<button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#divSearchForm" title="显示/隐藏专利搜索条件">搜索条件</button>&nbsp;
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新页面"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
	</div>
	
	<div id="divSearchForm" class="collapse" style="padding-top:10px;">
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;padding-top:5px;" href="#divSearchForm"  data-toggle="collapse" title="点击隐藏">专利搜索条件</a>
		<!-- // 搜索表单-->
		<div id="patSearchForm">
		<!-- //jQ生成 -->
		</div>
	</div>
	
	<div class="tab-content">		
		<div id="patList">
		<!-- //jQ载入 -->
		</div>
	</div>
	
<!-- </div> -->
</div>
<!-- /pagewrap  -->

<script>

<!--// console.log(num); -->


//定义要加载的搜索表单中各个输入组件属性值
<!-- const searchFormComProp={ -->
	<!-- topic:{name:'topic',tag:'input',val:''}, -->
	<!-- author:{name:'author',tag:'input',val:''}, -->
	<!-- type:{name:'type',tag:'select',val:0}, -->
	<!-- dept:{name:'dept',tag:'select',val:0}, -->
	<!-- status:{name:'status',tag:'select',val:0}, -->
<!-- }; -->
urlObj.module='patent';
const tPropDefault={
		total:{btn:'btn btn-primary',txt:'专利总数&nbsp;',num:''},
		audit:{lab:'label label-info',btn:'btn btn-info',txt:'内部审核拟申报专利&nbsp;',num:''},
		newAdd:{btn:'btn btn-info',txt:'拟申报专利&nbsp;',num:''},
		apply:{btn:'btn btn-primary',txt:'申报专利&nbsp;',num:''},
		authorize:{btn:'btn btn-success',txt:'授权(有效期)专利&nbsp;',num:''},
		invalid:{btn:'btn btn-default',txt:'无效专利数&nbsp;',num:''}
	};


var titleProp=getTitleProp(tPropDefault,{$periodProp});

var initPage=()=>{
	buildMainPeriodNavCom();
	setTitle(titleProp);
	//载入patSearchForm
	urlObj.method='patSearchForm';
	$('#patSearchForm').load(getRqUrl());
	//载入patList
	loadEntPeriodList();
	console.log();
};

rqData.sortData=$.extend({},{$sortData},rqData.sortData);
initPage();	

$(document).ready(function(){
	
	<!-- //点击nav中的各个按钮后，显示相应状态的pat内容-->
	$('#patPeriodNav').find('a').click(function(){
       let period=$(this).data('period');
		//本身加底色
		$(this).tab('show');
		//排序、分页有关的值向sortData汇集
		rqData.period=period;
		rqData.sortData.period=period;
		rqData.sortData.pageNum=1;
		setTitle(titleProp);
		loadEntPeriodList();
    });	

	<!-- // 页面刷新 -->
	$('#btnRefresh').click(function(){
		
		//隐藏搜索条件
		$('#divSearchForm').removeClass('in');
		//清空查询数据
		setRqSearchData();
		fmSearchReset();
	});	
});

</script>


