{include file="../application/common/header.html" title="专利信息" }

<!-- pagewrap  -->
<div class="container-fluid" style="padding-top: 60px;">
	<!-- <h3><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利情况</span></h3> -->
	<!-- <ul class="nav nav-tabs"> -->
	
	<ul class="nav nav-pills" >
		<li><a class="aTab" href="#total" style="border:solid 1px;border-color:#f0f0f5;">总体情况</a></li>
		<li><a class="aTab" href="#newAdd" style="border:solid 1px;border-color:#f0f0f5;">新增&nbsp;<span class="label label-warning">{$numnew}</span></a></li>
		<li><a class="aTab" href="#apply" style="border:solid 1px;border-color:#f0f0f5;">申报&nbsp;<span class="label label-warning">{$numapp}</span></a></li>
		<li><a class="aTab" href="#authorize" style="border:solid 1px;border-color:#f0f0f5;">授权（有效）&nbsp;<span class="label label-warning">{$numaut}</a></span></li>
		<li><a class="aTab" href="#render" style="border:solid 1px;border-color:#f0f0f5;">续费授权（有效）&nbsp;<span class="label label-warning">{$numren}</a></span></li>
		<li><a class="aTab" href="#abandon" style="border:solid 1px;border-color:#f0f0f5;">放弃</a></li>
		<li><a class="aTab" href="#reject" style="border:solid 1px;border-color:#f0f0f5;">驳回</a></li>
	</ul>
		

	<div class="tab-content">
		<div id="patlist"></div>
	</div>
	
</div>

<!-- /pagewrap  -->

<script>
$(document).ready(function(){

	<!-- 选中id为"nav_pat"的标签（header.html文件中的li标签）,添加.active -->
	$("#nav_pat").addClass("active");

	var sId = window.location.hash;
    loadFile(sId);
	
	<!-- //点击nav-tabs中的各个按钮后，显示对应的页面-->
	$(".aTab").click(function(){
        var sId = $(this).attr("href");  //a的attr属性值
		window.location.hash = sId;  //设置锚点
        loadFile(sId);              //加载锚点对应的页面文件
    });	
	
<!-- function  -->
	//*函数名：loadFile
	//*作用：加载锚点对应的页面文件
	function loadFile(sId){
		var sId = window.location.hash;
        var pathn;
		var status;
		
		// 锚点值sId对应于pat的不同状态
        switch(sId){
        	case "#total": 
				pathn = "total"; 
				<!-- status=0; -->
				$('.nav-pills a[href="#total"]').tab('show');
				//a所在li高亮，对应页面显示 
			break;
			
			case "#newAdd": 
				pathn = "total"; 
				<!-- status=1; -->
				$('.nav-pills a[href="#newAdd"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			
			case "#apply": 
				pathn = "total"; 
				<!-- status=2; -->
				$('.nav-pills a[href="#apply"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			
			case "#authorize": 
				pathn = "total"; 
				<!-- status=3; -->
				$('.nav-pills a[href="#authorize"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			
			case "#render": 
				pathn = "total"; 
				<!-- status=4; -->
				$('.nav-pills a[href="#render"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			
			case "#abandon": 
				pathn = "total"; 
				<!-- status=5; -->
				$('.nav-pills a[href="#abandon"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			
			case "#reject": 
				pathn = "total"; 
				<!-- status=6; -->
				$('.nav-pills a[href="#reject"]').tab('show');//a所在li高亮，对应页面显示 
			break;
			
　　		default: 
				pathn = "total"; //
				$('.nav-pills a[href="#total"]').tab('show');//a所在li高亮，对应页面显示 
			break;
        }
		// 组装通过“post”提交的数据，名称与后端所用一致
		// 后端的tp5操作锚点值需要去除“#”，所以用到JS函数substr()
		<!-- var sendData = {"patStatus":status,"fragment":sId.substr(1)}; -->
		var sendData = {"patStatus":sId};
		// jquery load()方法，加载页面内容到patlist.html页面中<div id="patlist"></div>
        $("#patlist").load(pathn,sendData); //加载相对应的页面文件
 
    }
<!-- /function  -->
	
});
</script>

{include file="../application/common/footer.html"}
