<!-- fmIssSingle.html -->

<!-- pagewrap  -->	
<form id="fmIssSingle" role="form" action="{$home}/dashboard/issue/issOprt"  method="post">
	<input id="id" type="text" name="id" value="{$issSingle.id}" class="sr-only">
	<input id="oprt" type="text" name="oprt" value="{$oprt}" class="sr-only">
	<div class="row">
	<div class="form-group col-sm-4">
		<label class="control-label" for="brand_model">名称（含品牌、型号）<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="brand_model" value="{$assSet.brand_model}" type="text">
	
	</div>
	
	<div class="form-group col-sm-3">
		<label class="control-label" for="code">卡号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="code" value="{$assSet.code}" type="text">
	
	</div>
	
	<div class="form-group col-sm-3">
		<label class="control-label" for="bar_code">条形码号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="bar_code" value="{$assSet.bar_code}" type="text"  >
	
	</div>
	
	<div class="form-group col-sm-2">
		<label class="control-label" for="assnum">编号<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="assnum" value="{$assSet.assnum}" type="text">
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-2">
		<label class="control-label" for="quantity">数量<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="quantity" value="{$assSet.quantity}" type="text">
	
	</div>
	
	<div class="form-group col-sm-3">
		<label class="control-label" for="place_now">现放置地点<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="place_now" value="{$assSet.place_now}" type="text">
	
	</div>
	
	<div class="form-group col-sm-5">
		<label class="control-label" for="dept_now">现使用部门<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" name="dept_now" value="{$assSet.dept_now}" type="text">
	
	</div>
	
	<div class="form-group col-sm-2">
		<label class="control-label" for="keeper_now">现保管人<span class="small glyphicon glyphicon-asterisk text-danger"></span></label>
		<input class="form-control empty-check" id="" name="keeper_now" value="{$assSet.keeper_now}" type="text">
	
	</div>
	</div>
	
	<div class="row">
	<div class="form-group col-sm-4">
		<label>现状</label>
		<input class="form-control" id="statusNow" value="{$assSet.status_now}" type="text" readonly>
		<span class="small text-muted">【<span class="text-primary"><span class="glyphicon glyphicon-save-file"></span>更新</span>】不改变“现状”</span>
	</div>
	
	
	<div class="form-group col-sm-4">
		<label for="status_now">状态变更为</label>
		<select class="form-control" name="status_now" >
			<option value="">d1</option>
		</select>
		<span class="small text-muted"></span>
	</div>
	
	<div class="form-group col-sm-4">
		<label class="control-label" for="status_now_desc">状态说明</label>
		<input class="form-control empty-check" name="status_now_desc" value="{$assSet.status_now_desc}" type="text" placeholder="请填入状态改变的简短说明">
		
	</div>
	</div>
	
	{notin name="oprt" value="_DELETE"}
	<div class="row">
	<div class="form-group col-sm-2">
		<label for="status_now_user_name">登记人</label>
		<input class="form-control" name="status_now_user_name" value="{$userName}" type="text" readonly>
	</div>
	</div>
	{/notin}
	<hr>
	
	<div class="row myRow">
	<div class="pull-left">
		<button id="btnUpdate" type="submit" data-oprt="_UPDATE" class="btn btn-sm btn-primary "><span class="glyphicon glyphicon-save-file"></span>更新</button>
	</div>
	
	<div  class="pull-right">
		<input type="reset" class="btn btn-primary btn-sm" value="重置">
		<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
	</div>
	</div>
	
</form>

<!-- /pagewrap  -->
<script>

</script>

