<!-- // issPat.html： -->
<div class="content-header">
<!-- <h4 class="label label-default" style="font-size:16px;"><span class="glyphicon glyphicon-list"></span>&nbsp;论文事务 -->
<h4 id="h4Title"></h4>

	<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #faebcc;">
		<li class="active dropdown">
			<a class="dropdown-toggle aPill" data-toggle="dropdown"  href="#">处理中
				<span class="caret"></span>
			 </a>
			<ul id="ulIssStatusMenu" class="dropdown-menu"></ul>
		</li>
	</ul>
</div>
			
<div class="content-body">
	<div id="divTopBtn" class="row myRow text-right" style="margin:10px 0px;">		
		<a id="aSearchData" class="btn btn-primary btn-sm" href="#divSearchData" data-toggle="collapse" title="根据输入信息查询"><span class="glyphicon glyphicon-search"></span>查询</a>		
		
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新事务信息表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
			
		<button class="btn btn-primary btn-sm btnAssOprt" data-iss-id="0" data-iss-oprt="_CREATE" title="新增事务"><span class="glyphicon glyphicon-modal-window"></span>新增</button>
			
	</div>
		
		
		<!-- // 一般查询区域-->
	<div id="divSearchData" class="collapse">
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchData"  data-toggle="collapse" title="点击隐藏">查询条件</a>
		
		<div id="divSearchForm_Load" style="border:1px solid #eee;padding:10px 0px 10px 0px;margin-top:2px;">
			<form id="fmSearch" >
			
			</form>
		</div>
		
		</br>
	</div>

	<!-- // IssList表格排序信息汇总组件 -->
	<div id="divTblSortData" data-iss-ent-name="{$sortData.issEntName}" data-iss-status="{$sortData.issStatus}" data-sort-name="{$sortData.sortName}" data-sort-order="{$sortData.sortOrder}" data-list-rows="{$sortData.listRows}" data-page-num="{$sortData.pageNum}" data-show-ass-id="{$sortData.showIssId}" class="sr-only"></div>
	
	<div id="divIssList_Load">
		<p class="text-center" style="font-size:28px;">加载中……</p>
	</div>
</div>

<!-- /pagewrap  -->


<script>
var loadStr='<p class="text-center" style="font-size:28px;">加载中……</p>';
//控制显示/隐藏字段的组件的属性数组
var columnToggleArr=[];

// 根据锚点值得到issEntName
var anchorToIssEntName=()=>{
	let arr=window.location.hash.slice(2,-1).split('_'),	
		name='';
	if(arr.length && arr[0].includes('ISST')){
		name='_'+arr[1].slice(0,-1);;
	}
	return name;
};

//完善nav nav-pills的内容，以#ulIssStatusMenu为基础通过DOM操作，生成所需的li组件。
var completeUlDropMenu=(numObj)=>{
	
	let obj=$('#ulIssStatusMenu'),liObj='',aObj='',
		name=anchorToIssEntName(),
		aPropArr=[
			{aClass:'aIss',dataStatus:name+'S_INPROCESS',gly:'',spTypeText:'[总计]&nbsp;',spLabel:'badge spLabel',spLabelText:numObj.S_INPROCESS},
			{aClass:'divider'},
			{aClass:'aIss',dataStatus:name+'S1',gly:'glyphicon glyphicon-send',spTypeText:'&nbsp;[送审]&nbsp;',spLabel:'label label-info spLabel',spLabelText:numObj.S1},
			{aClass:'aIss',dataStatus:name+'S2',gly:'glyphicon glyphicon-check',spTypeText:'&nbsp;[审核]&nbsp;',spLabel:'label label-warning spLabel',spLabelText:numObj.S2},
			{aClass:'aIss',dataStatus:name+'S3',gly:'glyphicon glyphicon-ok',spTypeText:'&nbsp;[审批]&nbsp;',spLabel:'label label-danger spLabel',spLabelText:numObj.S3},
			{aClass:'aIss',dataStatus:name+'S4',gly:'glyphicon glyphicon-random',spTypeText:'&nbsp;[执行]&nbsp;',spLabel:'label label-primary spLabel',spLabelText:numObj.S4},
			{aClass:'aIss aPill text-muted',dataStatus:name+'S_END',gly:'glyphicon glyphicon-off',spTypeText:'&nbsp;[完结]&nbsp;',spLabel:'spLabel',spLabelText:numObj.S_END}
		];
	
	obj.empty();
	obj.closest('li').nextAll().remove();
	
	aPropArr.forEach(function(item,index){
		aObj=$('<a></a>').addClass(item.aClass).attr('href','#_ISST'+item.dataStatus).data('status',item.dataStatus).append($('<span class="spType"></span>').html(item.spTypeText)).append($('<span></span>').addClass(item.spLabel).text(item.spLabelText));
		if(item.gly){
			aObj.prepend($('<span></span>').addClass(item.gly));
		}
		
		switch(index){
			//放置第一个li组件
			case '0':
				liObj=$('<li></li>').addClass('active').append(aObj);
				obj.append(liObj);
				break;
			//放置最后一个li组件
			case aPropArr.length-1:
				liObj=$('<li></li>').append(aObj);
				obj.closest('li').after(liObj);
				break;
			//在第一个li组件后依次放置其他li组件
			default:
				if(item.aClass=='divider'){
					liObj=$('<li></li>').addClass('divider');
					
				}else{
					liObj=$('<li></li>').append(aObj);
				}
				obj.append(liObj);
				break;			
		}
	});
};

//改变标题
var issEntNameChange=()=>{
	let obj=$('#h4Title'),
		spObj=$('.spIssEntName'),
		htmlStr='',
		arr=[{hClass:'text-warning',type:'_PAT',text:'专利',gly:'glyphicon glyphicon-wrench'},
			{hClass:'text-info',type:'_THE',text:'论文',gly:'glyphicon glyphicon-list'},
			{hClass:'text-danger',type:'_PRO',text:'项目',gly:'glyphicon glyphicon-inbox'}
		],
		
		name=anchorToIssEntName();
		
	obj.empty();
	for(var i=0;i<arr.length;i++){
		if(name==arr[i].type){			
			$('.spIssEntName').text(arr[i].text);
			obj.prepend($('<span></span>').addClass(arr[i].hClass).text(arr[i].text+'事务').prepend($('<span></span>').addClass(arr[i].gly)));
			
			break;
		}	
	}
	
};

//**根据锚点值加载不同的issList
var loadIssList=()=>{
	let aObj=$('a.aIss[href="'+window.location.hash+'"]'),
		issStatus=aObj.data('status'),
		issEntName=anchorToIssEntName(),
		urlList='{$home}/dashboard/issue/issList',
		urlSearchForm='{$home}/dashboard/issue/searchForm',
		data={'sortData':{},};
	
	//排序有关的参数都从$('#divTblSortData')获取
	let obj=$('#divTblSortData'),
		sortData={
		'listRows':obj.data('listRows'),
		'sortName':obj.data('sortName'),
		'sortOrder':obj.data('sortOrder'),
		'pageNum':obj.data('pageNum'),
		'issEntName':obj.data('issEntName',issEntName).data('issEntName'),
		'issStatus':obj.data('issStatus',issStatus).data('issStatus'),
		'showIssId':obj.data('showIssId')
		};
	
	//排序有关的参数默认值
	let sortDataDefault={'listRows':10,'sortName':'issnum','sortOrder':'asc','pageNum':1,'issEntName':'_PAT','showIssId':0,'issStatus':'_INPROCESS'};
	
	sortData=$.extend({},sortDataDefault,sortData);
	data.sortData=sortData;
	
	aObj.tab('show');
	
	<!-- $('#divIssList_Load').html(loadStr).load(urlList,data,function(){issEntNameChange();}); -->
	<!-- $('#divSearchForm_Load').html(loadStr).load(urlSearchForm,data); -->
	
	//想利用$.when来保证，2个ajax加载都能成功得到处理。
	$.when(
		$('#divIssList_Load').html(loadStr)
		.load(urlList,data,
			function(){
				issEntNameChange();
				
			}
		),
		$('#divSearchForm_Load').html(loadStr).load(urlSearchForm,data)
		//$.post(urlSearchForm,data)
	).then(	
		function(v1,v2){
			//ajax成功,v对应为前2个load方法执行后得到的返回结果（V为jQuery对象）
			if(v1.length){
				//issEntNameChange();		
			}
			<!-- console.dir(v1.length);	 -->
			<!-- console.dir(v2.length); -->
				
			//$('#divIssList_load').html(JSON.stringify(v2[0]))			
		},
		function(){
			//ajax失败
			$.alert('加载失败，请稍后再试！');
		}
	);
	
};

var setSideNavIssNumInprocess=(obj)=>{
	let issNum='',issPatNum='',issProNum='',issTheNum='';
	
	issPatNum=obj._PAT.S_INPROCESS;
	issProNum=obj._PRO.S_INPROCESS;
	issTheNum=obj._THE.S_INPROCESS;
	issNum=issPatNum+issProNum+issTheNum;
	$('#issNumInprocess').text(issNum);
	$('#issPatNumInprocess').text(issPatNum);
	$('#issTheNumInprocess').text(issProNum);
	$('#issProNumInprocess').text(issTheNum);
	
};



//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){
	let obj={$numArr},name=anchorToIssEntName(),
		numObj=Object.getOwnPropertyDescriptor(obj,name).value;
	<!-- console.log(name); -->
	<!-- console.table(obj); -->
	setSideNavIssNumInprocess(obj);
	completeUlDropMenu(numObj);
	issEntNameChange();
	// 激活tooltip
	$('[title]').tooltip();
	loadIssList();
})(jQuery);

$(document).ready(function(){
	//
	
	
	<!-- //点击.aIss中的各个按钮后，改变显示格式，默认显示相应状态的issPat内容-->
	$('.aIss').click(function(){
		$(this).tab('show');
		window.location.hash=$(this).attr('href');	//排序有关的值向$('#divTblSortData')汇集，置为1是为了让每一项都从第一页开始
		$('#divTblSortData').data('pageNum',1);
		
		
		console.log($(this).find('span .spType').html());
		loadIssList();
    });	
	
<!-- function  -->


<!--/ function -->

});
</script>
