<!-- // issPat.html： -->
<div class="content-header">
<!-- <h4 class="label label-default" style="font-size:16px;"><span class="glyphicon glyphicon-list"></span>&nbsp;论文事务 -->
<h4 id="h4Title"></h4>

	<ul class="nav nav-pills" style="margin-top:10px;border-bottom: 1px solid #faebcc;">
		<li class="active dropdown">
			<a class="dropdown-toggle aPill" data-toggle="dropdown"  href="#">处理中
				<span class="caret"></span>
			 </a>
			<ul id="ulIssStatusMenu" class="dropdown-menu"></ul>
		</li>
	</ul>
</div>
			
<div class="content-body">
	<div id="divTopBtn" class="row myRow text-right" style="margin:10px 0px;">		
		<a id="aSearchData" class="btn btn-primary btn-sm" href="#divSearchData" data-toggle="collapse" title="显示/隐藏查询条件"><span class="glyphicon glyphicon-plus-sign"></span>事务查询</a>		
		
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新事务信息表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
			
		<button class="btn btn-primary btn-sm btnIssOprt" data-iss-id="0" data-iss-oprt="_CREATE"><span class="glyphicon glyphicon-modal-window"></span>新增</button>
			
	</div>
		
		
		<!-- // 一般查询区域-->
	<div id="divSearchData" class="collapse">
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchData"  data-toggle="collapse" title="点击隐藏">事务查询条件</a>
		
		<form id="fmIssSearch" style="border:1px solid #eee;padding:10px 0px 10px 0px;margin-top:2px;">
			<input class="sr-only" id="searchEnt" name="searchEnt" type="text" value="" />
			<div class="row myRow">
			<div class="form-group col-sm-5">
				<label class="" for="topic">事务标题</label>
				<input class="form-control" id="topic" name="topic" type="text" value="" placeholder="...不限">
										
			</div>
			
			<div class="form-group col-sm-4">
				<label class="" for="status">事务现状</label>
				<select class="form-control" name="status">
					<option value="">ss1</option>
				</select>
			</div>
			
			<div class="form-group col-sm-3">
				<label class="control-label" for="writer">事务申请人</label>
				<input class="form-control" name="writer" type="text" value="" placeholder="...不限" />
			</div>
			</div>
			
			<div class="row myRow">
			<div class="form-group col-sm-5">
				<label class="" for="dept">事务发起部门</label>
				<!-- <select multiple class="form-control" name="dept" > -->
				<select class="form-control" name="dept">
					<option value="">d1</option>
				</select>	
			</div>
			
			<div class="form-group col-sm-4">
				<label class="" for="issnum">事务编号</label>
				<input class="form-control" name="issnum" type="text" value="" placeholder="...不限">
										
			</div>
			
			<div class="form-group col-sm-3">
				<label class="control-label" for="registrar">事务登记人</label>
				<input class="form-control" name="registrar" type="text" value="" placeholder="...不限" />
			</div>
			
			</div>	
			
			<div class="row myRow">
			<div class="form-group col-sm-5">
				<label class="control-label" for="dept_now"><span class="spIssEntName"></span>名称</label>
				<input class="form-control" name="issEntName" type="text" value="" placeholder="...不限">
			</div>
			<div class="form-group col-sm-4">
				<label class="control-label" for="issEntType"><span class="spIssEntName"></span>类型</label>
				<!-- <select multiple class="form-control" id="searchPatType" name="searchPatType" > -->
				<select class="form-control" name="issEntType">
					<option value="">t1</option>
				</select>
			</div>
			
			<div class="form-group col-sm-3">
				<label class="control-label" for="issEntStatus"><span class="spIssEntName"></span>状态</label>
				<!-- <select multiple class="form-control" id="searchPatType" name="searchPatType" > -->
				<select class="form-control" name="issEntStatus">
					<option value="">s1</option>
				</select>
			</div>
			</div>		
			
			<div class="row myRow text-right">
				<button id="btnSearch" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span>查询</button>
			
				<button id="btnSearchReset" type="button" class="btn btn-primary btn-sm">条件重置</button>
			</div>
		</form>
		</br>
	</div>

	<!-- // IssList表格排序信息汇总组件 -->
	<div id="divTblSortData" data-iss-ent-name="{$sortData.issEntName}" data-iss-status="{$sortData.issStatus}" data-sort-name="{$sortData.sortName}" data-sort-order="{$sortData.sortOrder}" data-list-rows="{$sortData.listRows}" data-page-num="{$sortData.pageNum}" data-show-iss-id="{$sortData.showIssId}" class="sr-only"></div>
	
	<div id="divIssList_Load">
		<p class="text-center" style="font-size:28px;">加载中……</p>
	</div>
</div>

<!-- Modal "modalIssSingle" -->
<div class="modal fade" id="modalIssSingle" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-info" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4 class="title"></h4>
        </div>
		
        <div class="modal-body">
			<!-- // 单个issue增删改查页面显示位置，需load模板文件-->
			<div id="divFmIssSingle_Load"><p class="text-center" style="font-size:28px;">加载中……</p></div>
		</div>
		
		<div class="modal-footer" hidden="true">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="返回">  
          
        </div>
		</div>
	</div>

</div>
<!--/ Modal "modalIssSingle" -->

<!-- /pagewrap  -->


<script>
//属于本页面的子页面也可使用的变量
var entNameChi='{$issEntNameChi}',
	entName='{$issEntName}',
	glyPref='glyphicon glyphicon-',
	labPref='label label-',
	txtPref='text-',
	urlPref='{$home}/dashboard/issue/';

var issEntAttrObj={
	'_PAT':{nameChi:'专利',nameEn:'_PAT',gly:glyPref+'wrench',color:{lab:labPref+'warning',txt:txtPref+'warning'}},
	'_THE':{nameChi:'论文',nameEn:'_THE',gly:glyPref+'list',color:{lab:labPref+'info',txt:txtPref+'info'}},
	'_PRO':{nameChi:'项目',nameEn:'_PRO',gly:glyPref+'inbox',color:{lab:labPref+'danger',txt:txtPref+'danger'}}	
	};

var issEntAttrArr=[
	{nameChi:'专利',nameEn:'_PAT',gly:glyPref+'wrench',color:{lab:labPref+'warning',txt:txtPref+'warning'}},
	{nameChi:'论文',nameEn:'_THE',gly:glyPref+'list',color:{lab:labPref+'info',txt:txtPref+'info'}},
	{nameChi:'项目',nameEn:'_PRO',gly:glyPref+'inbox',color:{lab:labPref+'danger',txt:txtPref+'danger'}}	
	];
	
//得到entName对应的组件(HTML字符串)
var	getEntHtmlCom=(nameEn)=>{
	let entHtml='';
	//组装entHtml
	for(var i=0;i<issEntAttrArr.length;i++){
		let arr=issEntAttrArr;
		if (nameEn==arr[i].nameEn){
			entHtml='<span class="'+arr[i].color.txt+'"><span class="'+arr[i].gly+'"></span>'+arr[i].nameChi+'事务</span>';
			break;
		}
	}
	return entHtml;
};

var oprtComAttrArr=[
	{nameChi:'新增',nameEn:'_CREATE',gly:glyPref+'modal-window',color:{lab:labPref+'info',txt:txtPref+'info',btn:'btn-primary'},title:'新增事务记录'},
	{nameChi:'送审',nameEn:'_SUBMIT',gly:glyPref+'send',color:{lab:labPref+'info',txt:txtPref+'info',btn:'btn-info'},title:'送审记录'},
	{nameChi:'审核',nameEn:'_AUDIT',gly:glyPref+'check',color:{lab:labPref+'warning',txt:txtPref+'warning',btn:'btn-warning'},title:'审核记录'},
	{nameChi:'审批',nameEn:'_APPROVE',gly:glyPref+'ok',color:{lab:labPref+'danger',txt:txtPref+'danger',btn:'btn-danger'},title:'审批记录'},
	{nameChi:'更新',nameEn:'_UPDATE',gly:glyPref+'save-file',color:{lab:labPref+'primary',txt:txtPref+'primary',btn:'btn-primary'},title:'更新记录'},
	{nameChi:'删除',nameEn:'_DELETE',gly:glyPref+'remove',color:{lab:labPref+'danger',txt:txtPref+'danger',btn:'btn-danger'},title:'删除记录'},
	{nameChi:'维护',nameEn:'_MAINTAIN',gly:glyPref+'list-alt',color:{lab:labPref+'primary',txt:txtPref+'primary',btn:'btn-primary'},title:'维护记录'},
	{nameChi:'查询',nameEn:'_READ',gly:glyPref+'search',color:{lab:labPref+'primary',txt:txtPref+'primary',btn:'btn-primary'},title:'查询记录'}
	];

var loadStr='<p class="text-center" style="font-size:28px;">加载中……</p>';
//控制显示/隐藏字段的组件的属性数组
var columnToggleArr=[];

// 根据锚点值得到issEntName
var anchorToIssEntName=()=>{
	let arr=window.location.hash.slice(2,-1).split('_'),	
		name='';
	if(arr.length && arr[0].includes('ISST')){
		name='_'+arr[1].slice(0,-1);;
	}
	return name;
};

//完善nav nav-pills的内容，以#ulIssStatusMenu为基础通过DOM操作，生成所需的li组件。
var completeUlDropMenu=(numObj)=>{
	
	let obj=$('#ulIssStatusMenu'),liObj='',aObj='',
		name=anchorToIssEntName(),
		aPropArr=[
			{aClass:'aIss',dataStatus:name+'S_INPROCESS',gly:'',spTypeText:'[总计]&nbsp;',spLabel:'badge spLabel',spLabelText:numObj.S_INPROCESS},
			{aClass:'divider'},
			{aClass:'aIss',dataStatus:name+'S1',gly:'glyphicon glyphicon-send',spTypeText:'&nbsp;[送审]&nbsp;',spLabel:'label label-info spLabel',spLabelText:numObj.S1},
			{aClass:'aIss',dataStatus:name+'S2',gly:'glyphicon glyphicon-check',spTypeText:'&nbsp;[审核]&nbsp;',spLabel:'label label-warning spLabel',spLabelText:numObj.S2},
			{aClass:'aIss',dataStatus:name+'S3',gly:'glyphicon glyphicon-ok',spTypeText:'&nbsp;[审批]&nbsp;',spLabel:'label label-danger spLabel',spLabelText:numObj.S3},
			{aClass:'aIss',dataStatus:name+'S4',gly:'glyphicon glyphicon-random',spTypeText:'&nbsp;[执行]&nbsp;',spLabel:'label label-primary spLabel',spLabelText:numObj.S4},
			{aClass:'aIss aPill text-muted',dataStatus:name+'S_END',gly:'glyphicon glyphicon-off',spTypeText:'&nbsp;[完结]&nbsp;',spLabel:'spLabel',spLabelText:numObj.S_END}
		];
	
	obj.empty();
	obj.closest('li').nextAll().remove();
	
	aPropArr.forEach(function(item,index){
		aObj=$('<a></a>').addClass(item.aClass).attr('href','#_ISST'+item.dataStatus).data('status',item.dataStatus).append($('<span class="spType"></span>').html(item.spTypeText)).append($('<span></span>').addClass(item.spLabel).text(item.spLabelText));
		if(item.gly){
			aObj.prepend($('<span></span>').addClass(item.gly));
		}
		
		switch(index){
			//放置第一个li组件
			case '0':
				liObj=$('<li></li>').addClass('active').append(aObj);
				obj.append(liObj);
				break;
			//放置最后一个li组件
			case aPropArr.length-1:
				liObj=$('<li></li>').append(aObj);
				obj.closest('li').after(liObj);
				break;
			//在第一个li组件后依次放置其他li组件
			default:
				if(item.aClass=='divider'){
					liObj=$('<li></li>').addClass('divider');
					
				}else{
					liObj=$('<li></li>').append(aObj);
				}
				obj.append(liObj);
				break;			
		}
	});
};

var completeFmSelectCom=(fmObj)=>{
	let selSet=fmObj.find('select'),
		selName=[],
		url='{$home}/dashboard/issue/searchFormSelData',
		aObj=$('a.aIss[href="'+window.location.hash+'"]');
		
	//发送给后端的与选择框有关的变量
	let selData={issEntName:anchorToIssEntName(),
				issStatus:aObj.data('status')};
		
	
	//查询表单中选择框的name属性值数组
	for(var i=0;i<selSet.length;i++){
		selName[i]=selSet.eq(i).attr('name');
	}

	selData=$.extend(selData,{nameArr:selName});
	//向后端请求组装select组件所需数据
	$.post(url,selData,function(data){
	//挨个组装好所有的select组件
		for(var i=0;i<selSet.length;i++){
			let selObj=selSet.eq(i),
				selName=selObj.attr('name');
			selObj.empty().append($('<option></option>').val(0).text('…不限'));		
			//组装option
			data.forEach(function(item){
				let name=item.name,
					keyArr=item.key,
					valueArr=item.value;
				while(selName==name){
					if(selName=='dept'){
						valueArr.forEach(function(itmChi,index){
							selObj.append($('<option></option>').val(itmChi).	text(itmChi +'，简称：'+keyArr[index]));
						});
					}else{
						keyArr.forEach(function(v,k){
							selObj.append($('<option></option>').val(v).text(valueArr[k]));
						});
					}
				 //破坏循环执行条件，跳出循环。否则循环无限执行 -->
				<!-- selName=0; -->
				//直接跳出循环
					break;
				}
			});
		}
	});
	<!-- console.log(data); -->
};

//改变标题
var issEntNameChange=()=>{
	let obj=$('#h4Title'),
		name=anchorToIssEntName();	
	obj.empty();
	obj.html(getEntHtmlCom(name));
	$('.spIssEntName').text(entNameChi);
};

//**根据锚点值加载不同的issList
var loadIssList=()=>{
	let aObj=$('a.aIss[href="'+window.location.hash+'"]'),
		issStatus=aObj.data('status'),
		issEntName=anchorToIssEntName(),
		urlList='{$home}/dashboard/issue/issList',
		urlSelData='{$home}/dashboard/issue/searchFormSelData',
		listData={sortData:{},searchData:{}};
		
	//排序有关的参数都从$('#divTblSortData')获取
	let obj=$('#divTblSortData'),
		sortData={
		'listRows':obj.data('listRows'),
		'sortName':obj.data('sortName'),
		'sortOrder':obj.data('sortOrder'),
		'pageNum':obj.data('pageNum'),
		'issEntName':obj.data('issEntName',issEntName).data('issEntName'),
		'issStatus':obj.data('issStatus',issStatus).data('issStatus'),
		'showIssId':obj.data('showIssId')
		};
	
	//排序有关的参数默认值
	let sortDataDefault={'listRows':10,'sortName':'issnum','sortOrder':'asc','pageNum':1,'issEntName':'_PAT','showIssId':0,'issStatus':'_INPROCESS'};
	
	//用户搜索有关键值对从表单$('#fmIssPatSearch')获取
	let formData=new FormData($('#fmIssSearch')[0]);
	let searchData={};
	
	//使用Map对象的forEach方法组装键值对
	formData.forEach(function(val,key){
		//非0非空的值才进行组装
		if(val!='' && val!=0){
			searchData[key]=val;
		}
	});
	
	<!-- // 转换成json字符串-->
	JSON.stringify(searchData);
	
	sortData=$.extend({},sortDataDefault,sortData);
	listData.sortData=sortData;
	listData.searchData=searchData;
	
	aObj.tab('show');
	
	<!-- $('#divIssList_Load').html(loadStr).load(urlList,data,function(){issEntNameChange();}); -->
	<!-- $('#divSearchForm_Load').html(loadStr).load(urlSelData,data); -->
	
	//想利用$.when来保证，2个ajax加载都能成功得到处理。
	$.when(
		$('#divIssList_Load').html(loadStr)
		.load(urlList,listData,
			function(){
				issEntNameChange();
			}
		)
		<!-- $.post(urlSelData,selData) -->
	).then(	
		function(v1){
			//ajax成功,v对应为前2个load方法执行后得到的返回结果（V为jQuery对象）
			if(v1.length){
				//issEntNameChange();		
			}
			<!-- completeFmSelectCom($('#fmIssSearch'),v2[0]); -->
			<!-- console.dir(v1.length);	 -->
			<!-- console.dir(v2); -->			
		},
		function(){
			//ajax失败
			$.alert('加载失败，请稍后再试！');
		}
	);
	
};

var setSideNavIssNumInprocess=(obj)=>{
	let issNum='',issPatNum='',issProNum='',issTheNum='';
	
	issPatNum=obj._PAT.S_INPROCESS;
	issProNum=obj._PRO.S_INPROCESS;
	issTheNum=obj._THE.S_INPROCESS;
	issNum=issPatNum+issProNum+issTheNum;
	$('#issNumInprocess').text(issNum);
	$('#issPatNumInprocess').text(issPatNum);
	$('#issTheNumInprocess').text(issProNum);
	$('#issProNumInprocess').text(issTheNum);
	
};

//所有查询表单重置
var fmReset=()=>{
	let fm=$('form');
	
	fm.each(function(){
		$(this)[0].reset();
		$(this).find('.form-control').removeClass('alert-info');
		if($(this).attr('id')=='fmRun'){
			$(this).next().hide().find('span.alert-info').text('');
		}
	});
};

//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){
	let obj={$numArr},name=anchorToIssEntName(),
		numObj=Object.getOwnPropertyDescriptor(obj,name).value;
	<!-- console.log(name); -->
	<!-- console.table(obj); -->
	setSideNavIssNumInprocess(obj);
	
	completeUlDropMenu(numObj);
	completeFmSelectCom($('#fmIssSearch'));
	
	issEntNameChange();
	// 激活tooltip
	$('[title]').tooltip();
	loadIssList();
})(jQuery);

$(document).ready(function(){
	var searchDataChanged=false;
	<!-- // 页面刷新 -->
	$('#btnRefresh').click(function(){
		//所有表单重置
		fmReset();
		
		//隐藏搜索条件
		<!-- $('#divSearchData').collapse('hide'); -->
		$('.collapse').collapse('hide');
		//
		loadIssList();
	});
	
	<!-- //点击.aIss中的各个按钮后，改变显示格式，默认显示相应状态的issPat内容-->
	$('.aIss').click(function(){
		$(this).tab('show');
		window.location.hash=$(this).attr('href');	//排序有关的值向$('#divTblSortData')汇集，置为1是为了让每一项都从第一页开始
		$('#divTblSortData').data('pageNum',1);		
		<!-- console.log($(this).find('span .spType').html()); -->
		loadIssList();
    });	
	
	$('.btnIssOprt').click(function(){
		$(this).tab('show');
		
		loadIssList();
    });	
	
<!-- //表单$('#fmAssSearch')有关的代码块 -->
	$('#fmIssSearch .form-control').change(function(){
		if($(this).val()!=0){
			//表单输入框附加底色
			$(this).addClass('alert-info');
			searchDataChanged=true;
			console.log($(this).val());
		}else{
			//表单输入框去掉附加底色
			$(this).removeClass('alert-info');
		}
	});
	
	//表单提交，显示asset结果
	$('#btnSearch').click(function(){
		let issEntName=$('#divTblSortData').data('issEntName');
		//检查搜索表单的值是否有变化，若有变化，排序参数pageNum要重设为1，避免出现在当前分页无法显示查询结果的情况
		if(searchDataChanged){
			$('#divTblSortData').data('pageNum',1);
		}
		//设定触发查询的对象是表单
		$('#searchEnt').val('form');
		loadIssList();
	});
	
	//表单重置
	$('#btnSearchReset').click(function(){
		fmReset();
	});
	
<!-- function  -->


<!--/ function -->

});
</script>
