<!-- issPatList.html -->

<!-- pagewrap  -->	
<div id="divIssList">
	<div class="row myRow">
		<div class="text-right">
			<strong class="spIssStatus"></strong><span id="spSearchResult" class="label label-info">查询结果</span>&nbsp;记录数：<span id="spAssNum">{ $searchResultNum}</span>
		</div>
		<!-- <P>调试输出</P> -->
	</div>	
	<div class="table-responsive" style="overflow: auto;"> 
		<table id="tblAssList" class="table table-bordered table-hover table-condensed" >
			<caption class="text-center" style="border-bottom:1px solid #eee;">
			<h4><span class="spIssEntName"></span>事务信息列表&nbsp;<strong class="spIssStatus"></strong>
			   	<div class="btn-group">
      				<button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" >选择显示字段<span class="caret"></span></button>
      				<ul class="dropdown-menu" >
						<li><div class="checkbox"><label><input type="checkbox" value="all" checked><span class="text-primary">全选</span></label></div></li>
						<li class="divider"></li>
					</ul>
    			</div>
			</h4>
			</caption>
			<colgroup></colgroup>
			<thead>
				<tr class="text-center">
					<th class="text-center">序号</th>
					<th><a data-sort-name="topic">事务标题</a></th>
					<th><a data-sort-name="issnum">编号</a></th>
					<th><a data-sort-name="status">状态</a></th>
					<th><a data-sort-name="statusdescription">状态说明</a></th>
					<th><a data-sort-name="create_time">创建时间</a></th>
					<th><a data-sort-name="update_time">更新时间</a></th>
					<th><a data-sort-name="issEntName"><span class="spIssEntName"></span>名称</a></th>
					<th><a data-sort-name="issEntType"><span class="spIssEntName"></span>类型</a></th>
					<th><a data-sort-name="issEntStatus"><span class="spIssEntName"></span>状态</a></th>
					<th><a data-sort-name="dept">所属部门</a></th>
					<th><a data-sort-name="writer">事务撰写人</a></th>
					<th><a data-sort-name="registrar">事务登记人</a></th>
					<th class="text-center">操作</th>
				</tr>
			
			</thead>
			<tbody><!-- 此处显示数据库查询后的数据集 -->
				{volist name="issSet" id="vo" empty=""}
				<tr class="text-right">
					<!-- <td class="text-center">{ '$i+($sortData.pageNum-1)*$sortData.listRows'}</td> -->
					<td class="text-center">{$i}</td>
					
					<td class="text-center"><a class="aTblIssSingle" href="#issInfo" data-ass-id="{$vo.issmap_id}">{$vo.topic}</a></td>
					<td>{$vo.issnum}</td>
					<td><a class="aIssRecords" href="#issInfo" data-ass-id="{$vo.issmap_id}"><span class="spStatus">{$vo.status}</span></a></td>
					<td>{$vo.statusdescription}</td>
					<td>{$vo.create_time}</td>
					<td>{$vo.update_time}</td>
					<td>{ $vo.issEntName}</td>
					<td>{ $vo.issEntType}</td>
					<td>{ $vo.issEntStatus}</td>
					<td>{$vo.dept}</td>
					<td>{$vo.writer}</td>
					<td>{$vo.registrar}</td>
					<td>操作</td>				
				</tr>
				{/volist}
			</tbody>
			
		</table>
		
	</div>
	
	
	<div id="divListRows" class="row text-right" style="padding-top:10px;">
		<!-- // 分页变量 -->
		<div class="col-sm-10">{$issList}</div>
		
		<div class="form-group form-group-sm col-sm-2">
			<span class="">每页显示记录数：</span>
			<select class="form-control" id="listRows">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
			</select>
						
		</div>
	
	</div>
	<p id="pAssNone" class="text-center" data-show="false"><span class="label label-default" style="font-size:16px;">无符合条件信息</span></p>	
</div>

<!-- /pagewrap  -->
<script>
//var issEntName='{ $issEntName}'; -->


//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){
	
	
})(jQuery);

</script>

