	switch(<{$pagex}>){
		case "pagetotal":
			<!-- 隐藏所有.patpage的标签（div标签）-->
			$(".patpage").hide();
	
			<!-- 选中id为"nav_index"的标签（li标签）,添加.active -->
			$("#nav_pat").addClass("active");
		
			$(".patpage").hide();
			$("#pattotalli").addClass("active");
			$("#pattotal").addClass("active").addClass("in");
			$("#pagetotal").show();
			break;
		case "pagenew":
			;
			break;
		case "pageapp":
			;
			break;
		case "pageaut":
			<!-- 隐藏所有.patpage的标签（div标签）-->
			$(".patpage").hide();
	
			<!-- 选中id为"nav_index"的标签（li标签）,添加.active -->
			$("#nav_pat").addClass("active");
			
			$(".patpage").hide();
			$("#patautli").addClass("active");
			$("#pataut").addClass("active").addClass("in");
			$("#pageaut").show();
			break;
		case "pageaba":
			;
			break;
		case "pagerej":
			;
			break;
		case "pageren":
			;
			break;	
		default :
			<!-- 页面默认显示选项卡标签:#pattotalli,显示选项卡内容#pattotal.active和.in -->
			$("#pattotalli").addClass("active");
			$("#pattotal").addClass("active").addClass("in");
			$("#pagetotal").show();
			break;
	};
	
<!--分割线 ----------------------------------------------------- -->
	var pagex=<{$pagex}>;
		if(pagex=="pagetotal"){
			<!-- 隐藏所有.patpage的标签（div标签）-->
			$(".patpage").hide();
	
			<!-- 选中id为"nav_index"的标签（li标签）,添加.active -->
			$("#nav_pat").addClass("active");
		
			$(".patpage").hide();
			$("#pattotalli").addClass("active");
			$("#pattotal").addClass("active").addClass("in");
			$("#pagetotal").show();
		} 
		else if(pagex=="pagenew"){
		
		}else if(pagex=="pageapp"){
		
		}else if(pagex=="pageaut"){
			<!-- 隐藏所有.patpage的标签（div标签）-->
			$(".patpage").hide();
	
			<!-- 选中id为"nav_index"的标签（li标签）,添加.active -->
			$("#nav_pat").addClass("active");
			
			$(".patpage").hide();
			$("#patautli").addClass("active");
			$("#pataut").addClass("active").addClass("in");
			$("#pageaut").show();
		}else if(pagex=="pageaba"){
		
		}else if(pagex=="pagerej"){
		
		}else if(pagex=="pageren"){
		
		}
		else{
			<!-- 页面默认显示选项卡标签:#pattotalli,显示选项卡内容#pattotal.active和.in -->
			$("#pattotalli").addClass("active");
			$("#pattotal").addClass("active").addClass("in");
			$("#pagetotal").show();
			break;
		}

<!--分割线 ----------------------------------------------------- -->
	<!-- 隐藏所有.patpage的标签（div标签）-->
	$(".patpage").hide();
	

	<!-- 选中id为"nav_index"的标签（li标签）,添加.active -->
	$("#nav_pat").addClass("active");
	
<!-- 页面默认显示选项卡标签:#pattotalli,显示选项卡内容#pattotal.active和.in -->
			$("#pattotalli").addClass("active");
			$("#pattotal").addClass("active").addClass("in");
			$("#pagetotal").show();

