{eq name="$oprt" value="_ADDNEW"}
	{block name="abstract"}{/block}
	
	{block name="input"}
	<div class="row">
		<div class="form-group col-sm-4">
			<h4>撰写人：{$username}</h4>
		</div>
		
		<div class="form-group col-sm-8">
			<h4>所属部门：{$dept}</h4>
		</div>
	</div>
	
	<h4><span class="label label-warning">事务信息</span></h4>
	<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="topic">事务标题<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="topic" name="topic" value="" type="text" placeholder="关于XX专利的授权申报" required>
			
			<span style="color:red;display: none;" class="tips">"事务标题"不能为空</span>
		</div>
		
		<div class="form-group col-sm-4">
			<label for="issType">事务类型</label>
			<input class="form-control" id="topic" name="topic" value="专利授权申报" type="text" readonly>
		</div>
	</div>
	
	<h4><span class="label label-warning"><span class="glyphicon glyphicon-wrench"></span>&nbsp;专利信息</span></h4>
	<div class="row">
		<div class="form-group col-sm-8">
			<label class="control-label" for="patTopic">专利名称<span class="glyphicon glyphicon-asterisk text-danger"></span></label>
			<input class="form-control" id="patTopic" name="patTopic" value="" type="text" placeholder="xx专利" required>
			
		</div>
		<div class="form-group col-sm-4">
			<label for="patType">专利类型</label>
			<select class="form-control" id="patType" name="patType" >
				<option value="0">……</option>
				<option value="_PATT1">发明专利</option>
				<option value="_PATT2">实用新型专利</option>
                <option value="_PATT3">外观设计专利</option>
                <option value="_PATT4">软件版权</option>
                <option value="_PATT5">著作权</option>
                <option value="_PATT6">集成电路图</option>
                
			</select>
		</div>
	</div>
	
	{/block}
	
	{block name="attInput"}{/block}
	
	{block name="btn"}
		<button type="submit" id="btnAddNew" class="btn btn-primary btn-sm" data-oprt="submit"><span class="glyphicon glyphicon-tag"></span>_新增</button>		
	
	
	{/block}

	<!-- //在base.html的基础上新增 -->
	{block name="script"}
	{__block__}
	<script>
	$(document).ready(function(){	
	
	
	});
	</script>
	{/block}	
		
		
{else/}
	
	{block name="input"}{/block}
	
	{block name="attInput"}{/block}
	
	{block name="btn"}
		<input type="submit" id="btnUpdate" class="btn btn-primary btn-sm" data-oprt="update" value="更新"> 
			
		<button type="submit" id="btnSubmit" class="btn btn-primary btn-sm" data-oprt="submit"><span class="glyphicon glyphicon-ok"></span>提交</button>
	{/block}
	
	<!-- //在base.html的基础上新增 -->
	{block name="script"}
	{__block__}
	<script>
	$(document).ready(function(){	
	
	
	});
	</script>
	{/block}
	
{/eq}


<form action="" id="fm1" class="form-inline" role="form">fm1
	
	<div class="form-group has-feedback">
      <label class="control-label" for="a">a:</label>
      
        <input class="form-control" id="a" type="text" name="a" value="1" required="true">
        <span class="glyphicon glyphicon-remove form-control-feedback"hidden="true"></span>
    	
	</div>
	
	<div class="form-group has-feedback">
      <label class="control-label" for="a1">a1:</label>
      
        <input class="form-control" id="a" type="text" name="a1" value="" required="true">
        <span class="glyphicon glyphicon-remove form-control-feedback"hidden="true"></span>
    	
	</div>
	
	</form>