
{block name="issPatInput"}
	<div class="myFieldset">	
		<div class="myLegend"><span class="label label-warning">事务信息</span></div>
			<!-- // class="sr-only" 仅源代码文件中显示-->
			<input id="issId" name="issId" value="{$iss.id}" type="text" class="sr-only">
			
			<form action="" id="fmIssPat">
			
			
			</form>
	</div>
{/block}
			
{block name="patInput"}
	<div class="myFieldset">	
	
		<div class="myLegend"><span class="label label-warning">专利信息</span></div>
			<!-- // class="sr-only" 仅源代码文件中显示-->
			<input id="patId" name="patId" value="{$pat.id}" type="text" class="sr-only">
		
			<form action="" id="fmpat">
			
			
			</form>
	</div>	
{/block}			

{block name="attInput"}	
	<div class="myFieldset">	
		<div class="myLegend"><span class="label label-warning">事务附件</span></div>
		
	{notempty name="att"}
		<div class="row myRow" style="margin-left:15px;margin-right:15px;">
			<h5>已上传附件</h5>
			<div class="table-responsive" >	
				<table>
				
				
				</table>
					
			</div>
		
		</div>
	{/notempty}

		<div class="row myRow">
			<h5 class="myedge-left-waring">附件上传:
			<label class="radio-inline ">
      			<input type="radio" name="attUpload" value="0" checked><span class="label label-default">无</span>
    		</label>
			<label class="radio-inline">
      			<input type="radio" name="attUpload" value="1"><span class="label label-default">上传</span>
   			</label>
    		</h5>	
		</div>	
		
		<div class="row myRow" >
			<form id="fmAttUpload" hidden>
				<div class="form-group col-sm-6">
					<label for="att" class="sr-only">选择附件</label>
					<input type="file" name="att[]" id="att" class="btn btn-sm" accept=".jpg,.jpeg,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.rar">
					<blockquote>
						<h5>附件大小：<span class="label label-danger">&le;&nbsp;10MB </span></h5>
						<h5 >允许附件类型：
							<li style="margin-top:10px;">文档：<span class="label label-info">pdf、doc、docx、xls、xlsx、ppt、pptx</span></li>
							<li style="margin-top:10px;">图片：<span class="label label-info">jpg、jpeg、png</span></li>
							<li style="margin-top:10px;">压缩文件：<span class="label label-info">rar</span></li>
						</h5>
					
					</blockquote>
					
				</div>
		
				<div class="form-group col-sm-4">
					<label for="attName">附件名称</label>
					<input class="form-control" id="attName" name="attName" value="" type="text">
				</div>
				
				<div class="form-group col-sm-2">
					
					<label for="">附件类型</label>
					<select class="form-control" id="attType" name="attType">
						<option value="_ATTT1">申请</option>
						<option value="_ATTT2">请示</option>
						<option value="_ATTT3">报告</option>
						<option value="_ATTT4">预算报告</option>
					</select>
					
				</div>
				
				<label for="" class="attuploadbar" hidden>上传进度</label>	
				<div class="progress" class="attuploadbar" hidden>
					<div id="divUpLoadProcess" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="text-info">0%</span>
					</div>
				</div>
				
				<button id="btnAttUpload" class="btn btn-primary btn-sm" data-oprt="" data-btnLabel=""><span class="glyphicon glyphicon-upload"></span>附件上传</button>
		
			</form>
				
		</div>
		
	</div>
		
	
{/block}

<div class="row">
	<hr>
	<div class="form-group col-sm-12">
			
		<!-- // 按钮-->

		<div  class="pull-left">
{block name="btn"}		
		{eq name="$oprt" value="_ADDNEW"}
			<button type="submit" id="btnAddNew" class="btn btn-primary btn-sm" data-oprt="_ADDNEW"><span class="glyphicon glyphicon-tag"></span>新增</button>

		{else/}
			<button type="submit" id="btnUpdate" class="btn btn-primary btn-sm" data-oprt="_UPDATE" data-btnLabel="label-primary"><span class="glyphicon glyphicon-refresh"></span>更新</button>
			
			<button type="submit" id="btnSubmit" class="btn btn-primary btn-sm" data-oprt="_SUBMIT" data-btnLabel="label-primary"><span class="glyphicon glyphicon-ok"></span>提交</button>
			
			{in name="$iss.status" value="填报"}
			<button type="submit" id="btnDelete" class="btn btn-danger btn-sm" data-oprt="_DELETE" data-btnLabel="label-danger"><span class="glyphicon glyphicon-remove"></span>删除</button>
			{/in}
	
		{/eq}
{/block}
		</div>

		<div  class="pull-right">
			<input type="reset" class="btn btn-primary btn-sm" value="重置">
			<input type="button" class="btn btn-warning btn-sm" data-dismiss="modal" value="取消">
		</div>
		
	</div>
</div>

{block name="script"}
<script>
$(document).ready(function(){	
	
	//各个type="submit"按钮的click事件：
	$('button[type="submit"]').each(function(){
		$(this).click(function(){
			var oprt=$(this).attr('data-oprt');
			var btnHtml='<span class="label '+$(this).attr('data-btnLabel')+'" style="font-size:18px;">'+$(this).html()+'</span>';
			var v=$('input:radio[name="attUpload"][value="1"]').prop('checked');
			
			//'_ADDNEW'没有patId、issId
			if(oprt=='_ADDNEW'){
			
			
			
			}else{
			//其他oprt都有patId、issId			
			
			
			
			}
			
			
			//触发#fmIssPat的提交事件
			$('#fmIssPat').submit(function(evt){
				evt.preventDefault();
			
				//调用函数触发Ajax
				formDataAjax('url???',$('#fmIssPat'),'trigerName','oprt???','title???');
			});
			
			//触发#fmPat的提交事件
			$('#fmPat').submit(function(evt){
			
				evt.preventDefault();
			
				//调用函数触发Ajax
				formDataAjax('url???',$('#fmPat'),'trigerName','oprt???','title???');
		
			});
			
			
			//有附件上传触发#fmAtt的提交事件？？？
			if(v==true){
			
				//显示上传进度条
				$('.attuploadbar').show();
				//触发#fmAttUpload的提交事件
				$('#fmAttUpload').submit(function(evt){
					
					evt.preventDefault();
					$('#modal???').modal('hide');
					$.confirm(str,function(evt){
						con=evt;
						if(true==con){
							$('#modal???').modal('show');
							//调用函数触发Ajax并显示进度条
							attUploadAjax('url???',$('#fmAttUpload'),'trigerName','oprt???','title???');
						}else{
						$('#modal???').modal('show');
						}
					}).cancel('否(N)').ok('是(Y)');
				});
			}
			//无附件上传？？
			else{
			
			}
			
			
			
			
			//更新modalIssPatAuthSingle的body内容
			$('#divIssPatSingle_load').html('<h4 style="text-align:center;margin-bottom:50px;margin-top:50px;">'+btnHtml+'&nbsp;</h4>');
			
		});
	});
	
	
	$('#btnAttUpload').click(function(){
		//显示上传进度条
		$('.attuploadbar').show();
		
		//触发#fmAttUpload的提交事件
		$('#fmAttUpload').submit(function(evt){
		
			evt.preventDefault();
			
			$('#modal???').modal('hide');
			$.confirm(str,function(evt){
				con=evt;
				if(true==con){
					$('#modal???').modal('show');
					//调用函数触发Ajax并显示进度条
					attUploadAjax('url???',$('#fmAttUpload'),'trigerName','oprt???','title???');
				}else{
					$('#modal???').modal('show');
				}
			}).cancel('否(N)').ok('是(Y)');
		});
	
	});

	
<!-- function -->
	//**函数名：attUploadAjax
 	//* 作用：应用jQuery的$.ajax向后端提交formData数据
	//* 参数url，类型：字符串。值：不为空。说明：表单提交（action中）的url。
	//* 参数fmObj，类型：对象。值：不为空。说明：表示需要一起提交的表单。
	//* 参数triger，类型：字符串。值：不为空。说明：触发formDataAjax的用户名。
	//* 参数oprt，类型：字符。值：可为空。说明：表示触发本函数的‘操作’
	//* 参数title，类型：字符。值：可为空。说明：本函数显示的提示框$.alert的标题内容。
	function attUploadAjax(url,fmObj,trigerName[,oprt][,title]){
	// formdata形式上传表单数据,自动搜索表单信息(表单内没有name属性的input不会被搜索到)，IE<=9不支持FormData
		if(fmObj){
			var formData = new FormData(fmObj[0]);
		}else{
			var formData = new FormData();
		}
	
		// 添加表单内没有的内容
        formData.append('returnType',0);
		formData.append('trigerName',trigerName);
		formData.append('dept','{$dept}');
		formData.append('issId','???');
		
			$.ajax({
				type: 'post',
            	url: url,
            	data: formData,
            	contentType: false,// 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置
            	processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)
				
				//显示上传进度
				xhr:xhrUpload,
				success: function(data){
				
				},
				error: function(){
					$.alert('【附件上传】失败');
				}
		
			});	
		<!-- ------------------ -->
		
	}	
	//定义&.ajax中xhr项对应的处理函数。作用：#div???_load加载附件上传的进度条，显示上传进度
	function xhrUpload(){
	
	
	}
<!--// function -->
	
});

</script>
{/block}

