<!-- //文件路径是以入口文件为起点 -->
{include file="../application/issue/view/header.html" title="专利事务" }

<!-- pagewrap  -->
<div class="container-fluid mainDiv">
	<h4 class="label label-info" style="font-size:16px;">事务标题</h4>
	<h4 style="padding-bottom:10px;">《{$iss.topic}》</h4>
	

	<h4 class="label label-info" style="font-size:16px;">事务信息</h4>
	
	<div class="tab-content" style="margin-top:10px;">
		<!-- 事务基本信息表-->
		<table class="table table-bordered table-striped table-responsive table-condensed">
			<tbody>
				<tr>
					<td>
						<div class="col-sm-2" ><p><strong>事务类型：</strong>{$iss.issmap_type}</p></div>
						<div class="col-sm-2" ><p><strong>撰写人：</strong>{$iss.writer}</p></div>
						<div class="col-sm-3" ><p><strong>所属部门：</strong>{$iss.dept}</p></div>
					</td>	
				</tr>
				
				<tr>
					<td>
						<div class="col-sm-6"><p><strong>事务简介：</strong>{$iss.abstract}</p></div>
						<div class="col-sm-2"><p><strong>事务编号：</strong>{$iss.issnum}</p></div>
						<div id="divRel" class="col-sm-4">
							<p><strong>关联事务：</strong>
								{if $pat.topic!='null'}
									<a href="{$home}/patent/index/patinfo/id/{$pat.id}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="专利信息">{$pat.topic}</a>	
								{else/}
									无
								{/if}
							</p>
						</div>
					</td>					
				</tr>
				
				<tr>
					<td>
						<div class="col-sm-2">
							<a href="{$home}/issue/index/issrecords/id/{$iss.id}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="事务过程">
								<p><strong>事务状态：</strong>{$iss.status}</p>
							</a>
						
						</div>
						
						<div id="divExecuter" class="col-sm-2"><p><strong>执行人：</strong>{$iss.executer} </p></div>
						<div id="divActdetail" class="col-sm-6"><p><strong>审批意见：</strong>{ $iss.actdetail}</p></div>
						
					</td>				
				</tr>
				
				<tr>
					<td>
						<div class="col-sm-2"><p><strong>填报/修改日期：</strong>{$iss.addnewdate}</p></div>
						<div class="col-sm-2"><p><strong>提交日期：</strong>{$iss.submitdate}</p></div>
						<div class="col-sm-2"><p><strong>审核日期：</strong>{$iss.auditrejectdate}</p></div>
						<div class="col-sm-2"><p><strong>审批日期：</strong>{$iss.resultdate}</p></div>
						<div class="col-sm-2"><p><strong>执行开始日期：</strong>{$iss.operatestartdate}</p></div>
						<div class="col-sm-2"><p><strong>关闭日期：</strong>{$iss.finishdate}</p></div>
						
					</td>				
				</tr>
				
				<tr>
					<td>
						<div id="divReport" class="col-sm-6"><p><strong>最近执行情况简报：</strong>{ $iss.report}</p></div>
						<div id="divReportdate" class="col-sm-4"><p><strong>简报日期：</strong>{ $iss.reportdate}</p></div>
					</td>					
				</tr>
			</tbody>
		</table>
		
		
		
		
		<!-- 附件列表 -->
		<h4 class="label label-info" style="font-size:16px;">事务附件
		</h4>
		
		<div id="divAtt" class="table-responsive" style="margin-top:10px;">
			<table id="tblAtt" class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<!-- <th>选择</th> -->
						<th>序号</th>
						<th>附件类型</th>
						<th>附件名称</th>
						<th>上传日期</th>
						<th>上传人</th>
						<th>系统角色</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody><!-- 此处显示数据库查询后的数据集 -->
					{volist name="atts" id="vo" empty="暂无附件"}
					<tr>
						<!-- <td><input type="checkbox" check=""></td> -->
						<td>{$i}</td>
						<td>{$vo.atttype}</a></td>
						<td>{$vo.name}</a></td>
						<td>{$vo.uploaddate}</td>
						<td>{$vo.uploader}</td>
						<td>{$vo.rolename}</td>
						<td>
							{in name="$vo.rolename" value="撰写人,审核人,批准人,执行人,维护人"}
								<a href="{$home}/attachment/index/download/id/{$vo.id}">下载</a>&nbsp;
							{else/}
								无
							{/in}
						</td>
					</tr>
					{/volist}
				
				</tbody>
				
			</table>
			
		
		</div>
		
		<hr>
		
		<button type="button" class="btn btn-sm btn-primary  btnClose">关闭本页</button>	
	
	</div>
</div>

</br>



<!-- /pagewrap  -->

<script>
$(document).ready(function(){

	$("#divSel").hide();
	$("#divActdetail").hide();
	$("#divExecuter").hide();
	$("#divReport").parent().hide();
	$("#divReportdate").hide();
	
	<!-- 根据{ $role}的值，显示不同的div -->
	switch("{$iss.status}"){
		case '审核通过':
			$("#divActdetail").show();
		break;
		
		case '退回修改':
			$("#divActdetail").show();
		break;
		
		case '批准':
			$("#divActdetail").show();
			$("#divExecuter").show();
		break;
		
		case '否决':
			$("#divActdetail").show();
		break;
		
		case '执行中':
			$("#divActdetail").show();
			$("#divExecuter").show();
			$("#divReport").parent().show();
			$("#divReportdate").show();
		break;
		
		case '完成':
			$("#divActdetail").show();
			$("#divExecuter").show();
			$("#divReport").parent().show();
			$("#divReportdate").show();
		break;
		
		default:
			
		break;
	}
	
	$(".btnClose").click(function(){
		window.close();
	});
	
});
</script>

<!-- pagefooter	 -->

{include file="../application/patent/view/footer.html"}

<!-- /pagefooter -->	
