{include file="../application/common/headeruser.html" title="新增事务" }

<!-- pagewrap  -->
<div class="container-fluid">
	<h4>
		{$username}&nbsp;【{$rolename}】的<mark>“{$topic}”</mark>{$typename}事务信息 
		<a class="btn btn-primary btn-xs" role="button" href="{$home}/issue/index/index/role/{$role}/type/{$type}">返回</a>
	</h4>
	<div class="tab-content">
    
		<form class="" role="form">
		<!-- 事务基本信息表单 -->
		<table class="table table-bordered table-striped table-responsive table-condensed">
			<tbody>
				<tr>
					<td>
						<div class="form-group col-sm-4">
							<label class="control-label" for="topic">名称</label>
							<input class="form-control" id="topic" name="topic" value="{$topic}" type="text" placeholder="关于XX{$typename}的XX申请/报告" required>
						</div>
						
						<div class="form-group col-sm-2">
							<label for="num_type">类型</label>
							<select class="form-control" id="num_type" name="num_type" >
								<option value="{$type}">新增{$typename}申请</option>
								<option value="{$type}">{$typename}一般申请</option>
                                <option value="{$type}">{$typename}经费/预算申请</option>
                                <option value="{$type}">其他{$typename}报告</option>
							</select>
						</div>
						
						<div class="form-group col-sm-3">
							<label class="control-label" for="writer">撰写人</label>
							<input class="form-control" id="writer" name="writer" value="{$writer}" type="text" readonly="" >
						</div>
						
						<div class="form-group col-sm-3">
							<label for="dept">所属部门:</label>
							<select class="form-control" id="dept" name="dept" value="{$dept}" readonly="">
								<!-- <option value="{$dept}" select="selected">{$dept}</option> -->
                                <option value="dept1">dept1</option>
								<option value="dept2">dept2</option>
                                <option value="dept3">dept3</option>
                                <option value="dept4">dept4</option>
                                <option value="dept5">dept5</option>
                                <option value="dept6">3D打印技术服务中心</option>
                                <option value="dept7">dept7</option>
							</select>
						</div>
						
					</td>		
				</tr>

				<tr>
					<td>
						<div class="form-group col-sm-6">
							<label for="abstract">事务简介</label>
							<textarea class="form-control" rows="5" id="abstract" name="abstract" placeholder="填写事务的主要内容，字数不超过100字。" required>{$abstract}</textarea>
						</div>
						
						<div id="divSel" class="form-group col-sm-4">
							<label for="num_id">关联{$typename}</label>
							<select  multiple size="6" class="form-control" id="num_id" name="num_id" value="{$num_id}">
                                <option value="pat2011004">
									<ul>
										<!-- <li>pat2011004</li> -->
										<li>“一种关于高尔夫发球机推球装置的发明专利”</li>
										<li>发明专利</li>
									</ul>
								</option>
								<option value="pat2011011">
									<ul>
										<!-- <li>pat2011005</li> -->
										<li>“一种关于高尔夫发球机推球装置的专利”</li>
										<li>实用新型专利</li>
									</ul>
								</option>
                                
                                <option value="dept7">……</option>
							</select>
						</div>
						
						<div id="divIssnum" class="form-group col-sm-2">
							<label class="control-label" for="issnum">事务编号</label>
							<input class="form-control" id="issnum" name="issnum" value="{$issnum}" type="text" readonly>
						</div>
						
					</td>		
				</tr>
				
				<tr>
					<td>
						<div class="form-group col-sm-2">
							<label class="control-label" for="status">状态</label>
							<input class="form-control" id="status" name="status" value="{$status}" type="text" readonly>
						</div>
						
						<div id="divActdetail" class="form-group col-sm-4">
							<label for="actdetail">审批意见</label>
							<input class="form-control" id="actdetail" name="actdetail" value="{$actdetail}" type="text" readonly>
			
						</div>
						
						<div id="divExecuter" class="form-group col-sm-4">
							<label for="executer"><mark>执行人</mark></label>
							<input class="form-control" id="executer" name="executer" value="{$executer}" type="text" readonly>
							
						</div>
						
					</td>		
				</tr>
				
				<tr>
					<td>				
						<div class="form-group col-sm-2">
							<label class="control-label" for="addnewdate">填报日期</label>
							<input class="form-control" id="addnewdate" name="addnewdate" value="{$addnewdate}" type="text" readonly>
						</div>
						
						<div class="form-group col-sm-2">
							<label class="control-label" for="submitdate">提交日期</label>
							<input class="form-control" id="submitte" name="submitdate" value="{$submitdate}" type="text" readonly>
						</div>
						
						<div class="form-group col-sm-2">
							<label class="control-label" for="auditrejectdate">审核日期</label>
							<input class="form-control" id="auditrejectdate" name="auditrejectdate" value="{$auditrejectdate}" type="text" readonly>
						</div>
						
						<div class="form-group col-sm-2">
							<label class="control-label" for="resultdate">审批日期</label>
							<input class="form-control" id="resultdate" name="resultdate" value="{$resultdate}" type="text" readonly>
						</div>
						
						<div class="form-group col-sm-2">
							<label class="control-label" for="operatestartdate">执行开始日期</label>
							<input class="form-control" id="operatestart" name="operatestart" value="{$operatestartdate}" type="text" readonly>
						</div>
						
						<div class="form-group col-sm-2">
							<label class="control-label" for="finishdate">关闭日期</label>
							<input class="form-control" id="finishdate" name="finishdate" value="{$finishdate}" type="text" readonly>
						</div>
						
					</td>		
				</tr>
				
			</tbody>
		</table>
		</form>
		
		
		
		<!-- 附件表单 -->
		<h4>{$typename}事务附件</h4>
		<div id="divAtt" class="table-responsive">
			<table id="tblAtt" class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<!-- <th>选择</th> -->
						<th>序号</th>
						<th>附件类型</th>
						<th>附件名称</th>
						<th>上传日期</th>
						<th>上传人</th>
						<th>系统角色</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody><!-- 此处显示数据库查询后的数据集 -->
					{volist name="atts" id="vo" empty="暂无附件"}
					<tr>
						<!-- <td><input type="checkbox" check=""></td> -->
						<td>{$i}</td>
						<td>{$vo.atttype}</a></td>
						<td>{$vo.name}</a></td>
						<td>{$vo.uploaddate}</td>
						<td>{$vo.uploader}</td>
						<td>{$vo.rolename}</td>
						<td>
							<!-- {eq name="vo.rolename" value="$rolename"} -->
								<!-- <a href="{$home}/attachment/index/download/id/{$vo.id}">下载</a>&nbsp; -->
							<!-- {else/} -->
								
							<!-- {/eq} -->
							{in name="$rolename" value="撰写人,审核人,批准人,执行人"}
									<a href="{$home}/attachment/index/download/id/{$vo.id}">下载</a>&nbsp;
							{/in}
						</td>
					</tr>
					{/volist}
				
				</tbody>
				
			</table>
			
		
		</div>
		
		<hr>

		<div class="btn-group-sm">
			<a class="btn btn-primary" role="button" href="{$home}/issue/index/index/role/{$role}/type/{$type}">返回</a>				
		</div>
	
</div>
</div>

</br>

<!-- /pagewrap  -->

<script>
$(document).ready(function(){

	$("#divSel").hide();
	$("#divActdetail").hide();
	$("#divExecuter").hide();
	
	<!-- 根据{$status}的值，控制$("#divActdetail")和$("#divExecuter")是否显示 -->
	
	<!-- 根据{$role}的值，显示不同的按钮 -->
	switch("{$status}"){
		case '审核通过':
			$("#divActdetail").show();
		break;
		
		case '退回修改':
			$("#divActdetail").show();
		break;
		
		case '批准':
			$("#divActdetail").show();
			$("#divExecuter").show();
		break;
		
		case '否决':
			$("#divActdetail").show();
		break;
		
		case '执行中':
			$("#divActdetail").show();
			$("#divExecuter").show();
		break;
		
		case '完成':
			$("#divActdetail").show();
			$("#divExecuter").show();
		break;
		
		default:
			
		break;
	}
});
</script>

	
{include file="../application/common/footer.html"}
