<!-- //文件路径是以入口文件为起点 -->
{include file="../application/issue/view/header.html" title="专利事务" }

<!-- pagewrap  -->
<div class="container-fluid mainDiv">
	<h4 class="label label-info" style="font-size:16px;">事务标题</h4>
	<h4 style="padding-bottom:10px;">《{$topic}》</h4>
		
	<a id="aCollapse" class="label label-info" style="font-size:16px;" data-toggle="popover" title="事务过程记录">事务过程<span class="glyphicon glyphicon-menu-up"></span></a>
	
	<div id="divIssrecords" class="panel-group collaps in" style="margin-top:10px;">
	
		{volist name="issrecords" id="vo" empty="暂无信息"}
		<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title" style="height:20px;">
				<div class="pull-left">{$i}<a class="aPanelCollapse" data-toggle="collapse" href="#collapse{$i}" title="查看详情"><strong class="text-primary">
        		{$vo.username}</strong>【{$vo.rolename}】</a>-{switch name="vo.actdetailhtml.p.spanclass"}
							{case value="info"}
							<span class="label label-info">
							{/case}
							{case value="primary"}
							<span class="label label-primary">
							{/case}
							{case value="warning"}
							<span class="label label-warning">
							{/case}
    						{case value="danger"}
							<span class="label label-danger">
							{/case}
							{case value="success"}
							<span class="label label-success">
							{/case}
							{case value="default"}
							<span class="label label-default">
							{/case}
    						{default /}<span>
					{/switch}
							{$vo.act}
				</span>
				</div>
      			<div class="pull-right" style="font-size:14px;">{$vo.acttime}</div>
			</h4>
			
		</div>
		<div id="collapse{$i}" class="panel-collapse collapse">
			<!-- <div style="padding:5px;"> -->
			<div style="margin:5px;">
			{notempty name="vo.actdetailhtml"}
				<p class="text-center">{$vo.actdetailhtml.p.prefix}
							
							{switch name="vo.actdetailhtml.p.spanclass"}
							{case value="info"}
							<span class="label label-info">
							{/case}
							{case value="primary"}
							<span class="label label-primary">
							{/case}
							{case value="warning"}
							<span class="label label-warning">
							{/case}
    						{case value="danger"}
							<span class="label label-danger">
							{/case}
							{case value="success"}
							<span class="label label-success">
							{/case}
							{case value="default"}
							<span class="label label-default">
							{/case}
    						{default /}<span>
							{/switch}
							{$vo.actdetailhtml.p.spantext}</span>
							{$vo.actdetailhtml.p.nextstage}
				</p>
			
			
							{switch name="vo.actdetailhtml.span.class"}
							{case value="info"}
							<span class="text-info">
							{/case}
							{case value="primary"}
							<span class="text-primary">
							{/case}
							{case value="warning"}
							<span class="text-warning">
							{/case}
    						{case value="danger"}
							<span class="text-danger">
							{/case}
							{case value="success"}
							<span class="text-success">
							{/case}
    						{default /}<span>
							{/switch}
							<strong>{$vo.actdetailhtml.span.text}</strong></span>
							
							{notempty name="vo.actdetailhtml.pre.text"}
							<!-- <pre class="">{$vo.actdetailhtml.pre.text}</pre> -->
							<pre style="background-color:transparent;border:0px;">{$vo.actdetailhtml.pre.text}</pre>
							{/notempty}
							
						{else /}
							{$vo.actdetail}
						{/notempty}
			
			</div>
		</div>
		</div>
		{/volist}
	
	</div>
<hr>
	<div class="btn-group-sm">
		<button type="submit" class="btn btn-primary btnClose" >关闭本页</button>
	</div>
	<br>
</div>

<!-- /pagewrap  -->

<script>

//**函数名：glyphiconChange
 	//* 作用：obj内含的glyphicon进行变换
	//* 参数1：obj，String。值：必须，要交换glyphicon的obj
	//* 参数2：icon1，String。值：必须，glyphicon1。
	//* 参数3：icon2，String。值：必须，glyphicon2。
	//* 无返回值
function glyphiconChange(obj,icon1,icon2){
	if(obj.find('.'+icon2).length){
	    obj.find('.glyphicon').removeClass(icon2).addClass(icon1);
    }else{
	    obj.find('.glyphicon').removeClass(icon1).addClass(icon2);
	}
};

$(document).ready(function(){

	$('.btnClose').click(function(){
		window.close();
	});
	
	$('#aCollapse').click(function(){
		var icon1='glyphicon-menu-up';
		var icon2='glyphicon-menu-down';
		glyphiconChange($(this),icon1,icon2);

		if($(this).find('.'+icon2).length){
			$('.panel-collapse').collapse('hide');
		}		
		
		$('#divIssrecords').collapse('toggle');
    });
	
	$('.aPanelCollapse').click(function(){
		var target=$(this).attr('href');
		<!-- $(target).collapse({toggle:'true',parent:'#divIssrecords'}); -->
		$(target).collapse('toggle');

    });
	
	$('.aPanelCollapse').tooltip({toggle:'true',trigger:'hover'});
	$('#aCollapse').popover({content:'事务每一次操作的摘要记录',trigger:'hover',delay:{show:500, hide: 10}}); 	
	
});
</script>

<!-- pagefooter	 -->

{include file="../application/patent/view/footer.html"}


<!-- /pagefooter -->	
