<!-- //文件路径是以入口文件为起点 -->
{include file="../application/issue/view/header.html" title="专利事务" }

<!-- pagewrap  -->
<div class="container-fluid mainDiv">
	<h4 class="label label-info" style="font-size:16px;">事务标题</h4>
	<h4 style="padding-bottom:10px;">《{$topic}》</h4>
		
	<a class="label label-info" style="font-size:16px;" href="#divIssrecords" data-toggle="collapse" title="事务过程记录">事务过程</a>
	
	<div id="divIssrecords" class="panel-group collaps in" style="margin-top:10px;">
	
		{volist name="issrecords" id="vo" empty="暂无信息"}
		<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title" style="height:20px;">
				<div class="pull-left">{$i}<a data-toggle="collapse" data-parent="#divIssrecords" href="#collapse{$i}" title="查看详情"><strong class="text-primary">
        		{$vo.username}</strong>【{$vo.rolename}】</a>-{switch name="vo.actdetailhtml.p.spanclass"}
							{case value="info"}
							<span class="label label-info">
							{/case}
							{case value="primary"}
							<span class="label label-primary">
							{/case}
							{case value="warning"}
							<span class="label label-warning">
							{/case}
    						{case value="danger"}
							<span class="label label-danger">
							{/case}
							{case value="success"}
							<span class="label label-success">
							{/case}
							{case value="default"}
							<span class="label label-default">
							{/case}
    						{default /}<span>
					{/switch}
							{$vo.act}
				</span>
				</div>
      			<div class="pull-right" style="font-size:14px;">{$vo.acttime}</div>
			</h4>
			
		</div>
		<div id="collapse{$i}" class="panel-collapse collapse">
			{notempty name="vo.actdetailhtml"}
			<p>{$vo.actdetailhtml.p.prefix}
							
							{switch name="vo.actdetailhtml.p.spanclass"}
							{case value="info"}
							<span class="label label-info">
							{/case}
							{case value="primary"}
							<span class="label label-primary">
							{/case}
							{case value="warning"}
							<span class="label label-warning">
							{/case}
    						{case value="danger"}
							<span class="label label-danger">
							{/case}
							{case value="success"}
							<span class="label label-success">
							{/case}
							{case value="default"}
							<span class="label label-default">
							{/case}
    						{default /}<span>
							{/switch}
							{$vo.actdetailhtml.p.spantext}</span>
							{$vo.actdetailhtml.p.nextstage}
			</p>
			
			
							{switch name="vo.actdetailhtml.span.class"}
							{case value="info"}
							<span class="text-info">
							{/case}
							{case value="primary"}
							<span class="text-primary">
							{/case}
							{case value="warning"}
							<span class="text-warning">
							{/case}
    						{case value="danger"}
							<span class="text-danger">
							{/case}
							{case value="success"}
							<span class="text-success">
							{/case}
    						{default /}<span>
							{/switch}
							<strong>{$vo.actdetailhtml.span.text}</strong></span>
							
							{notempty name="vo.actdetailhtml.pre.text"}
							<!-- <pre class="">{$vo.actdetailhtml.pre.text}</pre> -->
							<pre style="background-color:transparent;">{$vo.actdetailhtml.pre.text}</pre>
							{/notempty}
							
						{else /}
							{$vo.actdetail}
						{/notempty}
			
		</div>
		</div>
		
		{/volist}
	
	</div>
<hr>
	<div class="btn-group-sm">
		<button type="submit" class="btn btn-primary btnClose" >关闭本页</button>
	</div>
	<br>
</div>

<!-- /pagewrap  -->

<script>
$(document).ready(function(){

	$(".btnClose").click(function(){
		window.close();
	});
	
	
	$('[data-toggle="tooltip"]').tooltip(); 
	
});
</script>

<!-- pagefooter	 -->

{include file="../application/patent/view/footer.html"}


<!-- /pagefooter -->	
