{include file="../application/common/headeruser.html" title="个人事务中心" }

<!-- pagewrap  -->
<div class="container-fluid">
		
	<h4> 
		<ul class="list-inline">
			<li><strong>【{$username}】的系统角色：</strong></li>
			<li>
				<select class="form-control" id="roleselect">
\
					{foreach name="roles" item="vo"}
						<option>{$vo}</option>
					
					{/foreach}
					
				</select>
			</li>
			<li><button class="btn btn-primary">更新个人信息(开发中)</button></li>
		</ul>
	</h4>
	<hr>
	
	<ul class="nav nav-tabs">
		<li class="writer"><a data-toggle="tab" href="#writer"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;撰写人</a></li>
		<li class="operator"><a data-toggle="tab" href="#operator"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;执行人</a></li>
		<li class="approver"><a data-toggle="tab" href="#approver"><span class="glyphicon glyphicon-fire"></span>&nbsp;批准人</a></li>
		
		<li class="reviewer"><a data-toggle="tab" href="#reviewer"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;审查人</a></li>
		<li class="formchecker"><a data-toggle="tab" href="#formchecker"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;形式审查人</a></li> 
		<li class="financialchecker"><a data-toggle="tab" href="#financialchecker"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;财务审查人</a></li>
		<li class="maintainer"><a data-toggle="tab" href="#maintainer"><span class="glyphicon glyphicon-calendar" ></span>&nbsp;维护人</a></li>
		
	</ul>
	

	<div class="tab-content">
    <div id="writer" class="tab-pane fade table-responsive">
		<!-- <h4>撰写人<span class="badge">32</span></h4> -->
		</br>
		<div class="col-sm-3" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待处理</strong>&nbsp;<span class="label label-warning ">{$num_writer1type2}</span></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/writer/active/1/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_writer1type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-3" >
			<div class="panel panel-success">
				<div class="panel-heading"><strong>审批中</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/writer/active/2/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_writer2type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-3" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>审批结果</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/writer/active/3/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_writer3type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
		
		<div class="col-sm-3" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>执行情况</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/writer/active/4/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_writer4type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
		
    </div>
	
	<div id="operator" class="tab-pane fade table-responsive">
		<!-- <h4>执行人<span class="badge">32</span></h4> -->
		</br>
		<div class="col-sm-4" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待执行</strong>&nbsp;<span class="label label-warning ">{$num_operator1type2}</span></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/operator/active/1/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_operator1type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-success">
				<div class="panel-heading"><strong>执行中</strong>&nbsp;<span class="label label-danger">{$num_operator2type2}</span></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/operator/active/2/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_operator2type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>执行结果</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/operator/active/3/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_operator3type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
    </div>
	
    <div id="approver" class="tab-pane fade table-responsive">
		<!-- <h4>批准人<span class="badge">32</span></h4> -->
		</br>
		<div class="col-sm-3" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待处理</strong>&nbsp;<span class="label label-warning ">{$num_approver1type2}</span></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/approver/active/1/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_approver1type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-3" >
			<div class="panel panel-success"> 
				<div class="panel-heading"><strong>已审批</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/approver/active/2/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_approver2type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>

		<div class="col-sm-3" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>执行中</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/approver/active/3/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_approver3type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>		
	
		<div class="col-sm-3" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>执行结果</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/approver/active/4/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_approver4type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
    </div>
	
	<div id="reviewer" class="tab-pane fade table-responsive">
		<!-- <h4>审查人<span class="badge">32</span></h4> -->
		</br>
		<div class="col-sm-3" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待处理</strong>&nbsp;<span class="label label-warning ">{$num_reviewer1type2}</span></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/reviewer/active/1/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_reviewer1type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-3" >
			<div class="panel panel-success">
				<div class="panel-heading"><strong>已审核</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/reviewer/active/2/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_reviewer2type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-3" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>审批结果</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/reviewer/active/3/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_reviewer3type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
		
		<div class="col-sm-3" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>执行情况</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/issue/index/index/role/reviewer/active/4/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_reviewer4type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
	</div>
	
	<div id="formchecker" class="tab-pane fade table-responsive" hidden>
		<!-- <h4>形式审查人<span class="badge">32</span></h4> -->
		</br>
		<div class="col-sm-4" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待处理</strong></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">4</span></a>
						<a href="{$home}/patent/index/index/role/formchecker/active/1" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">4</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">4</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">4</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-success">
				<div class="panel-heading"><strong>审批中</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">4</span></a>
						<a href="{$home}/patent/index/index/role/formchecker/active/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">4</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">4</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">4</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">1</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>审批结果</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">4</span></a>
						<a href="{$home}/patent/index/index/role/formchecker/active/3" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">4</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">4</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">4</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">1</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
	</div>
	
	<div id="financialchecker" class="tab-pane fade table-responsive">
		<!-- <h4>财务审查人<span class="badge">32</span></h4> -->
		</br>
		<div class="col-sm-4" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待处理</strong></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">4</span></a>
						<a href="{$home}/patent/index/index/role/financialchecker/active/1" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">4</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">4</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">4</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-success">
				<div class="panel-heading"><strong>审批中</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">4</span></a>
						<a href="{$home}/patent/index/index/role/financialchecker/active/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">4</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">4</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">4</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">1</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>审批结果</strong></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">4</span></a>
						<a href="{$home}/patent/index/index/role/financialchecker/active/3" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">4</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">4</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">4</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">1</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
		
	</div>
	
	<div id="maintainer" class="tab-pane fade table-responsive">
		<!-- <h4>维护人<span class="badge">32</span></h4> -->
		</br>
	
		<div class="col-sm-4" >
			<div class="panel panel-default">
				<div class="panel-heading"><strong>待处理</strong>&nbsp;<span class="label label-warning ">{$num_maintainer1type2}</span></div>
			<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/user/content/index/role/maintainer/active/1/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_maintainer1type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-success">
				<div class="panel-heading"><strong>审批中</strong>&nbsp;<span class="label label-danger ">{$num_maintainer2type2}</span></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/user/content/index/role/maintainer/active/2/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_maintainer2type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
	
		<div class="col-sm-4" >
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>维护管理</strong>&nbsp;<span class="label label-info">{$num_maintainer3type2}</span></div>
				<!-- <div class="panel-body"> -->
					<ul class="list-group">
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-inbox">&nbsp;</span>项目类<span class="badge">0</span></a>
						<a href="{$home}/user/content/index/role/maintainer/active/3/type/2" class="list-group-item"><span class="glyphicon glyphicon-wrench">&nbsp;</span>专利类<span class="badge">{$num_maintainer3type2}</span></a>
						<a href="#" class="list-group-item"><span class="glyphicon glyphicon-list">&nbsp;</span>论文类<span class="badge">0</span></a>
						<!-- <a href="#" class="list-group-item">获奖类<span class="badge">0</span></a> -->
						<!-- <a href="#" class="list-group-item">成果转化类<span class="badge">0</span></a> -->
					</ul>
				<!-- </div> -->
			</div>
		</div>
		
	</div>
</div>




<!-- /pagewrap  -->

<script>
$(document).ready(function(){
	<!-- //隐藏所有.nav-tabs里的li标签 -->
	$(".nav-tabs li").hide();
	
	//显示选中rolename对应的标签
	$("#roleselect").change(function(){
		var role = $(this).val();
		$(".nav-tabs li").hide();
		{foreach name="roles" item="vo"}
			$("#{$vo}").hide();
		{/foreach}
		$("."+ role).show();
		$("."+ role).addClass("active");
		$("#"+ role).show().addClass("active").addClass("in");
	
	});
	
	if({$role}){
		// 动态填充#roleselect的select标签
		$("#roleselect").empty();
		{foreach name="roles" item="vo"}
			$("#roleselect").append($("<option value='{$vo}'>"+ $(".{$vo}").text() + "</option>"));
		{/foreach}
	
		// 显示{$role}对应的option
		$("#roleselect option[value={$role}]").attr("selected","selected");
		
		$(".{$role}").show();
		$(".{$role}").addClass("active");
		$("#{$role}").addClass("active").addClass("in");
	}else{
		// 动态填充#roleselect的select标签
		$("#roleselect").empty();
		{foreach name="roles" item="vo"}
			$("#roleselect").append($("<option value='{$vo}'>"+ $(".{$vo}").text() + "</option>"));
		{/foreach}
	
		// 默认显示role1st的标签及其内容
		$(".{$role1st}").show();
		$(".{$role1st}").addClass("active");
		$("#{$role1st}").addClass("active").addClass("in");
	}
	

});
</script>

{include file="../application/common/footer.html"}