<!-- assRecords.html -->

<div>
	<h4><span class="label label-info" style="font-size:16px;">固定资产现状</span><span class="small pull-right">{$assSet.update_time}</span></h4>
	<div class="row" style="margin-top:10px;">	
		<div class="col-sm-5" >
			<label for="brand_model">名称（含品牌、型号）：</label>{$assSet.brand_model}
		</div>
		<div class="col-sm-4" >
			<label for="status_now">现状：</label><span class="spStatus">{$assSet.status_now}</span>
		</div>
		<div class="col-sm-3">
			<label for="quantity">数量：</label>{$assSet.quantity}	
		</div>
	</div>
	<div class="table-responsive">	
	<table class="table table-striped table-condensed" >
	<tbody>
		<tr>
			<td>
				<label for="bar_code">条形码号：</label>{$assSet.bar_code}
			</td>
			<td>
				<label for="code">卡号：</label>{$assSet.code}
			</td>
			<td>
				<label for="assnum">编号：</label>{$assSet.assnum}
			</td>	
		</tr>
		<tr>
			<td>	
				<label for="brand_model">现使用部门：</label>{$assSet.dept_now}
			</td>
			<td>
				<label for="status_now">现放置地点：</label>{$assSet.place_now}
			</td>	
			<td>
				<label for="quantity">现保管人：</label>{$assSet.keeper_now}
			</td>	
		</tr>		
	</tbody>
	</table>
	</div>
	
	<a id="aCollapse" class="label label-info" style="font-size:16px;" data-toggle="popover" title="状态变化过程记录">状态历史记录<span class="glyphicon glyphicon-menu-up"></span></a>
	
	<div id="divAssrecords" class="panel-group collaps in" style="margin-top:10px;">
		{volist name="assRdSet" id="vo" empty="暂无信息"}
		<div class="panel panel-info">
			<div class="panel-heading" style="padding:10px;">
				<h4 class="panel-title" style="height:22px;">
					<div class="pull-left">{$totalNum-$i+1}
						<strong class="text-primary">{$vo.status_now_user_name}</strong>【{$vo.oprt}】完成，状态为<a class="aPanelCollapse" data-toggle="collapse" href="#collapse{$i}" title="查看详情"><span class="spStatus">{$vo.status_now}</span></a>
					</div>
					<div class="pull-right" style="font-size:14px;">{$vo.create_time}</div>
				</h4>
			</div>
			<div id="collapse{$i}" class="panel-collapse collapse">
			
			<div class="row" style="margin:5px;">
				<p>
				<div class="col-sm-5">
					<label for="dept_now">使用部门：</label>{$vo.dept_now}
				</div>
				<div class="col-sm-4">
					<label for="place_now">放置地点：</label>{$vo.place_now}
				</div>
				<div class="col-sm-3">
					<label for="keeper_now">保管人：</label>{$vo.keeper_now}
				</div>
				</p>
				<p>
				<div class="col-sm-5">
					<label for="dept_now">状态说明：</label>{$vo.oprt_detail}
				</div>
				</p>
			</div>
			</div>
		</div>
		{/volist}
	</div>
</div>


<script>
const conStatusArr=Object.values({$conAssStatusArr});
const conLabelArr=Object.values({$conAssStatusLabelArr});

var glyphiconChange=(obj,icon1,icon2)=>{
	if(obj.find('.'+icon2).length){
	    obj.find('.glyphicon').removeClass(icon2).addClass(icon1);
    }else{
	    obj.find('.glyphicon').removeClass(icon1).addClass(icon2);
	}
};

//利用自调用匿名函数立即执行的特点， 页面初始化
(function($){
<!-- // status内容上色-->
	$('.spStatus').each(function(){
		var status=$(this).text();
		var index=0;
		index=conStatusArr.indexOf(status);
		$(this).addClass('label label-'+conLabelArr[index]);
	});
})(jQuery);

$(document).ready(function(){
	//激活popover
	$('#aCollapse').popover({content:'固定资产状态变化摘要记录',trigger:'hover',delay:{show:500, hide: 10}}); 
	//激活tooltip
	$('.aPanelCollapse').tooltip({toggle:'true',trigger:'hover'});
	
	$('#aCollapse').click(function(){
		var icon1='glyphicon-menu-up';
		var icon2='glyphicon-menu-down';
		glyphiconChange($(this),icon1,icon2);

		if($(this).find('.'+icon2).length){
			$('.panel-collapse').collapse('hide');
		}		
		
		$('#divAssrecords').collapse('toggle');
    });

});

</script>

