<!-- //module:asset, view:index/assSearchForm.html  -->
	
<!-- // 搜索表单-->	
<form class="searchForm" style="border:1px solid #eee;padding:10px 0px 10px 0px;margin-top:2px;">
	<input class="sr-only" name="reqObj" type="text" value="" />
	<div class="row myRow">
		<div class="form-group col-sm-4">
			<label class="control-label" for="brand_model">名称（品牌型号）</label>
			<input class="form-control searchBg" id="brand_model" name="brand_model" type="text" value="" placeholder="...不限" />
										
		</div>
		<div class="form-group col-sm-2">
			<label class="control-label" for="assnum">编号</label>
			<input class="form-control searchBg" id="assnum" name="assnum" type="text" value="" placeholder="...不限" />
										
		</div>
			
		<div class="form-group col-sm-3">
			<label class="control-label" for="code">卡号</label>
			<input class="form-control searchBg" id="code" name="code" type="text" value="" placeholder="...不限" />
		</div>
			
		<div class="form-group col-sm-3">
			<label class="control-label" for="bar_code">条形码号</label>
			<input class="form-control searchBg" id="bar_code" name="bar_code" type="text" value="" placeholder="...不限" />	
		</div>
	</div>
			
	<div class="row myRow">
		<div class="form-group col-sm-4">
			<label class="control-label" for="dept_now">现使用部门</label>
			<select class="form-control" name="searchPatType" >
			<!-- <select multiple="multiple" size="4" class="form-control" id="selectDeptNow" name="dept_now" > -->
				<option value="">d1</option>
			</select>
		</div>
		<div class="form-group col-sm-2">
			<label class="control-label" for="status_now">状态</label>
			<select class="form-control" name="searchPatType" >
			<!-- <select multiple="multiple" size="4" class="form-control" id="selectStatusNow" name="status_now" > -->
				<option value="">s1</option>
			</select>
		</div>
		<div class="form-group col-sm-2">
			<label class="control-label" for="place_now">现放置地点</label>
			<select class="form-control" name="place_now" >
				<option value="">p1</option>
			</select>
		</div>
		<div class="form-group col-sm-2">
			<label class="control-label" for="keeper_now">现保管人</label>
			<input class="form-control" name="keeper_now" type="text" value="" placeholder="...不限" />
		</div>
		<div class="form-group col-sm-2">
			<label class="control-label" for="status_now_user_name">登记人</label>
			<input class="form-control" name="status_now_user_name" type="text" value="" placeholder="...不限" />
		</div>
	</div>	
			
	<div class="row myRow text-right">
		<button id="btnSearch" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span>查询</button>
		<input type="reset" class="btn btn-primary btn-sm" value="条件重置" />
	</div>
			
</form>

<script type="text/javascript">
//对conf.js中定义的全局变量赋值
rqData.searchData={$searchData};
</script>

<script type="text/javascript" src="/home/res/js/app/searchForm.js"></script>