<!-- //module:asset, view:index/index.html  -->


<ul id="assPeriodNav" class="nav nav-pills">
	<!-- //jQ生成 -->
</ul>
<h4 id="assTitle" class="text-left">
	<!-- //jQ生成 -->
</h4>
<div class="text-right" data-show-search-form=true>
	<div class="btn-group">
    	<button id="btnSearchFormCollapse" type="button" class="btn btn-primary btn-sm" data-toggle="collapse" title="显示/隐藏搜索条件">搜索条件</button>
			
    	<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">更多<span class="caret"></span></button>
      		<ul class="dropdown-menu" role="menu">
				<li class="liSearchFormCollapse"><a id="aSearchData" href="#divSearchForm" data-toggle="collapse" title="根据输入信息搜索"><span class="glyphicon glyphicon-edit"></span>一般搜索</a></li>
    			<li role="separator" class="divider"></li>
    			<li class="liSearchFormCollapse"><a id="aSearchByBarcode" href="#divSearchFormBarcode" data-toggle="collapse" title="输入/ 拍摄条形码图片<br>识别后搜索"><span class="glyphicon glyphicon-barcode"></span>条形码搜索</a></li>
      		</ul>
    	</div>
  	</div>
		
	<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新列表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
</div>

<!-- // 一般搜索区域-->
<div id="divSearchForm" class="collapse">
	<button class="btn btn-primary btn-xs" style="font-weight:700;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" data-target="#divSearchForm"  data-toggle="collapse" title="点击隐藏"><span class="glyphicon glyphicon-edit"></span>一般搜索条件</button>
	<!-- // 搜索表单-->
	<div id="searchForm">
	<!-- //jQ生成 -->
	</div>
</div>
	
<br>
	
<!-- // 条形码搜索区域-->
<div id="divSearchFormBarcode" class="collapse">
	<button class="btn btn-primary btn-xs" style="font-weight:700;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" data-target="#divSearchFormBarcode"  data-toggle="collapse" title="点击隐藏"><span class="glyphicon glyphicon-barcode"></span>条形码搜索</button>
		
	<!-- <div id="divBarcodeArea_load"><p class="text-center" style="font-size:20px;">加载中……</p></div> -->
	{include file="../application/common/decodeBarcode.html"}
</div>
	
<div id="searchNum">
	<p class="text-right bingo" style="padding-top:10px;"><button class="btn btn-info btn-sm" style="cursor:unset;font-size:14px;">搜索结果：<span class="badge"></span></button>
	</p>
		
	<p class="text-center none" style="padding-top:20px;"><strong>搜索结果</strong>：<span class="label label-default" style="font-size:16px;">无符合条件信息</span></p>
</div>
	
<div class="tab-content">
	<div id="assList">
	<!-- //jQ载入 -->
		<p class="text-center" style="font-size:20px;">加载中……</p>
	</div>
</div>	

<!-- Modal "modalAssSingle" -->
<div class="modal fade" id="modalAssSingle" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-info" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4 class="title"></h4>
        </div>
		
        <div class="modal-body">
			<!-- // 单个asset增删改查页面显示位置，需load其他模板文件的div-->
			<div id="divLoadAssSingle">
				<p class="text-center" style="font-size:28px;">加载中……</p>
			</div>
		</div>
		
		<div class="modal-footer">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="关闭"> 
        </div>
		</div>
	</div>

</div>

<!--/ Modal "modalAssSingle" -->

<script>
rqData.sortData.sortName='{$sortName}';

initPage();	

let divCollapseSet=$('#entPeriod').children('.collapse'),
	liCollapseSet=$('#entPeriod').find('.liSearchFormCollapse'),
	btnCollapseSet=divCollapseSet.children('button'),
	flagObj=$('#btnSearchFormCollapse').closest('.text-right');
	
//searchFormToggle类
var searchFormToggleCls=function(){
	var liSet=liCollapseSet;
	var divSet=divCollapseSet;
	var idArr=[];
	var prop={liShow:'active',divShow:'in',fn:{show:'show',hide:'hide'}}
	var status={show:false,liShow:false,liShowArr:Array(divSet.length).fill(0),divShow:false,divShowArr:Array(divSet.length).fill(0)};
	
	var status1={
		li:{show:false,showArr:Array(divSet.length).fill(0)},
		div:{show:false,showArr:Array(divSet.length).fill(0)}
		};
	
	var reducer=(prev,curr)=>prev+curr;
	var getCollapseInNum=()=>{
		return status.divShowArr.reduce(reducer);
	};
	var initCollapse=()=>{
		//对status进行初始化
		status.show=false;
		divSet.each(function(index){
			idArr[index]=$(this).attr('id');
			status.liShowArr[index]=0;
			status.divShowArr[index]=0;
		});
		return setCollapse();
	};
	
	var getStatus=()=>{
		divSet.each(function(){
			let divCls=$(this).attr('class'),
				id=$(this).attr('id'),
				idx=idArr.indexOf(id);
			
			if(divCls.indexOf(prop.divShow)!=-1){
				status.divShowArr[idx]=1;
				status.liShowArr[idx]=1;
			}else{
				status.divShowArr[idx]=0;
				status.liShowArr[idx]=0;
			}	
		});
		
		status.show=(status.divShowArr.reduce(reducer))?true:false;
		
		return status;
	};
	
	var setStatus=(opt={})=>{
		let statusDefault={show:false,liShow:false,liShowArr:Array(divSet.length).fill(0),divShow:false,divShowArr:Array(divSet.length).fill(0)};
		status=$.extend({},statusDefault,opt);
		<!-- if(status.show && getCollapseInNum()==0){ -->
			<!-- status.divShowArr[0]=1; -->
			<!-- status.liShowArr[0]=1; -->
		<!-- } -->
		return status;
	};
	//根据status对有关组件进行显示、隐藏
	var setCollapse=()=>{
		status.liShowArr.forEach(function(val,idx){
			liSet.eq(idx).removeClass(prop.liShow);
			if(val){
				liSet.eq(idx).addClass(prop.liShow);
			}
		});
		
		status.divShowArr.forEach(function(val,idx){
			(val)?divSet.eq(idx).collapse(prop.fn.show):divSet.eq(idx).collapse(prop.fn.hide);
		});
	};
	
	initCollapse();
	
	return {
		status:status,
		id:idArr,
		setStatus:function(opt){return setStatus(opt)},
		getStatus:function(){return getStatus()},
		setCollapse:function(){return setCollapse()},
		initCollapse:function(){return initCollapse()},
		getCollapseInNum:function(){return getCollapseInNum()}
		
	}
};

var k= searchFormToggleCls();
console.log(k.status);
<!-- //点击nav中的各个按钮后，loadEntPeriodList()-->
$('#entPeriod').children('ul.nav').find('a').click(function(){	
	//排序、分页有关的值向sortData汇集
	rqData.period=$(this).data('period');
	rqData.sortData.pageNum=1;
	buildPeriodTitleCom();
	loadEntPeriodList();
});	

<!-- // 页面刷新 -->
$('#btnRefresh').click(function(){
	//隐藏搜索条件
	$('#divSearchForm').removeClass('in');
	resetSearchForm();
});	

$('#btnSearchFormCollapse').click(function(){
	k.setStatus({show:!k.status.show});
	k.setCollapse();
});

liCollapseSet.children('a').click(function(){
	let id=$(this).attr('href').slice(1),
		liObj=$(this).closest('li'),
		idx=k.id.indexOf(id),
		liCls=liObj.attr('class'),
		status=k.status;
	
	if(liCls.indexOf('active')!=-1){
		<!-- liObj.removeClass('active'); -->
		status.liShowArr[idx]=0;
		status.divShowArr[idx]=0;
	}else{
		<!-- liObj.addClass('active'); -->
		status.liShowArr[idx]=1;
		status.divShowArr[idx]=1;
	}
	
	k.setStatus(status);
	k.setCollapse();
});

btnCollapseSet.click(function(){
	let st=k.status,
		id=$(this).closest('div').attr('id'),
		idx=k.id.indexOf(id);
	
	console.log(idx+' : ');
	
	st.liShowArr[idx]=0;
	st.divShowArr[idx]=0;
	
	status.show=!k.status.show;
	console.log(st.liShowArr);
	console.log(st);
	k.setStatus(st);
	console.log(k.getStatus());
	k.setCollapse();
});

</script>