{include file="../application/common/header.html" title="固定资产信息" }

<!-- pagewrap  -->
<div class="mainFrame">
<div class="container-fluid">
	{eq name="read" value="0"}
	<div style="padding: 50px 0px;font-size:20px;">
		<p class="text-center">无“固定资产”【查阅】权限，请与系统管理员联系。</p>
	</div>
	{else/}
	<!-- <p>{$mdlSt}</p> -->
	<ul id="ulAssType" class="nav nav-pills" style="border-bottom:1px solid #eee;">
		<li class="active">
			<a class="aPill" href="#_USUAL" data-ass-type="_USUAL">固定资产<span class="spTitle">总计</span>
			{neq name="assNum['_USUAL']" value="0"}
			<span class="label label-primary spClass">{$assNum['_USUAL']}</span>
			{/neq}
			</a>
		</li>
		<li>
			<a class="aPill" href="#_ASSS1" data-ass-type="_ASSS1"><span class="spTitle">待定</span>
			{neq name="assNum['_ASSS1']" value="0"}
			<span class="label label-info spClass">{$assNum['_ASSS1']}</span>{/neq}
			</a>
		</li>
		<li>
			<a class="aPill" href="#_ASSS2" data-ass-type="_ASSS2"><span class="spTitle">正常</span>
			{neq name="assNum['_ASSS2']" value="0"}
			<span class="label label-success spClass">{$assNum['_ASSS2']}</span>
			{/neq}
			</a>
		</li>
		<li>
			<a class="aPill" href="#_ASSS3" data-ass-type="_ASSS3"><span class="spTitle">异常</span>
			{neq name="assNum['_ASSS3']" value="0"}
			<span class="label label-warning spClass">{$assNum['_ASSS3']}</span>
			{/neq}
			</a>
		</li>
		<li>
			<a class="aPill" href="#_ASSS4" data-ass-type="_ASSS4"><span class="spTitle">停用</span>
			{neq name="assNum['_ASSS4']" value="0"}
			<span class="label label-default spClass">{$assNum['_ASSS4']}</span>
			{/neq}
			</a>
		</li>
		<li>
			<a class="aPill" href="#_ASSS5" data-ass-type="_ASSS5"><span class="spTitle">销账</span>
			{neq name="assNum['_ASSS5']" value="0"}
			<span class="badge spClass">{$assNum['_ASSS5']}</span>
			{/neq}
			</a>
		</li>
	</ul>
	<div id="divTopBtn" class="row text-right" style="margin:10px 0px;">
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="选择查询方式"><span class="glyphicon glyphicon-search"></span>查询<span class="caret"></span></button>
      		<ul class="dropdown-menu" role="menu">
				<li><a id="aSearchData" href="#divSearchData" data-toggle="collapse" title="根据输入信息查询"><span class="glyphicon glyphicon-edit"></span>一般查询</a></li>
    			<li role="separator" class="divider"></li>
    			<li><a id="aSearchByBarcode" href="#divSearchByBarcode"  data-toggle="collapse" title="输入/ 拍摄条形码图片<br>识别后查询"><span class="glyphicon glyphicon-barcode"></span>条形码查询</a></li>
      		</ul>
    	</div>
  		
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新信息列表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
	</div>

	<!-- // 一般查询区域-->
	<div id="divSearchData" class="collapse" >
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchData"  data-toggle="collapse" title="点击隐藏">一般查询条件</a>
		<form id="fmAssSearch" style="border:1px solid #eee;padding:10px 0px 10px 0px;margin-top:2px;">
			<input class="sr-only" name="reqObj" type="text" value="" />
			<div class="row myRow">
			<div class="form-group col-sm-4">
				<label class="control-label" for="brand_model">名称（品牌型号）</label>
				<input class="form-control searchBg" id="brand_model" name="brand_model" type="text" value="" placeholder="...不限" />
										
			</div>
			<div class="form-group col-sm-2">
				<label class="control-label" for="assnum">编号</label>
				<input class="form-control searchBg" id="assnum" name="assnum" type="text" value="" placeholder="...不限" />
										
			</div>
			
			<div class="form-group col-sm-3">
				<label class="control-label" for="code">卡号</label>
				<input class="form-control searchBg" id="code" name="code" type="text" value="" placeholder="...不限" />
										
			</div>
			
			<div class="form-group col-sm-3">
				<label class="control-label" for="bar_code">条形码号</label>
				<input class="form-control searchBg" id="bar_code" name="bar_code" type="text" value="" placeholder="...不限" />
										
			</div>
			</div>
			
			<div class="row myRow">
			<div class="form-group col-sm-4">
				<label class="control-label" for="dept_now">现使用部门</label>
				<!-- <select multiple class="form-control" id="searchPatType" name="searchPatType" > -->
				<select multiple="multiple" size="4" class="form-control" id="selectDeptNow" name="dept_now" >
						<option value="">d1</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label class="control-label" for="status_now">状态</label>
				<!-- <select multiple class="form-control" id="searchPatType" name="searchPatType" > -->
				<select multiple="multiple" size="4" class="form-control" id="selectStatusNow" name="status_now" >
						<option value="">s1</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label class="control-label" for="place_now">现放置地点</label>
				<select multiple="multiple" size="4" class="form-control" id="selectPlaceNow" name="place_now" >
						<option value="">p1</option>
				</select>
										
			</div>
			<div class="form-group col-sm-2">
				<label class="control-label" for="keeper_now">现保管人</label>
				<input class="form-control" name="keeper_now" type="text" value="" placeholder="...不限" />
										
			</div>
			
			<div class="form-group col-sm-2">
				<label class="control-label" for="status_now_user_name">登记人</label>
				<input class="form-control" name="status_now_user_name" type="text" value="" placeholder="...不限" />
						
										
			</div>
			</div>	
			
			<div class="row myRow">
			<div class="text-right">	
				<button id="btnSearch" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span>查询</button>
			
				<button id="btnSearchReset" type="button" class="btn btn-primary btn-sm">条件重置</button>
			</div>
			</div>
			
			<!-- <button id="btnAssSearch" type="button" class="btn btn-primary btn-sm">查询&nbsp;<span class="glyphicon glyphicon-search"></span></button> -->
		
		</form>
		<br>
	</div>
	
	<!-- // 条形码查询区域-->
	<div id="divSearchByBarcode" class="collapse">
		<a class="label label-primary" style="font-size:14px;border-bottom-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchByBarcode"  data-toggle="collapse" title="点击隐藏">条形码查询</a>
		
		<!-- <div id="divBarcodeArea_load"><p class="text-center" style="font-size:20px;">加载中……</p></div> -->
		
		
		{include file="../application/common/decodeBarcode.html"}
		<br>
	</div>
	
	<div class="tab-content">
		<div id="divLoadAssList">
			<p class="text-center" style="font-size:20px;">加载中……</p>
		</div>
	</div>
	{/eq}	
</div>
</div>
<!-- Modal "modalAssSingle" -->
<div class="modal fade" id="modalAssSingle" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-info" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4 class="title"></h4>
        </div>
		
        <div class="modal-body">
			<!-- // 单个asset增删改查页面显示位置，需load其他模板文件的div-->
			<div id="divLoadAssSingle">
				<p class="text-center" style="font-size:28px;">加载中……</p>
			</div>
		</div>
		
		<div class="modal-footer">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="关闭">  
          
        </div>
		</div>
	</div>

</div>
<!--/ Modal "modalAssSingle" -->

<!-- /pagewrap  -->

<script>
//var searchDataArr={$searchData};

var assType='{$assType}';

//**函数名：getJsonLength
 	//* 作用：得到jsonData的长度
var getJsonLength=(jsonData)=>{
	var jsonLength = 0;
	for(var item in jsonData){
		jsonLength++;
	}
 	return jsonLength;
};

//**函数名：glyphiconTextChange
 	//* 作用：obj内含的glyphicon进行变换
	//* 参数1：obj，String。值：必须，要交换glyphicon的obj
	//* 参数2：iconText1，Json。值：可为空，{icon:'glyphicon-xx',text:'xx'}。
	//* 参数3：iconText2，Json。值：可为空，{icon:'glyphicon-yy',text:'yy'}。
	//* 无返回值
var glyphiconTextChange=(obj,iconText1,iconText2)=>{
	iconText1=$.extend({icon:'glyphicon-collapse-up',text:'隐藏搜索'},iconText1);
	iconText2=$.extend({icon:'glyphicon-collapse-down',text:'显示搜索'},iconText2);
	if(obj.find('.'+iconText2.icon).length){
	    obj.find('.glyphicon').removeClass(iconText2.icon).addClass(iconText1.icon).next('span').html(iconText1.text);
    }else{
	    obj.find('.glyphicon').removeClass(iconText1.icon).addClass(iconText2.icon).next('span').html(iconText2.text);
    }
};

//**函数名：ajaxShowSelect
 	//* 作用：本页面ajax过程向服务器请求特定单选框内容所需数据，并组装好HTML语句
	//* 参数url，类型：字符串。值：不为空。说明：ajax操作的URL。
	//* 参数sendData，类型：数值。值：传送给后端的键值对数据。
	//* 参数obj，类型：对象。值：必须，单选框的对象名称
	//*参数attach，类型：json数组。值：可为空，需要附加的单选框的键值对，[{"text":"...不限","val":"0"},{"text":"xx","val":"xx"}]
	//*参数selected，类型：字符。值：字符，可为空。
	//* 返回值：无
var ajaxShowSelect=(options)=>{
	var defaults={
		'url':'selectResponse',
		'attach':[{"text":"...不限","val":"0"}],
		'sendData':'',
		'obj':'',
		'selected':'',
	};
	var data = $.extend({},defaults, options);
	var arrJson=data.attach;
	//var req=data.sendData.req;
	var obj=data.obj;
	var selected=data.selected;
	var str='';
	
	$.post(data.url,data.sendData,function(result){
		if(arrJson.length){
			for(i=0;i<arrJson.length;i++){
				str+='<option value="'+arrJson[i].val+'">'+arrJson[i].text+'</option>';
			}
		}
		// result数组,取出value值组装HTML语句
		$.each(result,function(n1,v1){
			str+='<option value="'+v1+'">'+v1+'</option>';	
		});
		<!--// 清空单选框Obj的所有选项-->
		obj.empty();
		<!--// 添加单选框Obj的新选项-->
		obj.append(str);
		<!-- // value=selected 的项为选定项-->
		if (Array.isArray(selected)){
			selected.forEach(function(e){
				obj.val(selected);
			});
		}else{
			obj.val(selected);
		}
	});
};

//**函数名：loadAssList
 	//* 作用：加载本页面内容到指定div中<div id="divLoadAssList"></div>
	//* 参数1：listRows，Int。值：可为空，每页显示的记录行数。默认为10。
	//* 参数2：sortName，String。值：可为空，排序字段名称。默认为‘_TOPIC’。
	//* 参数3：sortOrder，String。值：可为空，排序方式。默认为'_ASC'。
	//* 参数4：pageNum，Int。值：可为空，当前页数。默认为1。
	//* 参数6：serchWord，Array。值：可为空，用户查询关键词键值对。默认为空。
var loadAssList=(sortData)=>{
	
	//排序有关的参数默认值
	var sortDataDefault={'listRows':10,'sortName':'assnum','sortOrder':'asc','pageNum':1,'assType':assType};
	sortData=$.extend({},sortDataDefault,sortData);
	var deptNowArr=$('#selectDeptNow').val();
	var statusNowArr=$('#selectStatusNow').val();
	var placeNowArr=$('#selectPlaceNow').val();
	
	//用户查询有关键值对从表单$('#fmIssPatSearch')获取
	var formData=new FormData($('#fmAssSearch')[0]);
	<!-- for(var pair of formData.entries()){ -->
		<!-- console.log(pair[0]+','+pair[1]); -->
	<!-- } -->
	var searchData={};
	
	if(deptNowArr){
		formData.append('dept_now',deptNowArr);
	}
	
	if(statusNowArr){
		formData.append('status_now',statusNowArr);
	}
	
	if(placeNowArr){
		formData.append('place_now',placeNowArr);
	}
	
	//使用Map对象的forEach方法组装键值对
	formData.forEach(function(val,key){
		//非0非空的值才进行组装
		if(val!='' && val!=0){
			searchData[key]=val;
		}	
	});
	<!-- // 转换成json字符串-->
	JSON.stringify(searchData);
		
	//console.log('sortData:');
	//console.dir(sortData);
	
	// jquery load()方法，文件加载到本页面<div id="divLoadAssList"></div>
	$('#divLoadAssList').html('<p class="text-center" style="font-size:20px;">加载中……</p>').load('assList',
		{'sortData':sortData,'searchData':searchData},
		function(){
			sortOrderToggle(sortData.sortName);
			//是否显示assList.html中的$('#spSearchResult')组件
			if(Object.keys(searchData).length){
				$('#spSearchResult').show();
			}else{
				$('#spSearchResult').hide();
			}
			<!-- //设定$('#fmAssSearch')内的select组件的option -->
			$.when(
				ajaxShowSelect({'sendData':{'req':$('#selectDeptNow').attr('name'),'assType':assType},'selected':deptNowArr,'obj':$('#selectDeptNow')}),
				ajaxShowSelect({'sendData':{'req':$('#selectStatusNow').attr('name'),'assType':assType},'selected':statusNowArr,'obj':$('#selectStatusNow')}),
				ajaxShowSelect({'sendData':{'req':$('#selectPlaceNow').attr('name'),'assType':assType},'selected':placeNowArr,'obj':$('#selectPlaceNow')})
			).then(
				function(data, textStatus, jqXHR){
     			//ajax成功
				
				},
				function(){
					//ajax失败
					$.alert('加载失败，请稍后再试！');
				}
			);
		}
	);
};

//函数名：sortOrderToggle
//作用：对选定的assList列表字段进行升序降序转换，改变该字段表头显示格式
var sortOrderToggle=(sortName)=>{
	var obj='';
	var sortOrder=$('#tblAssList').data('sortOrder');
	var glyAsc='&nbsp;<span class="small glyphicon glyphicon-sort-by-attributes"></span>';
	var glyDesc='&nbsp;<span class="small glyphicon glyphicon-sort-by-order-alt"></span>';
	
	$('thead a').removeClass('label label-primary');
	
	$('thead a').each(function(){
		if(sortName==$(this).data('sortName')){
			obj=$(this);
		}else{
			$(this).tooltip({placement: 'bottom'});
		}
	});
		
	if(obj.length){
		obj.addClass('label label-primary');
		if(sortOrder == 'asc'){
			//当前为升序
			obj.append(glyAsc);
			obj.tooltip({title:'当前为升序。点击后降序',placement: 'top'});
			obj.data('sortOrder','desc');
		}else{
			//当前为降序
			obj.append(glyDesc);
			obj.tooltip({title:'当前为降序。点击后升序',placement: 'top'});
			obj.data('sortOrder','asc');
		}
	}		
};

//所有查询表单重置
var fmReset=()=>{
	var fm=$('form');
	
	fm.each(function(){
		$(this)[0].reset();
		$(this).find('.form-control').removeClass('alert-info');
		if($(this).attr('id')=='fmRun'){
			$(this).next().hide().find('span.alert-info').text('');
		}
	});
};

//自调用匿名函数立即执行的特点，进行页面初始化。
(function($){
	var sId=window.location.hash;	
	assType=sId.substring(1);
	loadAssList({'assType':assType});
	
	$('.aPill[href="'+sId+'"]').tab('show');
	
	//ul.nav调整.aPill
	$('#ulAssType.nav-pills').find('a').each(function(){
		//缩小padding
		$(this).css('padding','5px 10px');
		//去掉底部边框圆角
		$(this).css({'border-bottom-right-radius':'0px','border-bottom-left-radius':'0px'});
		//调整内部span.label的大小
		$(this).find('.spClass').css({'padding-bottom':'1px','margin-bottom':'2px'});
	});
	
	// 设置各类tooltip
	$('.mainFrame').tooltip({selector:'[title]',triger:'hover click',placement: 'auto left',delay: {show: 200, hide: 100},html: true });

<!-- 选中id为"nav_pat"的标签（header.html文件中的li标签）,添加.active -->
	$('#nav_ass').addClass('active');	
	
})(jQuery);

$(document).ready(function(){
		
	$('.aPill').click(function(){
		assType=$(this).data('assType');
		$(this).tab('show');
		//一般查询表单重置
		fmReset();
		loadAssList();

    });
	
	$('#aSearchByBarcode').click(function(){
		$('#divSearchByBarcode').collapse('show');
		$('#divSearchData').collapse('hide');
	});
	
	$('#aSearchData').click(function(){
		$('#divSearchByBarcode').collapse('hide');
		$('#divSearchData').collapse('show');
		
	});
	
	<!-- // 页面刷新 -->
	$('#btnRefresh').click(function(){
		//一般查询表单重置
		fmReset();
		
		//隐藏一般查询条件
		$('.collapse').collapse('hide');
		loadAssList();
	});
	

<!-- //表单$('#fmAssSearch')有关的代码块 -->
	
	$('#fmAssSearch .form-control').change(function(){
		if($(this).val()!=0 || $(this).val()!=''){
			//表单输入项做标识
			<!-- $(this).closest('div').addClass('has-error'); -->
			$(this).addClass('alert-info');
		}else{
			//表单输入项去掉标识
			<!-- $(this).closest('div').removeClass('has-error'); -->
			$(this).removeClass('alert-info');
		}
	});
	
	//表单提交，开始asset一般查询
	$('#btnSearch').click(function(){
		$('#fmAssSearch [name="reqObj"]').val('form');
		loadAssList();
	});
	
	//表单重置
	$('#btnSearchReset').click(function(){
		fmReset();
	});
	
<!-- function  -->


<!-- /function  -->
	
});
</script>

{include file="../application/common/footer.html"}
