<!-- //module:asset, view:index/index.html  -->

<div>
	<ul id="assPeriodNav" class="nav nav-pills">
		<!-- //jQ生成 -->
	</ul>
	<h4 id="assTitle" class="text-left">
		<!-- //jQ生成 -->
	</h4>
	<div class="row text-right">
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="选择查询方式"><span class="glyphicon glyphicon-search"></span>查询<span class="caret"></span></button>
      		<ul class="dropdown-menu" role="menu">
				<li><a id="aSearchData" href="#divSearchForm" data-toggle="collapse" title="根据输入信息查询"><span class="glyphicon glyphicon-edit"></span>一般查询</a></li>
    			<li role="separator" class="divider"></li>
    			<li><a id="aSearchByBarcode" href="#divSearchFormBarcode"  data-toggle="collapse" title="输入/ 拍摄条形码图片<br>识别后查询"><span class="glyphicon glyphicon-barcode"></span>条形码查询</a></li>
      		</ul>
    	</div>
  		
		<button id="btnRefresh" type="button" class="btn btn-primary btn-sm" title="刷新列表"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
	</div>

	<!-- // 一般查询区域-->
	<div id="divSearchForm" class="collapse" >
		<a class="label label-primary" style="font-size:14px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchForm"  data-toggle="collapse" title="点击隐藏">一般查询条件</a>
		<!-- // 搜索表单-->
		<div id="assSearchForm">
		<!-- //jQ生成 -->
		</div>
	</div>
	
	<!-- // 条形码查询区域-->
	<div id="divSearchFormBarcode" class="collapse">
		<a class="label label-primary" style="font-size:14px;border-bottom-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;" href="#divSearchFormBarcode"  data-toggle="collapse" title="点击隐藏">条形码查询</a>
		
		<!-- <div id="divBarcodeArea_load"><p class="text-center" style="font-size:20px;">加载中……</p></div> -->
		
		
		{include file="../application/common/decodeBarcode.html"}
		<br>
	</div>
	
	<div id="searchNum">
		<p class="text-right bingo" style="padding-top:10px;"><button class="btn btn-info btn-sm" style="cursor:unset;font-size:14px;">搜索结果：<span class="badge"></span></button>
		</p>
		
		<p class="text-center none" style="padding-top:20px;"><strong>搜索结果</strong>：<span class="label label-default" style="font-size:16px;">无符合条件信息</span></p>
	</div>
	
	<div class="tab-content">
		<div id="assList">
		<!-- //jQ载入 -->
			<p class="text-center" style="font-size:20px;">加载中……</p>
		</div>
	</div>	

<!-- Modal "modalAssSingle" -->
	<div class="modal fade" id="modalAssSingle" role="dialog">
	<div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header bg-info" style="border-radius:5px;">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
          	<h4 class="title"></h4>
        </div>
		
        <div class="modal-body">
			<!-- // 单个asset增删改查页面显示位置，需load其他模板文件的div-->
			<div id="divLoadAssSingle">
				<p class="text-center" style="font-size:28px;">加载中……</p>
			</div>
		</div>
		
		<div class="modal-footer">
        	<input type="button" class="btn btn-primary btn-sm" data-dismiss="modal" value="关闭"> 
        </div>
		</div>
	</div>

	</div>

</div>
<!--/ Modal "modalAssSingle" -->

<script>
rqData.sortData={$sortData};

initPage();	

<!-- //点击nav中的各个按钮后，loadEntPeriodList()-->
$('#assPeriodNav').find('a').click(function(){	
	//排序、分页有关的值向sortData汇集
	rqData.period=$(this).data('period');
	rqData.sortData.pageNum=1;
	buildPeriodTitleCom();
	loadEntPeriodList();
});	
	
<!-- // 页面刷新 -->
$('#btnRefresh').click(function(){
	//隐藏搜索条件
	$('#divSearchForm').removeClass('in');
	resetSearchForm();
});	

</script>