<!-- // attFileList.html： -->
<div class="table-responsive" >	
<table class="table table-bordered table-responsive table-hover">
				<thead>
					<tr>
						<!-- <th>选择</th> -->
						<th class="text-center">序号</th>
						<th class="text-center">附件类型</th>
						<th class="text-center">附件名称</th>
						<th class="text-center">上传日期</th>
						<th class="text-center">上传人</th>
						<th class="text-center">系统角色</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>

<tbody id="tbAttFileList"> 
	<!-- 此处显示数据库查询后的数据集 -->
	{volist name="att" id="vo" empty="暂无附件"}
	<tr>
		<td>{$i}
			<input name="attId[]" value="{$vo.id}" type="text" class="sr-only">
			<input name="attFileObjStr[]" value="{$vo.attpath}" type="text" class="sr-only">
			<input name="attFileName[]" value="{$vo.attfilename}" type="text" class="sr-only">
		</td>
		<td>{$vo.atttype}</td>
		<td>{$vo.name}</td>
		<td>{$vo.uploaddate}</td>
		<td>{$vo.uploader}</td>
		<td>{$vo.rolename}</td>
						
		<td>							
			<a href="{$home}/dashboard/index/attOprt/attId/{$vo.id}/oprt/_DOWNLOAD"><span class="glyphicon glyphicon-download-alt"></span>下载</a>&nbsp;
			{in name="$vo.deldisplay" value="1"}
			<a class="aAttOprt text-danger" href="#" data-attId="{$vo.id}" data-attOprt="_DELETE"><span class="glyphicon glyphicon-remove"></span>删除</a>&nbsp;
			{/in}
			</td>
	</tr>
								
	{/volist}
</tbody>
</table> 
</div>

<p id="attOprtMsg"></p>

<script>
$(document).ready(function(){

	//已上传附件文件删除操作
	$('.aAttOprt').click(function(){
		//bootstrap框架下应用data属性简化取值，此处属性名称只认小写
		var attId=$(this).data('attid');
		var attOprt=$(this).data('attoprt');
	
		$.post('attOprt',{'attId':attId,'attOprt':attOprt},
			function(data){
				if(data.result){
					$('.aAttOprt[data-attId="'+attId+'"]').closest('tr').remove();
				}
				<!-- $('#attOprtMsg').text(data.msg); -->
				$('#attOprtMsg').append('<div class="alert alert-danger fade in" style="padding:5px;"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+data.msg+'</div>');
			});
	});


});


<!-- function -->

<!--// function -->


</script>
